{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div id="dashboard">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-food"></i> Sales Overview</div>
                </div>
                <div class="portlet-body">
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <thead class="green">
                            <tr class="head-red"><th colspan="3">Opening Cash Overview</th></tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <th class="numeric span11">Opening</th>
                            <th class="numeric">{{ (previousSalesTransactionOverview.receive)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric span11">Received</th>
                            <th class="numeric">{{ (salesOverview.receive)|number_format }}</th>

                        </tr>
                        <tr>
                            <th class="numeric span11">Closing</th>
                            <th class="numeric">{{ ( salesOverview.receive + previousSalesTransactionOverview.receive)|number_format }}</th>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <thead class="green">
                        <tr class="head-purple"><th colspan="3">Sales Overview</th></tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <th class="numeric span11">Sub-total</th>
                            <th class="numeric">{{ (salesOverview.subTotal)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric span11">Discount</th>
                            <th class="numeric">{{ (salesOverview.discount)|number_format }}</th>

                        </tr>
                        <tr>
                            <th class="numeric span11">Vat</th>
                            <th class="numeric">{{ (salesOverview.vat)|number_format }}</th>

                        </tr>
                        <tr>
                            <th class="numeric span11">Net Total</th>
                            <th class="numeric">{{ (salesOverview.total)|number_format }}</th>

                        </tr>
                        <tr>
                            <th class="numeric span11">Received</th>
                            <th class="numeric">{{ (salesOverview.receive)|number_format }}</th>

                        </tr>
                        <tr>
                            <th class="numeric span11">Due</th>
                            <th class="numeric">{{ salesOverview.due|number_format }}</th>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-food"></i> Sales</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid pull-center" >
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat blue">
                                <a class="visual" href="{{ path('restaurant_invoice_new') }}">
                                    <i class="icon-food"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_invoice_new') }}">
                                    POS <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat purple">
                                <a class="visual" href="{{ path('restaurant_invoice') }}">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_invoice') }}">
                                    Sales <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        {% if is_granted('ROLE_DOMAIN_RESTAURANT_MANAGER') %}
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat yellow">
                                <a class="visual" href="{{ path('restaurant_report_sales_summary') }}">
                                    <i class="fa fa-bar-chart"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_report_sales_summary') }}">
                                    Reports <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_DOMAIN_RESTAURANT_MANAGER') %}
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-database"></i>Inventory</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid pull-center" >
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat blue">
                                <a class="visual" href="{{ path('restaurant_stock') }}">
                                    <i class="fa fa-database"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_stock') }}">
                                    Stock <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat green">
                                <a class="visual" href="{{ path('restaurant_purchase') }}">
                                    <i class="icon-archive"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_purchase') }}">
                                    Purchase <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat purple">
                                <a class="visual" href="{{ path('restaurant_product') }}">
                                    <i class="fa fa-truck"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_product') }}">
                                    Purchase <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat yellow">
                                <a class="visual" href="{{ path('restaurant_report_purchase_summary') }}">
                                    <i class="fa fa-line-chart"></i>
                                </a>
                                <a class="more" href="{{ path('restaurant_report_purchase_summary') }}">
                                    Reports <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <style>
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;

        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
    </style>
{% endblock %}

