<nav class="navbar navbar-inverse ">
    {% if globalOption.templateCustomize.topBar is not empty %}
    <section id="top-bar" class=" header-position">
        <div class="container" >
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="box">
                        <ul class="info-links">
                            {% if globalOption.templateCustomize.showCalendar == 1 %}
                                <li><i class="fa fa-calendar"></i> {{ "now"|date("j M, Y") }}</li>
                            {% endif %}
                            {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                <li><i class="fa fa-envelope"></i> {{ globalOption.email }}</li>
                            {% endif %}
                            {% if globalOption.templateCustomize.showMobile == 1 %}
                                <li><i class="fa fa-mobile"></i> {{ globalOption.mobile }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <div class="box">
                        <ul class="social-links">
                            {% if globalOption.facebookPageUrl is not empty %}
                                <li><a target="_blank" href="{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if globalOption.twitterUrl is not empty %}
                                <li><a target="_blank" href="{{ globalOption.twitterUrl }}"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if globalOption.googlePlus is not empty %}
                                <li><a target="_blank" href="{{ globalOption.googlePlus }}"><i class="fa fa-google-plus"></i></a></li>
                            {% endif %}
                            {% if globalOption.instagramPageUrl is not empty %}
                                <li><a target="_blank" href="{{ globalOption.instagramPageUrl }}"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-top') %}
        <section class="feature-widget-header-top" >
            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'header-top'}) %}
        </section>
    {% endif %}
    <section id="header"  class="sticky {% if globalOption.templateCustomize.topBar is not empty %}header-position{% endif %}" >
        <div class="container">
            <div class="navbar-header" >
                <div class="col-md-3">
                    <a class="img-logo"  href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.webPath('logo') is not empty %}
                            <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" alt="{{ globalOption.name }}" />{% else %}{{ globalOption.name }}{% endif %} </a>
                </div>
                <div class="col-md-9" >
                    <div id="menu" class="header-inner-menu" >
                        <div class="row" id="menu-bar" style="position: relative">
                            <nav id="header-menu">{{ menuTree|raw }}</nav>
                            <div class="searchBtn pull-right searchBtnSelector">
                                <span class="glyphicon glyphicon-search search-btn"></span>
                            </div>
                            {% if globalOption.templateCustomize.showSearch == 1 %}
                                <div id="search-area" style="position: absolute; top: 58px; width: 100%; display:none; ">
                                    <form action="{{ path(globalOption.subDomain ~ '_webservice_search') }}" style="width: 100%" class="" method="get">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="keyword" id="keyword" value="{% if searchForm.keyword is defined %}{{ searchForm.keyword }}{% endif %}" placeholder="Enter search keywords" autocomplete="off">
                                              <span class="input-group-btn">
                                                <button class="btn btn-info" type="submit">Go!</button>
                                              </span>
                                        </div><!-- /input-group -->
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-bottom') %}
        <section class="feature-widget-header-top" >
            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'header-bottom'}) %}
        </section>
    {% endif %}
</nav>

