<div class="portlet-body">
    <table class="table table-bordered table-striped table-condensed flip-content ">

        <thead class="flip-content ">
        <tr class="head-blue">
            <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
            <th class="numeric" >Invoice</th>
            <th class="numeric" >Date</th>
            <th class="numeric" >Item</th>
            <th class="numeric" >Sub-Total</th>
            <th class="numeric" >Discount</th>
            <th class="numeric" >Net Total</th>
            <th class="numeric" >Payment</th>
            <th class="numeric" >Due</th>
            <th class="numeric" >Sales By</th>
            <th class="numeric" >Transaction</th>
            <th class="numeric" >Action</th>
        </tr>
        </thead>
        <tbody id="sales">
        {% for dailySales in todaySales %}
            <tr id="salesRemove-{{ dailySales.id }}">
                <td> {% if dailySales.salesItems is defined and  dailySales.salesItems is not empty  %}<span data-trigger="hover" data-original-title="Barcode print" class="btn blue mini toggle badge-custom" id="{{ dailySales.id  }}" ><span>[+]</span></span>{% endif %}</td>
                <td class="numeric" >{{ dailySales.invoice }}</td>
                <td class="numeric" >{{ dailySales.updated|date('d-m-Y') }}</td>
                <td class="numeric" >{{ dailySales.totalItem }}</td>
                <td class="numeric" >{{ dailySales.subTotal|number_format  }}</td>
                <td class="numeric" >{{ dailySales.discount|number_format  }}</td>
                <th class="numeric" >{{ dailySales.total|number_format  }}</th>
                <th class="numeric" >{{ dailySales.payment|number_format }}</th>
                <td class="numeric" >{{ dailySales.due|number_format }}</td>
                <td class="numeric" >{% if dailySales.salesBy %}{{ dailySales.salesBy }}{% endif %}</td>
                <td class="numeric" >{% if dailySales.transactionMethod is not empty %}{{ dailySales.transactionMethod.name }}{% endif %}</td>
                <td class="numeric" >
                    {% if dailySales.salesItems is defined and  dailySales.salesItems is not empty  %}
                        <a href="{{ path('inventory_sales_show', { 'id': dailySales.id }) }}" class="btn purple mini" ><i class="icon-eye-open"></i></a>
                        <a href="{{ path('inventory_sales_print_invoice',{'invoice':dailySales.invoice}) }}" target="_blank" class="btn green mini" ><i class="icon-print"></i></a>
                    {% endif %}
                    {% if dailySales.paymentStatus == "Pending" %}
                        <a href="{{ path('inventory_sales_edit', { 'code': dailySales.invoice }) }}" class="btn yellow mini" ><i class="icon-pushpin"></i></a>
                        {% if dailySales.id != entity.id  %}
                            <a title="Are you sure went to delete ?" id="{{ dailySales.id }}" rel="{{ path('inventory_sales_delete', { 'id': dailySales.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                        {% endif %}
                    {% endif %}
                    {% if dailySales.paymentStatus == "Due" %}
                        <a href="{{ path('account_sales_due',{'sales':entity.id}) }}" class="btn mini yellow"><i class="icon-money"></i></a>
                    {% endif %}
                </td>
            </tr>
            <tr id="show-{{ dailySales.id }}" class="showing-overview">
                <td colspan="11">
                    {% if dailySales.salesItems is defined and  dailySales.salesItems is not empty  %}
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-green">
                                <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                <th class="numeric" >Item</th>
                                <th class="numeric" >Barcode</th>
                                <th class="numeric" >Qnt</th>
                                <th class="numeric" >Estimate price</th>
                                <th class="numeric" >Sales price</th>
                                <th class="numeric" >Sub-total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for salesItem in dailySales.salesItems %}
                                <tr>
                                    <td class="numeric" >{{ loop.index }}</td>
                                    <td class="numeric" >{{ salesItem.item.name }}/{{ salesItem.item.sku }}</td>
                                    <td class="numeric" >{{ salesItem.purchaseItem.barcode }}</td>
                                    <td class="numeric" >{{ salesItem.quantity }}</td>
                                    <td class="numeric" >{{ salesItem.estimatePrice|number_format() }}</td>
                                    <td class="numeric" >{{ salesItem.salesPrice|number_format() }}</td>
                                    <td class="numeric" >{{ salesItem.subTotal|number_format() }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>