<div class="portlet-body">
    <table class="table-order">
        <caption>Holds Statement</caption>
        <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Invoice</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Item</th>
            <th scope="col">Sub-Total</th>
            <th scope="col">Discount</th>
            <th scope="col">Net Total</th>
            <th scope="col">Sales By</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for dailySales in entities %}
            <tr id="remove-{{ dailySales.id }}">
                <td data-label="S/N">{{ loop.index }}</td>
                <td data-label="Invoice">{{ dailySales.invoice }}</td>
                <td data-label="Date">{{ dailySales.created|date('d-m-Y') }}</td>
                <td data-label="Time">{{ dailySales.created|date('h:m A') }}</td>
                <td data-label="Item">{{ dailySales.totalItem }}</td>
                <td data-label="Sub-Total">{{ dailySales.subTotal|number_format  }}</td>
                <td data-label="Discount">{{ dailySales.discount|number_format  }}</td>
                <td data-label="Net Total">{{ dailySales.total|number_format  }}</td>
                <td data-label="Sales By">{% if dailySales.salesBy %}{{ dailySales.salesBy }}{% endif %}</td>
                <td data-label="Action">
                    <span class="btn-group">
                        <a href="javascript:" data-action="{{ path('pos_delete', { 'id': dailySales.id }) }}" data-id="{{ dailySales.id }}" class="btn red mini event" ><i class="icon-trash"></i></a>
                        {% if dailySales.posItems is defined and  dailySales.posItems is not empty  %}
                            <a href="javascript:" data-action="{{ path('pos_hold_reorder', { 'id': dailySales.id }) }}" data-id="{{ dailySales.id }}" class="btn purple mini event" ><i class="icon-refresh"></i> Process</a>
                            <span data-trigger="hover" data-original-title="Barcode print" class="btn blue mini toggle badge-custom" id="{{ dailySales.id  }}" ><span>[ + Show ]</span></span>
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr id="show-{{ dailySales.id }}" class="showing-overview">
                <td colspan="10">
                    {% if dailySales.posItems is defined and  dailySales.posItems is not empty  %}
                        <table class="table table-bordered">
                            <thead class="flip-content ">
                            <tr class="head-green">
                                <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                <th class="numeric" >Item</th>
                                <th class="numeric" >Qnt</th>
                                <th class="numeric" >Price</th>
                                <th class="numeric" >Sub-total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for salesItem in dailySales.posItems %}
                                <tr>
                                    <td class="numeric" >{{ loop.index }}</td>
                                    <td class="numeric" >{{ salesItem.name }}</td>
                                    <td class="numeric" >{{ salesItem.quantity }}</td>
                                    <td class="numeric" >{{ salesItem.price|number_format() }}</td>
                                    <td class="numeric" >{{ salesItem.subTotal|number_format() }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot><tr><th colspan="4"><span class="text-right" style="width: 100%; display: inline-block">Grand Total</span> </th><th>{{ dailySales.total }}</th></tr></tfoot>
                        </table>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>