{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN inventory_warehouse HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="inventory_warehouse-title">
                    Inventory configuration
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>

                    <li><a href="#">Inventory configuration </a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END inventory_warehouse HEADER-->
        <!-- BEGIN inventory_warehouse CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Inventory configuration Information</div>
                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <div class="clearfix"><br/></div>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid box green">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Delivery Process<span class="required">*</span></label>
                                                    <div class="controls">
                                                        {{ form_widget(form.deliveryProcess) }}
                                                        {{ form_errors(form.deliveryProcess) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="vatEnable"><span class="span5">Is Branch</span><span class="span5">{{ form_widget(form.isBranch) }}
                                                    {{ form_errors(form.isBranch) }}</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="salesReturnDayLimit">Sales return day &nbsp;</label>
                                                    <div class="control">
                                                        {{ form_widget(form.salesReturnDayLimit) }}
                                                        {{ form_errors(form.salesReturnDayLimit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="icon-reorder"></i>Stock Keeping Unit(SKU) Format</div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row-fluid">
                                   <div class="span4">
                                        <h5><strong>Stock Keeping Unit(SKU) Format</strong></h5>
                                        <div class="row-fluid">
                                            <div class="span12">

                                                <div class="control-group">
                                                    <label class="control-label" for="vatEnable"><span class="span5">Color/Shape</span><span class="span5">{{ form_widget(form.isColor) }}
                                                        {{ form_errors(form.isColor) }}</span></label>
                                                    <label class="control-label" for="vatEnable"><span class="span5">Size/Weight</span><span class="span5">  {{ form_widget(form.isSize) }}
                                                        {{ form_errors(form.isSize) }}</span></label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="salesReturnDayLimit">Brand/Vendor</label>
                                                    <div class="control">
                                                        <select class="span8" name="brandvendor">
                                                            <option>Select any one</option>
                                                            <option {% if entity.isVendor == 1 %} selected="selected" {% endif %} value="vendor">Vendor</option>
                                                            <option {% if entity.isBrand == 1 %} selected="selected" {% endif %} value="brand">Brand</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <h5><strong>Vat Reg. & Setup</strong></h5>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="vatEnable"><span class="span5">Vat Enable</span><span class="span5">{{ form_widget(form.vatEnable) }}
                                                            {{ form_errors(form.vatEnable) }}</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Vat Registration No &nbsp;</label>
                                                    <div class="control">
                                                        {{ form_widget(form.vatRegNo) }}
                                                        {{ form_errors(form.vatRegNo) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Vat Percentage &nbsp;</label>
                                                    <div class="control">
                                                        {{ form_widget(form.vatPercentage) }}
                                                        {{ form_errors(form.vatPercentage) }}%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <h5><strong>Barcode Print</strong></h5>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for=""><span class="span5">Barcode Print</span><span class="span5">{{ form_widget(form.barcodePrint) }}
                                                            {{ form_errors(form.barcodePrint) }}</span></label>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Shop Name</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.shopName) }}
                                                        {{ form_errors(form.shopName) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">

                                                <div class="control-group">
                                                    <label class="control-label" for="vatEnable"><span class="span5">Color/Shape</span><span class="span5">{{ form_widget(form.barcodeColor) }}
                                                            {{ form_errors(form.barcodeColor) }}</span></label>
                                                    <label class="control-label" for="vatEnable"><span class="span5">Size/Weight</span><span class="span5">  {{ form_widget(form.barcodeSize) }}
                                                            {{ form_errors(form.barcodeSize) }}</span></label>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Brand/Vendor</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeBrandVendor) }}
                                                        {{ form_errors(form.barcodeBrandVendor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="icon-reorder"></i>Barcode Setup</div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Thickness</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeThickness) }}
                                                        {{ form_errors(form.barcodeThickness) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Font Size</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeFontSize) }}
                                                        {{ form_errors(form.barcodeFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Scale</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeScale) }}
                                                        {{ form_errors(form.barcodeScale) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Height</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeHeight) }}
                                                        {{ form_errors(form.barcodeHeight) }}.px
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Width</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeWidth) }}
                                                        {{ form_errors(form.barcodeWidth) }}.px
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Margin Top</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeMargin) }}
                                                        {{ form_errors(form.barcodeMargin) }}.px
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Padding</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodePadding) }}
                                                        {{ form_errors(form.barcodePadding) }}.px
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Print Div Left Margin</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.printLeftMargin) }}
                                                        {{ form_errors(form.printLeftMargin) }}
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Print Div Top Margin</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.printTopMargin) }}
                                                        {{ form_errors(form.printTopMargin) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="firstName">Text</label>
                                                    <div class="controls">
                                                        {{ form_widget(form.barcodeText) }}
                                                        {{ form_errors(form.barcodeText) }}
                                                        <p>Only two or three words.ie:including vat,without vat etc</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Print & Invoice Manage </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label " for="vatPercentage">Printer &nbsp;</label>
                                                <div class="control">
                                                    {{ form_widget(form.printer) }}
                                                    {{ form_errors(form.printer) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Print Footer Text</label>
                                                <div class="controls">
                                                    {{ form_widget(form.isPrintFooter) }}
                                                    {{ form_errors(form.isPrintFooter) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">

                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>

                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                    <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>

                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
