{% extends ':frontend/template/mobile:base.html.twig' %}
{% block body %}
    <section class="">
        <div id="gmap_canvas" class="gmap">
            <div class="Lat">23.801422</div>
            <div class="Lng">90.352599</div>
            <div class="imgMap">{{ asset('assets/img/placeholder.png') }}</div>
            <address>Address Here</address>
            <div class="infoWindow">
                <p>{{ globalOption.contactPage.address1 }}<br>
                    {% if globalOption.contactPage.thana is defined and globalOption.contactPage.thana %}
                        {{ globalOption.contactPage.thana.name }},
                    {% endif %}
                    {% if globalOption.contactPage.district is defined and globalOption.contactPage.district %}
                        {{ globalOption.contactPage.district.name }} {% endif %}-{{ globalOption.contactPage.postalCode }}<br>
                    <i class="fa fa-mobile-phone"></i>&nbsp;+ 088&nbsp;<a href="tel:+ 088 {{ globalOption.mobile }}" class="contact-call">{{ globalOption.mobile }}</a>
                    <i class="fa fa-map-pin"></i>&nbsp;<a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=23.801422,90.352599">Direction</a>
                    {% if globalOption.contactPage.startHour %}
                        <strong>Office hour</strong><br>
                        {{ globalOption.contactPage.startHour }} To {{ globalOption.contactPage.endHour }}
                    {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/js/kmaps.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#gmap_canvas').kmaps();
{% endblock %}
