{% extends '::base.html.twig' %}
{% block body %}
    <div id="dashboard">
        <!-- BEGIN DASHBOARD inventory -->
        <!-- BEGIN DASHBOARD STATS -->

        <div class="row-fluid">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Total Member Overview</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid">
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat green">
                                <div class="visual">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        {{ members.totalMember }}
                                    </div>
                                    <div class="desc">
                                        Total Member
                                    </div>
                                </div>
                                <a class="more" href="{{ path('election_member') }}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat blue">
                                <div class="visual">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> {{ members.male }}</div>
                                    <div class="desc">Male Member</div>
                                </div>
                                <a class="more" href="{{ path('election_member') }}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
                            <div class="dashboard-stat yellow">
                                <div class="visual">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="details">
                                    <div class="number">{{ members.female }}</div>
                                    <div class="desc">Female Member</div>
                                </div>
                                <a class="more" href="{{ path('election_member') }}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
                            <div class="dashboard-stat purple">
                                <div class="visual">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="details">
                                    <div class="number">{{ setup.totalVoter|number_format }}</div>
                                    <div class="desc">Voters </div>
                                </div>
                                <a class="more" href="{{ path('election_votecenter') }}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-fluid">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Election Result</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="row-fluid">
                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="row-fluid">
                                <div class="portlet box red">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="icon-reorder"></i>Election Result</div>
                                        <div class="actions">
                                            <div class="btn-group">
                                                <a class="btn red " href="{{ path('election_setup_matrix',{'id':setup.id}) }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="portlet-body">
                                    <div class="row-fluid">
                                        <div class="span6" style="margin-top:-10px">
                                            <div class="portlet-body">
                                                <a href="{{ path('election_setup_matrix',{'id':setup.id}) }}" class="icon-btn">
                                                    <div> Total Voter <br/> <span style="color: red">{{ setup.totalVoter }}</span> </div>
                                                </a>
                                                <a href="{{ path('medicine_report_sales_summary') }}" class="icon-btn">
                                                    <div> Total Center <br/> <span style="color: red">{{ setup.voteCenter }}</span> </div>
                                                </a>
                                                <a href="{{ path('medicine_report_sales_summary') }}" class="icon-btn">
                                                    <div> Hold  Center <br/> <span style="color: red">{{ setup.holdVoteCenter }}</span> </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span6" style="margin-top:-10px">
                                            <div class="portlet-body">
                                                <a href="{{ path('account_purchase_medicine_outstanding') }}" class="icon-btn">
                                                    <div> Total Vote Cast <br/> <span style="color: red">{{ setup.resultTotalVote }}</span> </div>
                                                </a>
                                                <a href="{{ path('account_purchase_medicine_outstanding') }}" class="icon-btn">
                                                    <div> Casted Center <br/> <span style="color: red">{{ setup.activeVoteCenter }}</span> </div>
                                                </a>
                                                <a href="{{ path('account_purchase_medicine_outstanding') }}" class="icon-btn">
                                                    <div> Rejected Center <br/> <span style="color: red">{{ setup.rejectedVoteCenter }}</span> </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-fluid">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Union Base Member Chart</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div id="chartOfUnion" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Union Base Voter Center & Voter</div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div id="chartOfUnionVoter" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Location Base Committees</div>
                    </div>
                    <div class="portlet-body">
                        <div class="row-fluid">
                            <div class="span12">
                                {% for type in typeBaseCommittees %}
                                    <div class="row-fluid">
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="icon-reorder"></i>{{ type.locationName }}</div>
                                                <div class="actions">
                                                    <div class="btn-group">
                                                        <a class="btn yellow " href="javascript:">Committee:&nbsp;{{ type.countId }}</a>
                                                        <a class="btn red " href="javascript:">Member:&nbsp;{{ type.memberCount }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>{{ setup.setupName }} Candidate</div>
                    </div>
                    <div class="portlet-body">
                        <div class="row-fluid">
                            <div class="span12">
                                {% for candidate in setup.candidates %}
                                    <div class="row-fluid">
                                        <div class="portlet box grey">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="icon-user"></i>{{ candidate.name }}</div>
                                                <div class="actions">
                                                    <div class="btn-group">
                                                        <a class="btn yellow " href="javascript:"><i class="icon-phone"></i>&nbsp;{{ candidate.mobile }}</a>
                                                        <a class="btn red " href="javascript:">{{ candidate.marka.name }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>Latest Events</div>
                        <div class="actions">
                            <a href="{{ path('election_event') }}" class="btn blue"> All Events</a>
                        </div>
                    </div>
                    <div class="portlet-body fuelux">
                        <ul>
                            {% for event in events %}
                                <li><a data-title="{{ event.name }}" class="view" href="javascript:" data-url="{{ path('election_event_show', { 'id': event.id }) }}" >{{ event.eventDate|date('d-m-Y') }} {{ event.eventTime }}: {{ event.name }} - {{ event.location.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="portlet box grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>Latest Campaign</div>
                        <div class="actions">
                            <a href="{{ path('election_campaign') }}" class="btn blue"> All Campaigns</a>
                        </div>
                    </div>
                    <div class="portlet-body fuelux">
                        <ul>
                            {% for campaign in campaigns %}
                                <li><a data-title="{{ campaign.name }}" class="view" href="javascript:" data-url="{{ path('election_campaign_edit', { 'id': campaign.id }) }}" >{{ campaign.updated|date('d-m-Y') }} : {{ campaign.name }} - {{ campaign.location.name }}, {{ campaign.analysisType.name }} & {{ campaign.priority.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="row-fluid">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>Election Result</div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn red " href="{{ path('election_setup_matrix',{'id':setup.id}) }}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="portlet-body">
                            <div class="row-fluid">
                                <div class="span12" style="margin-top:-10px">
                                    <div class="portlet-body">
                                        <a href="{{ path('election_setup_matrix',{'id':setup.id}) }}" class="icon-btn">
                                            <div> Total Voter <br/> <span style="color: red">{{ setup.totalVoter }}</span> </div>
                                        </a>
                                        <a href="{{ path('medicine_report_sales_summary') }}" class="icon-btn">
                                            <div> Total Center <br/> <span style="color: red">{{ setup.voteCenter }}</span> </div>
                                        </a>
                                        <a href="{{ path('medicine_report_sales_summary') }}" class="icon-btn">
                                            <div> Hold  Center <br/> <span style="color: red">{{ setup.holdVoteCenter }}</span> </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <style>
            /***
Dashboard Stats 2
***/
            .dashboard-stat2 {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                background: #fff;
                padding: 15px 15px 30px 15px;
                margin-bottom: 20px;
            }
            .dashboard-stat2 .display {
                margin-bottom: 20px;
            }
            .dashboard-stat2 .display:before, .dashboard-stat2 .display:after {
                content: " ";
                display: table;
            }
            .dashboard-stat2 .display:after {
                clear: both;
            }
            .dashboard-stat2 .display .number {
                float: left;
                display: inline-block;
            }
            .dashboard-stat2 .display .number h3 {
                margin: 0 0 2px 0;
                padding: 0;
                font-size: 30px;
                font-weight: 400;
            }
            .dashboard-stat2 .display .number h3 > small {
                font-size: 23px;
            }
            .dashboard-stat2 .display .number small {
                font-size: 14px;
                color: #AAB5BC;
                font-weight: 600;
                text-transform: uppercase;
            }
            .dashboard-stat2 .display .icon {
                display: inline-block;
                float: right;
                padding: 7px 0 0 0;
            }
            .dashboard-stat2 .display .icon > i {
                color: #cbd4e0;
                font-size: 26px;
            }
            .dashboard-stat2 .progress-info {
                clear: both;
            }
            .dashboard-stat2 .progress-info .progress {
                margin: 0;
                height: 4px;
                clear: both;
                display: block;
            }
            .dashboard-stat2 .progress-info .status {
                margin-top: 5px;
                font-size: 11px;
                color: #AAB5BC;
                font-weight: 600;
                text-transform: uppercase;
            }
            .dashboard-stat2 .progress-info .status .status-title {
                float: left;
                display: inline-block;
            }
            .dashboard-stat2 .progress-info .status .status-number {
                float: right;
                display: inline-block;
            }

            /* Statistic Block */
            .dashboard-stat.green-sharp {
                background-color: #4DB3A2;
            }
            .dashboard-stat.green-sharp.dashboard-stat-light:hover {
                background-color: #46a595;
            }
            .dashboard-stat.green-sharp .visual > i {
                color: #FFFFFF;
                opacity: 0.1;
                filter: alpha(opacity=10);
            }
            .dashboard-stat.green-sharp .details .number {
                color: #FFFFFF;
            }
            .dashboard-stat.green-sharp .details .desc {
                color: #FFFFFF;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .dashboard-stat.green-sharp .more {
                color: #FFFFFF;
                background-color: #46a595;
            }

            /* General Element */
            .bg-green-sharp {
                border-color: #4DB3A2 !important;
                background-image: none !important;
                background-color: #4DB3A2 !important;
                color: #FFFFFF !important;
            }

            /* General Text & Icon Font Colors */
            .font-green-sharp {
                color: #4DB3A2 !important;
            }

            .progress-bar.green-sharp {
                background: #4DB3A2 !important;
                color: #FFFFFF !important;
            }

            /***
            Green Sharp
            ***/
            /* Button */
            .green-soft.btn {
                color: #FFFFFF;
                background-color: #3faba4;
            }
            .green-soft.btn:hover, .green-soft.btn:focus, .green-soft.btn:active, .green-soft.btn.active {
                color: #FFFFFF;
                background-color: #35918b;
            }
            .open .green-soft.btn.dropdown-toggle {
                color: #FFFFFF;
                background-color: #35918b;
            }
            .green-soft.btn:active, .green-soft.btn.active {
                background-image: none;
                background-color: #2f7e79;
            }
            .green-soft.btn:active:hover, .green-soft.btn.active:hover {
                background-color: #318680;
            }
            .open .green-soft.btn.dropdown-toggle {
                background-image: none;
            }
            .green-soft.btn.disabled, .green-soft.btn.disabled:hover, .green-soft.btn.disabled:focus, .green-soft.btn.disabled:active, .green-soft.btn.disabled.active, .green-soft.btn[disabled], .green-soft.btn[disabled]:hover, .green-soft.btn[disabled]:focus, .green-soft.btn[disabled]:active, .green-soft.btn[disabled].active, fieldset[disabled] .green-soft.btn, fieldset[disabled] .green-soft.btn:hover, fieldset[disabled] .green-soft.btn:focus, fieldset[disabled] .green-soft.btn:active, fieldset[disabled] .green-soft.btn.active {
                background-color: #3faba4;
            }
            .green-soft.btn .badge {
                color: #3faba4;
                background-color: #FFFFFF;
            }

            /* Button Strip */
            .btn.green-soft-stripe {
                border-left: 3px solid #3faba4;
            }

            /* Portlet */
            .portlet > .portlet-body.green-soft,
            .portlet.green-soft {
                background-color: #3faba4;
            }

            .portlet.solid.green-soft > .portlet-title,
            .portlet.solid.green-soft > .portlet-body {
                border: 0;
                color: #FFFFFF;
            }
            .portlet.solid.green-soft > .portlet-title > .caption {
                font-weight: 400;
            }
            .portlet.solid.green-soft > .portlet-title > .caption > i {
                color: #FFFFFF;
            }

            .portlet.box.green-soft {
                border: 1px solid #5bc2bc;
                border-top: 0;
            }
            .portlet.box.green-soft > .portlet-title {
                background-color: #3faba4;
            }
            .portlet.box.green-soft > .portlet-title > .caption {
                color: #FFFFFF;
            }
            .portlet.box.green-soft > .portlet-title > .caption > i {
                color: #FFFFFF;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default {
                background: transparent !important;
                background-color: transparent !important;
                border: 1px solid #87d3ce;
                color: #9adad6;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default > i {
                color: #a5deda;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:focus, .portlet.box.green-soft > .portlet-title > .actions .btn-default:active, .portlet.box.green-soft > .portlet-title > .actions .btn-default.active {
                border: 1px solid #ade1dd;
                color: #bfe7e5;
            }

            /* Statistic Block */
            .dashboard-stat.green-soft {
                background-color: #3faba4;
            }
            .dashboard-stat.green-soft.dashboard-stat-light:hover {
                background-color: #3a9c96;
            }
            .dashboard-stat.green-soft .visual > i {
                color: #FFFFFF;
                opacity: 0.1;
                filter: alpha(opacity=10);
            }
            .dashboard-stat.green-soft .details .number {
                color: #FFFFFF;
            }
            .dashboard-stat.green-soft .details .desc {
                color: #FFFFFF;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .dashboard-stat.green-soft .more {
                color: #FFFFFF;
                background-color: #3a9c96;
            }

            /* General Element */
            .bg-green-soft {
                border-color: #3faba4 !important;
                background-image: none !important;
                background-color: #3faba4 !important;
                color: #FFFFFF !important;
            }

            /* General Text & Icon Font Colors */
            .font-green-soft {
                color: #3faba4 !important;
            }

            .progress-bar.green-soft {
                background: #3faba4 !important;
                color: #FFFFFF !important;
            }

            .progress-bar.red-haze {
                background: #f36a5a!important;
                color: #fff!important;
            }

            .progress-bar.green-sharp {
                background: #2ab4c0!important;
                color: #FFF!important;
            }

            .progress-bar.green-sharp {
                background: #2ab4c0!important;
                color: #FFF!important;
            }
            .progress-bar-success {
                background-color: #36c6d3;
            }
            .progress-bar {
                float: left;
                width: 0;
                height: 100%;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                background-color: #337ab7;
                -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                -webkit-transition: width .6s ease;
                -o-transition: width .6s ease;
                transition: width .6s ease;
            }

            .font-purple-soft {
                color: #8877a9!important;
            }
            .font-red-haze {
                color: #f36a5a!important;
            }
            .font-blue-sharp {
                color: #5C9BD1!important;
            }

        </style>
        <style>
            .icon-btn{
                width: 100%;
                height: 50px!important;
            }
            .icon-btn div{
                font-size: 15px;
                font-weight: bold;
                color: #26a69a;
            }

            .dashboard-stat .visual:hover{
                text-decoration: none;
            }
            .dashboard-stat .more {
                clear: both;
                display: block;
                padding: 5px 10px 5px 10px;
                text-transform: uppercase;
                font-size: 16px;
                color: #fff;
                opacity:1;
                font-weight: bold;
            }
            .unstyled{
                height: 100px;
            }
        </style>

        <!-- END DASHBOARD STATS -->
        <!-- END DASHBOARD inventory -->

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"><br/></div>
    <div class="portlet box blue">

        <div class="portlet-body">
            <div class="row-fluid" >
                <div class="span8">
                    <div id="" style="height: 300px; width: 100%;"></div>
                </div>
                <div class="span4">
                    <div id="userDailySales" style="height: 300px; width: 100%;"></div>
                </div>
            </div>

        </div>
    </div>
{#    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid">
                <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="">{{ ((transactionCashOverviews['openingBalance']+transactionCashOverviews['debit'])-transactionCashOverviews['credit'])|number_format }}</span>
                                    <small class="font-green-sharp">BDT</small>
                                </h3>
                                <small>BALANCE</small>
                            </div>
                            <div class="icon">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                        <div class="progress-info">
                            <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only">75% progress</span>
                            </span>
                            </div>
                            <div class="status">
                                <div class="status-number">
                                    <a href="{{ path('account_transaction_cash_overview') }}" class="btn green mini">More <i class="icon-circle-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">
                                    <span data-counter="counterup" data-value="{{ expenditureOverview|number_format }}">{{ expenditureOverview|number_format }}</span>
                                    <small class="font-red-sharp">BDT</small>
                                </h3>
                                <small>Expense</small>
                            </div>
                            <div class="icon">
                                <i class="icon-money"></i>
                            </div>
                        </div>
                        <div class="progress-info">
                            <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success red-haze">
                                <span class="sr-only">75% change</span>
                            </span>
                            </div>
                            <div class="status">
                                <div class="status-number">
                                    <a href="{{ path('account_expenditure') }}" class="btn red mini">More <i class="icon-circle-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row-fluid">
                <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-sharp">
                                    <span data-counter="counterup" data-value="{{ purchaseCashOverview['total'] }}">{{ purchaseCashOverview['total'] }}</span>
                                    <small class="font-blu-sharp">BDT</small>
                                </h3>
                                <small>Purchase</small>
                            </div>
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="progress-info">
                            <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">75% grow</span>
                            </span>
                            </div>
                            <div class="status">
                                <div class="status-number">
                                    <a href="{{ path('medicine_purchase') }}" class="btn blue mini">More <i class="icon-circle-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-soft">
                                    <span data-counter="counterup" data-value="{{ salesCashOverview['total'] }}">{{ salesCashOverview['total'] }}</span>
                                    <small class="font-purple-soft">BDT</small>
                                </h3>
                                <small>SALES</small>
                            </div>
                            <div class="icon">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="progress-info">
                            <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success purple-soft">
                                <span class="sr-only">75% change</span>
                            </span>
                            </div>
                            <div class="status">
                                <div class="status-number">
                                    <a href="{{ path('medicine_sales') }}" class="btn purple mini">More <i class="icon-circle-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="span4">
            <div class="span6" style="margin-top:-10px">
                <div class="portlet-body">
                    <a href="{{ path('account_sales_medicine_outstanding') }}" class="icon-btn">
                        <i class="fa fa-group"></i>
                        <div> Customer </div>
                    </a>
                    <a href="{{ path('medicine_report_sales_summary') }}" class="icon-btn">
                        <i class="icon-tags"></i>
                        <div> Sales </div>
                    </a>
                    <a href="{{ path('account_purchase_medicine_outstanding') }}" class="icon-btn">
                        <i class="fa fa-user"></i>
                        <div> Vendor </div>
                    </a>
                    <a href="{{ path('medicine_report_purchase_summary') }}" class="icon-btn">
                        <i class="icon-truck"></i>
                        <div> Purchase </div>
                    </a>

                </div>

            </div>
            <div class="span6" style="margin-top:-10px">
                <div class="portlet-body">
                    <a href="{{ path('medicine_stock') }}" class="icon-btn">
                        <i class="icon-bar-chart"></i>
                        <div> Stock </div>
                    </a>
                    <a href="{{ path('medicine_stock_short_item') }}" class="icon-btn">
                        <i class="icon-signal"></i>
                        <div> Short List </div>
                        <span class="badge badge-important">{{ shortMedicineCount }}</span>
                    </a>
                    <a href="{{ path('medicine_purchase_item') }}" class="icon-btn">
                        <i class=" icon-list-ol"></i>
                        <div> Expiration </div>
                        <span class="badge badge-important">{{ expiryMedicineCount }}</span>
                    </a>
                    <a href="{{ path('medicine_expiry_item') }}" class="icon-btn">
                        <i class="icon-th"></i>
                        <div> Stock Details </div>
                    </a>
                </div>

            </div>
        </div>

    </div>#}
    <div class="clearfix"><br/></div>
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet-body">
            <div class="row-fluid" >
                <div class="span1">
                    {% if globalOption.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height: 60px" src="/{{ globalOption.templateCustomize.webPath('logo') }}">{% endif %}
                </div>
                <div class="span3"></div>
                <div class="span4">
                    <div class="btn-group">
                        {% if (app.user.granted("ROLE_BUSINESS_INVOICE"))  %}
                            <a href="{{ path('business_invoice_new') }}" class="btn green big"><i class="icon-plus-sign"></i> Add Invoice </a>
                        {% endif %}
                        {% if (app.user.granted("ROLE_DOMAIN_ACCOUNTING_SALES"))  %}
                            <a href="{{ path('account_sales_business_new') }}" class="btn yellow big"><i class="icon-money"></i> Due Receive</a>
                        {% endif %}
                    </div>
                </div>
                <div class="span4">
                    <div class="btn-group">
                        {% if ( app.user.granted("ROLE_BUSINESS_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('business_purchase_new') }}" class="btn blue big"><i class="icon-plus-sign"></i> Add Purchase</a>
                        {% endif %}
                        {% if (app.user.granted("ROLE_DOMAIN_ACCOUNTING_PURCHASE"))  %}
                            <a href="{{ path('account_purchase_business_new') }}" class="btn yellow big"><i class="icon-money"></i> Payment</a>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"><br/></div>
        <div id="dashboard">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-user"></i>App base customer stats</div>
                    </div>
                    <div class="portlet-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="easy-pie-chart">
                                    <div class="number transactions"  data-percent="55"><span>+55</span>%</div>
                                    <a class="title" href="#">Transactions <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-phone"></div>
                            <div class="span3">
                                <div class="easy-pie-chart">
                                    <div class="number visits"  data-percent="85"><span>+85</span>%</div>
                                    <a class="title" href="#">New Visits <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-phone"></div>
                            <div class="span3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce"  data-percent="46"><span>-46</span>%</div>
                                    <a class="title" href="#">Bounce <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="easy-pie-chart">
                                    <div class="number transactions"  data-percent="55"><span>+55</span>%</div>
                                    <a class="title" href="#">Transactions <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-phone"></div>
                            <div class="clearfix"></div>
                            <div class="span3 span-first">
                                <div class="easy-pie-chart">
                                    <div class="number visits"  data-percent="85"><span>+85</span>%</div>
                                    <a class="title" href="#">New Visits <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-phone"></div>
                            <div class="span3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce"  data-percent="46"><span>-46</span>%</div>
                                    <a class="title" href="#">Bounce <i class="m-icon-swapright"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="row-fluid">
            <div class="span8">
               {# <div class="row-fluid">
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="">{{ ((transactionCashOverviews['openingBalance']+transactionCashOverviews['debit'])-transactionCashOverviews['credit'])|number_format }}</span>
                                        <small class="font-green-sharp">BDT</small>
                                    </h3>
                                    <small>BALANCE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-bar-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only">75% progress</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('account_transaction_cash_overview') }}" class="btn green mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="{{ expenditureOverview|number_format }}">{{ expenditureOverview|number_format }}</span>
                                        <small class="font-red-sharp">BDT</small>
                                    </h3>
                                    <small>Expense</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-money"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success red-haze">
                                <span class="sr-only">75% change</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('account_expenditure') }}" class="btn red mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="{{ purchaseCashOverview['total'] }}">{{ purchaseCashOverview['total'] }}</span>
                                        <small class="font-blu-sharp">BDT</small>
                                    </h3>
                                    <small>Purchase</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">75% grow</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('business_purchase') }}" class="btn blue mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="{{ salesCashOverview['total'] }}">{{ salesCashOverview['total'] }}</span>
                                        <small class="font-purple-soft">BDT</small>
                                    </h3>
                                    <small>SALES</small>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success purple-soft">
                                <span class="sr-only">75% change</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('business_invoice') }}" class="btn purple mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}

            </div>
            <div class="span4">
                {#<div class="span6" style="margin-top:-10px">
                    <div class="portlet-body">
                        <a href="{{ path('account_sales_business_outstanding') }}" class="icon-btn">
                            <i class="fa fa-group"></i>
                            <div> Customer </div>
                        </a>
                        <a href="{{ path('business_report_sales_summary') }}" class="icon-btn">
                            <i class="icon-tags"></i>
                            <div> Sales </div>
                        </a>
                        <a href="{{ path('account_purchase_business_outstanding') }}" class="icon-btn">
                            <i class="fa fa-user"></i>
                            <div> Vendor </div>
                        </a>
                        <a href="{{ path('business_report_purchase_summary') }}" class="icon-btn">
                            <i class="icon-truck"></i>
                            <div> Purchase </div>
                        </a>

                    </div>

                </div>
                <div class="span6" style="margin-top:-10px">
                    <div class="portlet-body">
                        <a href="{{ path('business_stock') }}" class="icon-btn">
                            <i class="icon-th"></i>
                            <div> Stock Details </div>
                        </a>
                        <a href="{{ path('business_account_expenditure_new') }}" class="icon-btn">
                            <i class="icon-bar-chart"></i>
                            <div> Expense </div>
                        </a>
                        <a href="{{ path('business_damage_new') }}" class="icon-btn">
                            <i class="icon-trash"></i>
                            <div> Damage </div>
                        </a>
                        <a href="{{ path('domain_notepad') }}" class="icon-btn">
                            <i class=" icon-file"></i>
                            <div> Notepad </div>
                        </a>

                    </div>

                </div>#}
            </div>

        </div>
    </div>
    <style>
        /***
Dashboard Stats 2
***/
        .dashboard-stat2 {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            background: #fff;
            padding: 15px 15px 30px 15px;
            margin-bottom: 20px;
        }
        .dashboard-stat2 .display {
            margin-bottom: 20px;
        }
        .dashboard-stat2 .display:before, .dashboard-stat2 .display:after {
            content: " ";
            display: table;
        }
        .dashboard-stat2 .display:after {
            clear: both;
        }
        .dashboard-stat2 .display .number {
            float: left;
            display: inline-block;
        }
        .dashboard-stat2 .display .number h3 {
            margin: 0 0 2px 0;
            padding: 0;
            font-size: 30px;
            font-weight: 400;
        }
        .dashboard-stat2 .display .number h3 > small {
            font-size: 23px;
        }
        .dashboard-stat2 .display .number small {
            font-size: 14px;
            color: #AAB5BC;
            font-weight: 600;
            text-transform: uppercase;
        }
        .dashboard-stat2 .display .icon {
            display: inline-block;
            float: right;
            padding: 7px 0 0 0;
        }
        .dashboard-stat2 .display .icon > i {
            color: #cbd4e0;
            font-size: 26px;
        }
        .dashboard-stat2 .progress-info {
            clear: both;
        }
        .dashboard-stat2 .progress-info .progress {
            margin: 0;
            height: 4px;
            clear: both;
            display: block;
        }
        .dashboard-stat2 .progress-info .status {
            margin-top: 5px;
            font-size: 11px;
            color: #AAB5BC;
            font-weight: 600;
            text-transform: uppercase;
        }
        .dashboard-stat2 .progress-info .status .status-title {
            float: left;
            display: inline-block;
        }
        .dashboard-stat2 .progress-info .status .status-number {
            float: right;
            display: inline-block;
        }

        /* Statistic Block */
        .dashboard-stat.green-sharp {
            background-color: #4DB3A2;
        }
        .dashboard-stat.green-sharp.dashboard-stat-light:hover {
            background-color: #46a595;
        }
        .dashboard-stat.green-sharp .visual > i {
            color: #FFFFFF;
            opacity: 0.1;
            filter: alpha(opacity=10);
        }
        .dashboard-stat.green-sharp .details .number {
            color: #FFFFFF;
        }
        .dashboard-stat.green-sharp .details .desc {
            color: #FFFFFF;
            opacity: 1;
            filter: alpha(opacity=100);
        }
        .dashboard-stat.green-sharp .more {
            color: #FFFFFF;
            background-color: #46a595;
        }

        /* General Element */
        .bg-green-sharp {
            border-color: #4DB3A2 !important;
            background-image: none !important;
            background-color: #4DB3A2 !important;
            color: #FFFFFF !important;
        }

        /* General Text & Icon Font Colors */
        .font-green-sharp {
            color: #4DB3A2 !important;
        }

        .progress-bar.green-sharp {
            background: #4DB3A2 !important;
            color: #FFFFFF !important;
        }

        /***
        Green Sharp
        ***/
        /* Button */
        .green-soft.btn {
            color: #FFFFFF;
            background-color: #3faba4;
        }
        .green-soft.btn:hover, .green-soft.btn:focus, .green-soft.btn:active, .green-soft.btn.active {
            color: #FFFFFF;
            background-color: #35918b;
        }
        .open .green-soft.btn.dropdown-toggle {
            color: #FFFFFF;
            background-color: #35918b;
        }
        .green-soft.btn:active, .green-soft.btn.active {
            background-image: none;
            background-color: #2f7e79;
        }
        .green-soft.btn:active:hover, .green-soft.btn.active:hover {
            background-color: #318680;
        }
        .open .green-soft.btn.dropdown-toggle {
            background-image: none;
        }
        .green-soft.btn.disabled, .green-soft.btn.disabled:hover, .green-soft.btn.disabled:focus, .green-soft.btn.disabled:active, .green-soft.btn.disabled.active, .green-soft.btn[disabled], .green-soft.btn[disabled]:hover, .green-soft.btn[disabled]:focus, .green-soft.btn[disabled]:active, .green-soft.btn[disabled].active, fieldset[disabled] .green-soft.btn, fieldset[disabled] .green-soft.btn:hover, fieldset[disabled] .green-soft.btn:focus, fieldset[disabled] .green-soft.btn:active, fieldset[disabled] .green-soft.btn.active {
            background-color: #3faba4;
        }
        .green-soft.btn .badge {
            color: #3faba4;
            background-color: #FFFFFF;
        }

        /* Button Strip */
        .btn.green-soft-stripe {
            border-left: 3px solid #3faba4;
        }

        /* Portlet */
        .portlet > .portlet-body.green-soft,
        .portlet.green-soft {
            background-color: #3faba4;
        }

        .portlet.solid.green-soft > .portlet-title,
        .portlet.solid.green-soft > .portlet-body {
            border: 0;
            color: #FFFFFF;
        }
        .portlet.solid.green-soft > .portlet-title > .caption {
            font-weight: 400;
        }
        .portlet.solid.green-soft > .portlet-title > .caption > i {
            color: #FFFFFF;
        }

        .portlet.box.green-soft {
            border: 1px solid #5bc2bc;
            border-top: 0;
        }
        .portlet.box.green-soft > .portlet-title {
            background-color: #3faba4;
        }
        .portlet.box.green-soft > .portlet-title > .caption {
            color: #FFFFFF;
        }
        .portlet.box.green-soft > .portlet-title > .caption > i {
            color: #FFFFFF;
        }
        .portlet.box.green-soft > .portlet-title > .actions .btn-default {
            background: transparent !important;
            background-color: transparent !important;
            border: 1px solid #87d3ce;
            color: #9adad6;
        }
        .portlet.box.green-soft > .portlet-title > .actions .btn-default > i {
            color: #a5deda;
        }
        .portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:focus, .portlet.box.green-soft > .portlet-title > .actions .btn-default:active, .portlet.box.green-soft > .portlet-title > .actions .btn-default.active {
            border: 1px solid #ade1dd;
            color: #bfe7e5;
        }

        /* Statistic Block */
        .dashboard-stat.green-soft {
            background-color: #3faba4;
        }
        .dashboard-stat.green-soft.dashboard-stat-light:hover {
            background-color: #3a9c96;
        }
        .dashboard-stat.green-soft .visual > i {
            color: #FFFFFF;
            opacity: 0.1;
            filter: alpha(opacity=10);
        }
        .dashboard-stat.green-soft .details .number {
            color: #FFFFFF;
        }
        .dashboard-stat.green-soft .details .desc {
            color: #FFFFFF;
            opacity: 1;
            filter: alpha(opacity=100);
        }
        .dashboard-stat.green-soft .more {
            color: #FFFFFF;
            background-color: #3a9c96;
        }

        /* General Element */
        .bg-green-soft {
            border-color: #3faba4 !important;
            background-image: none !important;
            background-color: #3faba4 !important;
            color: #FFFFFF !important;
        }

        /* General Text & Icon Font Colors */
        .font-green-soft {
            color: #3faba4 !important;
        }

        .progress-bar.green-soft {
            background: #3faba4 !important;
            color: #FFFFFF !important;
        }

        .progress-bar.red-haze {
            background: #f36a5a!important;
            color: #fff!important;
        }

        .progress-bar.green-sharp {
            background: #2ab4c0!important;
            color: #FFF!important;
        }

        .progress-bar.green-sharp {
            background: #2ab4c0!important;
            color: #FFF!important;
        }
        .progress-bar-success {
            background-color: #36c6d3;
        }
        .progress-bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: #337ab7;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease;
        }

        .font-purple-soft {
            color: #8877a9!important;
        }
        .font-red-haze {
            color: #f36a5a!important;
        }
        .font-blue-sharp {
            color: #5C9BD1!important;
        }

    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/dashboard.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/jquery-canvas.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}

{% block documentready %}
    {{ parent() }}

    window.onload = function () {

        var optionsElection = {
        animationEnabled: true,
        title: {
        text: "Election Result - {{ setup.setupName }}, Total Vote :{{ setup.resultTotalVote }} "
        },
        axisY: {
        title: "Growth Rate (in %)",
        suffix: "%",
        includeZero: false
        },
        axisX: {
        title: "Election Result - {{ setup.setupName }}, Total Vote :{{ setup.resultTotalVote }}"
        },
        data: [{
        type: "column",
        yValueFormatString: "#,##0.0#"%"",
        dataPoints: [
        {% for employee in setup.candidates %}
            { label: "{{ employee.marka.name|capitalize }}", y: {% if employee is defined and employee is not empty %} {{ ((employee.totalVote * 100)/setup.resultTotalVote)|number_format }}{% else %}0{% endif %} , indexLabel: "BDT {% if  employee is defined and employee is not empty %} {{ employee.totalVote|number_format }}{% else %}0{% endif %}" },
        {% endfor %}
        ]
        }]
        };
        $("#chartContainer").CanvasJSChart(optionsElection);

        var unionBaseMember = {
        animationEnabled: true,
        title: {
        text: "Union Base Member - {{ members.totalMember }}"
        },
        axisY: {
        title: "Growth Rate (in %)",
        suffix: "%",
        includeZero: false
        },
        axisX: {
        title: "Union Base Voter"
        },
        data: [{
        type: "column",
        yValueFormatString: "#,##0.0#"%"",
        dataPoints: [
        {% for unionMember in unionMembers %}
            { label: "{{ unionMember.unionName|capitalize }}", y: {% if unionMember is defined and unionMember is not empty %} {{ ((unionMember.total * 100)/members.totalMember) }}{% else %}0{% endif %} , indexLabel: "Member {% if  unionMember is defined and unionMember is not empty %} {{ unionMember.total }}{% else %}0{% endif %}" },
        {% endfor %}
        ]
        }]
        };
        $("#chartOfUnion").CanvasJSChart(unionBaseMember);

        var unionBaseVoter = {
        animationEnabled: true,
        title: {
        text: "Total Center - {{ setup.voteCenter }}"
        },
        axisY: {
        title: "Growth Rate (in %)",
        suffix: "%",
        includeZero: false
        },
        axisX: {
        title: "Total Voter - {{ setup.totalVoter }}"
        },
        data: [{
        type: "column",
        yValueFormatString: "#,##0.0#"%"",
        dataPoints: [
        {% for unionMember in unionVoters %}
            { label: "{{ unionMember.unionName|capitalize }}", y: {% if unionMember is defined and unionMember is not empty %} {{ ((unionMember.totalVoter * 100)/setup.totalVoter)|number_format }}{% else %}0{% endif %} , indexLabel: "Center: {% if  unionMember is defined and unionMember is not empty %} {{ unionMember.totalCenter }} & Voter: {{ unionMember.totalVoter }}{% else %}0{% endif %}" },
        {% endfor %}
        ]
        }]
        };
        $("#chartOfUnionVoter").CanvasJSChart(unionBaseVoter);

    }
{% endblock %}

