{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Vote Center
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Vote Center</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i> Vote Center Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                {% set thana = searchForm.thana is defined ? searchForm.thana :'' %}
                                {% set union = searchForm.union is defined ? searchForm.union :'' %}
                                {% set voteCenter = searchForm.voteCenter is defined ? searchForm.voteCenter :'' %}
                                {% set keyword = searchForm.keyword is defined ? searchForm.keyword :'' %}
                                <a target="_blank" class="btn yellow" href="{{ path('election_votecenter_list_print',{'thana':thana,'union':union,'voteCenter':voteCenter,'keyword':keyword}) }}"><i class="icon-print"></i>&nbsp;Print</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->

                        <div class="clearfix"><br/></div>
                        <div class="portlet-body flip-scroll">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="text" id="thana" name="thana"  class="span12 m-wrap select2Thana" value="{% if searchForm.thana is defined %}{{ searchForm.thana }}{% endif %}"  autocomplete="off" placeholder="Search Thana/Upazila name">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="union" name="union"  class="span12 m-wrap select2Union" value="{% if searchForm.union is defined %}{{ searchForm.union }}{% endif %}"  autocomplete="off" placeholder="Search Union/Purashava name">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="voteCenter" name="voteCenter"  class="span12 m-wrap select2VoteCenter" value="{% if searchForm.voteCenter is defined %}{{ searchForm.voteCenter }}{% endif %}"  autocomplete="off" placeholder="Search Vote Center">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <input type="text" id="keyword" name="keyword"  class="m-wrap span12 search-input" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.keyword is defined %}{{ searchForm.keyword }}{% else %}Enter any keywords{% endif %} ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"><br/></div>
                            </form>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Vote Center</th>
                                    <th class="numeric" >Union Name</th>
                                    <th class="numeric" >Thana</th>
                                    <th class="numeric" >Representative</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Male Voter</th>
                                    <th class="numeric" >Female Voter</th>
                                    <th class="numeric" >Other Voter</th>
                                    <th class="numeric" >Total Voter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set maleVoter = 0 %}
                                {% set femaleVoter = 0 %}
                                {% set otherVoter = 0 %}
                                {% set totalVoter = 0 %}
                                {% for entity in entities %}
                                    {% set maleVoter = maleVoter + entity.maleVoter %}
                                    {% set femaleVoter = femaleVoter + entity.femaleVoter %}
                                    {% set otherVoter = otherVoter + entity.otherVoter %}
                                    {% set totalVoter = totalVoter + entity.totalVoter %}      <tr>
                                        <td class="numeric" >{% if entity.location is not empty %}{{ entity.location.name }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.memberUnion }}</td>
                                        <td class="numeric" >{{ entity.thana }}</td>
                                        <td class="numeric" >{% if entity.representative is not empty %}{{ entity.representative.name }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.representative is not empty %}{{ entity.representative.mobile }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.maleVoter }}</td>
                                        <td class="numeric" >{{ entity.femaleVoter }}</td>
                                        <td class="numeric" >{{ entity.otherVoter }}</td>
                                        <td class="numeric" >{{ entity.totalVoter }}</td>
                                    </tr>
                                {% endfor %}
                                <tfoot><th colspan="5" class="text-left" >Total Votes</th><th>{{ maleVoter }}</th><th>{{ femaleVoter }}</th><th>{{ otherVoter }}</th><th>{{ totalVoter }}</th></tfoot>

                                </tbody>
                            </table>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@ElectionBundle/Resources/public/css/style.css'
    '@ElectionBundle/Resources/public/css/messagebox.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@ElectionBundle/Resources/public/js/election.js'
    '@ElectionBundle/Resources/public/js/messagebox.js'
    '@ElectionBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}



