{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Periodic Sales Item Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Periodic Sales Item Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Periodic Sales Item Report</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('medicine_report_sales_summary') }}"><i class="icon-bar-chart"></i>&nbsp;Sales Overview</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <select name="group" id="group" class="span12 m-wrap">
                                            <option value="medicineStock" {% if searchForm.group is defined and searchForm.group == 'medicineStock' %} selected="selected" {% endif %} >Group by Item</option>
                                            <option value="medicinePurchaseItem" {% if searchForm.group is defined and searchForm.group == 'medicinePurchaseItem' %} selected="selected" {% endif %} >Group by Barcode</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select name="process" id="process" class="span12 m-wrap">
                                            <option value=""> ---Process--- </option>
                                            <option value="Pending" {% if searchForm.process is defined and searchForm.process == 'Pending' %} selected="selected" {% endif %} >Pending</option>
                                            <option value="Hold" {% if searchForm.process is defined and searchForm.process == 'Hold' %} selected="selected" {% endif %} >Hold</option>
                                            <option value="Done" {% if searchForm.process is defined and searchForm.process == 'Done' %} selected="selected" {% endif %}>Done</option>
                                            <option value="Returned" {% if searchForm.process is defined and searchForm.process == 'Returned' %} selected="selected" {% endif %}>Returned</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="startDate" name="startDate"  class="span12 m-wrap dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"  placeholder="">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span11">
                                                <input type="text" id="endDate" name="endDate"  class="span11 m-wrap dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}" placeholder="">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% if option.isBranch == 1 %}
                                <div class="row-fluid">
                                    <div class="span12">
                                       <select name="branch" id="branch" class="span12 m-wrap">
                                           <option value=""> ---Select Branch --- </option>
                                           {% for bran in branches %}
                                           <option {% if searchForm.branch is defined and searchForm.branch == bran.id %} selected="selected" {% endif %} value="{{ bran.id }}">{{ bran.name }}</option>
                                           {% endfor %}
                                       </select>
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="numeric" ><strong>Total Item</strong></th>
                                    <th class="numeric" ><strong>Total Quantity</strong></th>
                                    <th class="numeric" ><strong>Sales Amount</strong></th>
                                    <th class="numeric" ><strong>Vat Amount</strong></th>
                                    <th class="numeric" ><strong>Purchase Amount</strong></th>
                                    <th class="numeric" ><strong>Profit/Loss</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.totalItem }}</strong></td>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.quantity }}</strong></td>
                                    <td class="numeric" ><strong>{{ cashOverview.total|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ cashOverview.totalVat|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.purchasePrice|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (cashOverview.total - (cashOverview.totalVat + purchaseSalesItem.purchasePrice))|number_format }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric" ><i class="icon-reorder"></i></th>
                                {% if searchForm.group is defined and  searchForm.group =='medicinePurchaseItem' %}
                                <th class="numeric" >Barcode</th>
                                {% endif %}
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Quantity</th>
                                <th class="numeric" >Sales Price</th>
                                <th class="numeric" >Sub-Sales Price</th>
                                <th class="numeric" >Purchase Price</th>
                                <th class="numeric" >Sub-Purchase Price</th>
                                <th class="numeric" >Profit/Loss</th>
                            </tr>
                            </thead>
                            <tbody>

                            {%  set totalSales = 0 %}
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    {% if searchForm.group is defined and  searchForm.group =='medicinePurchaseItem' %}
                                    <td class="numeric" >{{ entity.barcode }}</td>
                                    {% endif %}
                                    <td class="numeric" >{{ entity.name }}</td>
                                    <td class="numeric" >{{ entity.quantity }}</td>
                                    <td class="numeric" >{{ entity.salesPrice|number_format }}</td>
                                    <td class="numeric" >{{ (entity.quantity * entity.salesPrice)|number_format }}</td>
                                    <td class="numeric" >{{ entity.purchasePrice|number_format }}</td>
                                    <td class="numeric" >{{ (entity.quantity * entity.purchasePrice)|number_format }}</td>
                                    <td class="numeric" >{{ ((entity.quantity * entity.salesPrice) - (entity.quantity * entity.purchasePrice))|number_format }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{#    document.getElementById("startDate").value="24-06-2017";#}
    ApproveProcess();
{% endblock %}
