{% extends '::base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Sales overview
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="javascript:">Sales overview</a>
                </li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Sales Overview</div>
                </div>
                <div class="portlet-body form">
                    <form class="search-form" action="" method="get" name="itemSearch">
                        <div class="row-fluid">
                            <div class="span6"></div>
                            <div class="span3">
                                <input type="text" id="startDate" name="startDate"  class="m-wrap  span12 datePicker" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                            </div>
                            <div class="span3">
                                <div class="controls">
                                    <div class="input-append span11">
                                        <input type="text" id="endDate" name="endDate"  class="span11 m-wrap datePicker" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %}  ">
                                        <div class="btn-group">
                                            <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-actions portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-money"></i>Mode Base Sales</div>
                            <div class="actions">
                                <a target="_blank" href="" class="btn purple"><i class="icon icon-print"></i> Print</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <thead class="flip-content ">
                        <tr class="head-blue">
                            <th class="numeric">Title</th>
                            <td class="numeric">Diagnostic</td>
                            <td class="numeric">Admitted</td>
                            <td class="numeric">Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="numeric" >Sub Total</th>
                            <th class="numeric">{{ diagnosticOverview.subTotal|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.subTotal|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.subTotal+admissionOverview.subTotal)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric" >Vat</th>
                            <th class="numeric">{{ diagnosticOverview.vat|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.vat|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.vat+admissionOverview.vat)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric" >Discount</th>
                            <th class="numeric">{{ diagnosticOverview.discount|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.discount|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.discount+admissionOverview.discount)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric" >Net Total</th>
                            <th class="numeric">{{ diagnosticOverview.netTotal|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.netTotal|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.netTotal+admissionOverview.netTotal)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric" >Received</th>
                            <th class="numeric">{{ diagnosticOverview.netPayment|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.netPayment|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.netPayment+admissionOverview.netPayment)|number_format }}</th>
                        </tr>
                        <tr>
                            <th class="numeric" >Due</th>
                            <th class="numeric">{{ diagnosticOverview.netDue|number_format }}</th>
                            <th class="numeric">{{ admissionOverview.netDue|number_format }}</th>
                            <th class="numeric">{{ (diagnosticOverview.netDue + admissionOverview.netDue)|number_format }}</th>
                        </tr>
                        </tbody>

                    </table>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-actions portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-money"></i>Service Base Sales</div>
                            <div class="actions">
                                <a target="_blank" href="" class="btn purple"><i class="icon icon-print"></i> Print</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <tbody>
                        {% if serviceOverview is defined and serviceOverview is not empty %}
                            {% for service in serviceOverview %}
                                <tr>
                                    <th class="numeric span11">{{ loop.index }}. {{ service.serviceName }}</th>
                                    <th class="numeric">{{ service.subTotal|number_format }}</th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-actions portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-money"></i>Transaction Method Base Sales</div>
                            <div class="actions">
                                <a target="_blank" href="" class="btn purple"><i class="icon icon-print"></i> Print</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <tbody>
                        {% if transactionOverview is defined and transactionOverview is not empty %}
                            {% for transaction in transactionOverview %}
                                <tr>
                                    <th class="numeric span11">{{ loop.index }}. {{ transaction.transName }}</th>
                                    <th class="numeric">{{ transaction.paymentTotal|number_format }}</th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-actions portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-money"></i>Commission for Referred</div>
                            <div class="actions">
                                <a target="_blank" href="" class="btn purple"><i class="icon icon-print"></i> Print</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <table class="table table-bordered table-striped table-condensed flip-content ">
                        <tbody>
                        {% if transactionOverview is defined and transactionOverview is not empty %}
                            {% for commission in commissionOverview %}
                                <tr>
                                    <th class="numeric span11">{{ loop.index }}. {{ commission.referredName }}</th>
                                    <th class="numeric">{{ commission.paymentTotal|number_format }}</th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block cssBlock %}
        {% stylesheets filter='cssrewrite'
        '@AccountingBundle/Resources/public/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock  %}
    {% block javascriptBlock %}
        {{ parent() }}
        {% javascripts
        '@AccountingBundle/Resources/public/js/approveProcess.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block documentready %}
        {{ parent() }}
        AccountingApproveProcess();
    {% endblock %}





