<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i> <strong class="overview-title"><span id="date">{{ date }}</span> Booking Dashboard</strong></div>
        <div class="actions">
            <div class="btn-group">
                <input type="date" class="m-wrap span6" name="bookingDate" id="bookingDate"><button type="button" data-url="{{ path('hotel_booking_room_search') }}" class="btn yellow" id="bookingSearch" name="bookingSearch"><i class="icon-search"></i></button>
                <a class="btn red" href="{{ path('hotel_booking_invoice_generate') }}"><i class="icon-refresh"></i> Generate Process</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form" id="bookingLoad">
        {% if entities is not empty  %}
            {% for entity in entities %}
                <div class="row-fluid room-box">
                    <div class="span5">{{ entity.name }}</div>
                    <div class="span2 text-right">{% if entity.category is not empty %}{{ entity.category.name }}{% endif %}</div>
                    <div class="span2">BDT {{ entity.salesPrice }}</div>
                    <div class="span1">{% if entity.id in bookings %} <button class="btn red mini">Booked</button> {% else %}<button class="btn blue mini">Available</button>{% endif %}</div>
                    <div class="span2">
                        <a data-id="{{ entity.id }}" class="btn green booking-room" data-url="{{ path('hotel_booking_room_details',{'id':entity.id}) }}" href="javascript:"><i class="icon-plus-sign"></i> View & Process</a>
                    </div>
                </div>
                <div id="room-{{ entity.id }}"></div>
                <div id="form-{{ entity.id }}"></div>
            {% endfor %}
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
<style>
    .room-box:nth-of-type(odd) {
        background-color: #eeeeee;
    }

    .room-box:nth-of-type(even) {
        background-color: #cecece;
    }

    .room-box{
        border: 1px solid #868181;
        padding: 3px;
        line-height: 32px;
        margin-bottom: 5px;
        padding-left: 15px;
    }

    #bookingDate{
        padding-bottom: 0!important;
        margin-bottom: 0!important;
        width: 150px;
        height: 28px!important;
        background: #fff;
        line-height: 37px;
        padding-top: 1px!important;
        border: 1px solid #c49f47!important;
        margin-top: -1px;
    }

</style>

