<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i> <strong class="overview-title"><span id="date">{{ date }}</span></strong></div>
        <div class="actions">
            <div class="btn-group">
                 <a class="btn red" href="{{ path('hotel_booking_invoice_generate') }}"><i class="icon-refresh"></i> Generate Process</a>
            </div>
        </div>
    </div>
    <div class="portlet-body" style="background-color:#514f4f; padding-bottom: 0!important;">
        <form id="search" name="search" method="get">
        <div class="row-fluid">
            <div class="span3">
                <input type="text" required="required" class="m-wrap span12" value="{{ "now"|date("d-m-Y") }}" name="bookingStartDate" id="bookingStartDate">
            </div>
            <div class="span3">
                <input type="text" required="required" class="m-wrap span12" value="{{ "now"|date("d-m-Y") }}" name="bookingEndDate" id="bookingEndDate">
            </div>
            <div class="span3">
                <select class="m-wrap span12" name="category" id="category">
                    <option value="">All Room Type</option>
                    {% for category in categories  %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="span3">
                <div class="btn-group input-append">
                    <select class="m-wrap span12" name="processStatus" id="processStatus" >
                        <option value="">All Status</option>
                        {% set process = ['check-in','check-out','booked','available'] %}
                        {% for process in process %}
                            <option value="{{ process }}">{{ process|capitalize }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" data-url="{{ path('hotel_booking_room_search') }}" class="btn yellow" id="bookingSearch" name="bookingSearch"><i class="icon-filter"></i> Filter</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="portlet-body form" id="bookingLoad">
        {% if entities is not empty  %}
            {% for entity in entities %}
                <div class="row-fluid room-box">
                    <div class="span5">{{ entity.name }}</div>
                    <div class="span2 text-right">{% if entity.category is not empty %}{{ entity.category.name }}{% endif %}</div>
                    <div class="span2">BDT {{ entity.salesPrice }}</div>
                    <div class="span1">{% if bookings[entity.id]['id'] is defined and bookings[entity.id]['id'] == entity.id  %} <button class="btn red mini {{ bookings[entity.id]['roomStatus'] }}">{{ bookings[entity.id]['roomStatus'] }}</button> {% else %}<button class="btn blue mini">Available</button>{% endif %}</div>
                    <div class="span2">
                        <a data-id="{{ entity.id }}" class="btn blue booking-room" data-url="{{ path('hotel_booking_room_details',{'id':entity.id}) }}" href="javascript:"><i class="icon-plus-sign"></i> View & Process</a>
                    </div>
                </div>
                <div id="room-{{ entity.id }}"></div>
                <div id="form-{{ entity.id }}"></div>
            {% endfor %}
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
<style>
    .room-box:nth-of-type(odd) {
        background-color: #eeeeee;
    }

    .room-box:nth-of-type(even) {
        background-color: #cecece;
    }

    .room-box{
        border: 1px solid #868181;
        padding: 3px;
        line-height: 32px;
        margin-bottom: 5px;
        padding-left: 15px;
    }

    #bookingStartDate , #bookingEndDate{
        background: #fff;
    }
    .check-in{
        background: red!important;
    }
    .booked{
        background: #c49f47!important;
    }
    .check-out{
        background: green !important;
    }

</style>

