{% extends ':template:base.html.twig' %}
{% block body %}
<div class="clearfix"></div>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if page.parent is not empty %}
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i> <a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module': page.parent.nav.slug}) }}">{{ page.parent.name }}</a> <i>/</i> {{ page.name }}</div>
                {% else %}
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i> {{ page.name }}</div>
                {% endif %}
            </div>
        </div>

    </div>
</section>
<div class="container blog">
        <div class="row js-equal-height">
            <article class="col-md-8 ">
                <div class="page-header sidebar-title"><h2>{{ page.name }}</h2></div>
                {% if page.webPath is not empty %}
                <img class="img-responsive displayed" src="{{ image(page.webPath).resize() }}" alt="" />
                {% endif %}
                <p>{{ page.content|raw }}</p>

                <div class="mysharing">
                    <!-- Twitter -->
                    <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
                    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </div>
            </article>
            <!-- Blog Sidebar Column -->
            <aside class="col-md-4 sidebar-padding js-equal-height" style="background: #FBFCFE">
                <!-- Blog Categories -->
                <div class="blog-sidebar">
                    {% if page.parent is not empty %}
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;{{ page.parent.name }}</h4>
                    {% else %}
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;{{ page.name }}</h4>
                    {% endif %}
                    <hr>
                    <ul class="sidebar-list">
                        {% if page.children is not empty %}
                            {% for subPage in page.children %}
                                <li><a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':subPage.nav.slug}) }}">{{ subPage.name }}</a></li>
                            {% endfor %}
                        {% elseif page.parent.children is defined and page.parent.children is not empty %}
                            {% for subPage in page.parent.children %}
                                <li><a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':subPage.nav.slug}) }}">{{ subPage.name }}</a></li>
                            {% endfor %}
                        {% endif %}

                    </ul>
                </div>
                <!-- Recent Posts -->
                {% if featurePages is not empty %}
                    <div class="blog-sidebar">
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i> Recent News</h4>
                        <hr style="margin-bottom: 5px;">
                        {% for feature in featurePages %}
                            {% if feature.module.name == 'News' %}
                                <div class="media">
                                    <a class="pull-left" href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':feature.slug }) }}">
                                        <img class="img-responsive media-object" src="{{ image(feature.webPath).resize(100,100) }}" alt="Media Object">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':feature.slug }) }}">{{ feature.name }}</a></h4>
                                        {{ feature.content|raw|truncate(100) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>
 {% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
