{% extends ':frontend/template:base.html.twig' %}
{% block body %}
<div class="clearfix"></div>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if page.parent is not empty %}
                    <div class="crumb">&nbsp;<a href="{{ path('ecommercesubdomain') }}">Home</a> <i>/</i> <a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module': page.parent.nav.slug}) }}">{{ page.parent.name }}</a> <i>/</i> {{ page.name }}</div>
                {% else %}
                    <div class="crumb">&nbsp;<a href="{{ path('ecommercesubdomain') }}">Home</a> <i>/</i> {{ page.name }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="container blog">
        <div class="row js-equal-height">
            <article class="col-md-8 ">
                <div class="page-header sidebar-title"><h2>{{ page.name }}</h2></div>
                {% if page.webPath is not empty %}
                <img class="img-responsive displayed" src="{{ image(page.webPath).resize() }}" alt="" />
                {% endif %}
                <div class="page-content">{{ page.content|raw }}</div>
                <div class="header-double-line-right">
                    <h3>About Us</h3>
                </div>
                <div class="mysharing">
                    <!-- Twitter -->
                    <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
                    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </div>
            </article>
            <!-- Blog Sidebar Column -->
            <aside class="col-md-4 sidebar-padding js-equal-height" style="background: #FBFCFE">
                <!-- Blog Categories -->
                <div class="blog-sidebar">
                    {% if page.parent is not empty %}
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;{{ page.parent.name }}</h4>
                    {% else %}
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;{{ page.name }}</h4>
                    {% endif %}
                    <hr>
                    <div class="list-group">
                        {% if page.children is not empty %}
                            {% for subPage in page.children %}
                                <a class="list-group-item" href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':subPage.nav.slug}) }}"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;{{ subPage.name }}</a>
                            {% endfor %}
                        {% elseif page.parent.children is defined and page.parent.children is not empty %}
                            {% for subPage in page.parent.children %}
                               <a class="list-group-item" href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':subPage.nav.slug}) }}"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;{{ subPage.name }}</a>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
                {% if sidebar.page is not empty %}
                    <div class="blog-sidebar">
                        <h4 class="sidebar-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;Our Pages</h4>
                             <hr>
                        <ul class="sidebar-list">
                            {% for subPage in sidebar.page %}
                                <li><a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':subPage.nav.slug}) }}">{{ subPage.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if sidebar is not empty %}
                {% for module in sidebar.module %}
                    {% render controller("FrontendBundle:TemplateWidget:moduleSidebarBaseContent",{'globalOption':globalOption.id,'module':module.id}) %}
                {% endfor %}
                {% endif %}


            </aside>
        </div>
    </div>
 {% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}

    {{ parent() }}
    $("#testimonial-slider").owlCarousel({
    items:1,
    itemsDesktop:[1000,2],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    navigation:true,
    slideSpeed:1000,
    singleItem:true,
    transitionStyle:"goDown",
    navigationText:["",""],
    autoPlay:false
    });

 $("#event-slider").owlCarousel({
    items:1,
    itemsDesktop:[1000,2],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    navigation:true,
    slideSpeed:1000,
    singleItem:true,
    transitionStyle:"goDown",
    navigationText:["",""],
    autoPlay:false
    });
 $("#service-slider").owlCarousel({
    items:1,
    itemsDesktop:[1000,2],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    navigation:true,
    slideSpeed:1000,
    singleItem:true,
    transitionStyle:"goDown",
    navigationText:["",""],
    autoPlay:false
 });
 $("#sponsor-slider").owlCarousel({
    items:3,
    itemsDesktop:[1000,4],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    navigation:true,
    slideSpeed:1000,
    transitionStyle:"goDown",
    navigationText:["",""],
    autoPlay:false
 });

    $("#blog-slider").owlCarousel({
    items : 1,
    itemsDesktop:[1199,2],
    itemsDesktopSmall:[980,2],
    itemsTablet:[650,1],
    pagination:false,
    navigation:true,
    navigationText:["",""]
    });

{% endblock %}

