{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i>Products</div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container" style="background: #464646">
            <div class="row-fuiid">
                <form method="get" action="" name="search">
                    <div class=" col-md-7" style="margin-top: 10px; margin-bottom: 10px">
                        {{ categoryTree|raw }}
                        <select class="select2" id="brand" name="brand" style="width:20%">
                            <option value="">Brand By</option>
                            {%  set brandId = app.request.query.get('brand') %}
                            {% for brand in brands  %}
                                <option {% if brand.id == brandId %} selected="selected" {% endif %} value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                        <select class="select2" id="order" name="order" style="width:20%">
                            <option value="">Filter By</option>
                            {%  set order = app.request.query.get('order') %}
                            <option {% if order == 'ASC' %} selected="selected" {% endif %} value="ASC" >Lowest price</option>
                            <option {% if order == 'DESC' %} selected="selected" {% endif %} value="DESC">Highest price</option>
                        </select>

                        <button type="submit" class="btn btn-default glyphicon glyphicon-search" ></button>
                    </div>
                </form>
                <div class=" col-md-5 paginate">
                    <div class="pull-right"  >
                        {{ knp_pagination_render(products) }}
                    </div>
                    <div class="btn-group pull-right">
                        <a href="#" id="list" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th-list"></span>&nbsp;List</a>
                        <a href="#" id="grid" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th"></span>&nbsp;Grid</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #products .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
            line-height: 34px;
        }
    </style>
    <section id="products">
        <div class="container">
            <table class="table table-hover table-responsive table-bordered">
                <tbody>
                <tr><th class="textAlignLeft">Product Name</th><th>Category</th><th>Brand</th><th>Size</th><th>Color</th><th>Price (USD)</th><th style="width:15em;">Quantity</th></tr>
                {% for product in products %}
                    <tr>
                        <td>
                            <div class="product-name"><a href="javascript:" class="preview"  data-url="{{ path('webservice_product_modal',{'subdomain': globalOption.subDomain,'item':product.id }) }}"  >{{ product.name }}</a></div>
                        </td>
                        <td>{% if product.category is defined and product.category is not empty %}{{ product.category.name }}{% endif %}</td>
                        <td>{% if product.brand is defined and product.brand is not empty %}{{ product.brand.name }}{% endif %}</td>
                        <td>
                            <select data-url="{{ path('webservice_product_sub_item_cart', {'subdomain':globalOption.subDomain, 'product' : product.id }) }}" class="form-control changeCartSize" name="size" id="size" >
                                <option value="">Choose</option>
                                {% for goodsItem in  product.goodsItems %}
                                    <option {% if goodsItem.masterItem == 1 %} selected="selected" {% endif %} value="{{ goodsItem.id }}" >{{ goodsItem.size.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="color" disabled="disabled" >
                                <option value="">Choose</option>
                                {% for goodsItem in  product.goodsItems %}
                                    <option {% if goodsItem.masterItem == 1 %} selected="selected" {% endif %} value="{{ goodsItem.id }}" >{{ goodsItem.color.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ product.salesPrice|number_format }}</td>
                        <td>
                            <form class="add-to-cart-form">
                                <div class="input-group">
                                    <input type="number" name="quantity" value="1" min="1" class="form-control" placeholder="Type quantity here..."><span class="input-group-btn"><button type="submit" class="btn btn-primary add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span></button></span>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination"><li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li><li><a href="products.php?page=2">2</a></li><li><a href="products.php?page=3">3</a></li><li><a href="products.php?page=3" title="Last page is 3.">Last Page</a></li></ul>	</div>

    </section>

    <section id="products">
        <div class="container">
            <div class="text-center"><h2>View Products</h2></div>
            <img class="img-responsive displayed" src="{{ asset('assets/template/desktop/patros/images/short.png') }}" alt="short" />
            <div class="text-right owl-carousel-next-prev">
                <div class="customNavigation" >
                    <a class="btn prev glyphicon glyphicon-chevron-left"></a>
                    <a class="btn next glyphicon glyphicon-chevron-right"></a>
                </div>
            </div>
            <div id="product" class="row">
                <div id="product-slider" class="owl-carousel">
                    {% for product in globalOption.inventoryConfig.purchaseVendorItems|slice(0,12)  %}
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content col-xs-12 col-md-12">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/js/jquery.matchHeight.js'
    '@FrontendBundle/Resources/public/template/js/product.js'
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
