{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <!-- Header Carousel -->
    {% if globalOption.homeSliders is defined and globalOption.homeSliders is not empty %}
    <header id="home" class="carousel slide">
        <ul class="cb-slideshow">
            {% set sec = 9 %}
            {% set foo = 0 %}
            {% for slide in globalOption.homeSliders|slice(0,6) %}
                <li><span style="background-image: url({{ image(slide.webPath).resize() }});animation-delay: {{ foo }}s;"></span>
                    <div class="container" style="animation-delay:{{ foo }}s; ">
                        <div class="row" style="animation-delay:{{ foo }}s; ">
                            <div class="col-lg-12" style="animation-delay:{{ foo }}s; ">
                                <div  class="text-center" style="animation-delay:{{ foo }}s; "><h3>{{ slide.name }}</h3></div>
                            </div>
                        </div>
                        <h4>{{ slide.content|truncate(100)|raw }}</h4>
                    </div>
                </li>
                {% set foo = foo + sec %}
            {% endfor %}
        </ul>
        <div class="intro-scroller">
            <a class="inner-link" href="#about">
                <div class="mouse-icon" style="opacity: 1;">
                    <div class="wheel"></div>
                </div>
            </a>
        </div>
    </header>
    {% else %}
       <div style="margin-top:130px" ></div>
    {% endif %}
    {% if homeEntity.content is not empty %}
        <section id="dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="text-center">
                            {% if homeEntity.name is not empty %}<h2>{{ homeEntity.name }}</h2>{% endif %}
                            <img class="img-responsive displayed" src="{{ asset('assets/template/desktop/patros/images/short.png') }}" alt="short" />
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        {{ homeEntity.content|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {#<section id="about">
        <div class="container">
            <div class="text-center"><h2>About us</h2></div>
            <img class="img-responsive displayed" src="{{ asset('assets/template/desktop/patros/images/short.png') }}" alt="short" />
            <div class="row">
                <div class="row">
                    {% render controller("FrontendBundle:TemplateWidget:aboutus",{'globalOption':globalOption.id,'wordlimit':400}) %}
                </div>
            </div>
        </div>
    </section>#}
    <!-- Page Content -->
    {% for mod in  homeEntity.pageModules %}
        {% render controller("FrontendBundle:TemplateWidget:moduleBaseContent",{'globalOption':globalOption.id,'pageModule':mod.id}) %}

  {#      {% include 'FrontendBundle:Template/Desktop/Widget:'~ mod.module.moduleClass ~'.html.twig' with {'module':mod.module , 'title' : mod.name ,'limit': 5,'cloumn': 2 } %}
#}
    {% endfor %}

    <section id="contact" style="margin-top:40px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-12">
                        <div class="text-center color-elements">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <form class="inline" id="contactForm" method="post" novalidate >
                            <div class="row">
                                <div class="col-sm-6 height-contact-element">
                                    <div class="form-group">
                                        <i class="fa fa-user"></i>
                                        <input type="text" id="name" name="name" required class="form-control custom-labels" placeholder="FULL NAME"  data-trigger="hover" value="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6 height-contact-element">
                                    <div class="form-group">
                                        <i class="fa fa-phone"></i>
                                        <input type="text" name="mobile" class="form-control custom-labels mobile" id="mobile" placeholder="MOBILE" required />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-sm-12 height-contact-element">
                                    <div class="form-group">
                                        <i class="fa fa-comments"></i>
                                        <input type="text" name="message" class="form-control custom-labels" id="message" placeholder="WHAT'S ON YOUR MIND" required />
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 height-contact-element">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-md btn-custom btn-noborder-radius" value="Send It"/>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 height-contact-element">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-md btn-noborder-radius btn-custom" name="reset">RESET
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 height-contact-element">
                                    <div class="form-group">
                                        <div id="response_holder"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 contact-msg">
                                    <div id="success"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-3 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-12 height-contact-element">
                                <div class="form-group">
                                    <i class="fa fa-2x fa-map-marker"></i>
                                    <span class="text">{{ globalOption.contactPage.address1 }} {% if globalOption.contactPage.thana is defined and globalOption.contactPage.thana %}
                                            ,{{ globalOption.contactPage.thana.name }}<br>
                                        {% endif %}
                                        {% if globalOption.contactPage.district is defined and globalOption.contactPage.district %}
                                            {{ globalOption.contactPage.district.name }} {% endif %}-{{ globalOption.contactPage.postalCode }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 height-contact-element">
                                <div class="form-group">
                                    <i class="fa fa-2x fa-phone"></i>
                                    <span class="text">{{ globalOption.mobile }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 height-contact-element">
                                <div class="form-group">
                                    <i class="fa fa-2x fa-envelope"></i>
                                    <span class="text"><a href="malito:{{ globalOption.email }}">{{ globalOption.email }}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}









