{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i>{{ title }}</div>
                </div>
            </div>

        </div>
    </section>
    <div class="container blog singlepost">
        <div class="row">
            <article class="col-md-8">

                {% if ( module.moduleClass == 'News') %}
                    {{ include('@Frontend/Template/Desktop/Module/news.html.twig')}}
                {% elseif( module.moduleClass == 'Blog' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/blog.html.twig')}}
                {% elseif( module.moduleClass == 'Testimonial' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/testimonial.html.twig')}}
                {% elseif( module.moduleClass == 'Timeline' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/timeline.html.twig')}}
                {% elseif( module.moduleClass == 'Branch' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/branch.html.twig')}}
                {% elseif( module.moduleClass == 'Event' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/event.html.twig')}}
                {% elseif( module.moduleClass == 'NoticeBoard' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/noticeboard.html.twig')}}
                {% elseif( module.moduleClass == 'Admission' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/admission.html.twig')}}
                {% elseif( module.moduleClass == 'Syndicate' ) %}
                    {{ include('@Frontend/Template/Desktop/Module/syndicate.html.twig')}}
                {% else %}
                    {{ include('@Frontend/Template/Desktop/Module/default.html.twig')}}
                {% endif %}
            </article>
            <!-- Blog Sidebar Column -->
            <aside class="col-md-4 sidebar-padding">
                <!-- Blog Categories -->
                <div class="blog-sidebar">
                    <h4 class="sidebar-title"><i class="fa fa-list-ul"></i> Categories</h4>
                    <hr>
                    <ul class="sidebar-list">
                        {% for cat in categories %}
                            <li><a href="{{ path('webservice_module_category',{'subdomain': globalOption.subDomain,'module':module.name|lower ,'slug':cat.slug }) }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Recent Posts -->
                <div class="blog-sidebar">
                    <h4 class="sidebar-title"><i class="fa fa-align-left"></i> Recent News</h4>
                    <hr style="margin-bottom: 5px;">
                    {% for news in module.pages|slice(0,5)  %}
                        <div class="media">
                            <a class="pull-left" href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':news.slug }) }}">
                                <img class="img-responsive media-object" src="{{ image(news.webPath).resize(100,100) }}" alt="Media Object">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':news.slug }) }}">{{ news.name }}</a></h4>
                                {{ news.content|raw|truncate(100) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </aside>
        </div>
    </div>
{% endblock %}



