{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>

    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i><a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':moduleName|lower }) }}"> {{ moduleName }}</a><i>/</i>{{ details.name }}</div>
                </div>
            </div>
        </div>
    </section>
    <div class="container blog">
        <div class="row">
            <article class="col-md-8">
                {% if ( moduleName == 'News') %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/news.html.twig')}}
                {% elseif( moduleName == 'Blog' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blog.html.twig')}}
                {% elseif( moduleName == 'Testimonial' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/testimonial.html.twig')}}
                {% elseif( moduleName == 'Timeline' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/timeline.html.twig')}}
                {% elseif( moduleName == 'Branch' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/branch.html.twig')}}
                {% elseif( moduleName == 'Event' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/event.html.twig')}}
                {% elseif( moduleName == 'ClassRoutine' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blackout.html.twig')}}
                {% elseif( moduleName == 'Blackout' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blackout.html.twig')}}
                {% elseif( moduleName == 'NoticeBoard' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/noticeboard.html.twig')}}
                {% elseif( moduleName == 'Admission' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/admission.html.twig')}}
                {% elseif( moduleName == 'Syndicate' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/syndicate.html.twig')}}
                {% else %}
                    {{ include('@Frontend/Template/Desktop/Module/default.html.twig')}}
                {% endif %}
            </article>
            <!-- Blog Sidebar Column -->
            <aside class="col-md-4 sidebar-padding js-equal-height" style="background: #FBFCFE">
                <!-- Blog Categories -->
                <div class="blog-sidebar">
                    <h4 class="sidebar-title"><i class="fa fa-list-ul"></i> Categories</h4>
                    <hr>
                    <div class="list-group">
                        {% for cat in categories %}
                            <a class="list-group-item" href="{{ path('webservice_module_category',{'subdomain': globalOption.subDomain,'module':moduleName|lower ,'slug':cat.slug }) }}"><i class="fa fa-bookmark"></i>&nbsp;{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                    {% if sidebar.feature is not empty %}
                        {% for entity in sidebar.feature %}
                            <div class="sidebar-feature">
                                <img src="{{ image(entity.webPath).resize() }}" alt="">
                                <div class="over-layer">
                                    <ul class="social-links">
                                        <li><a href="#" class="fa fa-link"></a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if sidebar.feature is not empty %}
                    {% for entity in sidebar.feature %}
                        <div class="sidebar-feature">
                            <img src="{{ image(entity.webPath).resize() }}" alt="">
                            <div class="over-layer">
                                <ul class="social-links">
                                    {% if entity.targetTo == 'Page' %}
                                        <li class=""><a  href="{{ path('webservice_module_page',{'subdomain':globalOption.subDomain,'module':entity.page.module.slug,'slug':entity.page.slug}) }}" class="fa fa-link"></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if sidebar is not empty %}
                    {% for module in sidebar.module %}
                        {% render controller("FrontendBundle:TemplateWidget:moduleSidebarBaseContent",{'globalOption':globalOption.id,'module':module.id}) %}
                    {% endfor %}
                {% endif %}
            </aside>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    '@FrontendBundle/Resources/public/template/desktop/css/sidebar.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    '@FrontendBundle/Resources/public/template/js/sidebar.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block documentready %}
    {{ parent() }}
{% endblock %}
