{% extends ':mobile:base.html.twig' %}
{% block body %}
    <div class="page-header-clear"></div>
    <div class="content">
        <div class="container" style="position: relative">
            <button id="slidx_button" class="buy-list" >Checkout</button>
            <!-- content -->
            <h3>{{ product.masterItem.name }}</h3>
            <div class="one-responsive">

                <div class="no-bottom">

                    {% if(product.itemGalleries  is defined and product.itemGalleries  is not empty) %}
                        <div class="wide-item">
                            {% if product.itemGalleries is defined %}
                                <div  id="gallery" class="item-titles">
                                    more image
                                </div>
                            {% endif %}
                            <div class="wide-image">
                                <div class="overlay"></div>
                                <a class="tile-wide" href="javascript:"><img class="responsive-image" src="{{ image(product.webPath()).resize() }}" alt="img"></a>
                            </div>

                        </div>
                    {% endif %}
                    <div class="product">
                        <div class="product-details">
                            {#<table>
                                {% set quantity = (product.purchaseQuantity + product.salesQuantityReturn + product.purchaseQuantityReplace )- (product.purchaseQuantityReturn + product.salesQuantity )  %}
                                <tr><td>Price</td><td class="left">BDT <strong>{{ product.webPrice|format }}</strong></td></tr>
                                <tr><td>Available stock</td><td class="left"><strong>{{ quantity  }}</strong></td></tr>
                                <tr><td>Color & Size</td><td class="left">{{ product.color.name }}&nbsp;/&nbsp;{{ product.size.name }}</td></tr>
                                {% if product.masterItem.category is not empty %}<tr><td>Category</td><td class="left">{{ product.masterItem.category.name }}</td></tr>{% endif %}
                                {% if product.gender is not empty %}<tr><td>Gender</td><td class="left">{{ product.gender }}</td></tr>{% endif %}
                                {% if product.ageGroup is not empty %}<tr><td>Age Group</td><td class="left">{{ product.ageGroup }}</td></tr>{% endif %}
                                {% if product.material is not empty %}<tr><td>Material</td><td class="left">{{ product.material }}&nbsp;</td></tr>{% endif %}
                                {% if product.brand is not empty %}<tr><td>Brand</td><td class="left">{{ product.brand.name }}</td></tr>{% endif %}
                                {% if product.country is not empty %}<tr><td>Made in</td><td class="left">{{ product.country.name }}</td></tr>{% endif %}
                                <tr><td>Description</td><td class="left">{{ product.content|raw }}</td></tr>
                                <tr><td>&nbsp;</td><td class="left"><input  type="number" value="1" id="numberBox"  min="1" max="5"></td></tr>
                                <tr><td>&nbsp;</td><td class="left"><a href="javascript:" id="cart" data-content="" data-url="{{ path('mobile_product_add_cart',{'subdomain':entity.subDomain,'id':product.id}) }}" class="button-big button-blue buy-list">Add to cart</a><a href="" class="button-big button-green wallet-list">Buy It Now</a></td></tr>
                            </table>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav id="slidx_menu">
         <div >
             <h5 >Related Products </h5>
             {% for product in products %}
                 {% if(product.itemGalleries) %}
                     <div class="product-outer-div">
                      <a href="{{ path('mobile_product_details',{'subdomain':entity.subDomain,'slug':product.slug}) }}"  >

                         <div class="product-short-img"><img src="{{ image(product.itemGalleries[0].getAbsolutePath(product.inventoryConfig.globalOption.id,product.id)).resize(100,67) }}"  alt=""/></div>
                         <div class="product-short-list">
                             <ul class="">
                                 <li>{{ product.masterItem.name }}</li>
                                 <li>BDT {{ product.webPrice|format }}</li>
                                 <li>{{ product.color.name }}&nbsp;/&nbsp;{{ product.size.name }}</li>
                             </ul>
                         </div>
                      </a>
                     </div>

                 {% endif %}
             {% endfor %}

         </div>
    </nav>
    <style>
        #numberBox{
            border: 3px solid #2c3e50;
            font-size: 20px;
            text-align: center;
            height: 40px;
            width: 96%;
        }
        #slidx_menu h5{
            padding: 5px;
            text-align: center;
            border-bottom: 1px solid #c1cbd0;
            color: #ffffff;
        }
        .product-outer-div{
            background: #ffffff;
            padding: 5px;
            border-bottom:1px solid #c1cbd0 ;
        }
        .product-outer-div a {
            background-image: none !important;
            line-height: 18px !important;
            margin: 0 !important;
            padding: 0 !important;
            text-align: left;
        }
        .product-short-img {
            float: left;
        }
        .product-short-list {
            background: #fff!important;
            float: left;
            height: auto;
        }
        .product-short-list ul{
            list-style: none;
            margin: 0!important;
            padding: 0!important;
            padding-left: 5px!important;
        }
        .product-short-list ul li {
            background: #fff none repeat scroll 0 0 !important;
            font-size: 11px;
            list-style: outside none none;
            margin: 0;
            padding: 0;
            text-align: left;
            height: auto!important;
            line-height: 15px;
            font-size: 11px;
        }
        .product-short-list ul li a {
            background-image: none !important;
            line-height: 18px !important;
            margin: 0 !important;
            padding: 0 !important;
            text-align: left;
        }
    </style>
{% endblock %}

{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MobileBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MobileBundle/Resources/public/js/mobile.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $( "#numberBox" ).change(function() {

        var max = parseInt($(this).attr('max'));
        var min = parseInt($(this).attr('min'));

        if ($(this).val() > max)
        {
            $(this).val(max);
        }
            else if ($(this).val() < min)
        {
            $(this).val(min);
        }
        $("#cart").attr("data-content", $(this).val());

    });

    $('.product').on("click", ".buy-list", function() {

        var url = $(this).attr("data-url");
        alert(url);
        var quantity = $(this).attr("data-content");
        $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {

        },
        })
    })


    {% if(product.itemGalleries) %}

        $( '#gallery' ).click( function( e ) {

            e.preventDefault();
            $.swipebox([
                {% for image in product.itemGalleries %}
                    { href : '/{{ image(image.getAbsolutePath(entity.id,product.id)).resize() }}' },
                {% endfor %}
            ]);

        });

    {% endif %}

{% endblock %}


