<div class="container">

    <div class="content_left">
        {% for  data in entity.newses %}
            <div class="blog_post">
                <div class="blog_postcontent">
                    <div class="image_frame small"><a href="{{ path('desktop_module',{'subdomain':entity.subDomain,'module':'news','slug':data.slug }) }}"><img src="{{ image(data.webPath()).resize(810,360) }}" alt="" /></a></div>
                    <div class="post_info_content_small">
                        <a href="javascript:" class="date"><strong>{{ data.startDate|date('d') }}</strong><i>{{ data.startDate|date('F') }}</i></a>
                        <h3><a href="{{ path('desktop_module',{'subdomain':entity.subDomain,'module':'news','slug':data.slug }) }}">{{ data.name }}</a></h3>
                        <div class="clearfix"></div>

                        <p>{{ data.content|raw|truncate(10) }}</p>

                    </div>
                </div>
            </div><!-- /# end post -->

            <div class="clearfix divider_line3"></div>
        {% endfor %}
    </div><!-- end content left side area -->

    <!-- right sidebar starts -->
    <div class="right_sidebar">
        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Site <i>Pages</i></h3></div>
            <ul class="arrows_list1">
                {% for page in entity.pages %}
                <li><a href="{{ path('desktop_content',{'subdomain':entity.subDomain,'slug': page.nav.slug}) }}"><i class="fa fa-angle-right"></i>{{ page.name }}</a></li>
               {% endfor %}
            </ul>

        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>
        {% if entity.blogs is not empty %}

        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Recent<i>Blogs</i></h3></div>

            <div class="portfolio_sidebar_widget">

                <ul id="mycarouseltwo" class="jcarousel-skin-tango">
                    {% for blog in entity.blogs %}
                    <li>
                        <div class="item">
                            <div class="fresh_projects_list">
                                <section class="cheapest">
                                    <div class="display">
                                        <div class="small-group">
                                            <div class="small money">
                                                <img src="{{ image(blog.webPath()).resize(275,250) }}" alt="">
                                                <div class="info">
                                                    <div class="title">{{ blog.name }}</div>
                                                    <div class="additionnal">
                                                        {{ blog.content|raw|truncate(0,50) }}<br /><br />
                                                        <b><a href="#">more ></a></b>
                                                    </div>
                                                </div>
                                                <div class="hover"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </li><!-- end item -->
                    {% endfor %}
                </ul>

            </div>

        </div><!-- end section -->
        <div class="clearfix mar_top5"></div>
        {% endif %}


    </div>

</div><!-- end content area -->

