{% extends ':frontend:base.html.twig' %}
{% block body %}
    <div id="tm-page-title">
        <div class="tm-wrap tm-table">
            <div class="tm-title-captions">
                <h2 class="tm-entry-title">{{ domain.user.globalOption.name }}: Admission</h2>
            </div>
            <ul class="tm-breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Details</li>
            </ul>
        </div>
    </div>
    <!--tm-page-title-->
    <div id="tm-page-body">
        <div id="tm-blog" class="tm-container tm-wrap tm-blog-style-magazine2 tm-sidebar-right">
            <div class="page-content">
                <div id="tm-portfolio" class="tm-portfolio-classic" >
                    <div class="tm-content tm-col-4">
                        {% for relatedVendor in promotions %}
                            <article class="cat1 cat3">
                                <img alt="img" src="{{ image( relatedVendor.user.education.webPath).resize(189,139) }}">
                                <div class="tm-mask">
                                    <div class="tm-mask-content">
                                        <h3><a href="{{ path('frontend_subdomain_module_content',{'subdomain':relatedVendor.user.globalOption.slug,'module':'admission','slug':relatedVendor.slug }) }}">{{ relatedVendor.user.globalOption.name }}</a></h3>
                                        <span class="line"></span>
                                        <div class="incategory">
                                            <a href="javascript:">{{ relatedVendor.user.education.address }}</a>,
                                            <a href="tel:+88 {{ relatedVendor.user.education.hotline|default('') }}">{{ relatedVendor.user.education.hotline }}</a>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="{{ path('frontend_subdomain_module_content',{'subdomain':relatedVendor.user.globalOption.slug,'module':'admission','slug':relatedVendor.slug }) }}">{{ relatedVendor.name }}</a></p>
                            </article>
                        {% endfor %}
                    </div>

                </div>
                <!--tm-featured-->
                <div class="tm-double-line"></div>
                <div class="entry-thumbnail">
                    <div class="flexslider">
                        <ul class="slides">

                        </ul>
                    </div>
                </div>
                <div class="tm-content page-content-inner">
                    <div class="tm-main-content">
                        <article>
                            <div class="tm-content-inner">
                                {% if slug == '' %}
                                    {% for entity in entities |slice(0,1) %}
                                        <div class="header-line-center"><h3 class="tm-title">{{ entity.name }}</h3></div>
                                        <blockquote class="tm-style2">

                                            <div class="one-half">
                                                <ul class="blog-info ul-listing">
                                                    <li><strong>Admission Date:</strong>{{ entity.startDate|date('M j') }} To {{ entity.endDate|date('M j, y') }}</li>
                                                    {% if entity.courseLevel is defined and entity.courseLevel is not null %}
                                                        <li><strong>Label:</strong>{{ entity.courseLevel.name|default('') }}</li>
                                                    {% endif %}
                                                    {% if entity.course is defined and entity.course is not null %}
                                                        <li><strong>Course:</strong>{{ entity.course.name|default('') }}</li>
                                                    {% endif %}
                                                    {% if entity.tuitionFee is defined and entity.tuitionFee is not null %}
                                                        <li><strong>Tuition Fees:</strong>BDT <b>{{ entity.tuitionFee|number_format }}</b> Taka</li>
                                                    {% endif %}
                                                    {% if entity.coursePeriod is defined and entity.coursePeriod is not null %}
                                                        <li><strong>Duration:</strong>{{ entity.coursePeriod }}</li>
                                                    {% endif %}
                                                    {% if entity.shifting is defined and entity.shifting is not null %}
                                                        <li><strong>Shifting:</strong>
                                                            {% for shift in entity.shifting %}
                                                                {{ shift }}{{ loop.last ? '':', ' }}
                                                            {% endfor %}
                                                        </li>
                                                    {% endif %}
                                                    {% if entity.qualification is defined and entity.qualification is not null %}
                                                        <li><strong>Eligible:</strong>{{ entity.qualification }}</li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                            <div class="one-half last">

                                                <ul class="blog-info">
                                                    <li><strong>Open & Close</strong>:&nbsp;{{ entity.startHour|default('') }} to {{ entity.endHour|default('') }}</li>
                                                    <li><i class="fa fa-home"></i>&nbsp;<a href="">{{ entity.address|raw|default('') }}</a></li>
                                                    <li><i class="fa fa-user" ></i>&nbsp;{{ entity.contactPerson|default('') }}</li>
                                                    <li><i class="fa fa-mobile" ></i>&nbsp;<a href="tel:+88 {{ entity.mobile|default('') }}"> +88 {{ entity.mobile|default('') }} </a></li>
                                                    <li><i class="fa fa-phone" ></i>&nbsp; +88 02 {{ entity.phone|default('') }}</li>
                                                    <li><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:{{ entity.email|default('') }}">{{ entity.email|default('') }}</a> </li>
                                                </ul>

                                            </div>
                                            <div class="clear"></div>
                                        </blockquote>
                                    {% endfor %}
                                {% else %}
                                    {% for entity in entities %}
                                        {% if slug == entity.slug %}
                                            <div class="header-line-center"><h3 class="tm-title">{{ entity.name }}</h3></div>
                                            <blockquote class="tm-style2">

                                                <div class="one-half">
                                                    <ul class="blog-info ul-listing">
                                                        <li><strong>Admission Date:</strong>{{ entity.startDate|date('M j') }} To {{ entity.endDate|date('M j, y') }}</li>
                                                        {% if entity.courseLevel is defined and entity.courseLevel is not null %}
                                                            <li><strong>Label:</strong>{{ entity.courseLevel.name|default('') }}</li>
                                                        {% endif %}
                                                        {% if entity.course is defined and entity.course is not null %}
                                                            <li><strong>Course:</strong>{{ entity.course.name|default('') }}</li>
                                                        {% endif %}
                                                        {% if entity.tuitionFee is defined and entity.tuitionFee is not null %}
                                                            <li><strong>Tuition Fees:</strong>BDT <b>{{ entity.tuitionFee|number_format }}</b> Taka</li>
                                                        {% endif %}
                                                        {% if entity.coursePeriod is defined and entity.coursePeriod is not null %}
                                                            <li><strong>Duration:</strong>{{ entity.coursePeriod }}</li>
                                                        {% endif %}
                                                        {% if entity.shifting is defined and entity.shifting is not null %}
                                                            <li><strong>Shifting:</strong>
                                                                {% for shift in entity.shifting %}
                                                                    {{ shift }}{{ loop.last ? '':', ' }}
                                                                {% endfor %}
                                                            </li>
                                                        {% endif %}
                                                        {% if entity.qualification is defined and entity.qualification is not null %}
                                                            <li><strong>Eligible:</strong>{{ entity.qualification }}</li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                                <div class="one-half last">

                                                    <ul class="blog-info">
                                                        <li><strong>Open & Close</strong>:&nbsp;{{ entity.startHour|default('') }} to {{ entity.endHour|default('') }}</li>
                                                        <li><i class="fa fa-home"></i>&nbsp;<a href="">{{ entity.address|raw|default('') }}</a></li>
                                                        <li><i class="fa fa-user" ></i>&nbsp;{{ entity.contactPerson|default('') }}</li>
                                                        <li><i class="fa fa-mobile" ></i>&nbsp;<a href="tel:+88 {{ entity.mobile|default('') }}"> +88 {{ entity.mobile|default('') }} </a></li>
                                                        <li><i class="fa fa-phone" ></i>&nbsp; +88 02 {{ entity.phone|default('') }}</li>
                                                        <li><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:{{ entity.email|default('') }}">{{ entity.email|default('') }}</a> </li>
                                                    </ul>

                                                </div>
                                                <div class="clear"></div>
                                            </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="tm-double-line"></div>
                                <div class="tm-category-block">
                                    <div class="tm-block-content">
                                        {% if slug == '' %}
                                            {% for entity in entities |slice(0,1) %}
                                                <div class="entry-container">
                                                    <p>
                                                        <span class="tm-dropcap tm-style3">{{ entity.content[:1] }}</span>
                                                        {{ entity.content[1:]|raw }}
                                                    </p>

                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for entity in entities %}
                                                {% if slug == entity.slug %}
                                                    <div class="entry-container">
                                                        <p>
                                                            <span class="tm-dropcap tm-style3">{{ entity.content[:1] }}</span>
                                                            {{ entity.content[1:]|raw }}
                                                        </p>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="entry-others">

                                        <h3 class="tm-title">Recent Admissions</h3>
                                        <ul>
                                            {% if slug == '' %}
                                                {% for entity in entities |slice(1,5) %}
                                                    <li>
                                                        <a href="{{ path('frontend_subdomain_module_content',{'subdomain':entity.user.globalOption.slug,'module':module,'slug':entity.slug}) }}">{{ entity.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            {% if slug != '' %}
                                                {% for entity in entities %}
                                                    {% if slug != entity.slug %}
                                                        <li>
                                                            <a href="{{ path('frontend_subdomain_module_content',{'subdomain':entity.user.globalOption.slug,'module':module,'slug':entity.slug}) }}">{{ entity.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
                <div class="clear"></div>
                <div class="tm-double-line"></div>
                <div class="page-content-inner" style="background:#fff">
                    {{ syndicateModules|raw }}
                    <div class="clear"></div>
                    <br/>
                    <div class="clear"></div>
                    {{ modules|raw }}
                </div>
            </div>
            <!--page-content-->
            {{ include('frontend/sidebar.html.twig')}}
            <div class="clear"></div>
            <div class="tm-double-line"></div>
            <div class="tm-row tm-row-padding" >
                {% if domain.user.branches is not defined and domain.user.branches is null %}
                    <div class="one-fourth">
                        <div class="tm-content-inner">
                            <img src="{{ image(domain.webPath).resize(250,185) }}" alt="img">
                        </div>
                    </div>
                {% endif %}
                <div class="one-fourth">
                    <h3 class="tm-title">{{ domain.user.globalOption.name }}</h3>
                    <ul class="blog-info">
                        <li><i class="fa  fa-map-marker"></i>&nbsp;{{ domain.location.name|default('') }}</li>
                        <li><i class="fa fa-home"></i>&nbsp;{{ domain.address|default('') }}-{{ domain.postalCode|default('') }}</li>
                        <li><i class="fa fa-mobile" ></i>&nbsp;<a href="tel:+88 {{ domain.hotline|default('') }}"> +88 {{ domain.hotline|default('') }} </a></li>
                        {% if domain.fax is not null %}
                            <li><i class="fa fa-phone"></i>&nbsp;+88 02 {{ domain.phone|default('') }}</li>
                        {% endif %}
                        <li><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:{{ domain.email|default('') }}">{{ domain.email|default('') }}</a> </li>
                        <li><i class="fa  fa-anchor"></i><a target="_blank" href="http://{{ domain.user.globalOption.subdomain|default('') }}.{{ portal_name }}">&nbsp;http://{{ domain.user.globalOption.subdomain|default('') }}.{{ portal_name }}</a></li>
                        <li><i class="fa  fa-anchor"></i><a target="_blank" href="http://{{ domain.user.globalOption.domain|default('') }}">&nbsp;http://{{ domain.user.globalOption.domain|default('') }}</a></li>
                    </ul>
                </div>
                <div class="one-fourth">
                    <h3 class="tm-title">Contact</h3>
                    <ul class="blog-info ul-listing">
                        <li><i class="fa fa-user"></i>&nbsp;{{ domain.contactPerson|default('') }}</li>
                        <li><i class="fa fa-bullseye"></i>&nbsp;{{ domain.contactPersonDesignation|default('') }}</li>
                        <li><i class="fa fa-calendar"></i>&nbsp;{{ domain.startHour|default('') }} To {{ domain.endHour|default('') }}</li>
                        <li><i class="fa fa-calendar-times-o"></i>&nbsp;{{ domain.weeklyOffDay|default('') }}</li>
                        {% if domain.fax is not null %}
                            <li><i class="fa fa-fax"></i>&nbsp;{{ domain.fax|default('') }}</li>
                        {% endif %}
                        {% if domain.skypeId is not null %}
                            <li><i class="fa fa-skype"></i>&nbsp;{{ domain.skypeId|default('') }}</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="one-fourth">
                    <aside class="widget tm-list-style1">
                        <h3 class="tm-title">Information</h3>
                        <ul>
                            {% for menu in domain.user.menus|slice(0,5) %}
                                <li>
                                    <a target="_blank" href="{{ path('frontend_subdomain_module',{'subdomain':domain.user.globalOption.slug ,'module':menu.menuSlug}) }}">{{ menu.menu }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                {% if domain.user.branches is defined and domain.user.branches is not null %}
                    <div class="one-fourth last">
                        <h3 class="tm-title">Our Branch</h3>
                        <ul class="blog-info">

                            {% for branch in domain.user.branches|slice(0,5) %}
                                <li>
                                    <i class="fa fa-check-square-o"></i>&nbsp;<a target="_blank" href="{{ path('frontend_subdomain_module',{'subdomain':domain.user.globalOption.slug ,'module':'branches'}) }}">{{ branch.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="clear"></div>
            <!--page-content-->

            <div class="clear"></div>

            <!--portfolio-->
        </div>
        <!--single-portfolio-->
    </div>
{% endblock %}


