{% extends ':frontend:base.html.twig' %}
{% block body %}
    <div id="tm-page-title">
        <div class="tm-wrap tm-table">
            <div class="tm-title-captions">
                <h2 class="tm-entry-title">Admission</h2>
            </div>
            <ul class="tm-breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Listing</li>
            </ul>
        </div>
    </div>
    <!--tm-page-title-->
    <div id="tm-page-body">
        <div id="tm-blog" class="tm-container tm-wrap tm-blog-style-magazine2 tm-sidebar-right">
            <div class="page-content">
                <div id="tm-portfolio" class="tm-portfolio-classic" >
                    <div class="tm-content tm-col-4">
                        {% for relatedVendor in promotions %}
                               <article class="cat1 cat3">
                                <img alt="img" src="{{ image( relatedVendor.user.education.webPath).resize(189,139) }}">
                                <div class="tm-mask">
                                    <div class="tm-mask-content">
                                        <h3><a href="{{ path('frontend_subdomain_module_content',{'subdomain':relatedVendor.user.globalOption.slug,'module':'admission','slug':relatedVendor.slug }) }}">{{ relatedVendor.user.globalOption.name }}</a></h3>
                                        <span class="line"></span>
                                        <div class="incategory">
                                            <a href="javascript:">{{ relatedVendor.user.education.address }}</a>,
                                            <a href="tel:+88 {{ relatedVendor.user.education.hotline|default('') }}">{{ relatedVendor.user.education.hotline }}</a>
                                        </div>
                                    </div>
                                </div>
                                   <p><a href="{{ path('frontend_subdomain_module_content',{'subdomain':relatedVendor.user.globalOption.slug,'module':'admission','slug':relatedVendor.slug }) }}">{{ relatedVendor.name }}</a></p>
                              </article>
                        {% endfor %}
                    </div>

                </div>
                <!--tm-featured-->
                <div class="tm-double-line"></div>
                <div class="tm-content page-content-inner">
                    <div class="tm-main-content">
                        {% for entity in entities %}
                            <article>
                                <div class="tm-content-inner">
                                    <h3 class="tm-title"><a href="{{ path('frontend_module',{'module':entity.slug}) }}"> {{ entity.name }}</a></h3>
                                    <div class="tm-category-block">
                                        <div class="tm-block-content">
                                            {% for admission in admissions[entity.id]|slice(0,1) %}
                                                <div class="entry-thumbnail">
                                                    <a href="single-blog.html">
                                                        <img src="{{ image(admission.user.education.webPath).resize(150,150) }}" alt="Thumb">
                                                    </a>
                                                </div>
                                                <div class="entry-container">
                                                    <div class="time">{{ admission.startDate|date('M j') }} To {{ admission.endDate|date('M j, y') }}</div>
                                                    <h3>
                                                        <a href="{{ path('frontend_subdomain_module_content',{'subdomain':admission.user.globalOption.slug,'module':'admission','slug':admission.slug }) }}">{{ admission.name }}</a>
                                                    </h3>
                                                    <div class="meta">
                                                        by
                                                        <a href="{{ path('frontend_institute_subdomain',{'subdomain':admission.user.globalOption.slug }) }}" class="author">{{ admission.user.globalOption.name }}</a>
                                                    </div>
                                                    <p>
                                                        {{ admission.content|truncate(100) }}
                                                        <a class="more-link" href="{{ path('frontend_subdomain_module_content',{'subdomain':admission.user.globalOption.slug,'module':'admission','slug':admission.slug }) }}">Read more</a>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="entry-others">
                                            <ul>
                                                {% for admission in admissions[entity.id]|slice(1,6) %}
                                                    <li>
                                                        <a href="{{ path('frontend_subdomain_module_content',{'subdomain':admission.user.globalOption.slug,'module':'admission','slug':admission.slug }) }}">{{ admission.name }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="tm-paginator" style="margin-top:30px">
                        {{ knp_pagination_render(entities) }}
                    </div>

                </div>
            </div>
            <!--page-content-->
            {{ include('frontend/sidebar.html.twig')}}
            <div class="clear"></div>
            <div class="tm-double-line"></div>

            <div class="clear"></div>
              <!--page-content-->

            <div class="clear"></div>

            <!--portfolio-->
        </div>
        <!--single-portfolio-->
    </div>
{% endblock %}


