<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon"  href="{{ asset('assets/img/favicon/favicon.ico') }}">
    <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome-4.7.0.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/plugins/select2/select2_metro.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/print/css/style.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/print/css/menu.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/print/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
</head>
<title>{{ app.user.globalOption.name }} | MIS Reports</title>
<body class="body">
<!-- START: RUBY DEMO HEADER -->
<div class="ruby-menu-demo-header">
    {% set apps = app.user.globalOption.siteSetting.appModules %}
    <!-- ########################### -->
    <!-- START: RUBY HORIZONTAL MENU -->
    <div class="ruby-wrapper">
        <button class="c-hamburger c-hamburger--htx visible-xs">
            <span>toggle menu</span>
        </button>
        <ul class="ruby-menu">
            <li class="ruby-active-menu-item"><a href="/backend"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="ruby-menu-item"><a href="{{ path('report_dashboard') }}">Dashboard</a></li>
            {% for app in apps %}
                {% if app.moduleClass == "Accounting" %}
                    <li class="ruby-menu-mega"><a href="#">Accounting</a>
                        <div class="ruby-grid ruby-grid-lined">
                            <div class="ruby-row">
                                <div class="ruby-col-3 hidden-md">
                                    <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                    <ul>
                                        <li><a href="{{ path('accounting_report_sales_outstanding') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Outstanding</a></li>
                                        <li><a href="{{ path('accounting_report_sales_summary') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Summary</a></li>
                                        <li><a href="{{ path('accounting_report_sales_customer_ledger') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Customer Ledger</a></li>
                                        <li><a href="{{ path('accounting_report_sales_user_summary') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> User Sales & Collection</a></li>
                                        <li><a href="{{ path('accounting_report_sales_user_details') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> User Sales & Collection Details</a></li>
                                    </ul>
                                </div>
                                {#
                               <div class="ruby-col-3 hidden-md">
                                   <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                   <ul>
                                       <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #1</a></li>
                                       <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Menu Item #2</a></li>
                                       <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Menu Item #3</a></li>
                                       <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Menu Item #4</a></li>
                                       <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #5</a></li>
                                   </ul>
                               </div>

                               <div class="ruby-col-2 hidden-md">
                                   <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                   <ul>
                                       <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #1</a></li>
                                       <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Menu Item #2</a></li>
                                       <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Menu Item #3</a></li>
                                       <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Menu Item #4</a></li>
                                       <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #5</a></li>
                                   </ul>
                               </div>
                               <div class="ruby-col-4">
                                   <h3 class="ruby-list-heading">Multiple Lists with Icons</h3>
                                   <div class="ruby-row">
                                       <div class="ruby-col-6 ruby-col-6-md">
                                           <ul>
                                               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-signal" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-send" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Menu Item</a></li>
                                           </ul>
                                       </div>
                                       <div class="ruby-col-6 ruby-col-6-md" style="padding-left:10px">
                                           <ul>
                                               <li><a href="#"><i class="fa fa-rocket" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-warning" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-umbrella" aria-hidden="true"></i>Menu Item</a></li>
                                               <li><a href="#"><i class="fa fa-trophy" aria-hidden="true"></i>Menu Item</a></li>
                                           </ul>
                                       </div>

                                   </div>
                               </div>#}
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if app.moduleClass == "Hospital" %}
                    <li class="ruby-menu-mega"><a href="{{ path('hms_report_dashboard')}}">Hospital & Diagnostic</a>
                        <div class="ruby-grid ruby-grid-lined">
                            <div class="ruby-row">
                                <div class="ruby-col-3 hidden-md">
                                    <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                    <ul>
                                        <li><a href="{{ path('hms_report_dashboard') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Dashboard</a></li>
                                        <li><a href="{{ path('hms_report_diagnostic_invoice') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Diagnoestic Invoice</a></li>
                                        <li><a href="{{ path('hms_report_visit_invoice') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Visit Invoice</a></li>
                                        <li><a href="{{ path('hms_report_admission_invoice') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Admission Invoice</a></li>
                                        <li><a href="{{ path('hms_report_dashboard') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Summary</a></li>
                                    </ul>
                                </div>
                                <div class="ruby-col-3 hidden-md">
                                    <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #1</a></li>
                                        <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Menu Item #2</a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Menu Item #3</a></li>
                                        <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Menu Item #4</a></li>
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #5</a></li>
                                    </ul>
                                </div>
                                {#
                                <div class="ruby-col-2 hidden-md">
                                    <h3 class="ruby-list-heading">List of Sales Reports</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #1</a></li>
                                        <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Menu Item #2</a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Menu Item #3</a></li>
                                        <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Menu Item #4</a></li>
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #5</a></li>
                                    </ul>
                                </div>
                                <div class="ruby-col-4">
                                    <h3 class="ruby-list-heading">Multiple Lists with Icons</h3>
                                    <div class="ruby-row">
                                        <div class="ruby-col-6 ruby-col-6-md">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-signal" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-send" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Menu Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-6 ruby-col-6-md" style="padding-left:10px">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-rocket" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-warning" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-umbrella" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-trophy" aria-hidden="true"></i>Menu Item</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>#}
                            </div>
                        </div>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="ruby-menu-right">
                <a class='btn-print print'><i class='fa fa-print'></i> Print</a>
            </li>
        </ul>
    </div>
</div>
<!-- END: RUBY DEMO HEADER -->
<div id="pdf-area">
    {#<div class="print-header-content" style="width: 1024px!important;" ><img height="100" src="{{ asset('assets/img/layout/header.png') }}"></div>#}
    {% block body %}{% endblock %}
    {#<div class="print-footer-content">
    <div class="row">
        <div class="col-md-12">
            <img width="100%" height="100" src="{{ asset('assets/img/layout/footer.png') }}">
        </div>
    </div>
    </div>#}
</div>
{% javascripts
'assets/plugins/jquery-1.10.2.min.js'
'assets/plugins/jquery-migrate-1.2.1.min.js'
'assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'
'assets/plugins/jquery-ui/jquery.ui.droppable.js'
'assets/plugins/jquery-ui/jquery.ui.autocomplete.js'
'assets/plugins/jquery-ui/jquery.ui.menu.min.js'
'assets/plugins/jquery-ui/jquery.ui.position.min.js'
'assets/plugins/jquery-ui/jquery.ui.widget.min.js'
'assets/plugins/select2/select2.min.js'
'assets/plugins/jquery-ui/jquery.ui.autocomplete.js'
'assets/js/process.js'
'assets/scripts/app.js'
'assets/print/js/kinzi.print.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascriptBlock %}
{% endblock %}
<script>
    $('.print').click(function () {
        $('#print-area').kinziPrint({
            importCSS: true,
           // header: $('.print-header-content').html(),
           // footer: $('.print-footer-content').html()
        });
    });
    cbpHorizontalMenu.init();
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
