<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>{% if app.user.globaloption is not empty and app.user.globaloption is defined %}{{ app.user.globaloption.name }}{% else %} {{ app.user.profile.name }} {% endif %} | MANAGE PANEL</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="TERMINALBD.COM is one Most of the popular Web based software company in Bangladesh(BD) ,Application & Mobile application create & manage" name="description"/>
    <meta name="keywords" content="Web Design Company, Website development company, website design company Bangladesh, best web design company Bangladesh, best software firm in Bangladesh. Email marketing company bd, SMS bd, SMS marketing company bd, eicra, esoft, Roopokar, e-Soft, Technobd, daraz, bagdoom, ajkerdeal, web design training, graphics design training, digital marketing training, web design company Bangladesh, Bangladeshi web design company bangladesh,ecommerce website design company Bangladesh, website design company list in Bangladesh,website design and development company Bangladesh, Bangladeshi web design company, web page design company in Bangladesh, logo - web design & development company in Bangladesh Dhaka, web design and development company in Dhaka Bangladesh, web design and development company in bangladesh, best web design company bangladesh, web design company in Dhaka bd,web design company from Bangladesh, web design company in bangladesh, website design company in Bangladesh, software development company Bangladesh, software development company in Dhaka Bangladesh, software development company in bd, Bangladesh software development company list, best software development company in Bangladesh, custom software development company in bangladesh, top 10 software development company in Bangladesh, software development company in Bangladesh, list of software development companies in Bangladesh, email marketing company in bangladesh, best email marketing company in bangladesh, sms marketing company in bangladesh, bulk sms bangladesh, bulk sms bangladesh free, buy bulk sms bangladesh, bulk sms software bangladesh, bulk sms reseller bangladesh, cheap bulk sms bangladesh, bulk sms provider bangladesh, bulk sms messages bangladesh, send bulk sms bangladesh, airtel bulk sms bangladesh, bulk sms airtel bd, bulk sms buy bd, bulk sms for bangladesh,bulk sms gateway bangladesh,bulk sms gateway provider in bangladesh, bulk sms in bangladesh,bulk sms provider in bangladesh,bulk sms reseller in bangladesh,free bulk sms in bangladesh,bulk sms software in bangladesh,bulk sms provider in bd,send free bulk sms in bangladesh,online bulk sms bangladesh,send free bulk sms online bangladesh,bulk sms rate in bangladesh,bulk sms service bangladesh,bulk sms service provider bangladesh,bulk sms to bangladesh,send free bulk sms to bangladesh, digital marketing company in bangladesh, digital marketing agencies in bangladesh, best digital marketing company in bangladesh, top digital marketing company in bangladesh, digital marketing agency in bangladesh, list of digital marketing agency in bangladesh, best digital marketing agency in bangladesh, top digital marketing agency in bangladesh, web design training in dhaka web design course in dhaka university, web design training center in dhaka, best web design training in dhaka, web design and development training in dhaka, best web design training institute in dhaka, best web design training center in dhaka, web design and development courses in dhaka, web design and development training center in dhaka, web design training courses in dhaka, web design training institute in dhaka, web page design training in dhaka, graphics design training in dhaka, graphics design course in dhaka, graphics design institute in dhaka, graphic design course in dhaka university, graphic design course in dhaka bangladesh, graphics design training center in dhaka, graphics design training centre in dhaka, graphics design training course in dhaka, best graphics design training in dhaka, graphic design training in bd " />
    <meta name="description" content="Terminal BD is the best web design company in Bangladesh. We are one of the best software development company in Dhaka, Bangladesh. Terminalbd known as a top outsourcing company in Bangladesh. We are the 1st and best digital marketing agency in Bangladesh. Terminalbd also provide IT training like web development training, graphics design training and digital marketing training in Uttara, Dhaka, Bangladesh. We are the no1 and best Email & SMS Marketing Company in Bangladesh" />
    <meta content="Best Web Design and Development Company in Bangladesh, Best Software development Company in Dhaka, Bangladesh, Email Marketing in Bangladesh, SMS Marketing Company in Dhaka, Bangladesh, Digital Marketing Company in Dhaka, Chittagong, Bangladesh,Best E-commerce development Company in Bangladesh, Best IT Company in Bangladesh, Best IT Training in Uttara, Web design training in dhaka, Best Graphics Design training in Uttara Dhaka, Best Digital Marketing Training Center in Dhaka, Best Outsourcing Company in Bangladesh, Largest IT Company in Bangladesh" name="author"/>
    <meta name="google-site-verification" content="syISMv7mxTevfDNUFQb71C9vybrXTBAvr1WfeN0lAaw" />
    <meta name="MobileOptimized" content="320">
    <link rel="shortcut icon"  href="{{ asset('assets/img/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/favicon/manifest.json') }}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% stylesheets filter='cssrewrite'
        'assets/plugins/bootstrap/css/bootstrap.min.css'
        'assets/plugins/bootstrap/css/bootstrap-responsive.min.css'
        'assets/plugins/font-awesome/css/font-awesome.min.css'
        'assets/plugins/font-awesome/css/font-awesome-4.7.0.min.css'
        'assets/plugins/font-awesome/css/fa-font-awesome.css'
        'assets/css/style.css'
        'assets/css/style-responsive.css'
        'assets/css/style-metro.css'
        'assets/css/themes/darkblue.css'
        'assets/plugins/uniform/css/uniform.default.css'
        'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css'
        'assets/plugins/gritter/css/jquery.gritter.css'
        'assets/plugins/chosen-bootstrap/chosen/chosen.css'
        'assets/plugins/select2/select2_metro.css'
        'assets/plugins/clockface/css/clockface.css'
        'assets/plugins/bootstrap-datepicker/css/datepicker.css'
        'assets/plugins/data-tables/jquery.dataTables.min.css'
        'assets/plugins/bootstrap-timepicker/compiled/timepicker.css'
        'assets/plugins/bootstrap-colorpicker/css/colorpicker.css'
        'assets/plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css'
        'assets/plugins/bootstrap-daterangepicker/daterangepicker.css'
        'assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css'
        'assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css'
        'assets/plugins/jquery-multi-select/css/multi-select.css'
        'assets/plugins/bootstrap-modal/css/bootstrap-modal.css'
        'assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css'
        'assets/plugins/jquery-tags-input/jquery.tagsinput.css'
        'assets/plugins/jquery-selectbox/css/jquery.selectbox.css'
        'assets/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css'
        'assets/plugins/data-tables/DT_bootstrap.css'
        'assets/plugins/data-tables/dataTables.bootstrap.min.css'
        'assets/plugins/glyphicons/css/glyphicons.css'
        'assets/plugins/glyphicons_halflings/css/halflings.css'
        'assets/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
        'assets/plugins/bootstrap-editable/inputs-ext/address/address.css'
        'assets/plugins/colorpicker/css/evol.colorpicker.min.css'
        'assets/plugins/jquery-nestable/jquery.nestable.css'
        'assets/plugins/jquery-ui/jquery-ui-1.12.1.min.css'
        'assets/plugins/jquery-tree/src/css/jquery.tree.css'
        'assets/plugins/bootstrap-modal/css/bootstrap-modal.css'
        'assets/plugins/remodal/css/remodal.css'
        'assets/plugins/remodal/css/remodal-default-theme.css'
        'assets/plugins/bootstrap-modal/css/bootstrap-modal.css'
        'assets/plugins/calculator/SimpleCalculadorajQuery.css'
        'assets/plugins/pop-modal/popModal.min.css'
        'assets/plugins/jquery-checkradios/css/jquery.checkradios.css'
        'assets/template/desktop/css/css-loader.css'
        'assets/css/comments.css'
        'assets/css/overwrite.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block cssBlock %}
    {% endblock %}
{#
    'assets/css/custom.css'
    'assets/css/pages/profile.css'#}

    {% if app.request.cookies.has('productList') %}
        {% set cookieVal = app.request.cookies.get('productList') %}
    {% else %}
        {% set cookieVal = '' %}
    {% endif %}

 </head>
<body class="page-header-fixed  page-footer-fixed {% if cookieVal != 'page-sidebar-closed' %} page-sidebar-closed  {% endif %} {{ app.request.locale }}{% block bodyClass %}{% endblock bodyClass %}">
<div class="modal fade" id="ajax" tabindex="-1" role="basic" aria-hidden="true">
    {% image 'assets/img/ajax-modal-loading.gif'
    filter='' output='/img/ajax-modal-loading.gif' %}
    <img src="{{ asset_url }}" alt="" class="loading"/>
    {% endimage %}
</div>
<!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
<!-- BEGIN TOP NAVIGATION BAR -->
<div class="navbar-inner">
<div class="container-fluid">
<!-- BEGIN LOGO -->
<a class="brand" href="{{ path('home') }}" style="margin-left:0">
    {% if app.user.globaloption is not empty and app.user.globaloption is defined %}
        {{ app.user.globaloption.name }}
    {% endif %}
</a>
<!-- END LOGO -->
<!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        {% image 'assets//img/menu-toggler.png'
        filter='' output='/img/menu-toggler.png' %}
        <img src="{{ asset_url }}" alt="" />
        {% endimage %}
    </a>
    {% if is_granted('ROLE_CUSTOMER') %}
        {{ include('customer/topbar.html.twig')}}
    {% else %}
        {# {% render controller("SettingToolBundle:BackendWidget:topBar") %}#}
        {{ include('SettingToolBundle:Widget:common.html.twig')}}
    {% endif %}

   {# <div class="navbar hor-menu hidden-phone hidden-tablet">
        <div class="navbar-inner">
            {{ knp_menu_render('SettingAppearanceBundle:HorizontalBuilder:mainMenu', {'template':'SettingAppearanceBundle:Menu:horizontal-menu.html.twig','currentClass': 'active'}) }}
        </div>
    </div>#}
<!-- END RESPONSIVE MENU TOGGLER -->
<!-- BEGIN TOP NAVIGATION MENU -->
<!-- END TOP NAVIGATION MENU -->
</div>
{#
<div class="navbar hor-menu hidden-phone hidden-tablet">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="visible-phone visible-tablet">
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Search...">
                            <input type="button" class="submit" value=" ">
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>
                <li>
                    <a href="index.html">
                        Dashboard
                    </a>
                </li>
                <li class="active">
                    <a data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                        <span class="selected"></span>
                        Layouts
                        <span class="arrow"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="layout_language_bar.html">
                                <span class="badge badge-roundless badge-important">new</span>Language Switch Bar</a>
                        </li>
                        <li>
                            <a href="layout_horizontal_sidebar_menu.html">
                                Horizontal &amp; Sidebar Menu                     </a>
                        </li>
                        <li class="active">
                            <a href="layout_horizontal_menu1.html">
                                Horizontal Menu 1                    </a>
                        </li>
                        <li>
                            <a href="layout_horizontal_menu2.html">
                                Horizontal Menu 2                    </a>
                        </li>
                        <li>
                            <a href="layout_promo.html">
                                Promo Page                    </a>
                        </li>
                        <li>
                            <a href="layout_email.html">
                                Email Templates                     </a>
                        </li>
                        <li>
                            <a href="layout_ajax.html">
                                Content Loading via Ajax</a>
                        </li>
                        <li>
                            <a href="layout_sidebar_closed.html">
                                Sidebar Closed Page                    </a>
                        </li>
                        <li>
                            <a href="layout_blank_page.html">
                                Blank Page                    </a>
                        </li>
                        <li>
                            <a href="layout_boxed_page.html">Boxed Page</a>
                        </li>
                        <li>
                            <a href="layout_boxed_not_responsive.html">
                                Non-Responsive Boxed Layout                     </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                More options
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Second level link</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:;">More options<span class="arrow"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index.html">Third level link</a></li>
                                        <li><a href="index.html">Third level link</a></li>
                                        <li><a href="index.html">Third level link</a></li>
                                        <li><a href="index.html">Third level link</a></li>
                                        <li><a href="index.html">Third level link</a></li>
                                    </ul>
                                </li>
                                <li><a href="index.html">Second level link</a></li>
                                <li><a href="index.html">Second level link</a></li>
                                <li><a href="index.html">Second level link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li>
                    <a href="">Tables</a>
                </li>
                <li class="">
                    <a data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="">Extra
                        <span class="arrow"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">About Us</a></li>
                        <li><a href="index.html">Services</a></li>
                        <li><a href="index.html">Pricing</a></li>
                        <li><a href="index.html">FAQs</a></li>
                        <li><a href="index.html">Gallery</a></li>
                        <li><a href="index.html">Registration</a></li>
                        <li><a href="index.html">2 Columns (Left)</a></li>
                        <li><a href="index.html">2 Columns (Right)</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li>
                    <span class="hor-menu-search-form-toggler">&nbsp;</span>
                    <div class="search-form hidden-phone hidden-tablet">
                        <form class="form-search">
                            <div class="input-append">
                                <input type="text" placeholder="Search..." class="m-wrap">
                                <button type="button" class="btn"></button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
#}
</div>
<!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<div class="page-container row-fluid">
    {#{{ dump(app.security.token.user.roles) }}#}
    {% block navigation %}
        <div class="page-sidebar nav-collapse" >
            <!-- BEGIN SIDEBAR MENU -->
            {% if is_granted('ROLE_CUSTOMER') %}
            {{ include('customer/sidebar.html.twig')}}
            {% else %}
            {{ include('sidebar.html.twig')}}
            {% endif %}
        </div>
    {% endblock navigation %}
    <div class="page-content" >
        {% if app.user.globaloption.siteSetting.appModules is defined and app.user.globaloption.siteSetting.appModules is not empty %}
        {% set modules = app.user.globaloption.siteSetting.appModules %}
        {% set menuNames = [] %}
        {% for key in modules %}
            {% set menuNames = menuNames|merge([key.moduleClass]) %}
        {% endfor %}
        {% if 'Miss' in menuNames and is_granted('ROLE_MEDICINE') %}
        <div class="container-fluid">
            <form class="search-form" action="" method="get" name="itemSearch" style="margin-bottom:0;">
                <div class="row-fluid">
                    <input type="text" id="name" name="name" style="border: 5px solid #c49f47 !important; height: 50px !important; background: #ffffff !important;"  class="span12 m-wrap select2GenericMedicine" value=""  autocomplete="off" placeholder="Enter medicine or generic name ">
                </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
    </div>
    <div id="confirm-content" style="display:none">
        <div class="confirmModal_content">
            Are you sure to confirm this record?
        </div>
        <div class="confirmModal_footer">
            <button type="button" class="btn red" data-confirmmodal-but="cancel">Cancel</button>
            <button type="button" class="btn green" data-confirmmodal-but="ok">Confirm</button>
        </div>
    </div>
    <div id="dialog_content" class="dialog_content" style="display:none">
        <div class="dialogModal_header"></div>
        <div class="dialogModal_content"></div>
    </div>
</div>

{% javascripts
'assets/plugins/jquery-1.10.2.min.js'
'assets/plugins/jquery-migrate-1.2.1.min.js'
'assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'
'assets/plugins/jquery-ui/jquery.ui.droppable.js'
'assets/plugins/jquery-ui/jquery.ui.autocomplete.js'
'assets/plugins/jquery-ui/jquery.ui.menu.min.js'
'assets/plugins/jquery-ui/jquery.ui.position.min.js'
'assets/plugins/jquery-ui/jquery.ui.widget.min.js'
'assets/plugins/jquery-tree/src/js/jquery.tree.js'
'assets/plugins/bootstrap/js/bootstrap.min.js'
'assets/plugins/bootstrap/js/bootstrap.typeahead.js'
'assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
'assets/plugins/jquery.blockui.min.js'
'assets/plugins/jquery.cookie.min.js'
'assets/plugins/uniform/jquery.uniform.min.js'
'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js'
'assets/plugins/select2/select2.min.js'
'assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js'
'assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
'assets/plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js'
'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
'assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
'assets/plugins/bootstrap-daterangepicker/moment.min.js'
'assets/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js'
'assets/plugins/clockface/js/clockface.js'
'assets/plugins/bootstrap-daterangepicker/date.js'
'assets/plugins/bootstrap-daterangepicker/daterangepicker.js'
'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js'
'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js'
'assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js'
'assets/plugins/jquery.input-ip-address-control-1.0.min.js'
'assets/plugins/jquery-multi-select/js/jquery.multi-select.js'
'assets/plugins/bootstrap-modal/js/bootstrap-modal.js'
'assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
'assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js'
'assets/plugins/bootstrap-switch/static/js/bootstrap-switch.js'
'assets/plugins/jquery-tags-input/jquery.tagsinput.min.js'
'assets/plugins/plupload/js/plupload.full.js'
'assets/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js'
'assets/plugins/multi-datepicker/js/jquery.ui.datepicker.js'
'assets/plugins/multi-datepicker/js/jquery.ui.core.js'
'assets/plugins/multi-datepicker/js/jquery-ui.multidatespicker.1.js'
'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js'
'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js'
'assets/plugins/fuelux/js/spinner.min.js'
'assets/plugins/jquery-selectbox/js/jquery.selectBox.js'
'assets/plugins/data-tables/jquery.dataTables.min.js'
'assets/plugins/data-tables/dataTables.fixedColumns.min.js'
'assets/plugins/data-tables/DT_bootstrap.js'
'assets/scripts/table-managed.js'
'assets/plugins/jquery.mockjax.js'
'assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js'
'assets/plugins/bootstrap-editable/inputs-ext/address/address.js'
'assets/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js'
'assets/template/plugin/validation/jquery.validate-1.14.0.min.js'
'assets/template/plugin/validation/jquery-validate.bootstrap-tooltip.min.js'
'assets/plugins/jquery.confirm.min.js'
'assets/plugins/remodal/js/remodal.js'
'assets/plugins/pop-modal/popModal.js'
'assets/plugins/plupload/js/plupload.full.js'
'assets/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js'
'assets/plugins/fancybox/source/jquery.fancybox.pack.js'
'assets/template/plugin/matchHeight/height-match.js'
'assets/plugins/calculator/SimpleCalculadorajQuery.js'
'assets/plugins/colorpicker/js/evol.colorpicker.min.js'
'assets/plugins/jquery-ui/sortable.js'
'assets/plugins/jquery-checkradios/js/jquery.checkradios.min.js'
'assets/template/plugin/matchHeight/height-match.js'
'assets/module/numeric/jquery.numeric.js'
'assets/print/js/print.js'
'assets/scripts/jquery.mjs.nestedSortable.js'
'assets/scripts/nested-sortable.js'
'assets/scripts/app.js'
'assets/scripts/charts.js'
'assets/scripts/ui-modals.js'
'assets/scripts/form-editable.js'
'assets/js/jquery.cookie-1.4.1.min.js'
'assets/scripts/ui-jqueryui.js'
'assets/scripts/form-components.js'
'assets/scripts/table-advanced.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/ckeditor/config.js') }}"></script>
{% endjavascripts %}
{% block javascriptBlock %}
{% endblock %}
{#'http://bp.yahooapis.com/2.4.21/browserplus-min.js'#}

<script type="text/javascript">

    jQuery(document).ready(function () {

        {% block documentready %}
            App.init();
            FormComponents.init();
            TableAdvanced.init();
        $('.select2').select2();
        $('.selectbox').selectBox();
        $('.selectbox select').selectBox();
        $(".numeric").numeric();
        $(".mask_number").numeric();
        $(".invoice-no").inputmask("mask", {"mask": "9999-99-99-9999"}); //specifying fn & options
        $(".batch-year").inputmask("mask", {"mask": "9999"}); //specifying fn & options
        $(".mobile").inputmask("mask", {"mask": "99999-999-999"}); //specifying fn & options
        $(".phone").inputmask("mask", {"mask": "99-999999"}); //specifying fn & options
        $("#schedule").inputmask("mask", {"mask":"dd/mm/yyyy"}); //specifying fn & options
        $( ".date-picker" ).datepicker({
            dateFormat: "yy-mm-dd"
        });

        $( ".datePicker" ).datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        }).inputmask('dd/mm/yyyy');

        $('.multiselect').multiselect();

       $('.toggle').click(function(){
            var id = $(this).attr('id');
            $("#show-"+id).slideToggle(100);
        }).toggle( function() {
            $(this).children("span").text("[-]");
        }, function() {
            $(this).children("span").text("[+]");
        });

        $('.current_ancestor').addClass('active');

        $('.mobileBankHide').hide();
        $('.bankHide').hide();
        $(document).on('change', '.transactionMethod', function() {

            var transactionMethod = $(this).val();
            if(transactionMethod == 2 ){
                $('.bankHide').show(500);
                $('.mobileBankHide').hide(500);
            }else if(transactionMethod == 3 ){
                $('.bankHide').hide(500);
                $('.mobileBankHide').show(500);
            }else{
                $('.bankHide').hide(500);
                $('.mobileBankHide').hide(500);
            }

        });

        $('.horizontal-form').submit(function(){
            $("button[type='submit']", this)
                .html("Please Wait...")
                .attr('disabled', 'disabled');
            //setTimeout(function(){ location.reload() }, 3000);
            return true;
        });

        $('.form-horizontal').submit(function(){
            $("button[type='submit']", this)
                .html("Please Wait...")
                .attr('disabled', 'disabled');
            //setTimeout(function(){ location.reload() }, 3000);
            return true;
        });

        $('body').on('click', '.btn-cookie', function(el) {
            var val = $(this).attr('id');
            Cookies.set('productList', val);
            setTimeout(location.reload(), 1000);
        });

        $(document).on('change', '.targetTo', function() {

            var targetTo = $(this).val();
            $('.hide').hide();
            $('#'+targetTo).show();

        });

        $(document).on('click', '#show-messenger', function() {

            $('#messenger-block').show();
            $('#calculator-block').hide();
        });

        $('#fb-msg-close').click(function(){

            $('#messenger-block').hide();
        });

         $('#show-calculator').click(function(){
             $('#calculator-block').show();
             $('#messenger-block').hide();
        });


        $( ".select2GenericMedicine" ).autocomplete({

            source: function( request, response ) {
                $.ajax( {
                    url: Routing.generate('medicine_search_medicine_generic_complete'),
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                } );
            },
            minLength: 2,
            select: function( event, ui ) {
                $("#medicineId").val(ui.item.id); // save selected id to hidden input

            }
        });

        $(document).on('click', '#calculator-close', function() {
            $('#calculator-block').hide();
        });

        $("#micalc").Calculadora({'EtiquetaBorrar':'Clear'});

        {% endblock %}
    });
    /*if(CKEDITOR) {
        CKEDITOR.replace('page_content', {
            extraPlugins = 'doksoft_backup,doksoft_stat,zoom,justify';
            filebrowserBrowseUrl : '/assets/plugins/ckeditor/plugins/filemanager/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            filebrowserImageBrowseUrl : '/assets/plugins/ckeditor/plugins/filemanager/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
        });
    }*/




</script>{##}
<style>
    .action li a.btn{
        text-align: left!important;
    }
    .header .brand{
        width: auto!important;
    }
    .ui-autocomplete{
        width: 90% !important;
    }
    div.checker {
        margin-right: 15px;
    }
</style>
{#{% block footer %}
    <div class="footer">
        <div class="footer-inner">
            {{ "now"|date("Y") }} &copy; Created By Umar Biz Limited.
        </div>
        <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
        </div>
    </div>
{% endblock footer %}#}
<!-- WhatsHelp.io widget -->
{#<script type="text/javascript">


    window.fbAsyncInit = function() {
        FB.init({
            appId      : '369724209850316',
            xfbml      : true,
            version    : 'v2.8'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>#}
<style>
    .page-sidebar.in{
        height: auto!important;
    }
    .fb-messenger , .calculator-messenger {
        position: fixed;
        bottom: 32px;
        right: 20px;
        z-index: 100;
    }
    .panel-messenger {
        border-color: #4d90fe;
    }
    .panel-messenger > .panel-heading , .panel-calculator > .panel-heading {
        color: #fff;
        background-color: #4d90fe;
        border-color: #4d90fe;
        padding: 10px;
    }
    .panel {
        position: relative;
    }
    #messenger-block , #calculator-block{
        display: none;
        width: 400px;
    }
    .mbottom:nth-child(5),.mbottom:nth-child(9) ,.mbottom:nth-child(13) {
       margin-left: 0!important;
    }
    .txtr{
        margin-top: 10px;
    }

    ul.page-sidebar-menu > li.current_ancestor > ul > li.current_ancestor > a{
        background: #000!important;
    }

    .confirmModal .confirmModal_body{
        border: 1px solid #0362fd;
    }
    @media (max-width: 979px) {
        .navbar .brand {
            display: none !important;
        }
        ul.page-sidebar-menu > li.current_ancestor > ul > li.current_ancestor > a{
            background: #000!important;
        }
        .page-content .breadcrumb{
            display:none !important;
        }
        .page-title{
            margin: 0!important;
        }
        .showing-overview{
            display: none !important;
        }
        .pagination ul>li>a, .pagination ul>li>span{
            padding: 4px 23px;
        }
    }

    .dialogModal .dialogModal_top .dialogModal_header{
        width: 100%!important;
    }
    .dialogModal .dialogModal_top .dialogModal_header .close{
        background-image: none!important;
    }
    .dialogModal .dialogModal_body{
        width: 100%!important;
    }
    .dialogModal .dialogModal_content{

    }
    .dialogModal_content .mini{
        height: 20px!important;
    }
    .select2-results .select2-highlighted {
        background: #217ebd !important;
        color: #ffffff;
    }

</style>
{#<div class="fb-messenger">
    <div id="messenger-block">
        <div class="panel panel-messenger">
            <div class="panel-heading"><b>Facebook Messenger</b> <a id="fb-msg-close"  class="pull-right btn red mini"><i class="icon-remove icon-white"></i></a></div>
            <div class="panel-body">
                <div class="fb-page"
                     data-href="https://www.facebook.com/Terminalbd-304478469740886"
                     data-tabs="messages"
                     data-width="400"
                     data-height="400"
                     data-small-header="true"
                     data-adapt-container-width="false"
                     data-hide-cover="true"
                     data-show-facepile="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote>
                            <a href="http://www.terminalbd.com">Message Us</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}
<div class="calculator-messenger">
    <div id="calculator-block">
        <div id="micalc"></div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111963509-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111963509-1');
</script>
<!-- /WhatsHelp.io widget -->
</body>
</html>
