{% extends ':mobile:base.html.twig' %}
{% block body %}
    <div class="content">
        <!-- content -->

        <div class="container" >

            <h3>Contact us</h3>
            {% if entity.user.contactPage.content is defined and entity.user.contactPage.content is not null %}
            <div class="decoration"></div>
            {{ entity.user.contactPage.content }}
            <div class="decoration"></div>
            {% endif %}
            <div class="one-half-responsive ">
                <h4>Contact Information</h4>
                <p>
                    <strong>Office</strong><br>
                    Address: {{ entity.contactPage.address1 }}<br>
                    {{ entity.contactPage.thana.name }}<br>
                    {{ entity.contactPage.district.name }}-{{ entity.contactPage.postalCode }}<br>
                </p>
                {% if entity.contactPage.startHour %}
                    <p>
                        <strong>Office hour</strong><br>
                        {{ entity.contactPage.startHour }} To {{ entity.contactPage.endHour }}
                    </p>
                {% endif %}
                <p><strong>Weekly off day</strong><br>{{ entity.contactPage.weeklyOffDay }}</p>
                <p>
                    <strong>Contact Information</strong><br>
                    <a href="javascript:" class="contact-person">{{ entity.contactPage.contactPerson|raw }}</a><br/>
                    {% if entity.contactPage.designation %}<a href="javascript:" class="contact-person">{{ entity.contactPage.designation|raw }}</a>{% endif %}</br>
                    {% if(entity.contactPage.displayPhone == 1) %}
                        <a href="tel:+ 088 {{ entity.mobile }}" class="contact-call">Mobile: + 088 {{ entity.mobile }}</a>
                    {% endif %}
                    {% if(entity.contactPage.displayEmail == 1) %}
                        <a href="mailto:{{ entity.email }}" class="contact-email">{{ entity.email }}</a>
                    {% endif %}
                    {% if(entity.contactPage.additionalPhone) %}<a href="javascript:" class="contact-call">Additional Phone: + 02 {{ entity.contactPage.additionalPhone|raw }}</a>{% endif %}
                    {% if(entity.contactPage.fax) %}<a href="javascript:" class="contact-call">Fax: + 02{{ entity.contactPage.fax|raw }}</a>{% endif %}
                    {% if(entity.contactPage.email) %}<a href="mailto:{{ entity.contactPage.email|raw }}"  class="contact-mail">Email: {{ entity.contactPage.email|raw }}</a>{% endif %}

                </p>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">
                <div class="contact-form no-bottom">
                    <h4>Send us an email!</h4>
                    <div class="formSuccessMessageWrap loading" id="formSuccessMessageWrap">
                        <div class="big-notification blue-notification">
                            <a href="#" class="close-big-notification">x</a>
                            <p>Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thank you!</p>
                        </div>
                    </div>

                    <form action="" method="post" class="contactForm" id="contactForm">
                        <fieldset>

                            <div class="formFieldWrap">
                                <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
                                <input type="text" name="name" value="" class="contactField requiredField" id="contactNameField"/>
                            </div>
                            {% if(entity.contactPage.askForSms == 1) %}
                                <div class="formFieldWrap">
                                    <label class="field-title" for="">Mobile: <span>(optional)</span></label>
                                    <input type="text" name="mobile" value="" class="contactField requiredField requiredEmailField" id="mobile"/>
                                </div>
                            {% endif %}
                            {% if(entity.contactPage.askForEmail == 1) %}
                                <div class="formFieldWrap">
                                    <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(optional)</span></label>
                                    <input type="text" name="email" value="" class="contactField requiredField" id="email"/>
                                </div>
                            {% endif %}
                            <div class="formTextareaWrap">
                                <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Message: <span>(required)</span></label>
                                <textarea name="content" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                            </div>
                            <input type="hidden" name="user" value="{{ entity.user }}">
                            <div class="formSubmitButtonErrorsWrap">
                                <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="SUBMIT" data-formId="contactForm"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .contact-person{
            color: #000033;
            cursor: none;
        }
        .blue-notification{
            display: none;
        }

    </style>

{% endblock %}

{% block documentready %}

    {{ parent() }}


    {#<script>#}

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };

    $('#email').focusout(function(){

        var emil=$('#email').val();

        if( ! isValidEmailAddress( emil ) ) {
            $('.contactEmailField span').val('').addClass('error-input');
            $('.contactEmailField span').html(emil+' is not valid e-mail address.');
        }else{
            $('.contactEmailField span').removeClass('error-input');
            $('.contactEmailField span').html('');
        }

    });


    $('#contactForm').validate({

        rules: {
            name: {
                required: true
            },
            content: {
                required: true
            },
        },
        messages:{
            name:{
                required: "Please enter your name"
            },
            content:{
                required: "Please enter your comments"
            }
        },
        submitHandler: function(form) {

            $.ajax({
                url:'{{ path('mobile_contact_email',{'subdomain': entity.user.globalOption.subDomain,'slug':'contact' }) }}',
                type: "POST",
                beforeSend: function() {
                    $('.loading').show();
                },
                data: $('form#contactForm').serialize(),
                success: function(response) {
                    $('.blue-notification').fadeIn(10000);
                    $('#formSuccessMessageWrap').show();
                    $('fieldset').closest('form').find("input[type=text], textarea").val("");
                }
            });
        }

    });


{% endblock %}


