{% extends ':mobile:introbase.html.twig' %}
{% block body %}
    <div class="homepage-wrapper">
        <img src="{{ image(entity.templateCustomize.webPath('logo')).resize(50,40) }}" onclick="window.location='{{ path('mobile_home',{'subdomain': entity.user.globalOption.subDomain }) }}'" class="homepage-logo" alt="/{{ entity.name }}">

        <em class="homepage-logo-sub">Welcome: {{ entity.name }}</em>
        <div class="homepage-navigation">
            <a class="home-icon"    href="homepage.html">Homepage</a>
            <a class="type-icon"    href="tel:+88 {{ entity.mobile }}">Call</a>
            <a class="jquery-icon"  href="{{ path('mobile_sms',{'subdomain': entity.subDomain })}}">SMS</a>
            <a class="mail-icon"    href="mailto:{{ entity.email }}" >Email</a>
            <a class="folio-icon"   href="{{ path('mobile_maps',{'subdomain': entity.subDomain })}}">Find</a>
            <a class="mail-icon"	href="{{ path('mobile_contact',{'subdomain': entity.subDomain })}}">Contact</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="homepage-background">
        <div class="bg-pattern"></div>
        <div class="bg-overlay"></div>
        {% if(entity.templateCustomize.webPath('bgImage') is defined) %}
        <img id="bg" src="{{ image(entity.templateCustomize.webPath('bgImage')).resize() }}" alt="img">
        {% endif %}
    </div>
 <style>
     #bg {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
     }

 </style>
{% endblock %}
{% block documentready %}

    $('.modalOpen').click(function(){

        var id = $(this).attr('id');
        var inst = $("[data-remodal-id=modal"+id+"]").remodal();
        inst.open();

    });

{% endblock %}




