{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home"><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="javascript:void(0);">Cart Details</a></li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-body-top" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'ProductDetails','position':'body-top'}) %}
        </section>
    {% endif %}
    <div class="clearfix"></div>

    <style>

        #products .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        }
        .media-left, .media>.pull-left{
            margin-right: 10px;
        }
        .table .media{
            border-bottom: none;
        }
        .table .input-group {
            width: 154px;
        }
        .input-group .input-number{
            width:75px;
            text-align: center;
            font-weight: bold;
        }
        .table h5.media-heading {
            color: #786767;
        }
        .table .media-object{
            width:95px;
            height:85px;
            border: 1px solid #d2d2d2;
        }
        #loginMsg{
            border: 1px solid transparent;
            margin-bottom: 10px;
            padding: 6px;
            width: 100%;
        }


    </style>
    <section >
        <div class="container">
            <div class="row">
                <style>
                    .media{
                        padding-bottom: 0;
                    }
                </style>
                <div class="col-sm-12 col-md-12">
                    <table class="table table-hover table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="text-center">Price</th>
                            <th>Quantity</th>
                            <th class="text-left">SubTotal</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in cart.contents %}

                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        {% if product.productImg is not empty %}
                                            <a class="pull-left" href="#"> <img class="media-object" src="{{ product.productImg }}"> </a>
                                        {% else %}
                                            <a class="pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" > </a>
                                        {% endif %}
                                        <div class="media-body">
                                            <h5 class="media-heading">{{ product.name }}</h5>
                                            <h5 class="media-heading">Size of Product: {{ product.size }}</h5>
                                            {% if product.color is not empty %}<h5 class="media-heading">Color: {{ product.color }}</h5>{% endif %}
                                            {% if product.brand is not empty %}<h5 class="media-heading"> by {{ product.brand }}</h5>{% endif %}
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ product.price }}</strong></td>
                                <td class="col-sm-1 col-md-1 text-center" >
                                    <form class="addCart">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quantity" data-id="{{ product.rowid }}" data-url="/cart/product-update/{{ product.rowid }}" data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" id="quantity-{{ product.rowid }}" class="form-control input-number" value="{{ product.quantity }}" min="1" max="100" >
                                            <span class="input-group-btn">
                                                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quantity" data-id="{{ product.rowid }}"  data-url="/cart/product-update/{{ product.rowid }}" data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                      <span class="glyphicon glyphicon-plus"></span>
                                                  </button>
                                            </span>
                                        </div>
                                    </form>
                                </td>
                                <td class="col-sm-1 col-md-1 text-left"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ product.price*product.quantity }}</strong></td>
                                <td class="col-sm-1 col-md-1 text-left">
                                    <a  class="btn btn-danger remove-cart btn-sm" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}">
                                        <span class="glyphicon glyphicon-trash " ></span>&nbsp;
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="3" class="col-sm-12 col-md-12"><h3>Shopping  Total Amount</h3></th>
                        </tr>
                        <tr>
                            <td colspan="3" class="col-sm-1 col-md-1"><h5>Subtotal</h5></td>
                            <td colspan="2" class="text-left col-sm-1 col-md-1"><h5><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></h5></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col-sm-1 col-md-1"><strong>Coupon Code</strong></td>
                            <td colspan="2" class="text-left col-sm-1 col-md-1"><input type="text" style="width:150px; border-radius:0" class="form-control" name="couponCode" id="couponCode"></td>
                        </tr>
                        <tr>
                            <td  colspan="3" class="col-sm-1 col-md-1"><strong>Grand Total</strong></td>
                            <td colspan="2" class="col-sm-1 col-md-1 text-left"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right" >
                                <a href="{{ path(globalOption.subDomain ~'_webservice_product') }}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </a>
                            </td>
                            <td colspan="2" class="text-left" >
                                {% if  app.user %}
                                    <a href="{{ path('order_checkout',{'shop':globalOption.uniqueCode}) }}" type="button" class="btn btn-success">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn search-box-bg login-preview">
                                        Login & Checkout <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                         </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>

    <!-- Modal -->
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}

    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/product.js'
    '@FrontendBundle/Resources/public/template/desktop/js/e-commerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('.hanger-remove-cart').click( function() {

        var url = $(this).attr("data-url");
        var id = $(this).attr("id");
        $.ajax({
        url:url ,
        type: 'GET',
        success: function(response){
        obj = JSON.parse(response);
        $('.item-remove-'+id).remove();
        $('.totalItem').html(obj['totalItem']);
        $('.totalAmount').html(obj['cartTotal']);
        $('.item-list').html(obj['salesItem']);
        $('.vsidebar .txt').html(obj['cartResult']);
        }
        });
        e.preventDefault();

    });

    $("#loginForm").validate({

        rules: {
            "_username": {required: true},
            "_password": {required: true},
        },

        messages: {

            "_username":"Enter your mobile name",
            "_password": "Enter valid password",

        },

        tooltip_options: {
            "_username": {placement:'top',html:true},
            "_password": {placement:'top',html:true},
        },
        submitHandler: function(form) {

            $.ajax({

                url         : $(form).attr( 'action' ),
                type        : $(form).attr( 'method' ),
                data        : new FormData(form),
                processData : false,
                contentType : false,
                dataType: 'json',
                success: function (data) {
                    if (data.has_error) {
                        $('#loginMsg').addClass('alert-danger');
                        $('.alert-danger').html('There was an error with your Mobile no/Password combination. Please try again.');
                    }else {
                        $('#loginMsg').removeClass('alert-danger');
                        $('#loginMsg').addClass('alert-success');
                        $('.alert-success').html('Yor are login success.');
                        setTimeout(function () {
                            location.reload();
                        }, 3000)

                    }
                }
            });
        }
    });


    $("#loginformxyz").submit(function (e) {

        e.preventDefault();
        var $this = $(e.currentTarget),
        inputs = {};

        // Send all form's inputs
        $.each($this.find('input'), function (i, item) {
        var $item = $(item);
        inputs[$item.attr('name')] = $item.val();
        });

        // Send form into ajax
        $.ajax({
        url: $this.attr('action'),
        type: 'POST',
        dataType: 'json',
        data: inputs,
        success     : function(data, status, object) {
            alert('Success');
            $('#loginMsg').addClass('alert-success');
            $('.alert-success').html('Your login successfuly')

        },
        error: function(data, status, object){
            alert('Invalid');
            $('#loginMsg').addClass('alert-danger');
            $('.alert-danger').html(data.error)
        }

        });
    });


    $('.btn-number').click(function(e){

        e.preventDefault();

        url = $(this).attr('data-url');
        productId = $(this).attr('data-text');
        price = $(this).attr('data-title');
        fieldId = $(this).attr('data-id');
        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $('#quantity-'+$(this).attr('data-id'));
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                if(currentVal > input.attr('min')) {
                    var existVal = (currentVal - 1);
                    input.val(existVal).change();
                    $.get( url,{ quantity:existVal,'productId':productId,'price':price})
                    .done(function( data ) {
                        location.reload();
                    });
                }
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    var existVal = (currentVal + 1);
                    input.val(existVal).change();
                    $.get( url,{ quantity:existVal,'productId':productId,'price':price})
                    .done(function(data){
                        if(data == 'success'){
                            location.reload();
                        }else{
                            input.val(existVal-1).change();
                            alert('This product quantity  is not over current quantity.')
                        }

                    });
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });


    $('.input-number').focusin(function(){
    $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
    $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
    alert('Sorry, the minimum value was reached');
    $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
    $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
    alert('Sorry, the maximum value was reached');
    $(this).val($(this).data('oldValue'));
    }


    });
    $(".input-number").keydown(function (e) {

    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
    // Allow: Ctrl+A
    (e.keyCode == 65 && e.ctrlKey === true) ||
    // Allow: home, end, left, right
    (e.keyCode >= 35 && e.keyCode <= 39)) {
    // let it happen, don't do anything
    return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
    e.preventDefault();
    }
    });

  {#  $("#plus").click(function(){

    var newValuePlus = parseInt($("#textnumber").val()) + 1;
    if ( newValuePlus > 100 ) return;

    $("#textnumber").val(newValuePlus);

    });


    $("#minus").click(function(){

    var newValueMinus = parseInt($("#textnumber").val()) - 1;
    if ( newValueMinus < 0 ) return;

    $("#textnumber").val(newValueMinus);
    });

    $("#points").change(function(){

    var newValue = $(this).val();
    $("#textnumber").val(newValue);

    });
    $("#textnumber").change(function(){

    var newValue = $(this).val();
    $("#points").val(newValue);

    });#}
{% endblock %}