{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home"><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="javascript:void(0);">Cart Details</a></li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-body-top" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'ProductDetails','position':'body-top'}) %}
        </section>
    {% endif %}
    <div class="clearfix"></div>
    <section >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-hover table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="text-center">Price</th>
                            <th>Quantity</th>
                            <th class="text-left">SubTotal</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in cart.contents %}

                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        {% if product.productImg is not empty %}
                                            <a class="pull-left" href="#"> <img class="media-object" src="{{ product.productImg }}"> </a>
                                        {% else %}
                                            <a class="pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" > </a>
                                        {% endif %}
                                        <div class="media-body">
                                            <h5 class="media-heading">{{ product.name }}</h5>
                                            <h5 class="media-heading">Size of Product: {{ product.size }}</h5>
                                            {% if product.color is not empty %}<h5 class="media-heading">Color: {{ product.color }}</h5>{% endif %}
                                            {% if product.brand is not empty %}<h5 class="media-heading"> by {{ product.brand }}</h5>{% endif %}
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ product.price }}</strong></td>
                                <td class="col-sm-1 col-md-1 text-center" >
                                    <form class="addCart">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-danger btn-number-cart" data-type="minus" data-field="quantity" data-id="{{ product.rowid }}" data-url="/cart/product-update/{{ product.rowid }}" data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" readonly="readonly" name="quantity" id="quantity-{{ product.rowid }}" class="form-control input-number" value="{{ product.quantity }}" min="1" max="100" >
                                            <span class="input-group-btn">
                                                  <button type="button" class="btn btn-success btn-number-cart" data-type="plus" data-field="quantity" data-id="{{ product.rowid }}"  data-url="/cart/product-update/{{ product.rowid }}" data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                      <span class="glyphicon glyphicon-plus"></span>
                                                  </button>
                                            </span>
                                        </div>
                                    </form>
                                </td>
                                <td class="col-sm-1 col-md-1 text-left"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ product.price*product.quantity }}</strong></td>
                                <td class="col-sm-1 col-md-1 text-left">
                                    <a  class="btn btn-danger remove-cart btn-sm" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}">
                                        <span class="glyphicon glyphicon-trash " ></span>&nbsp;
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="col-sm-1 col-md-1"><strong>Subtotal</strong></td>
                            <td colspan="2" class="text-left col-sm-1 col-md-1"><h5><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></h5></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col-sm-1 col-md-1"><strong>Coupon Code</strong></td>
                            <td colspan="2" class="text-left col-sm-1 col-md-1"><input type="text" style="width:150px; border-radius:0" class="form-control" name="couponCode" id="couponCode"></td>
                        </tr>
                        <tr>
                            <td  colspan="3" class="col-sm-1 col-md-1"><strong>Grand Total</strong></td>
                            <td colspan="2" class="col-sm-1 col-md-1 text-left"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right" >
                                <a href="{{ path(globalOption.subDomain ~'_webservice_product') }}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </a>
                            </td>
                            <td colspan="2" class="text-left" >
                                {% if  app.user %}
                                    {% if cart.total > 0 %}
                                    <a href="{{ path('order_checkout',{'shop':globalOption.uniqueCode}) }}" type="button" class="btn btn-success">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="btn search-box-bg login-preview">
                                        Login & Checkout <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <!-- Modal -->
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/product.js'
    '@FrontendBundle/Resources/public/template/desktop/js/e-commerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}