<nav class="navbar navbar-inverse ">
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-header-top" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':pageName,'position':'header-top'}) %}
        </section>
    {% endif %}
    <section id="header">
        <div class="container">
            <div class="navbar-header">
                <div class="col-md-3">
                    <a class="img-logo"
                       href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.webPath('logo') is not empty %}
                            <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"
                                 alt="{{ globalOption.name }}" />{% else %}{{ globalOption.name }}{% endif %}</a>
                </div>
                <div class="col-md-9">
                    {% if globalOption.templateCustomize.showSearch == 0 %}
                        <div class="row bs-example-form" id="header-form">
                            <div class="col-md-10 col-lg-10">
                                <form class="bs-example" action="{{ path('webservice_product',{'subdomain':globalOption.subDomain}) }}"  method="get" data-example-id="input-group-segmented-buttons">
                                    <div class='input-group search-box' >
                                        <div class='input-group-field'>
                                            {{ categoryTree|raw }}
                                        </div>
                                        <input type='text' class='form-control serarch-keyword' style="width: 351px" name="product" id="product" value="{% if searchForm.product is defined %}{{ searchForm.product }}{% endif %}"  placeholder="Find Your Favorite Products"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-group btn-group-search search-box-bg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="input-group dropdown navbar-right"  >
                                    <div class="input-group-btn">
                                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_ajax_details') }}" id="view-cart-data"  class="btn btn-group btn-cart dropdown-toggle search-box-bg" data-toggle="dropdown"  aria-expanded="false"><span
                                                    class="glyphicon glyphicon-shopping-cart"></span></a>
                                        <a  href="javascript:" class="btn dropdown-toggle btn-warning" data-toggle="dropdown" role="button"
                                            aria-expanded="false"> <span class="label label-warning badge totalItem "  >{{ cart.total_items }}</span></a>
                                        <a style="border-left: 1px solid #dddddd" type="button" class="btn btn-group search-box-bg login-preview" ><span class="glyphicon glyphicon-lock"></span></a>
                                        <div class="item-list">
                                            <ul class="dropdown-menu dropdown-cart" role="navbar-right">
                                                {% if  cart.contents is not empty %}
                                                     {% for product in cart.contents %}
                                                        <li id="item-remove-{{ product.rowid }}">
                                                              <span class="item">
                                                                <span class="item-left">
                                                                    {% if product.productImg is not empty %}
                                                                        <img src="{{ image(product.productImg).scaleResize(50,50) }}" alt=""/>
                                                                    {% endif %}
                                                                    <span class="item-info">
                                                                        <span>{{ product.name|truncate(15) }}</span>
                                                                        <span>Qnt&nbsp;{{ product.quantity }}</span>
                                                                        <span><strong>{{ globalOption.ecommerceConfig.currency }}
                                                                                &nbsp;{{ product.price }}</strong></span>
                                                                    </span>
                                                                </span>
                                                                <span class="item-right">
                                                                    <button id="{{ product.rowid }}"
                                                                            data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}"
                                                                            class="btn btn-xs btn-danger pull-right hunger-remove-cart"><span
                                                                                class="glyphicon glyphicon-trash"></span></button>
                                                                </span>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                                <li class="divider"></li>
                                                <li><a class="text-center" href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}">View to Busket</a></li>
                                            </ul>
                                        </div>
                                     </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
    <section id="menu-bar" class="sticky">
        <div class="container">
            {{ include('FrontendBundle:Template/Desktop/Menu:menu.html.twig')}}
        </div>
    </section>
</nav>
<!-- BEGIN NAVIGATION -->

<!-- END NAVIGATION -->


