<nav class="navbar navbar-inverse ">
    <section id="top-bar">
        <div class="container" id="menu">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="box">
                        <ul class="info-links">
                            {% if globalOption.templateCustomize.showCalendar == 1 %}
                                <li><i class="fa fa-calendar"></i>&nbsp;{{ "now"|date("F j, Y") }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                <li><i class="fa fa-envelope"></i>&nbsp;{{ globalOption.email }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showMobile == 1 %}
                                <li><i class="fa fa-mobile"></i>&nbsp;{{ globalOption.mobile }}</li>{% endif %}
                        </ul>
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <div class="box">
                        <ul class="social-links">
                            {% if globalOption.facebookPageUrl == 1 %}
                                <li><a href="https://{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a>
                                </li>{% endif %}
                            {% if globalOption.templateCustomize.showSearch == 1 %}
                                <li><a href="javascript:" id="searchEvent"><i class="fa fa-search"></i></a>
                                </li>{% endif %}
                            <li><a href="javascript:" class="register-btn"><i class="fa fa-sign-in"></i></a></li>
                            {% if  app.user %}
                                <li><a href="{{ path('fos_user_security_logout') }}" class=""><i
                                                class="fa fa-unlock-alt"></i></a></li>
                            {% else %}
                                <li><a href="javascript:" class="login-preview"><i class="fa fa-lock"></i></a></li>
                            {% endif %}
                            {% if globalOption.ecommerceConfig.cart == 1 %}
                                <li>
                                    <a href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}"
                                       class=""><i class="fa fa-shopping-cart"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-top')  %}
        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'header-top'}) %}
    {% endif %}
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-top')  %}
        {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'header-top'}) %}
    {% endif %}
    <section id="header">
        <div class="container">
            <div class="navbar-header">
                <div class="col-md-3">
                    <a class="img-logo"
                       href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.webPath('logo') is not empty %}
                            <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"
                                 alt="{{ globalOption.name }}" />{% else %}{{ globalOption.name }}{% endif %}</a>
                </div>
                <div class="col-md-9">
                    {% if globalOption.templateCustomize.showSearch == 1 %}
                        <div class="row bs-example-form" id="header-form">
                            <div class="col-md-9 col-lg-9">
                                <form class="bs-example" action="{{ path(globalOption.subDomain ~ '_webservice_product') }}"  method="get" data-example-id="input-group-segmented-buttons">
                                    <div class='input-group search-box' >
                                        <div class='input-group-field'>
                                            {{ categoryTree|raw }}
                                        </div>
                                        <input type='text' class='form-control serarch-keyword' style="width: 300px" name="product" id="product" value="{% if searchForm.product is defined %}{{ searchForm.product }}{% endif %}"  placeholder="Find Your Favorite Products"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-group btn-group-search search-box-bg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="input-group text-right" style="margin-top: 2px" >
                                    <div class="input-group-btn">
                                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}" data-toggle="tooltip" title="View Shopping Bag Details"  class="btn btn-group btn-success"><span  class="glyphicon glyphicon-shopping-cart"></span></a>
                                        <a  href="javascript:" data-toggle="tooltip" title="View Shopping Items"  id="cartItem"  class="btn btn-warning"> <span class="label label-warning badge totalItem "  >{{ cart.total_items }}</span></a>
                                        {% if app.user %}
                                            <a href="/logout" type="button" data-toggle="tooltip" title="System Logout" class="btn btn-group btn-danger" ><span class="glyphicon glyphicon-lock"></span></a>
                                            <a href="{{ path('domain_customer_homepage',{'shop':globalOption.slug}) }}" data-toggle="tooltip" title="Go To Your Order Panel" type="button" class="btn btn-group btn-primary" ><span class="glyphicon glyphicon-user"></span></a>
                                        {% else %}
                                            <a type="button" class="btn btn-group btn-primary login-preview"  data-toggle="tooltip" title="System Login" ><span class="glyphicon glyphicon-lock"></span></a>
                                        {% endif %}
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="menu-bar" class="sticky">
        <div class="container">
            {{ include('FrontendBundle:Template/Desktop/Menu:menu.html.twig')}}
        </div>
    </section>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-bottom')  %}
        {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'header-bottom'}) %}
    {% endif %}
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-bottom')  %}
        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'header-bottom'}) %}
    {% endif %}

</nav>

<!-- BEGIN NAVIGATION -->

<!-- END NAVIGATION -->


