{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <section class="siteBgColor">
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home"><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="javascript:void(0);">Product</a></li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>

{#    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <div class="container bodyColor" >
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id ,'position':'header-bottom'}) %}
        </div>
    {% endif %}#}
    <div class="clearfix"></div>
    <section>
        <div class="container bodyColor" >
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' %}
            <div class="col-md-3 sidebar-top" >
                <div class="row">
                    <div class="col-md-12 paginate">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-filter"></span>&nbsp;REFINE</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.templateCustomize.showSidebar == 1 %} col-md-9 {% else %}col-md-12 {% endif %}">
                <div class="row paginate">
                    <div class="col-md-6">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-list"></span>&nbsp;{% if titleName is defined and titleName is not empty %}{{ titleName }}{% else %}ALL PRODUCT{% endif %}</div>
                   </div>
                    </div>
                    <div class="col-md-6 navbar-right">
                        <form class="form-inline">
                            <div class="form-group paginate-form-group">
                                <label for="exampleInputName2">Sort By: </label>
                                {% set sortBy = app.request.get('sortBy') %}
                                <select name="sortBy" id="sortBy" class="input-selector" onchange='this.form.submit()'>
                                    <option>-- Position --</option>
                                    <option {% if sortBy == ''  %} selected="selected" {% endif %} value="" >Default</option>
                                    <option {% if sortBy == 'product.name=?=ASC'  %} selected="selected" {% endif %} value="product.name=?=ASC">Name (A - Z)</option>
                                    <option {% if sortBy == 'product.name=?=DESC'  %} selected="selected" {% endif %} value="product.name=?=DESC">Name (Z - A)</option>
                                    <option {% if sortBy == 'brand.name=?=ASC'  %} selected="selected" {% endif %} value="brand.name=?=ASC">Brand (A - Z)</option>
                                    <option {% if sortBy == 'brand.name=?=DESC'  %} selected="selected" {% endif %} value="brand.name=?=DESC">Brand (Z - A)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=ASC'  %} selected="selected" {% endif %} value="product.salesPrice=?=ASC">Price (Low &gt; High)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=DESC'  %} selected="selected" {% endif %} value="product.salesPrice=?=DESC">Price (High &gt; Low)</option>
                                </select>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' %}
                <div class="col-md-3 sidebar-top" >
                    <div class="row">
                        <div class="col-md-12 paginate">
                            <div class="btn-group pull-left">
                                <div class="product-title"><span class="glyphicon glyphicon-filter"></span>&nbsp;REFINE RESULTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="products">
        <div class="container bodyColor">
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' %}
                <div class="col-md-3" data-match-height="body-content" >
                    {{ include('@Frontend/Template/Desktop/Cosmetic/sidebar.html.twig')}}
                </div>
            {% endif %}
            <div class="{% if globalOption.templateCustomize.showSidebar == 1 %} col-md-9 {% else %} col-md-12 {% endif %}" data-match-height="body-content" style="margin-top: 30px"  >
                <div class="row row-flex">
                    {% for product in products %}
                        <div  class="product-item col-xs-{{ globalOption.ecommerceConfig.perColumn }} col-lg-{{ globalOption.ecommerceConfig.perColumn }}">
                            <div class="product-canvas">
                                <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:"  class="btn btn-info preview product-eye"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-warning product-buy" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                <a class="img-card" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                    <img src="{{ image(product.webPath).resize(500,500, 'white') }}"/>
                                </a>
                                <div class="card-content" data-match-height="item-product">
                                    <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</a>
                                </div>
                                <div class="card-read-more text-center">
                                    <strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
{#                {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
                    {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-bottom'}) %}
                {% endif %}#}
                <div class="clearfix"></div>
            </div>
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' %}
                <div class="col-md-3" data-match-height="body-content" >
                    {{ include('@Frontend/Template/Desktop/Cosmetic/sidebar.html.twig')}}
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container bodyColor" >
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' %}
                <div class="col-md-3 sidebar-footer" data-match-height="body-footer" >
                <div class="row div-vertical-center">
                    <button  class="btn btn-info ladda-button" id="filter" data-style="zoom-in"><span class="ladda-label">REFINE FILTER</span><span class="ladda-spinner"></span></button>
                </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.templateCustomize.showSidebar == 1 %} col-md-9 {% else %}col-md-12 {% endif %}" data-match-height="body-footer"  >
                <div class="row paginate-footer" >
                    {% if app.request.get('page') is not empty %}
                    {% set page = app.request.get('page') %}
                    {% else %}
                    {% set page = 1 %}
                    {% endif %}
                    <div class="col-md-3  navbar-left" style="line-height: 35px"><a href="javascript:">Total no of products: {{ products.getTotalItemCount }} {#out of {{ page * products|length }}#}</a></div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                </div>
            </div>
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' %}
                <div class="col-md-3 sidebar-footer" data-match-height="body-footer" >
                    <div class="row div-vertical-center">
                        <button  class="btn btn-info" id="filter" data-style="zoom-in"><span class="glyphicon glyphicon-filter"></span> FILTER</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="clearfix"></div>
{#    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <div class="container bodyColor">
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id ,'position':'footer-top'}) %}
        </div>
    {% endif %}#}
    <div class="clearfix"></div>
    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('footer-top') %}
        <div class="container bodyColor">
            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'footer-top'}) %}
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <!-- Modal -->
   <style>
       .product-canvas {
           display: block;
           line-height: 1.42857143;
           background-color: #fff;
           transition: box-shadow .25s;
           position: relative;
           border: 1px solid #dddddd;
           margin-bottom: 30px;

       }
       .product-canvas:hover {
           border: 1px solid #F88216;
       }
       .product-canvas:hover .product-buy {
           right: 3px;
           opacity: 1;
           z-index: 99;
       }
       .product-canvas:hover .product-eye {
           left: 3px;
           opacity: 1;
           z-index: 99;
       }
       .product-canvas .img-card-large {
           width: 100%;
           height:573px;
           display:block;
           overflow: hidden;
           padding: 5px;
       }
       .product-canvas .img-card-large img{
           width: 100%;
           height: 573px;
           object-fit:cover;
           transition: all .25s ease;
       }

       .product-canvas .img-card-cat {
           width: 100%;
           height:573px;
           display:block;
           overflow: hidden;
           padding: 10px;
       }
       .product-canvas .img-card-cat img{
           width: 100%;
           height: 573px;
           object-fit:cover;
           transition: all .25s ease;
       }

       .product-canvas .img-card {
           width: 100%;
           height:250px;
           display:block;
           overflow: hidden;
           padding: 5px;
       }
       .product-canvas .img-card img{
           width: 100%;
           height: 250px;
           object-fit:cover;
           transition: all .25s ease;
       }

       .product-canvas .card-content {
           padding:15px;
           text-align:left;
       }
       .product-canvas .card-title {
           margin-top:0;
           font-weight: 700;
           font-size: 1.65em;
       }
       .product-canvas .card-title a {
           color: #000;
           text-decoration: none !important;
       }
       .product-canvas .card-read-more {
           border-top: 1px solid #D4D4D4;
           padding: 10px;
       }
       .product-canvas .card-read-more a {
           text-decoration: none !important;
           font-size: 13px;
       }

       .product-canvas .product-eye {
           position: absolute;
           bottom: 3px;
           left: -50px;
           cursor: pointer;
           -webkit-transition: 0.5s ease-in-out;
           -moz-transition: 0.5s ease-in-out;
           -o-transition: 0.5s ease-in-out;
           transition: 0.5s ease-in-out;
           width: 50px;
           opacity: 0;
       }

       .product-canvas .product-buy {
           position: absolute;
           bottom: 3px;
           right: -50px;
           cursor: pointer;
           -webkit-transition: 0.5s ease-in-out;
           -moz-transition: 0.5s ease-in-out;
           -o-transition: 0.5s ease-in-out;
           transition: 0.5s ease-in-out;
           width: 50px;
           opacity: 0;
       }

   </style>
</section>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/product.js'
    '@FrontendBundle/Resources/public/template/desktop/js/e-commerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}

    $("#view-cart-datax" ).mouseover(function(e) {

        var url = $(this).attr("data-url");
        $.get( url , function( data ) {
            $('.dropdown-cart').html(data);
        });


    });
{% endblock %}