
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Sales Return Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_salesreturn') }}">Sales Return</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Sales Return Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>Sales Return Lists</div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        Tools
                                        <i class="icon-tasks"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="{{ path('inventory_salesreturn') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="portlet-body flip-scroll">
                                {% include('flash-message.html.twig')  %}
                                <table class="table table-bordered table-striped table-condensed flip-content ">
                                    <form action="{{ path('inventory_salesreturn_search') }}" method="post" name="itemSearch" id="itemSearch"  >
                                    <thead>

                                        <tr id="search-input">
                                            <td colspan="8" class="numeric">
                                                <div class="controls">
                                                    <div class="input-append span12">
                                                        <input type="text" id="invoice" name="invoice"  class="span11 m-wrap" value="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% else %}Enter invoice no{% endif %} ">
                                                        <div class="btn-group">
                                                            <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </thead>
                                    </form>
                                    <tbody class="flip-content ">
                                    <tr class="head-grey">
                                        <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                        <th class="numeric" >Invoice</th>
                                        <th class="numeric" >Date</th>
                                        <th class="numeric" >Item</th>
                                        <th class="numeric" >Quantity</th>
                                        <th class="numeric" >Total</th>
                                        <th class="numeric" >Created By</th>
                                        <th class="numeric" >Action</th>
                                    </tr>
                                    </tbody>
                                    <tbody id="sales">
                                    {% for entity in entities %}
                                        <tr id="salesRemove-{{ entity.id }}">
                                            <td> {% if entity.salesReturnItems is defined and  entity.salesReturnItems is not empty  %}<span  class="badge badge-warning toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span>{% endif %}</td>
                                            <td class="numeric" >{{ entity.invoice }}</td>
                                            <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                            <td class="numeric" >{{ entity.totalItem }}</td>
                                            <td class="numeric" >{{ entity.totalQuantity }}</td>
                                            <td class="numeric" >{{ entity.total|number_format()  }}</td>
                                            <td class="numeric" >{{ entity.createdBy }}</td>
                                            <td class="numeric" >
                                                {% if entity.process == "complete" %}
                                                    <a href="{{ path('inventory_salesreturn_show', { 'id': entity.id }) }}" class="btn purple mini" ><i class="icon-eye-open"></i></a>
                                                    <a href="javascript:" class="btn blue mini" ><i class="icon-ok"></i></a>
                                                {% else %}
                                                    <a data-title="Add purchase item" href="{{ path('inventory_salesreturn_edit', { 'id': entity.id }) }}" class="btn blue mini" ><i class="icon-pencil"></i></a>
                                                    <a title="Are you sure went to delete ?" id="{{ entity.id }}" rel="{{ path('inventory_salesreturn_delete', { 'id': entity.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr id="show-{{ entity.id }}" class="showing-overview">
                                            <td colspan="10">
                                                {% if entity.salesReturnItems is defined and  entity.salesReturnItems is not empty  %}
                                                    <table class="table table-bordered table-striped table-condensed flip-content ">

                                                        <thead class="flip-content ">
                                                        <tr class="head-green">
                                                            <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                                            <th class="numeric" >Barcode</th>
                                                            <th class="numeric" >Qnt</th>
                                                            <th class="numeric" >Sales price</th>
                                                            <th class="numeric" >Sub-total</th>
                                                            <th class="numeric" >Return Qnt</th>
                                                            <th class="numeric" >Return price</th>
                                                            <th class="numeric" >Sub-total</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for subList in entity.salesReturnItems %}
                                                            <tr>
                                                                <td class="numeric" >{{ loop.index }}</td>
                                                                <td class="numeric" >{{ subList.salesItem.purchaseItem.barcode }}</td>
                                                                <td class="numeric" >{{ subList.salesItem.quantity }}</td>
                                                                <td class="numeric" >{{ subList.salesItem.salesPrice|number_format() }}</td>
                                                                <td class="numeric" >{{ subList.salesItem.subTotal|number_format() }}</td>
                                                                <td class="numeric" >{{ subList.quantity }}</td>
                                                                <td class="numeric" >{{ subList.price|number_format() }}</td>
                                                                <td class="numeric" >{{ subList.subTotal|number_format() }}</td>

                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on("click", ".delete", function () {

        var url = $(this).attr("rel");
        var id = $(this).attr("id");
        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                obj = JSON.parse(response);
                if ('success' == obj['success']) {
                    location.reload();
                }
            }
        })
    })
{% endblock %}

