{% for  row in globalOption.testimonials %}
<div class="testimonials-4">
    <div class="content">
        {% if row.webPath() %}<img src="{{ image(row.webPath()).resize(110,130) }}" class="image_left1" alt="">{% endif %}
        <span><i class="fa fa-quote-left fa-2x"></i>&nbsp; {{ row.content|raw }}
            <br><br>
              <strong>- {{ row.name }}</strong>
              <em>{{ row.designation }}</em>, {{ row.title }}
        </span>
    </div>
</div>
<div class="clearfix divider_line2"></div>
{% endfor %}
