{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Order
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('customer_order') }}">Manage Order</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Order Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Order Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('customer_order_new') }}"><i class="icon-th-list"></i> New Order</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i> Created</td>
                                    <th class="numeric" >Delivery</th>
                                    <th class="numeric" >Invoice</th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Shipping</th>
                                    <th class="numeric" >Grand Total</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr id="remove-tr-{{ entity.id }}">
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.deliveryDate|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{{ entity.item }}</td>
                                        <td class="numeric" >{{ entity.totalAmount }}</td>
                                        <td class="numeric" >{{ entity.shippingCharge }}</td>
                                        <td class="numeric" >{{ entity.grandTotalAmount }}</td>
                                        <td class="numeric" >
                                            {% set postCondition = {'delivered': 'delivered' ,'cancel':'cancel','returend':'returend','delete':'delete'} %}
                                            {% if entity.process in  postCondition|keys %}
                                                <span class="btn mini blue">{{ entity.process|capitalize }}</span>
                                            {% else %}
                                                <a  data-type="select" class="btn mini editable" id="discount" data-name="Discount" href="#" data-source="{{ path('customer_order_data_source') }}"  data-url="{{ path('customer_order_update_inline') }}" data-pk="{{ entity.id }}" data-value="{{ entity.process }}" data-original-title="Select Order Process Status">{{ entity.process|capitalize }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >
                                            {% set postCondition = {'delivered': 'delivered' ,'cancel':'cancel','returend':'returend','delete':'delete'} %}
                                            {% if entity.process not in  postCondition|keys %}
                                            <a title="Are you sure went to payment ?" href="{{ path('customer_order_payment', { 'id': entity.id }) }}" class="btn blue mini " ><i class="icon-money"></i>&nbsp;Payment</a>
                                            {% endif %}
                                            <a href="{{ path('customer_order_show', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-eye-open"></i>&nbsp;</a>
                                            <a  href="{{ path('customer_order_print_invoice',{id:entity.id}) }}" target="_blank" data-url=""  class="btn mini purple"><i class="icon-print"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@EcommerceBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $(".editable").editable();
    ApproveProcess();
{% endblock %}
