{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Customer Base Sales Invoice # {{ entity.invoice }} {% if inventoryConfig.isBranch == 1 %} - {% if entity.branches is not empty %}{{ entity.branches.name }} {% else %}Central{% endif %} {% endif %}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_salesonline') }}">Customer Base Sales</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit sales</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn  red" href="{{ path('inventory_salesonline_new') }}"><i class="icon-th-list"></i>&nbsp;Add Sales</a>
                                <a class="btn" href="{{ path('inventory_salesonline') }}"><i class="icon-th-list"></i>&nbsp;Sales</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Address #:</strong>&nbsp;{{ entity.customer.address }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                    </ul>
                                </div>

                                <div class="span4 invoice-payment">
                                </div>
                                <div class="span4">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Process:</strong>&nbsp;{{ entity.process }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{% if entity.transactionMethod is not empty %}{{ entity.transactionMethod.name }}{% endif %}</li>
                                        {% if entity.accountMobileBank is not empty %}<li><strong>Received Mobile:</strong>&nbsp;{{ entity.accountMobileBank.name }}</li>{% endif %}
                                        {% if entity.paymentMobile is not empty %}<li><strong>Mobile/Transaction:</strong>&nbsp;{{ entity.paymentMobile }}/{{ entity.transactionId }}</li>{% endif %}
                                        {% if entity.accountBank is not empty %}<li><strong>Received Bank:</strong>&nbsp;{{ entity.accountBank.name }}</li>{% endif %}
                                        {% if entity.paymentCard is not empty %}<li><strong>Payment Card/No:</strong>&nbsp;{{ entity.paymentCard.name }}/{{ entity.cardNo }}</li>{% endif %}
                                        {% if entity.bank is not empty %}<li><strong>Bank:</strong>&nbsp;{{ entity.bank.name  }}</li>{% endif %}
                                        <li><strong>Created By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                        <li><strong>Confirmed By:</strong>&nbsp;{% if entity.approvedBy is defined and entity.approvedBy is not empty %}{{ entity.approvedBy }}{% endif %}</li>
                                    </ul>
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.salesItems is defined and  entity.salesItems is not empty  %}
                                    <table class="table table-bordered table-striped">
                                        <thead class="flip-content ">
                                        <tr class="head-black">
                                            <th>&nbsp;&nbsp;<i class="icon-reorder"></i></th>
                                            <th class="numeric" >SKU</th>
                                            <th class="numeric" >Description</th>
                                            <th class="numeric" >Qnt</th>
                                            <th class="numeric" >Unit</th>
                                            <th class="numeric" >Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for salesItem in entity.salesItems %}
                                            <tr>
                                                <td class="numeric" >{{ loop.index }}.</td>
                                                <td class="numeric" >{{ salesItem.item.sku }}</td>
                                                <td class="numeric" >{{ salesItem.item.name }}</td>
                                                <td class="numeric" >{{ salesItem.quantity }}</td>
                                                <td class="numeric" >{{ salesItem.salesPrice|number_format() }}</td>
                                                <td class="numeric" >{{ salesItem.subTotal|number_format() }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr><td colspan="5"><strong class="pull-right" >Total Amount</strong></td><td><strong>{{ entity.subTotal|number_format() }}</strong></td></tr>
                                        {% if entity.discount %}<tr><td colspan="5"><strong class="pull-right" >Discount</strong></td><td><strong>{{ entity.discount|number_format() }}</strong></td></tr>{% endif %}
                                        {% if entity.vat %}<tr><td colspan="5"><strong class="pull-right" >Vat/Tax Amount</strong></td><td><strong>{{ entity.vat|number_format() }}</strong></td></tr>{% endif %}
                                        <tr><td colspan="5"><strong class="pull-right" >Delivery Charge</strong></td><td><strong>{{ entity.deliveryCharge|number_format() }}</strong></td></tr>
                                        <tr><td colspan="5"><strong class="pull-right" >Grand Total</strong></td><td><strong>{{ entity.total|number_format() }}</strong></td></tr>
                                        <tr><td colspan="5"><strong class="pull-right" >Paid Amount</strong></td><td><strong>{{ entity.payment|number_format() }}</strong></td></tr>
                                        {% if entity.due %}<tr><td colspan="5"><strong class="pull-right" >Due Amount</strong></td><td><strong>{{ entity.due|number_format() }}</strong></td></tr>{% endif %}
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                           <div class="form-actions portlet box grey">
                                <div class="span8" id="message"></div>
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    {% if inventoryConfig.isPos == 1  %}
                                        <a href="javascript:" data-url="{{ path('inventory_online_pos_print_individual',{'id':entity.id}) }}"  class="btn red onlinePosPrintIndividual" ><i class="icon-print"></i> Pos Print</a>
                                    {% endif %}
                                    {% if inventoryConfig.isInvoice == 1  %}
                                        <a href="{{ path('inventory_salesonline_print_invoice',{'invoice':entity.invoice}) }}" target="_blank" class="btn green" ><i class="icon-print"></i> Print</a>
                                    {% endif %}
                                   <span  class="btn blue"><i class=" icon-retweet"></i>&nbsp;{{ entity.process }}</span>
                                    {% if (("now"|date("d-m-y") == entity.updated|date('d-m-y')) and entity.process in ['Done','Deliverd','POS'] and app.user.granted("ROLE_DOMAIN_INVENTORY_REVERSE")) or (entity.process in ['Done','Delivered','POS'] and app.user.granted("ROLE_DOMAIN")) %}
                                    <a href="{{ path('inventory_online_sales_reverse',{'invoice':entity.invoice}) }}"  class="btn purple" ><i class="icon-refresh"></i> Reverse</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% if inventoryConfig.onlineSalesPrinter == 'pos' %}
        <script>

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "http://localhost.xiidea.net:9432/assets/easy-print-server.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "xiidea-epp-sdk"));

        </script>
    {% endif %}
{% endblock %}

{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/posprint.js'
    '@InventoryBundle/Resources/public/js/editable.js'
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    ApproveProcess();
    $(document).on('click', '.itemBranchPreview', function() {
    var url = $(this).attr("data-url");
    var id = $(this).attr("id");
    $.ajax({
    url: url,
    type: 'GET',
    success: function (response) {
    $('#branchDetails-'+id).html(response);
    }
    })
    });
{% endblock %}