{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Election Result Matrix
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="{{ path('daily_attendance') }}">Election Result Matrix</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Election Result Matrix Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('election_setup') }}"><i class="icon-th-list"></i>&nbsp; Election Result</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="product" class="stripe row-border order-column" cellspacing="0" width="100%">
                            <thead class="head-blue">
                            <tr>
                                <th class="numeric" >Name of Vote Center</th>
                                {% for cadidate in entity.candidates %}
                                    <td class="numeric" >
                                        <div class="row-fluid">
                                            <span class="span12 pull-center"><strong>{{ cadidate.marka.name }}</strong></span>
                                        </div>
                                        <div class="row-fluid">
                                            <span class="span12 pull-center">Male</span>
                                            <span class="span12 pull-center">Female</span>
                                            <span class="span12 pull-center">Others</span>
                                            <span class="span12 pull-center">Total</span>
                                        </div>
                                    </td>
                                {% endfor %}

                                <th>Yes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for center in entity.votecenters %}
                                <tr>
                                    <th class="">{{ center.location.voteCenterName }}</th>
                                    {% for candidate in entity.candidates %}
                                        {% set ids = center.id~'-'~candidate.id %}
                                        {% if matrixArr[ids]['centerId'] == center.id and  matrixArr[ids]['candidateId'] ==  candidate.id %}
                                            <td>
                                                <input type="text" class="m-wrap  span3 inline-input" id="maleVoter-{{ matrixArr[ids]['matrixId'] }}" name="maleVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['maleVoter'] }}" >
                                                <input type="text" class="m-wrap  span3 inline-input" id="femaleVoter-{{ matrixArr[ids]['matrixId'] }}" name="femaleVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['femaleVoter'] }}" >
                                                <input type="text" class="m-wrap  span3 inline-input" id="otherVoter-{{ matrixArr[ids]['matrixId'] }}" name="otherVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['otherVoter'] }}" >
                                                <input type="text" class="m-wrap  span3 inline-input" id="otherVoter-{{ matrixArr[ids]['matrixId'] }}" disabled name="otherVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['totalVoter'] }}" >
                                            </td>
                                        {% endif %}

                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@HumanResourceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HumanResourceBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#product').DataTable( {
    scrollY:        '110vh',
    scrollCollapse: true,
    paging:         true,
    bInfo : true,
    orderable: true,
    bSort: true,
    aoColumnDefs: [
    {
    bSortable: false,
    aTargets: [ -1 ]
    }
    ]
    });
{% endblock %}





