<div class="modal-body">
    <div class="row">
        <div id='carousel-custom-{{ product.id }}' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
                <!-- me art lab slider -->
                <div class='carousel-inner'>
                    <div data-match-height="image-carousel" class='item active'>
                        <img  id="zoom" src="{% if product.webPath is not empty  %}{{ image(product.webPath).resize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).resize() }}{% endif %}"  data-zoom-image="{% if product.webPath is not empty  %}{{ image(product.webPath).resize() }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).resize() }}{% endif %}"/>
                    </div>
                    {% if product.itemGalleries is not empty %}
                        {% for photo in product.itemGalleries|slice(0,5) %}
                            <div data-match-height="image-carousel" class='item'>
                                <img class="img-responsive" src='{{ image(photo.getAbsolutePath(product.inventoryConfig.globalOption.id,product.id)).resize(400,400) }}' alt=''  data-zoom-image="{{ image(photo.getAbsolutePath(product.inventoryConfig.globalOption.id,product.id)).resize() }}"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- sag sol -->
                {% if product.itemGalleries is not empty %}
                <a class='left custom-carousel-control' href='#carousel-custom-{{ product.id }}' data-slide='prev'>
                    <span class='glyphicon glyphicon-chevron-left'></span>
                </a>
                <a class='right custom-carousel-control' href='#carousel-custom-{{ product.id }}' data-slide='next'>
                    <span class='glyphicon glyphicon-chevron-right'></span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-md-12" >
                <div class="row meta-caption">
                    <div class="col-xs-4 col-md-4"><strong>PRICE</strong></div>
                    <div class="col-xs-8 col-md-8 product-price-lg"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                </div>
                <div class="row meta-key-value"><div class="col-xs-12 col-md-12 "><strong>{% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}{{ product.brand.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}&nbsp;{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}{% endif %}</strong></div></div>
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Stock in<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{% if product.masterQuantity is not empty %}<strong>Available</strong>{% else %}Out of stock{% endif %}</div></div>
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">SKU<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 "><strong>{{ product.sku  }}</strong></div></div>
                {% if product.masterItem.category is defined and product.masterItem.category is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Category<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 text-left">{{ product.masterItem.category.name }}</div></div>
                {% endif %}
                {% if product.brand is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Brand<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.brand.name }}</div></div>
                {% endif %}
                {% if product.country is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Country<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.country.name }}</div></div>
                {% endif %}
                {% if product.gender is not empty %}
                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Gender<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.gender }}</div></div>
                {% endif %}
                {% if product.ageGroup is not empty %}
                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Age Group<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.ageGroup }}</div></div>
                {% endif %}
                <div class="row meta-value">
                    <div class="col-xs-12 col-md-12 text-justify">
                        {% if product.content is not empty %}
                            {{ product.content|raw }}
                        {% elseif product.masterItem is not empty %}
                            {{ product.masterItem.content|raw }}
                        {% endif  %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <ul class="mbm_social">
                            <li><a class="social-facebook" target="_blank" href="//www.facebook.com/sharer.php?u={{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                    <i class="fa fa-facebook"></i>
                                    <div class="tooltip"><span>facebook</span></div>
                                </a>
                            </li>
                            <li><a class="social-google-plus" target="_blank" href="//plus.google.com/share?url={{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="tooltip"><span>Google</span></div>
                                </a>
                            </li>
                            <li><a class="social-twitter" target="_blank" href="//twitter.com/share?url={{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                    <i class="fa fa-twitter"></i>
                                    <div class="tooltip"><span>Twitter</span></div>
                                </a>
                            </li>
                            <li><a class="social-instagram" target="_blank" href="//instagram.com/share?url={{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                    <i class="fa  fa-instagram"></i>
                                    <div class="tooltip"><span>Instagram</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
                {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty or  product.itemKeyValues is defined and product.itemKeyValues is not empty  %}
                    <div class="row meta-caption"><div class="col-xs-10 col-md-10"><strong>Specification</strong></div><div class="col-xs-2 col-md-2 text-right btn btn-success" id="spec"><strong><span class="glyphicon glyphicon-chevron-down"></span></strong></div></div>
                    <div class="row" id="showSpec">
                        <div class="col-xs-12 col-md-12">
                            {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty %}
                                {% for attribute in  product.itemMetaAttributes %}
                                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ attribute.itemAttribute.name }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ attribute.value }}</div></div>
                                {% endfor %}
                            {% endif %}
                            {% if  product.itemKeyValues is defined and product.itemKeyValues is not empty %}
                                {% for meta in product.itemKeyValues %}
                                    {% if meta.metaKey is not empty and meta.metaValue is empty %}
                                        <div class="row meta-label"><div class="col-xs-12 col-md-12">{{ meta.metaKey|capitalize }}</div></div>
                                    {% elseif meta.metaKey is empty and meta.metaValue is not empty %}
                                        <div class="row meta-value"><div class="col-xs-12 col-md-12">{{ meta.metaValue }}</div></div>
                                    {% else %}
                                        <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ meta.metaKey }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ meta.metaValue  }}</div></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>
<div class="loader loader-double" ></div>
<div class="dialogModal_footer">
    <form class="addCart" id="sizeLoad">
        <div class="row">
            {% if  globalOption.ecommerceConfig.isSize == 1 and product.goodsItems is defined %}
                <div class="col-xs-8 col-md-8" >
                    {% if product.goodsItems is not empty and product.goodsItems|length > 1 %}
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                                <select class="input-selector item-select"  name="subItem" id="subItem" >
                                    {% for goodsItem in  product.goodsItems  %}
                                        <option {% if subItem.id == goodsItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" > {% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %} Default {% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% elseif  product.goodsItems is not empty and subItem.size is not empty and subItem.size.name != 'Default' %}
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                                    <span class="product-size-color">{{ product.size.name }} {% if product.productUnit is not empty %} - {{ product.productUnit.name }}{% endif %}</span>
                                </div>
                            </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if globalOption.ecommerceConfig.isColor == 1 and subItem.colors is not empty and subItem.colors is defined %}
                <div class="col-xs-4 col-md-4 col-sm-cus-4">
                    {% if subItem.colors is not empty and subItem.colors|length > 1 %}
                        <select class="input-selector item-select" name="color" id="color" >
                            {% for color in  subItem.colors %}
                                <option  value="{{ color.id }}" >{{ color.name }}</option>
                            {% endfor %}
                        </select>
                    {% elseif subItem.colors is not empty %}
                        {% for color in  subItem.colors %}
                            {% if color.name != 'Default' %}
                                <span class="product-size-color">{{ color.name }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
            {% endif %}

        </div>
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-danger btn-number" data-type="minus" data-field="quantity"><span class="glyphicon glyphicon-minus"></span></button>
                                </span>
                    <input type="text" readonly="readonly" name="quantity" id="quantity" class="form-control input-number"  value="1" min="1" max="{{ subItem.quantity }}">
                                <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-success btn-number" data-type="plus" data-field="quantity"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                    {% if product.masterItem is not empty and product.masterItem.productUnit is not empty %}
                        <span class="input-group-btn">
                                   <button type="button" class="btn btn-sm btn-warning">{{ product.masterItem.productUnit.name }}</button>
                                </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3">{{ globalOption.ecommerceConfig.currency }}</span>
                        <input class="form-control" name="" id="" disabled="disabled" value="{% if subItem.discountPrice is empty %}{{ subItem.salesPrice|number_format }} {% else %}{{ subItem.discountPrice|number_format }}{% endif %}" aria-label="Text input">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-12 text-center">
            <div class="btn-group col-xs-12 col-md-12" role="group" aria-label="...">
                {% if previous is not empty %}
                    <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':previous.id }) }}" data-title="{{ previous.webName }}&nbsp;{% if previous.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ previous.masterItem.name }}{% endif %}" href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span></a>
                {% endif %}
                {% if  globalOption.ecommerceConfig.cart == 1  %}
                    <button type="button" class="btn btn-warning cartSubmit col-xs-8 col-md-8"  data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart',{'product' : product.id,'subitem' : subItem.id }) }}"><span class="fa fa-shopping-bag"></span> Add To Buy</button>
                    <input type="hidden" name="productImg" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
                {% endif %}
                {% if next is not empty %}
                    <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':next.id }) }}" data-title="{{ next.webName }}&nbsp;{% if next.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ next.masterItem.name }}{% endif %}"  href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
