{% if entity.invoiceReturnItems is not empty %}
    {% set subTotal = 0 %}
    {% for item in entity.invoiceReturnItems %}
        {% set subTotal = subTotal + item.subTotal %}
        <tr id="remove-{{ item.id }}">
            <td  class="">{{ loop.index }}.
                <input type="hidden" id="salesPrice-{{ item.id }}" name="salesPrice" value="{{ item.businessParticular.salesPrice }}">
            </td>
            <td class="">{{ item.businessParticular.name }}</td>
            <td>{% if item.businessParticular.unit is not empty %}{{ item.businessParticular.unit.name }}{% endif %}</td>
            <td class="">{{ item.businessParticular.salesPrice }}</td>
            <td class="">{{ item.quantity }}</td>
            <td class="salesReturnSubTotal-{{ item.id }}">{{ (item.quantity * item.businessParticular.salesPrice) }}</td>
            <td>
                <a id="{{ item.id }}" data-id="{{ item.id }}"  data-url="{{ path('business_invoice_distribution_return_item_delete',{'invoice': entity.id ,'id': item.id }) }}" href="javascript:" class="btn red mini distributionDelete" ><i class="icon-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="7" class="" style="border: 1px double #000"></td>
    </tr>
    <tr>
        <td colspan="5" class=""><span class="pull-right"><strong>Total Amount TK.</strong> =</span></td>
        <td class=""><strong class="subTotal">{{ entity.salesReturn|number_format(2) }}</strong></td>
        <td class=""></td>
    </tr>
{% endif %}