<nav class="navbar navbar-inverse ">
    <section id="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="box">
                        <ul class="info-links">
                            {% if globalOption.templateCustomize.showCalendar == 1 %}
                                <li><i class="fa fa-calendar"></i>&nbsp;{{ "now"|date("F j, Y") }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                <li><i class="fa fa-envelope"></i>&nbsp;{{ globalOption.email }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showMobile == 1 %}
                                <li><i class="fa fa-mobile"></i>&nbsp;{{ globalOption.mobile }}</li>{% endif %}
                        </ul>
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <div class="box">
                        <ul class="social-links">
                            {% if globalOption.facebookPageUrl == 1 %}
                                <li><a href="https://{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a>
                                </li>{% endif %}
                            {% if globalOption.templateCustomize.showSearch == 1 %}
                                <li><a href="javascript:" id="searchEvent"><i class="fa fa-search"></i></a>
                                </li>{% endif %}
                            <li><a href="javascript:" class="register-btn"><i class="fa fa-user"></i></a></li>
                            {% if  app.user %}
                                <li><a href="javascript:" data-action="{{ path(globalOption.subDomain ~ '_webservice_logout') }}" class="logout"> <i class="fa fa-sign-in"></i></a></li>
                            {% endif %}
                            {% if globalOption.ecommerceConfig.cart == 1 %}
                                <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}" class="" ><i class="fa fa-shopping-cart"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="header">
        <div class="container">
            <div class="navbar-header">
                <div class="col-md-3" id="logo-area">
                    <a class="img-logo"
                       href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.webPath('logo') is not empty %}
                            <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"
                                 alt="{{ globalOption.name }}" />{% else %}{{ globalOption.name }}{% endif %}</a>
                </div>
                <div class="col-md-9" >
                    {% if globalOption.templateCustomize.showSearch == 1 %}

                            <div class="row bs-example-form">
                                <div class="col-md-12 col-lg-12" id="header-form">
                                    {{ form_start(form) }}
                                    {{ form_row(form._token) }}
                                    <div class='input-group search-box' >
                                        <div class='input-group-field' style="width: 39.7%;">
                                            {{ form_widget(form.category) }}
                                        </div>
                                        <div class='input-group-field' style="width: 22%">
                                            {{ form_widget(form.brand) }}
                                        </div>
                                        {{ form_widget(form.webName) }}
                                        <span class="input-group-btn">
                                               <button class="btn btn-group btn-group-search search-box-bg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="menu-bar" class="sticky">
        <div class="container">{{ include('FrontendBundle:Template/Desktop/Menu:menu.html.twig')}}</div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header')  %}
        {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'header'}) %}
    {% endif %}
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header')  %}
        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'header'}) %}
    {% endif %}
</nav>
<style>

    .bs-example-form {
        display : flex;
        align-items : center;
    }

    .fixed-top{
        z-index: 99999;
        width: 100%;
    }

    .input-group-field {
        border-radius: 0!important;
    }
    .search-field{
        font-size: 13px;
    }
    .search-select {
        height: 34px;
        padding: 3px 10px;
        line-height: 1.5;
        border: none;
        background-color: #F9FAFA;
        border-radius:0!important;
        border-right:1px solid #d0dde4!important;
    }
    .totalItem {
        position: absolute;
        top: -9px;
        left: 64px;
        background-color: #ff4052;
        z-index: 9;
    }

</style>
