{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <section class="siteBgColor">
    <div class="clearfix"></div>
    {% if globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'flat-left'  %}
        <div class="pageheader">
            <div class="container">
                <div class="col-md-6">
                    <ul class="simple-breadcrumb-left ultra-breadcrumb">
                        <li class=""><a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">Home</a></li>
                        {% if category is defined and category is not empty %}
                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'subdomain': globalOption.subDomain,'module': category.module.slug }) }}">{{ menu.menu }}</a></li>
                            <li class="active"><a href="javascript:void(0);">{{ category.name }}</a></li>
                        {% else %}
                            <li class="active"><a href="javascript:void(0);">{{ menu.menu }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <h2 class="title">{% if category is defined and category is not empty %}{{ category.name }}{% else %}{{ menu.menu }}{% endif %}</h2>
                </div>
            </div>
        </div>
    {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'flat-right'  %}
        <div class="pageheader">
            <div class="container">
                <div class="col-md-6">
                    <h2 class="title">{% if category is defined and category is not empty %}{{ category.name }}{% else %}{{ menu.menu }}{% endif %}</h2>
                </div>
                <div class="col-md-6">
                    <ul class="simple-breadcrumb-right ultra-breadcrumb">
                        {% if category is defined and category is not empty %}
                            <li class="active"><a href="javascript:void(0);">{{ category.name }}</a></li>
                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'subdomain': globalOption.subDomain,'module': category.module.slug }) }}">{{ menu.menu }}</a></li>
                        {% else %}
                            <li class="active"><a href="javascript:void(0);">{{ menu.menu }}</a></li>
                        {% endif %}
                        <li class=""><a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'left'  %}
        <div class="pageheader">
            <div class="container">
                <div class="col-md-12 text-left">
                    <h2 class="title">{% if category is defined and category is not empty %}{{ category.name }}{% else %}{{ menu.menu }}{% endif %}</h2>
                    <p>
                        <a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span> Home</a> &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                        {% if category is defined and category is not empty %}
                            <a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'subdomain': globalOption.subDomain,'module': category.module.slug }) }}">{{ menu.menu }}</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
                            {{ category.name }}
                        {% else %}
                            {{ menu.menu }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'center'  %}
        <div class="pageheader">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h2 class="title">{% if category is defined and category is not empty %}{{ category.name }}{% else %}{{ menu.menu }}{% endif %}</h2>
                    <p>
                        <a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span> Home</a> &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                        {% if category is defined and category is not empty %}
                            <a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'subdomain': globalOption.subDomain,'module': category.module.slug }) }}">{{ menu.menu }}</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
                            {{ category.name }}
                        {% else %}
                            {{ menu.menu }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-top'}) %}
        {% endif %}
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top') %}
        <div class="container" >
            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-top'}) %}
        </div>
         {% endif %}
    <div class="clearfix"></div>
    <section>
        <div class="container " >
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' %}
            <div class="col-md-3 sidebar-top" >
                <div class="row">
                    <div class="col-md-12 paginate">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-filter"></span>&nbsp;REFINE</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.templateCustomize.showSidebar == 1 %} col-md-9 {% else %}col-md-12 {% endif %}">
                <div class="row paginate">
                   <div class="col-md-6">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-list"></span>&nbsp;{% if titleName is defined and titleName is not empty %}{{ titleName }}{% else %}ALL PRODUCT{% endif %}</div>
                   </div>
                    </div>

                    <div class="col-md-6 navbar-right">
                        <div style="float: right">
                            <button type="button" class="btn gray-dark-bg  cyan-font btn-cookie" id="list-grid"
                                    data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cookie_base_list') }}">
                                <i class="fa fa-th"></i></button>

                            <button type="button" class="btn gray-dark-bg danger-font btn-cookie" id="list-line"
                                    data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cookie_base_list') }}">
                                <i class="fa fa-th-list"></i></button>
                        </div>
                        <form class="form-inline">
                            <div class="form-group paginate-form-group">
                                <label for="exampleInputName2">Sort By: </label>
                                {% set sortBy = app.request.get('sortBy') %}
                                <select name="sortBy" id="sortBy" class="input-selector" onchange='this.form.submit()'>
                                    <option>-- Sorting by --</option>
                                    <option {% if sortBy == ''  %} selected="selected" {% endif %} value="" >Default</option>
                                    <option {% if sortBy == 'product.name=?=ASC'  %} selected="selected" {% endif %} value="product.name=?=ASC">Name (A - Z)</option>
                                    <option {% if sortBy == 'product.name=?=DESC'  %} selected="selected" {% endif %} value="product.name=?=DESC">Name (Z - A)</option>
                                    <option {% if sortBy == 'brand.name=?=ASC'  %} selected="selected" {% endif %} value="brand.name=?=ASC">Brand (A - Z)</option>
                                    <option {% if sortBy == 'brand.name=?=DESC'  %} selected="selected" {% endif %} value="brand.name=?=DESC">Brand (Z - A)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=ASC'  %} selected="selected" {% endif %} value="product.salesPrice=?=ASC">Price (Low &gt; High)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=DESC'  %} selected="selected" {% endif %} value="product.salesPrice=?=DESC">Price (High &gt; Low)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' %}
                <div class="col-md-3 sidebar-top" >
                    <div class="row">
                        <div class="col-md-12 paginate">
                            <div class="btn-group pull-left">
                                <div class="product-title"><span class="glyphicon glyphicon-filter"></span>&nbsp;REFINE RESULTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="products">
        <div class="container ">
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' %}
                <div class="col-md-3" data-match-height="body-content" >
                    {{ include('@Frontend/Template/Desktop/'~globalOption.siteSetting.theme.folderName~'/sidebar.html.twig')}}
                </div>
            {% endif %}
            <div class="{% if globalOption.ecommerceConfig.showSidebar == 1 %} col-md-9 {% else %} col-md-12 {% endif %}" data-match-height="body-content" style="margin-top: 30px"  >
                {% if app.request.cookies.has('productList') %}
                    {% set cookieVal = app.request.cookies.get('productList') %}
                {% else %}
                    {% set cookieVal = 'list-grid' %}
                {% endif %}
                <div class="row row-flex">
                    {% if cookieVal == 'list-grid' %}
                    {% for product in products %}
                            <div  class="product-item col-xs-{{ globalOption.ecommerceConfig.perColumn }} col-lg-{{ globalOption.ecommerceConfig.perColumn }}">
                                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                                    <div class="product-canvas">
                                        <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:"  class="btn btn-warning product-preview product-eye"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>

                                        {% if product.discount is not empty  %}<a class="btn gray-dark-bg danger-font product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                                        <a class="img-card product-preview" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:"  >
                                            <img src="{{ image(product.webPath).resize(500,500, 'white') }}"/>
                                        </a>
                                        <div class="card-content" data-match-height="item-product">
                                            <a class="product-preview" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}{{ product.brand.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</a>
                                        </div>
                                        <div class="card-read-more text-center" >
                                            <strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                                        </div>
                                        <div class="card-cart-box">
                                            <div class="input-group">
                                             <span class="input-group-btn input-group-btn-custom">
                                                      <button type="button" class="btn btn-transparent danger-font btn-number-cart input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                      </button>
                                                  </span>
                                                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                                <span class="input-group-btn">
                                                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-number-cart" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </button>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="productImg-{{ product.id }}" id="productImg-{{ product.id }}" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">

                                </form>
                            </div>

                        {% endfor %}
                    {% endif %}
                    {% if cookieVal == 'list-line' %}
                        {% for product in products %}
                            <div class="col-xs-12 col-lg-12">
                                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                                <div class="item  list-group-item">
                                    <div  class="col-xs-2 col-md-2 text-left add-card" data-match-height="item-product" style="margin-left: -15px">
                                        <a class="img-card" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">
                                            <img class="group list-group-image" style="max-height: 50px; min-height:50px;"  src="{{ image(product.webPath).resize(50,50, 'white') }}" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-xs-7 col-md-7 text-left" data-match-height="item-product" >
                                        <div class="caption">
                                            <p>
                                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}{{ product.brand.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</a>
                                            </p>
                                            <p>
                                                <strong class="currency" >MRP</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} TK</span>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="col-xs-3 col-md-3 add-card" data-match-height="item-product">
                                        <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn gray-dark-bg danger-font btn-number"  data-type="minus" data-field="quant-{{ product.id }}">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
                                            <input readonly="readonly" type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-number" value="1" min="1" max="100">
                                            <span class="input-group-btn">
              <button type="button" class="btn gray-dark-bg  cyan-font btn-number" data-type="plus" data-field="quant-{{ product.id }}">
                  <span class="glyphicon glyphicon-plus"></span>
              </button> {% if product.productUnit is not empty %}<span class="btn btn-info">{{ product.productUnit.name }}</span>{% endif %}<button class="btn btn-warning productToCart" id="buy-{{ product.id }}" data-id="{{ product.id }}" href="javascript:" data-toggle="tooltip" data-original-title="Add to Cart"  data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}"><span class="glyphicon glyphicon-shopping-cart"></span></button>
          </span></div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' %}
                <div class="col-md-3" data-match-height="body-content" >
                    {{ include('@Frontend/Template/Desktop/'~globalOption.siteSetting.theme.folderName~'/sidebar.html.twig')}}
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </section>

    <div class="clearfix"></div>
    <section>
        <div class="container " >
            <div class="col-md-12">
                <div class="row paginate-footer" >
                    {% if app.request.get('page') is not empty %}
                    {% set page = app.request.get('page') %}
                    {% else %}
                    {% set page = 1 %}
                    {% endif %}
                    <div class="col-md-3  navbar-left" style="line-height: 35px"><a href="javascript:">Total no of products: {{ products.getTotalItemCount }} {#out of {{ page * products|length }}#}</a></div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom')  %}
        {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-bottom'}) %}
    {% endif %}
    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom') %}
       <div class="container">
        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-bottom'}) %}
       </div>
    {% endif %}
    <div class="clearfix"></div>
    <!-- Modal -->
</section>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    '@FrontendBundle/Resources/public/template/desktop/css/medicine.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    '@FrontendBundle/Resources/public/template/desktop/js/sidebar.js'
    '@FrontendBundle/Resources/public/template/desktop/js/medicine.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('body').on('click', '.btn-cookie', function(el) {
    var val = $(this).attr('id');
    Cookies.set('productList', val);
    setTimeout(location.reload(), 1000);
    });
{% endblock %}
