{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN category HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="category-title">
                    Patient ID #  <strong>{{ entity.invoice }}</strong>
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('dms_invoice') }}">Patient Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Patient Invoice</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END category HEADER-->
        <!-- BEGIN category CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Patient Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('dms_invoice') }}"><i class="icon-th-list"></i> Patient Lists</a>
                                <a class="btn red" href="{{ path('dms_invoice_new') }}"><i class="icon-plus-sign"></i> Add New Patient</a>
                                <a class="btn yellow appointmentSchedule"
                                   data-title="Patient Appointment Schedule"
                                   data-topoffset="0" data-top="10%"
                                   href="javascript:" data-url="{{ path('dms_treatment_appointment_schedule') }}" ><span
                                            class="fa fa-calendar"></span> Appointment Schedule</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid">
                                <div class="span12">
                                    <!--BEGIN TABS-->
                                    <div class="tabbable tabbable-custom tabs-left">
                                        <!-- Only required for left/right tabs -->
                                        <ul class="nav nav-tabs tabs-left">
                                            <li><a href="#tab_patient_overview" data-url="{{ path('dms_invoice_patient_load',{'id':entity.id}) }}" id="patientOverview" data-toggle="tab">Patient Overview</a></li>
                                            <li  class="active" ><a href="#tab_patient_info" data-toggle="tab">Patient Information</a></li>
                                            {% if entity.customer is not empty %}
                                                {% for service in services %}
                                                    <li class=""><a href="#tab-{{ service.slug }}" data-toggle="tab" class="saveButton">{{ service.name }}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane tab-height " id="tab_patient_overview" >
                                                <div class="form-actions portlet box blue">
                                                    <div class="portlet-title">
                                                        <div class="caption"><i class="icon-reorder"></i>PATIENT PROFILE</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row-fluid" >
                                                    <div class="span12">
                                                        <div class="row-fluid">
                                                            <div class="span8 profile-info">
                                                                {% if entity.customer is not empty %}<h1>{{ entity.customer.name }}</h1>{% endif %}
                                                                <ul class="unstyled inline">
                                                                    {% if entity.customer is not empty and entity.customer.location is not empty %}<li><i class="icon-map-marker"></i>{{ entity.customer.location.id }}</li>{% endif %}
                                                                    <li><i class="icon-calendar"></i> {{ entity.created|date('d-F-Y') }}</li>
                                                                    {% if entity.customer is not empty %}<li><i class="icon-phone"></i> {{ entity.customer.mobile }}</li>{% endif %}
                                                                </ul>
                                                            </div>
                                                            <!--end span8-->
                                                            <div class="span4">
                                                                <div class="portlet sale-summary">
                                                                    <div class="portlet-title">
                                                                        <div class="caption"><i class="icon-user"></i> Profile</div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <ul class="unstyled">
                                                                            <li>
                                                                                <span class="sale-info">Assign Doctor: </span>
                                                                                <span class="sale-num"> {% if entity.assignDoctor is not empty %} {{ entity.assignDoctor.name }}{% endif %}</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="sale-info">Gender: </span>
                                                                                <span class="sale-num"> {% if entity.customer is not empty %} {{ entity.customer.gender }}{% endif %}</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="sale-info">Age:</span>
                                                                                <span class="sale-num">{% if entity.customer is not empty %} {{ entity.customer.age }} {{ entity.customer.ageType }} {% endif %}</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="sale-info"><i class="icon-home"></i> Address:</span>
                                                                                <span class="sale-num">
                                                                                    {% if entity.customer is not empty %} {{ entity.customer.address }} {% endif %}
                                                                                    {% if entity.customer is not empty and entity.customer.location is not empty %} {{ entity.customer.location.name }},{{ entity.customer.location.parent.name }} {% endif %}
                                                                                </span>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end span4-->
                                                        </div>
                                                        <!--end row-fluid-->
                                                        <div class="clearfix">&nbsp;</div>
                                                        <div class="tabbable tabbable-custom tabbable-custom-profile">
                                                            <div class="loader loader-double" ></div>
                                                            <div id="patientLoad"></div>
                                                        </div>
                                                    </div>
                                                    <!--end span9-->
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                            </div>
                                            <div class="tab-pane active tab-height" id="tab_patient_info">
                                                <div class="form-actions portlet box blue">
                                                    <div class="portlet-title">
                                                        <div class="caption"><i class="icon-user"></i>PATIENT INFORMATION</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <p>ADDING PATIENT INFORMATION</p>
                                                <div class="row-fluid">
                                                    <div class="span12 patient-info">
                                                        <div class="row-fluid customer-add">
                                                            <div class="span4">
                                                                <div class="control-group">
                                                                    <label class="control-label red" for="firstName"><span>Assign Doctor</span><span class="required">*</span></label>
                                                                    <div class="controls">
                                                                        {{ form_widget(form.assignDoctor) }}
                                                                        {{ form_errors(form.assignDoctor) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="span4">
                                                                <div class="control-group">
                                                                    <label class="control-label red" for="firstName"><span>Patient Name</span><span class="required">*</span></label>
                                                                    <div class="controls">
                                                                        {{ form_widget(form.customer.name) }}
                                                                        {{ form_errors(form.customer.name) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="span4">
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <label class="control-label red" for="firstName"><span>Mobile no</span><span class="required">*</span></label>
                                                                        <div class="controls">
                                                                            {{ form_widget(form.customer.mobile) }}
                                                                            {{ form_errors(form.customer.mobile) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="control-group">
                                                                            <label class="control-label red" for="firstName"><span>Gender & Age</span></label>
                                                                            <div class="controls span12">
                                                                                {{ form_widget(form.customer.gender) }}
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="control-group">
                                                                            <label class="control-label red" for="firstName"><span>Age</span><span class="required">*</span></label>
                                                                            <div class="controls span4">
                                                                                {{ form_widget(form.customer.ageGroup) }}
                                                                            </div>
                                                                            <div class="controls span4">
                                                                                {{ form_widget(form.customer.age) }}
                                                                            </div>
                                                                            <div class="controls span4">
                                                                                {{ form_widget(form.customer.ageType) }}
                                                                                {{ form_errors(form.customer.ageType) }}
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <div class="controls">
                                                                                {{ form_errors(form.customer.age) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="control-group">
                                                                            <label class="control-label red" for="firstName"><span>Location</span></label>
                                                                            <div class="controls">
                                                                                {{ form_widget(form.customer.location) }}
                                                                                {{ form_errors(form.customer.location) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="control-group">
                                                                            <label class="control-label red" for="firstName"><span>Address</span></label>
                                                                            <div class="controls">
                                                                                {{ form_widget(form.customer.address) }}
                                                                                {{ form_errors(form.customer.address) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>

                                                <div class="form-actions portlet box grey">
                                                    <div class="pull-right">
                                                        <button type="submit"  class="btn blue span12" id="savePatientButton"><i class="icon-save"></i> Save & Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if entity.customer is not empty %}
                                                {% for service in services %}
                                                     <div class="tab-pane tab-height" id="tab-{{ service.slug }}" >
                                                        <div class="form-actions portlet box blue">
                                                            <div class="portlet-title">
                                                                <div class="caption"><i class="icon-user"></i>{{ service.name|upper }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">&nbsp;</div>
                                                        {% if service.serviceFormat == 'teeth-format' %}
                                                            <div class="clearfix">&nbsp;</div>
                                                            <div class="row-fluid" id="">
                                                                <div class="span4"><input type="text" name="procedure" id="procedure" class="span12 m-wrap autoProcedure" placeholder="Enter patient chief complaints particular"  ></div>
                                                                <div class="span7">
                                                                    <table class="dms-teeth-plan">
                                                                        <tr><td class="dms-plan-td dms-plan-td-border-none dms-plan-td-border-bottom">
                                                                                <ul class="leftFormatTeeth">
                                                                                    {% for teeth in teethPlans %}
                                                                                        {% if teeth.teethPosition == 'upper-left' %}
                                                                                            <li class="tooltips" data-trigger = "hover" data-original-title="{{ teeth.toothNo }}-{{ teeth.name }}"><input type="checkbox" name="teethNo[]" value="{{ teeth.id }}" class="checkboxes checkradios-checkbox checkradios checkbox-custom" ></li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </td>
                                                                            <td class="dms-plan-td dms-plan-td-border-bottom">
                                                                                <ul class="rightFormatTeeth">
                                                                                    {% for teeth in teethPlans %}
                                                                                        {% if teeth.teethPosition == 'upper-right' %}
                                                                                            <li class="tooltips" data-trigger = "hover" data-original-title="{{ teeth.toothNo }}-{{ teeth.name }}" ><input type="checkbox" name="teethNo[]" value="{{ teeth.id }}" class="checkboxes checkradios-checkbox checkradios checkbox-custom"></li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="dms-plan-teeth-td dms-plan-td-teeth-border-none">
                                                                                <ul class="leftFormatTeeth">
                                                                                    {% for teeth in teethPlans %}
                                                                                        {% if teeth.teethPosition == 'lower-left' %}
                                                                                            <li class="tooltips" data-trigger = "hover" data-original-title="{{ teeth.toothNo }}-{{ teeth.name }}" ><input type="checkbox" name="teethNo[]" value="{{ teeth.id }}" class="checkboxes checkradios-checkbox checkradios checkbox-custom"></li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </td>
                                                                            <td class="dms-teeth-plan-td">
                                                                                <ul class="rightFormatTeeth">
                                                                                    {% for teeth in teethPlans %}
                                                                                        {% if teeth.teethPosition == 'lower-right' %}
                                                                                            <li class="tooltips" data-trigger = "hover" data-original-title="{{ teeth.toothNo }}-{{ teeth.name }}" ><input type="checkbox" name="teethNo[]" value="{{ teeth.id }}" class="checkboxes checkradios-checkbox checkradios checkbox-custom"></li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <div class="span1" style="margin-top: -10px">
                                                                    <button type="button"  class="btn blue addProcedure" id="" data-id="{{ service.slug }}" data-tab="tab-{{ service.slug }}"  data-url="{{ path('dms_invoice_particular_procedure',{'invoice':entity.id,'service':service.slug}) }}" ><i class="icon-save"></i> Save</button>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">&nbsp;</div>
                                                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                                            <thead class="flip-content ">
                                                            <tr class="head-grey">
                                                                <th class="numeric">Procedure</th>
                                                                <th class="numeric">Teeth Position</th>
                                                                <th class="numeric">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="procedure-{{ service.slug }}">
                                                            {% for invoiceParticular in entity.invoiceParticulars %}
                                                                {% if invoiceParticular.dmsService is not empty and invoiceParticular.dmsService.slug|trim == service.slug %}
                                                                    <tr id="remove-{{ invoiceParticular.id }}">
                                                                        <td  class="numeric" {% if invoiceParticular.teethNo[0] is empty %} colspan="2" {% endif %} >{{ invoiceParticular.metaValue }}</td>
                                                                        {% if invoiceParticular.teethNo is not empty and invoiceParticular.teethNo[0] is not empty %}
                                                                            <td class="numeric">
                                                                                {% if entity.customer.ageGroup == 'Adult' %}
                                                                                <table class="dms-table">
                                                                                    {% set upperLeftTeeths = {8:8,7:7,6:6,5:5,4:4,3:3,2:2,1:1} %}
                                                                                    {% set upperRightTeeths = {9:1,10:2,11:3,12:4,13:5,14:6,15:7,16:8} %}
                                                                                    {% set lowerLeftTeeths = {24:8,23:7,22:6,21:5,20:4,19:3,18:2,17:1} %}
                                                                                    {% set lowerRightTeeths = {25:1,26:2,27:3,28:4,29:5,30:6,31:7,32:8} %}
                                                                                    <tr><td class="dms-td dms-td-border-none dms-td-border-bottom">
                                                                                            <ul class="leftTeeth">
                                                                                                {% for key,value in upperLeftTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo  %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                        <td class="dms-td dms-td-border-bottom">
                                                                                            <ul class="rightTeeth">
                                                                                                {% for key,value in upperRightTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr><td class="dms-td dms-td-border-none">
                                                                                            <ul class="leftTeeth">
                                                                                                {% for key,value in lowerLeftTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo  %} class="active" {% endif %}>{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                        <td class="dms-td">
                                                                                            <ul class="rightTeeth">
                                                                                                {% for key,value in lowerRightTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                {% else %}
                                                                                <table class="dms-table">
                                                                                    {% set upperLeftTeeths = {37:'E',36:'D',35:'C',34:'B',33:'A'} %}
                                                                                    {% set upperRightTeeths = {38:'A',39:'B',40:'C',41:'D',42:'E'} %}
                                                                                    {% set lowerLeftTeeths = {47:'E',46:'D',45:'C',44:'B',43:'A'} %}
                                                                                    {% set lowerRightTeeths = {48:'A',49:'B',50:'C',51:'D',52:'E'} %}
                                                                                    <tr><td class="dms-td dms-td-border-none dms-td-border-bottom">
                                                                                            <ul class="leftTeeth">
                                                                                                {% for key,value  in upperLeftTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo  %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                        <td class="dms-td dms-td-border-bottom">
                                                                                            <ul class="rightTeeth">
                                                                                                {% for key,value in upperRightTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr><td class="dms-td dms-td-border-none">
                                                                                            <ul class="leftTeeth">
                                                                                                {% for key,value in lowerLeftTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo  %} class="active" {% endif %}>{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                        <td class="dms-td">
                                                                                            <ul class="rightTeeth">
                                                                                                {% for key,value in lowerRightTeeths %}
                                                                                                    <li {% if key in invoiceParticular.teethNo %} class="active" {% endif %} >{{ value }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                {% endif %}
                                                                            </td>
                                                                        {% endif %}
                                                                        <td class="numeric">
                                                                            <a href="javascript:" class="btn red mini particularDelete" data-id="{{ invoiceParticular.id }}" data-tab="{{ service.slug }}" id="{{ invoiceParticular.id }}" data-url="{{ path('dms_invoice_particular_delete',{'invoice':entity.invoice , 'id':invoiceParticular.id}) }}" ><i class="icon-trash"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        {% elseif service.serviceFormat == 'text-field'  %}
                                                            {% if service.dmsParticulars is not empty %}
                                                                {% for particular in service.dmsParticulars  %}
                                                                    <div class="row-fluid">
                                                                        <div class="span3"><label>{{ particular.name }}</label></div>
                                                                        <div class="span9">
                                                                            <div class="form-control">
                                                                                <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                                                <input type="text" class="m-wrap span12 wrap-custom autoMetaValue" name="metaValue[]" value="{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% elseif service.serviceFormat == 'checkbox-text-field'  %}
                                                            {% if service.dmsParticulars is not empty %}
                                                                {% for particular in service.dmsParticulars  %}
                                                                    <div class="row-fluid">
                                                                        <div class="span3"><label><input {% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty and invoiceParticularArr[particular.id].metaCheck == particular.id %} checked="checked" {% endif %} type="checkbox" value="{{ particular.id }}" name="metaCheck[]"> &nbsp;{{ particular.name }}</label></div>
                                                                        <div class="span9">
                                                                            <div class="form-control">
                                                                                <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                                                <input type="text" class="m-wrap span12 wrap-custom autoMetaValue" name="metaValue[]" value="{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% elseif service.serviceFormat == 'checkbox'  %}
                                                            {% if service.dmsParticulars is not empty %}
                                                                {% for particular in service.dmsParticulars  %}
                                                                    <div class="row-fluid">
                                                                        <input type="hidden" value="" name="metaValue[]">
                                                                        <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                                        <div class="span12"><label><input {% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty and invoiceParticularArr[particular.id].metaCheck == particular.id %} checked="checked" {% endif %} type="checkbox" value="{{ particular.id }}" name="metaCheck[]"> &nbsp;{{ particular.name }}</label></div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                         {% elseif service.serviceFormat == 'textarea'  %}
                                                            {% if service.dmsParticulars is not empty %}
                                                                {% for particular in service.dmsParticulars  %}
                                                                    <div class="row-fluid"><div class="span12"><label>{{ particular.name }}</label></div></div>
                                                                    <div class="row-fluid">
                                                                        <div class="span12">
                                                                            <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                                            <textarea  class="m-wrap span12 autoMetaValue" rows="6" name="metaValue[]">{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}</textarea>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                         {% elseif service.serviceFormat == 'file'  %}
                                                            <div class="clearfix">&nbsp;</div>
                                                            <div class="row-fluid" id="">
                                                                <div class="span4">
                                                                    <input type="text" name="investigation" id="investigation" class="investigation span12 m-wrap" placeholder="Enter type investigation name">
                                                                    <input type="hidden" name="dmsService" id="dmsService" value="{{ service.id }}">
                                                                </div>
                                                                <div class="span8">
                                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                                        <div class="input-append span12">
                                                                            <div class="uneditable-input">
                                                                                <i class="icon-file fileupload-exists"></i>
                                                                                <span class="fileupload-preview"></span>
                                                                            </div>
                                                                            <span class="btn yellow btn-file">
                                                                            <span class="fileupload-new">Select File</span>
                                                                            <span class="fileupload-exists">Change</span>
                                                                            <input type="file" name="file" id="file"  class="default span12">
                                                                            </span><a href="#" class="btn red fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                                            <button type="button"  class="btn blue addInvestigation" id="" data-id="{{ service.slug }}" data-tab="tab-{{ service.slug }}"  data-url="{{ path('dms_invoice_investigation_procedure',{'invoice':entity.id,'service':service.slug}) }}" ><i class="icon-save"></i> Upload</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">&nbsp;</div>
                                                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                                                        <thead class="flip-content ">
                                                                        <tr class="head-grey">
                                                                            <th class="numeric">Date</th>
                                                                            <th class="numeric">Investigation Name</th>
                                                                            <th class="numeric">Upload File</th>
                                                                            <th class="numeric">Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody id="procedure-{{ service.slug }}">
                                                                        {% for invoiceParticular in entity.invoiceParticulars %}
                                                                            {% if invoiceParticular.dmsService is not empty and invoiceParticular.dmsService.slug|trim == service.slug %}
                                                                                <tr id="remove-{{ invoiceParticular.id }}">
                                                                                    <td  class="numeric">{{ invoiceParticular.created|date('d-m-Y') }}</td>
                                                                                    <td  class="numeric">{{ invoiceParticular.metaValue }}</td>
                                                                                    <td  class="numeric"><a target="_blank" href="/{{ invoiceParticular.webPath }}">View Image</a></td>
                                                                                    <td class="numeric">
                                                                                        <a href="javascript:" class="btn red mini particularDelete" data-id="{{ invoiceParticular.id }}" data-tab="{{ service.slug }}" id="{{ invoiceParticular.id }}" data-url="{{ path('dms_invoice_particular_delete',{'invoice':entity.invoice , 'id':invoiceParticular.id}) }}" ><i class="icon-trash"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                         {% endif  %}
                                                        <div class="clearfix">&nbsp;</div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if entity.customer is not empty %}
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="form-actions portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption"><i class="icon-reorder"></i>Treatment Plan & Payment</div>
                                                    <div class="actions">
                                                        <div class="btn-group">
                                                            <a class="btn yellow appointmentSchedule"
                                                               data-title="Patient Appointment Schedule"
                                                                data-topoffset="0" data-top="10%"
                                                               href="javascript:" data-url="{{ path('dms_treatment_appointment_schedule') }}" ><span
                                                                        class="fa fa-calendar"></span> Appointment Schedule</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="row-fluid particular-info" >
                                                        <div class="span5">
                                                            <select id="particular" name="particular" class="span12 select2">
                                                                <option value="">--- Select Treatment & Services ---- </option>
                                                                {{ particularService|raw }}
                                                            </select>
                                                        </div>
                                                        <div class="span4">
                                                            <input type="text" class="m-wrap span5 form-control date-picker" id="appointmentDate" name="appointmentDate" value="" >

                                                            <select class="span7 m-wrap" id="appointmentTime" name="appointmentTime">
                                                                <option value="">-Appointment Time- </option>
                                                            </select>
                                                        </div>
                                                        <div class="span3">
                                                            <div class="input-append span11" style="margin-bottom:0!important">
                                                                <input type="hidden" id="particularId" name="particularId" value="">
                                                                <input type="text" class="m-wrap span8" id="price" name="price" value="" maxlength="8">
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn blue" id="addParticular" data-url="{{ path('dms_invoice_particular_add',{'invoice':entity.id}) }}" > Add</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12" id="instruction"></div>
                                            </div>
                                            <div class="row-fluid">
                                                <table class="table table-bordered table-striped table-condensed flip-content ">
                                                    <thead class="flip-content ">
                                                    <tr class="head-grey">
                                                        <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                                        <th class="numeric">Date</th>
                                                        <th class="numeric">Treatment Particular</th>
                                                        <th class="numeric">Appointment Date</th>
                                                        <th class="numeric">Price</th>
                                                        <th class="numeric">SubTotal</th>
                                                        <th class="numeric">Discount</th>
                                                        <th class="numeric">Paid</th>
                                                        <th class="numeric">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceParticulars">
                                                    {% for treatment in entity.dmsTreatmentPlans %}
                                                        <tr id="remove-{{ treatment.id }}">
                                                            <td  class="numeric">{{ loop.index }}</td>
                                                            <td  class="numeric">{{ treatment.updated|date('d-m-Y') }}</td>
                                                            <td  class="numeric">{{ treatment.dmsParticular.particularCode }} - {{ treatment.dmsParticular.name }}</td>
                                                            <td  class="numeric">
                                                                {% if treatment.status ==1 %}
                                                                    {{ treatment.appointmentDate|date('d-m-Y') }} {{ treatment.appointmentTime }}
                                                                {% else %}
                                                                    <a  class="btn mini blue-stripe btn-action editable" data-name="AppointmentDate" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-value="{{ treatment.appointmentDate|date('d-m-Y') }}" data-format="YYYY-MM-DD" data-viewformat="DD-MM-YYYY" data-template="DD-MM-YYYY" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change appointment date">{{ treatment.appointmentDate|date('d-m-Y') }}</a>
                                                                    <a  data-type="select" class="btn mini purple-stripe btn-action editable" id="process" data-name="AppointmentTime" href="#" data-source="{{ path('dms_invoice_appointment_datetime_select',{'assignDoctor':entity.assignDoctor.id,'appointmentDate':treatment.appointmentDate|date('d-m-Y')}) }}"  data-url="{{ path('dms_treatment_inline_update') }}" data-pk="{{ treatment.id }}" data-value="{{ treatment.appointmentTime }}" data-original-title="Change appointment time">{{ treatment.appointmentTime }}</a>
                                                                {% endif %}
                                                            </td>
                                                            <th class="numeric">{{ treatment.price }}</th>
                                                            <th class="numeric">{{ treatment.subTotal }}</th>
                                                            <th class="numeric">
                                                                {% if treatment.status ==1 %}
                                                                    {{ treatment.discount }}
                                                                {% else %}
                                                                    <a  class="editable" data-name="Discount" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change discount amount">{{ treatment.discount }}</a>
                                                                {% endif %}
                                                            </th>
                                                            <th class="numeric">
                                                                {% if treatment.status ==1 %}
                                                                    {{ treatment.payment }}
                                                                {% else %}
                                                                    <a  class="editable" data-name="Payment" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change payment amount">{{ treatment.payment }}</a>
                                                                {% endif %}
                                                            </th>
                                                            <td class="numeric">
                                                                {% if treatment.status !=1 %}
                                                                    <a href="javascript:" class="btn blue mini approve" data-url="{{ path('dms_invoice_treatment_approved',{'id':treatment.id}) }}">Approve</a>
                                                                    <a href="javascript:" class="btn red mini treatmentDelete" data-id="{{ treatment.id }}" id="{{ treatment.id }}" data-url="{{ path('dms_invoice_treatment_delete',{'invoice':entity.id , 'id':treatment.id}) }}"><i class="icon-trash"></i></a>
                                                                {% else %}
                                                                    Done
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <th  class="numeric text-right" colspan="4" ><span class="pull-right">Total Summary</span></th>
                                                    <th  class="numeric subTotal" >{{ entity.subTotal }}</th>
                                                    <th  class="numeric discount">{{ entity.discount }}</th>
                                                    <th class="numeric payment">{{ entity.payment }}</th>
                                                    <th class="numeric due" colspan="2">{{ entity.due }}</th>
                                                    </tfoot>

                                                </table>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                    </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="form-actions portlet box green">
                                                    <div class="portlet-title">
                                                        <div class="caption"><i class="icon-reorder"></i>Treatment Accessories</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <div class="row-fluid particular-info" >
                                                            <div class="span9">
                                                                <select id="accessories" name="accessories" class="span12 select2">
                                                                    <option value="">--- Select Treatment Accessories ---- </option>
                                                                    {% for accessories in accessories %}
                                                                        <option value="{{ accessories.id }}">{{ accessories.particularCode }} - {{ accessories.name }} {{ accessories.unit }}</option>
                                                                    {% endfor %}

                                                                </select>
                                                            </div>
                                                            <div class="span3">
                                                                <div class="input-append span12" style="margin-bottom:0!important">
                                                                    <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                       <button type="button" class="btn yellow btn-number" data-type="minus" data-field="quantity">
                                                                                <span class="fa fa-minus"></span>
                                                                       </button><input type="number" class="m-wrap span5 form-control input-number" id="quantity" name="quantity" value="1" min="1" max="100">
                                                                    </span>
                                                                        <span class="input-group-btn">
                                                                      <button type="button" class="btn green btn-number"  data-type="plus" data-field="quantity">
                                                                              <span class="fa fa-plus"></span>
                                                                      </button>
                                                                    </span>
                                                                    <button type="button" class="btn blue" id="addAccessories" data-url="{{ path('dms_invoice_accessories_add',{'invoice':entity.id}) }}" > Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                                        <thead class="flip-content ">
                                                        <tr class="head-grey">
                                                            <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                                            <th class="numeric">Created</th>
                                                            <th class="numeric">Accessories</th>
                                                            <th class="numeric">Quantity</th>
                                                            <th class="numeric">Price</th>
                                                            <th class="numeric">Sub-Total</th>
                                                            <th class="numeric">Action</th>
                                                       </tr>
                                                        </thead>
                                                        <tbody id="invoiceAccessories">
                                                        {% set subTotal = 0 %}
                                                        {% for inAccess in entity.dmsInvoiceAccessories %}
                                                            {% set subTotal = subTotal + inAccess.subTotal %}
                                                            <tr id="accessories-{{ inAccess.id }}">
                                                                <td class="numeric">{{ loop.index }}</td>
                                                                <td class="numeric">{{ inAccess.updated|date('d-m-Y') }}</td>
                                                                <td class="numeric">{{ inAccess.dmsParticular.particularCode }} - {{ inAccess.dmsParticular.name }}</td>
                                                                <td class="numeric">{{ inAccess.quantity }}</td>
                                                                <td class="numeric">{{ inAccess.price }}</td>
                                                                <td class="numeric">{{ inAccess.subTotal }}</td>
                                                                <td class="numeric" id="approved-{{ inAccess.id }}">
                                                                    {% if inAccess.status is empty %}
                                                                    <a href="javascript:" data-id="{{ inAccess.id }}" class="btn blue mini approveAccessories" data-url="{{ path('dms_invoice_accessories_approved',{'id':inAccess.id}) }}">Approve</a>
                                                                    <a  href="javascript:"  data-url="{{ path('dms_invoice_accessories_delete',{'id':inAccess.id}) }}" data-id="{{ inAccess.id }}" id="{{ inAccess.id }}"  class="btn red mini deleteAccessories"> <i class="icon-trash"></i></a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                        <th  class="numeric text-right" colspan="5" ><span class="pull-right">Total Summary</span></th>
                                                        <th class="numeric" colspan="2">{{ subTotal|number_format }}</th>
                                                        </tfoot>

                                                    </table>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="form-actions portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="icon-reorder"></i>Prescription</div>
                                                <div class="actions">
                                                    <div class="btn-group">
                                                        <a class="btn yellow prescription"
                                                           data-title="{{ entity.customer.name }}<a target='_blank' href='{{ path('dms_invoice_print_invoice',{'id':entity.id}) }}' class='btn blue preview-print'><i class='icon-print'></i>&nbsp; Print</a>"
                                                           data-topoffset="0" data-top="10%"
                                                           href="javascript:" data-url="{{ path('dms_invoice_prescription_preview',{'id':entity.id}) }}" ><span class="icon-eye-open"></span> Preview</a>
                                                        {% if entity.process in ['Appointment','Visit','Done'] %}
                                                            <a target="_blank" href="{{ path('dms_invoice_print_invoice',{'id':entity.id}) }}" class="btn purple"><i class="icon-print"></i>&nbsp; Print</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="row-fluid particular-info">
                                            <div class="span6">
                                                <div class="form-control">
                                                    <input type="text" id="medicine" name="medicine"  class="span12 m-wrap select2Medicine" value="{% if searchForm.toUser is defined %}{{ searchForm.toUser }}{% endif %}"  autocomplete="off" placeholder="Search medicine brand">
                                                    <input type="hidden" name="medicineId" id="medicineId">
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="generic" name="generic"  class="span12 m-wrap select2Generic" value="{% if searchForm.toUser is defined %}{{ searchForm.toUser }}{% endif %}"  autocomplete="off" placeholder="Search generic name">
                                                <input type="hidden" name="genericId" id="genericId">
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="row-fluid particular-info" >
                                                <div class="span12">
                                                    <div class="input-append span12" style="margin-bottom:0!important">
                                                        <select class="m-wrap span2" id="medicineQuantity" name="medicineQuantity"  >
                                                            <option value="">--Medicine Quantity--</option>
                                                            {% for attribute in attributes %}
                                                                {% if attribute.parent == 'medicine-quantity' %}
                                                                    <option value="{{ attribute.id }}">{% if entity.dmsConfig.medicineUsage == 1 %}{{ attribute.name }}{% else %}{{ attribute.nameBn }}{% endif %}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <select class="m-wrap span3" id="medicineDose" name="medicineDose">
                                                            <option value="">--Medicine Dose--</option>
                                                            {% for attribute in attributes %}
                                                                {% if attribute.parent == 'medicine-dose' %}
                                                                    <option value="{{ attribute.id }}">{% if entity.dmsConfig.medicineUsage == 1 %}{{ attribute.name }}{% else %}{{ attribute.nameBn }}{% endif %}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <select class="m-wrap span3" id="medicineDoseTime" name="medicineDoseTime" >
                                                            <option value="">--Medicine Dose Time--</option>
                                                            {% for attribute in attributes %}
                                                                {% if attribute.parent == 'medicine-dose-time' %}
                                                                    <option value="{{ attribute.id }}">{% if entity.dmsConfig.medicineUsage == 1 %}{{ attribute.name }}{% else %}{{ attribute.nameBn }}{% endif %}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <input type="number" class="m-wrap span2" style="margin-top:1px" id="medicineDuration" name="medicineDuration" value="7">
                                                        <select class="m-wrap span2" id="medicineDurationType" name="medicineDurationType">
                                                            <option value="">--Medicine Duration--</option>
                                                            {% for attribute in attributes %}
                                                                {% if attribute.parent == 'medicine-duration-type' %}
                                                                    <option value="{{ attribute.id }}">{% if entity.dmsConfig.medicineUsage == 1 %}{{ attribute.name }}{% else %}{{ attribute.nameBn }}{% endif %}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn blue"  id="addPrescriptionParticular" data-url="{{ path('dms_invoice_medicine_add',{'invoice':entity.id}) }}" ><i class="icon-plus"></i> Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="row-fluid">
                                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                                <thead class="flip-content ">
                                                <tr class="head-grey">
                                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                                    <th class="numeric">Medicine Name</th>
                                                    <th class="numeric">Quantity</th>
                                                    <th class="numeric">Dose Time</th>
                                                    <th class="numeric">Duration</th>
                                                    <th class="numeric">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceMedicine">

                                                {% set date ='' %}
                                                {% for medicine in entity.invoiceMedicines %}
                                                    {% if medicine.created|date('d-m-Y') != date %}
                                                        {% set date = medicine.created|date('d-m-Y') %}
                                                        <tr><th colspan="6">{{ medicine.created|date('d-m-Y') }}</th></tr>
                                                    {% endif %}
                                                    <tr id="medicine-{{ medicine.id }}">
                                                        <td  class="numeric">{{ loop.index }}.</td>
                                                        <td  class="numeric">{% if medicine.medicine is not empty %}{{ medicine.medicine.medicineForm }}. {{ medicine.medicine.name }} {{ medicine.medicine.strength }}{% else %} {{ medicine.medicineName }}{% endif %}</td>
                                                        <td class="numeric">{{ medicine.medicineQuantity }}</td>
                                                        <td class="numeric">{{ medicine.medicineDose }} - {{ medicine.medicineDoseTime }}</td>
                                                        <td class="numeric">{{ medicine.medicineDuration }} {{ medicine.medicineDurationType }}</td>
                                                        <td class="numeric">

                                                            <a  href="javascript:" data-url="{{ path('dms_invoice_medicine_delete',{'id':medicine.id}) }}" data-id="{{ medicine.id }}" id="{{ medicine.id }}"  class="btn red mini deleteMedicine"> <i class="icon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="form-actions portlet box grey">
                                        <div class="pull-right">
                                            <input type="hidden" id="patient" name="patient" value="{% if entity.customer is not empty %}{{ entity.customer.id }}{% endif %}">
                                            <input type="hidden" id="invoice" name="invoice" data-action="{{ path('hms_invoice_print_for',{'id': entity.id}) }}" value="{{ entity.id }}">
                                            <input type="hidden" name="invoiceId" id="invoiceId" value="{{ entity.id }}" >
                                            <div class="action">
                                                {{ form_widget(form.process) }}
                                                {{ form_errors(form.process) }}
                                                <div class="btn-group">
                                                    <button type="button"  class="btn blue" id="finalActionButton"><i class="icon-save"></i> Save</button>
                                                    <a class="btn yellow prescription"
                                                       data-title="{{ entity.customer.name }}<a target='_blank' href='{{ path('dms_invoice_print_invoice',{'id':entity.id}) }}' class='btn blue preview-print'><i class='icon-print'></i>&nbsp; Print</a>"
                                                       data-topoffset="0" data-top="10%"
                                                       href="javascript:" data-url="{{ path('dms_invoice_prescription_preview',{'id':entity.id}) }}" ><span class="icon-eye-open"></span> Preview</a>
                                                    {% if entity.process in ['Appointment','Visit','Done'] %}
                                                        <a target="_blank" href="{{ path('dms_invoice_print_invoice',{'id':entity.id}) }}" class="btn purple"><i class="icon-print"></i>&nbsp; Print</a>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <!--END TABS-->
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog_content" class="dialog_content" style="display:none">
        <div class="dialogModal_header"></div>
        <div class="dialogModal_content"></div>
    </div>

 <style>

     .tooltip-inner{
         background-color: #d12610;
     }
     .tooltip.top .tooltip-arrow{
         color: #d12610 !important;
     }
     .close{
         background-image: none!important;
     }
     .dialogModal .dialogModal_top .dialogModal_header{
         width: 100%!important;
     }
     .dialogModal .dialogModal_body{
         width: 100%!important;
     }
     .dialogModal .dialogModal_content{

     }
     .dialogModal_content .mini{
         height: 20px!important;
     }

     .check-list label{
         width: 97%;
     }
     .feeds .col1 .cont .cont-col2 .desc{
         margin-left: 10px;
     }
     .portlet.box .form .form-actions, .portlet.solid .form .form-actions {
         margin-top: -9px !important;
     }
     .tab-height{
         min-height: 525px;
     }

     .row-fluid label{
       line-height: 30px!important;
     }

     input[class*="span"].wrap-custom{
         height: 30px!important;

     }

     li.active > a {
         color: #d12610 !important;
     }
     .tabs-right.tabbable-custom .nav-tabs > li a, .tabs-left.tabbable-custom .nav-tabs > li a {
         padding: 8px 10px;
         font-weight: bold;
     }

     .select2-container-multi .select2-choices {
         min-height: 26px;
         height: 32px!important;
     }
     .select2-container-multi .select2-choices .select2-search-choice div {
         width: 20px!important;
         background: #d12610;
         color: #fff!important;
         text-align: center;
     }
     #project-label {
         display: block;
         font-weight: bold;
         margin-bottom: 1em;
     }
     #project-icon {
         float: left;
         height: 32px;
         width: 32px;
     }
     #project-description {
         margin: 0;
         padding: 0;
     }
     .dms-table {

     }
     .dms-table tr{
         height:15px!important;
         line-height: 15px!important;
     }
     .dms-table .dms-td{
        height: 15px!important;
        line-height: 15px;
         padding: 1px!important;
         width: 180px;

     }
     .dms-table .dms-td-border-none{
         border: none!important;
         text-align:right!important;
     }
    .dms-table .dms-td-border-bottom{
         border-bottom:2px solid #4b8df8!important;
     }

     .dms-table .dms-td ul.rightTeeth , .dms-table .dms-td ul.leftTeeth{
         list-style: none;
         padding: 0;
         margin: 0;
     }

     .dms-table .dms-td ul.rightTeeth{
        float:right;
     }
     .dms-table .dms-td ul.leftTeeth{

     }
     .dms-table .dms-td ul.leftTeeth li, .dms-table .dms-td ul.rightTeeth li {
         float: left;
         border: 1px solid #000;
         margin: 1px;
         height: 15px;
         line-height: 15px;
         padding: 5px;
         padding-bottom: 1px;
         padding-top: 1px;
     }
     .dms-table .dms-td ul.leftTeeth li.active , .dms-table .dms-td ul.rightTeeth li.active{
         color: #d12610 !important;
         border: 1px solid #d12610!important;
     }
     .dms-teeth-plan{
         margin-top: -18px;
     }

     .dms-teeth-plan .dms-plan-td{
         padding: 1px!important;
         width: 275px;

     }
     .dms-teeth-plan .dms-plan-td-border-none{
         border: none!important;
         text-align:right!important;
     }
     .dms-teeth-plan .dms-plan-td-border-bottom{
         border-bottom:red 1px solid !important;
     }
     .dms-teeth-plan ul.leftFormatTeeth ,.dms-teeth-plan ul.rightFormatTeeth{
         list-style:none;
     }
     .dms-teeth-plan .leftFormatTeeth li, .dms-teeth-plan .rightFormatTeeth li {
         float: left;
         padding: 3px;
     }
     .dms-teeth-plan .dms-td ul.rightFormatTeeth{
         float:right;
     }
     .checkbox-custom{
         color:red;
         border:1px solid #FFF;
         background-image:url("{{ asset('assets/img/tooth.png') }}");
         background-size: 24px 24px;
         background-repeat: no-repeat;
     }
     .checkbox-custom.focus{
         border:red 1px solid ;
     }
     .preview-print{
         float: right;
     }
 </style>

{% endblock %}

{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@DmsBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@DmsBundle/Resources/public/js/invoice.js'
    '@DmsBundle/Resources/public/js/editable.js'
    '@HospitalBundle/Resources/public/js/datetimepicker_css.js'
    '@DmsBundle/Resources/public/js/approveProcess.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    $('#addParticular').attr("disabled", true);
    $("select.multi-select2").multiSelect();
    $('.leftFormatTeeth li div , .rightFormatTeeth li div').removeClass('checker');
{% endblock %}
