{% extends ':template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="crumb">&nbsp;<a href="{{ path('homepage') }}">Home</a> <i>/</i>Products</div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container" style="background: #464646">
            <div class="row-fuiid">
                <form method="get" action="" name="search">
                    <div class=" col-md-7" style="margin-top: 10px; margin-bottom: 10px">
                        {{ categoryTree|raw }}
                        <select class="select2" id="brand" name="brand" style="width:20%">
                            <option value="">Brand By</option>
                            {%  set brandId = app.request.query.get('brand') %}
                            {% for brand in brands  %}
                                <option {% if brand.id == brandId %} selected="selected" {% endif %} value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                        <select class="select2" id="order" name="order" style="width:20%">
                            <option value="">Filter By</option>
                            {%  set order = app.request.query.get('order') %}
                            <option {% if order == 'ASC' %} selected="selected" {% endif %} value="ASC" >Lowest price</option>
                            <option {% if order == 'DESC' %} selected="selected" {% endif %} value="DESC">Highest price</option>
                        </select>

                        <button type="submit" class="btn btn-default glyphicon glyphicon-search" ></button>
                    </div>
                </form>
                <div class=" col-md-5 paginate">
                    <div class="pull-right"  >
                        {{ knp_pagination_render(products) }}
                    </div>
                    <div class="btn-group pull-right">
                        <a href="#" id="list" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th-list"></span>&nbsp;List</a>
                        <a href="#" id="grid" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th"></span>&nbsp;Grid</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #products .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        }
    </style>
    <section id="products">
        <div class="container">

            <h1>Shopping Cart</h1><hr>
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                <tr>
                    <th>Item</th>
                    <th>QTY</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
                <tr>
                    <td>Awesome Product</td>
                    <td>1 <a href="#">X</a></td>
                    <td>£250.00</td>
                    <td>£250.00</td>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">Sub Total</span></th>
                    <th>£250.00</th>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">VAT 20%</span></th>
                    <th>£50.00</th>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">Total</span></th>
                    <th>£300.00</th>
                </tr>
                <tr>
                    <td><a href="#" class="btn btn-primary">Continue Shopping</a></td>
                    <td colspan="3"><a href="#" class="pull-right btn btn-success">Checkout</a></td>
                </tr>
                </tbody>
            </table>

        </div>

    </section>

    <style>
        .media-left, .media>.pull-left{
            margin-right: 10px;
        }
        .media{
            border-bottom: none;
        }
    </style>
    <section>
        <div class="container">
            <div class="col-sm-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in carts %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ product.name }}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">{{ product.brand }}</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="{{ product.quantity }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ product.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ product.price * product.quantity |number_format  }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Grand Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button></td>
                        <td>
                            {% if  app.user %}
                            <a href="{{ path('customer_order_cart') }}" type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>
                            {% else %}
                                <button type="button" class="btn btn-success login-preview">
                                   Login & Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                            <div>
                                <a href="#" class="btn">Zoom</a>
                                <a href="#" class="btn">View</a>
                            </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn add2cart">Add to cart</a>
                        <div class="sticker sticker-new"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                            <div>
                                <a href="#" class="btn">Zoom</a>
                                <a href="#" class="btn">View</a>
                            </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn add2cart">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                            <div>
                                <a href="#" class="btn">Zoom</a>
                                <a href="#" class="btn">View</a>
                            </div>
                        </div>
                        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn add2cart">Add to cart</a>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#" class="btn">Zoom</a>
                            <a href="#" class="btn">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="javascript:;" class="btn add2cart">Add to cart</a>
                    <div class="sticker sticker-new"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#" class="btn">Zoom</a>
                            <a href="#" class="btn">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="javascript:;" class="btn add2cart">Add to cart</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#" class="btn">Zoom</a>
                            <a href="#" class="btn">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="javascript:;" class="btn add2cart">Add to cart</a>
                </div>
            </div>
        </div>
        </div>
        <br>
        <br>
        <style>
            .product-item {
                padding: 15px;
                background: #fff;
                margin-top: 20px;
                position: relative;
            }
            .product-item:hover {
                box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
            }
            .product-item:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
                font-size: 0;
                line-height:0;
            }
            .sticker {
                position: absolute;
                top: 0;
                left: 0;
                width: 63px;
                height: 63px;
            }
            .sticker-new {
                background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
                left: auto;
                right: 0;
            }
            .pi-img-wrapper {
                position: relative;
            }
            .pi-img-wrapper div {
                background: rgba(0,0,0,0.3);
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .product-item:hover>.pi-img-wrapper>div {
                display: block;
            }
            .pi-img-wrapper div .btn {
                padding: 3px 10px;
                color: #fff;
                border: 1px #fff solid;
                margin: -13px 5px 0;
                background: transparent;
                text-transform: uppercase;
                position: relative;
                top: 50%;
                line-height: 1.4;
                font-size: 12px;
            }
            .product-item .btn:hover {
                background: #e84d1c;
                border-color: #c8c8c8;
            }

            .product-item h3 {
                font-size: 14px;
                font-weight: 300;
                padding-bottom: 4px;
                text-transform: uppercase;
            }
            .product-item h3 a {
                color: #3e4d5c;
            }
            .product-item h3 a:hover {
                color: #E02222;
            }
            .pi-price {
                color: #e84d1c;
                font-size: 18px;
                float: left;
                padding-top: 1px;
            }
            .product-item .add2cart {
                float: right;
                color: #a8aeb3;
                border: 1px #ededed solid;
                padding: 3px 6px;
                text-transform: uppercase;
            }
            .product-item .add2cart:hover {
                color: #fff;
                background: #e84d1c;
                border-color: #e84d1c;
            }
        </style>
    </section>
    <section id="">
        <div class="container">
            <div class="text-center"><h2>Viewed Products</h2></div>
            <img class="img-responsive displayed" src="{{ asset('assets/template/desktop/patros/images/short.png') }}" alt="short" />
            <div class="text-right owl-carousel-next-prev">
                <div class="customNavigation" >
                    <a class="btn prev glyphicon glyphicon-chevron-left"></a>
                    <a class="btn next glyphicon glyphicon-chevron-right"></a>
                </div>
            </div>
            <div id="product" class="row">
                <div id="product-slider" class="owl-carousel">
                    {% for product in globalOption.inventoryConfig.purchaseVendorItems|slice(0,12)  %}
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="thumbnail js-equal-height" >
                                <div class="product-preview group list-group-image" >
                                    <img class="img-responsive" src="{{ image(product.webPath).scaleResize(400.250) }}" alt="">
                                    <div class="team-content">
                                        <h3 class="team-prof">
                                            <a href="javascript:">{{ product.name }}</a>
                                            <small>{{ product.purchasePrice|number_format }}</small>
                                        </h3>
                                        <ul class="social-link">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading">
                                        {{ product.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        {{ product.content|raw|truncate(100) }}</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="lead">{{ product.purchasePrice|number_format }}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-5 text-right">
                                            <a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" class="btn btn-sm orange">Details<i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- Modal -->
    {{ include ('FrontendBundle:Template/Desktop/Widget:modalLogin.html.twig') }}
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/js/jquery.matchHeight.js'
    '@FrontendBundle/Resources/public/template/js/product.js'
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
