{% extends ':template:base.html.twig' %}
{% block body %}
<div class="container blog singlepost">
        <div class="row">
            <article class="col-md-8">
                <h1 class="page-header sidebar-title">{{ page.name }}</h1>
                <img class="img-responsive displayed" src="{{ image(page.webPath).resize() }}" alt="" />
                <p>{{ page.content|raw }}</p>

                <div class="mysharing">
                    <!-- Twitter -->
                    <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
                    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </div>
            </article>
            <!-- Blog Sidebar Column -->
            <aside class="col-md-4 sidebar-padding">
                <div class="blog-sidebar">
                    <div class="input-group searchbar">
                        <input type="text" class="form-control searchbar" placeholder="Search for...">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">Search</button>
							</span>
                    </div><!-- /input-group -->
                </div>
                <!-- Blog Categories -->
                <div class="blog-sidebar">
                    <h4 class="sidebar-title"><i class="fa fa-list-ul"></i> Categories</h4>
                    <hr>
                    <ul class="sidebar-list">
                        <li><a href="#">Applications</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Art Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Category Name</a></li>
                    </ul>
                </div>
                <!-- Recent Posts -->
                <div class="blog-sidebar">
                    <h4 class="sidebar-title"><i class="fa fa-align-left"></i> Recent News</h4>
                    <hr style="margin-bottom: 5px;">
                    {% for news in globalOption.newses|slice(0,5)  %}
                    <div class="media">
                        <a class="pull-left" href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':news.slug }) }}">
                            <img class="img-responsive media-object" src="{{ image(page.webPath).resize(100,100) }}" alt="Media Object">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'news','slug':news.slug }) }}">{{ news.name }}</a></h4>
                           {{ news.content|raw|truncate(100) }}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </aside>
        </div>
    </div>
 {% endblock %}
