<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{ globalOption.name }}</title>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700&amp;subset=latin,latin-ext' type='text/css' />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- HEADER -->
    <!-- HEADER -->
    {% stylesheets filter='cssrewrite'
    'assets/template/desktop/patros/css/bootstrap.min.css'
    'assets/template/desktop/patros/font-awesome/css/font-awesome.min.css'
    'assets/template/plugin/owl.carousel/owl.carousel.min.css'
    'assets/template/plugin/owl.carousel/owl.theme.min.css'
    'assets/template/plugin/side.toolbar/vcore.sidebar.css'
    'assets/template/plugin/pgslider/pgwslider.min.css'
    'assets/bindu/3rd/select2/select2.css'
    'assets/template/desktop/css/module.css'
    'assets/template/desktop/patros/css/patros-black.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <section id="top-bar">
        <div class="container" id="menu">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 text-left">
                        <div class="box">
                            <ul class="info-links">
                                {% if globalOption.templateCustomize.showCalendar == 1 %}<li><i class="fa fa-calendar"></i>&nbsp;{{ "now"|date("F j, Y") }}</li>{% endif %}
                                {% if globalOption.templateCustomize.showEmail == 1 %}<li><i class="fa fa-envelope"></i>&nbsp;{{ globalOption.email }}</li>{% endif %}
                                {% if globalOption.templateCustomize.showMobile == 1 %}<li><i class="fa fa-mobile"></i>&nbsp;{{ globalOption.mobile }}</li>{% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class=" col-md-6 text-right">
                        <div class="box">
                            <ul class="social-links">
                                {% if globalOption.facebookPageUrl == 1 %}<li><a href="https://{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                                {% if globalOption.templateCustomize.showSearch == 1 %}<li><a href="javascript:" id="searchEvent"><i class="fa fa-search"></i></a></li>{% endif %}
                                <li><a href="{{ path('webservice_customer_register') }}"><i class="fa fa-sign-in"></i></a></li>
                                <li><a href="{{ path('webservice_customer_login') }}"><i class="fa fa-lock"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="navbar-header col-md-12">
            <a class="navbar-brand" href="http://{{ globalOption.subDomain }}.kintethako.dev"><img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" alt="company logo" /></a>

        </div>

    </div>
    <section id="menu-bar" >
        <div class="container" id="menu">
            <div class="row">
                <div class="col-md-8">
                    <nav id="header-menu">{{ menuTree|raw }}</nav>

                </div>
                {% if globalOption.templateCustomize.showSearch == 1 %}
                    <div class="input-group searchbar col-md-3" id="nav-search">
                        <input type="text" class="form-control searchbar" placeholder="Search for...">
		                        <span class="input-group-btn">
		                        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
		                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</nav>
