<div class="col-xs-6 col-md-6">
    <div><h3>{{ product.name }}</h3></div>
    <hr>
    <div >
        <table class="list-table">
            <tr><td>Price</td><td class="left-text"><strong>৳&nbsp;{{ subItem.salesPrice|number_format }}</strong></td></tr>
            <tr><td>Stock in</td><td class="left-text">&nbsp;:&nbsp;<strong>{{ subItem.quantity  }}</strong></td></tr>
            {% if product.category is not empty %}<tr><td>Category</td><td class="left-text">&nbsp;:&nbsp;{{ product.category.name }}</td></tr>{% endif %}
            {% if product.unit is not empty %}<tr><td>Unit</td><td class="left-text">&nbsp;:&nbsp;{{ product.unit.name }}</td></tr>{% endif %}
            {% if product.gender is not empty %}<tr><td>Gender</td><td class="left-text">&nbsp;:&nbsp;{{ product.gender }}</td></tr>{% endif %}
            {% if product.ageGroup is not empty %}<tr><td>Age Group</td><td class="left-text">&nbsp;:&nbsp;{{ product.ageGroup }}</td></tr>{% endif %}
            {% if product.brand is not empty %}<tr><td>Brand</td><td class="left-text">&nbsp;:&nbsp;{{ product.brand.name }}</td></tr>{% endif %}
            {% if product.country is not empty %}<tr><td>Made in</td><td class="left-text">&nbsp;:&nbsp;{{ product.country.name }}</td></tr>{% endif %}
        </table>
    </div>
</div>
<div class="col-xs-6 col-md-6 o-margin-padding">
    <div class="col-xs-12 col-md-12 o-margin-padding">
        <div class="mysharing pull-right" style="margin-bottom:0; margin-top: 20px">
            <!-- Twitter -->
            <a href="http://twitter.com/home?status={{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 o-margin-padding"> <hr></div>
    <div class="col-xs-12 col-md-12 o-margin-padding">
        <div class="panel panel-success">
            <div class="panel-body">
                <form class="addCart">
                    {% if product.goodsItems is not empty and product.goodsItems is defined %}
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                                <select data-url="{{ path('webservice_product_sub_item', {'subdomain':globalOption.subDomain, 'product' : product.id }) }}" class="form-control changeSize" name="size" id="size" >
                                    <option value="">Choose</option>
                                    {% for goodsItem in  product.goodsItems %}
                                        <option {% if goodsItem.id == subItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" >{{ goodsItem.size.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if subItem.color is not empty and subItem.color is defined %}
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-text-background"></span></span>
                                <select class="form-control" name="color" disabled="disabled" >
                                    <option value="">Choose</option>
                                    {% for goodsItem in  product.goodsItems %}
                                        {% if goodsItem.color is not empty and goodsItem.color is defined %}
                                        <option {% if goodsItem.id == subItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" >{{ goodsItem.color.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-sort-by-order"></span></span>
                                <input type="text" class="form-control" id="quantity" min="1" max="{{ subItem.quantity }}" name="quantity" value="{{ subItem.quantity }}"  aria-label="Text input with multiple buttons">
                                <div class="input-group-btn"> <button type="button" class="btn btn-default">{{ product.unit.name }}</button> </div> </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">৳</span>
                                <input class="form-control" name="price" id="price"  disabled="disabled" value="{{ subItem.salesPrice|number_format }}" aria-label="Text input">

                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-default" data-url="{{ path('webservice_product_cart', {'subdomain':globalOption.subDomain, 'product' : product.id,'subitem' : subItem.id }) }}" ><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Add to cart</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>