{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                {{ entity.user.globalOption.name }}
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('tutor') }}">Tutor & Job</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">{{ entity.user.globalOption.name }}</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
    <div class="span12">
    <div class="btn-group pull-right">
        {% if entity.id > 0  %}
            <a class="btn black" href="{{ path('tutor_print',{'id': entity.id}) }}">Print</a>
            <a class="btn yellow" href="{{ path('tutor_pdf',{'id': entity.id}) }}">PDF</a>
        {% endif %}
    </div>
    <div class="portlet box green tabbable">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
    </div>

    <div class="portlet-body">

    <div class="tabbable portlet-tabs">
    <ul class="nav nav-tabs">
        {% if entity.id > 0  %}
            <li class=""><a  href="{{ path('tutor_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;View</a></li>
        {% endif %}
        <li class="active"><a  href="javascript:"><i class="icon-edit"></i>&nbsp;Add/Edit</a></li>

    </ul>
    <div class="tab-content">

    <div class="portlet-body form">
    {% include('flash-message.html.twig')  %}
    <!-- BEGIN FORM-->
    {{ form_start(form) }}
    {{ form_row(form._token) }}

    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" >Objectives</label>
                <div class="controls">
                    <div class="span12">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" >Position</label>
                <div class="controls">
                    <div class="span12">
                        {{ form_widget(form.currentPosition) }}
                        {{ form_errors(form.currentPosition) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Date of Birth<span class="required">*</span></label>
                <div class="controls">
                    {{ form_widget(form.dateOfBirth) }}
                    {{ form_errors(form.dateOfBirth) }}
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Gender</label>
                <div class="controls">
                    {{ form_widget(form.gender) }}
                    {{ form_errors(form.gender) }}
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Nationality</label>
                <div class="controls">
                    {{ form_widget(form.nationality) }}
                    {{ form_errors(form.nationality) }}
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Blood Group</label>
                <div class="controls">
                    {{ form_widget(form.bloodGroup) }}
                    {{ form_errors(form.bloodGroup) }}
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Email address<span class="required">*</span></label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Mobile<span class="required">*</span></label>

                <div class="controls">
                    <div class="input-prepend span11">
                        <span class="add-on">+88</span>
                        {{ form_widget(form.mobile) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>

            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <label class="control-label" >Additional Phone Number</label>
                <div class="controls">
                    <div class="input-prepend span11">
                        <span class="add-on">+88</span>
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--/row-->
    <div class="form-actions portlet box green disabled">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Academic Qualification</div>
            <div style="float: right">
                <button type="button" id="addmore" class="btn mini green-stripe purple" >Add Block</button>
                <button type="button" id="rmvbtn" class="btn mini purple-stripe red" disabled>Remove</button>

            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="clearfix">&nbsp;</div>
    {% if(entity.academics|length > 0) %}
        {% for academic in entity.academics %}

            <div class="row-fluid clone  box blue clone-block">
                <div class="span3">
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-icon left">
                            <i><input type="checkbox" name="academicRemoveId[]" value="{{ academic.id }}"></i>
                            <input type="hidden" name="academicId[]" value="{{ academic.id }}">
                                <select id="degree" name="degree[]"  class="m-wrap span12 selectbox" >

                                    {{ academic.degree == "Postgraduate Degree" ? 'selected="selected"' :''  }}

                                    <option value="">Select Examination/ Degree</option>
                                    <option value="Postgraduate Degree">Postgraduate Degree</option>
                                    <option value="Postgraduate Diploma">Postgraduate Diploma</option>
                                    <option value="Undergraduate Degree">Undergraduate Degree</option>
                                    <option value="HSC/A-Level">HSC/A-Level</option>
                                    <option value="SSC/O-Level">SSC/O-Level</option>
                                    <option value="Diploma Course">Diploma Course</option>
                                    <option value="Certification Course">Certification Course</option>
                                    <option value="Professional Course">Professional Course</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="span2">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="course" name="course[]"  class="m-wrap span12" placeholder="Enter Group or subject" value="{{ academic.course }}">
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="span2">
                    <div class="control-group">
                        <div class="controls">
                            <select name="passingYear[]" id="passingYear" class="selectbox">
                                <option>Passing year</option>
                                {% set minYear = "1970"|date("Y") %}
                                {% set maxYear = "now +5 years"|date("Y") %}
                                {% for year in minYear..maxYear %}
                                    {% set selected = academic.passingYear == year ? 'selected="selected"' :''  %}
                                    <option {{ selected }} value="{{ year }}">{{ year }}</option>
                                    {% set year = year + 1 %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="span2">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="result" name="result[]"  class="m-wrap span12" placeholder="Enter Division/GPA/CGPA" value="{{ academic.result }}">
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="span3">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="institute" name="institute[]"  class="m-wrap span12" placeholder="Board or Institute name" value="{{ academic.institute }}">
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>

        {% endfor %}
    {% else %}
        <div class="row-fluid clone  box blue clone-block">
            <div class="span3">
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="academicId[]" value="">
                        <select id="degree" name="degree[]"  class="m-wrap span12 selectbox">
                            <option value="">Select Qualificaton</option>
                            <option value="Postgraduate Degree">Postgraduate Degree</option>
                            <option value="Postgraduate Diploma">Postgraduate Diploma</option>
                            <option value="Undergraduate Degree">Undergraduate Degree</option>
                            <option value="HSC/A-level">HSC/A-level</option>
                            <option value="SSC/O-level">SSC/O-level</option>
                            <option value="Diploma Course">Diploma Course</option>
                            <option value="Certification Course">Certification Course</option>
                            <option value="Professional Course">Professional Course</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span2">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="course" name="course[]"  class="m-wrap span12" placeholder="Enter Group or subject" value="">
                    </div>
                </div>
            </div>
            <!--/span-->

            <div class="span2">
                <div class="control-group">
                    <div class="controls">
                        <select name="passingYear[]" class="selectbox">
                            <option>Passing year</option>
                            {% set minYear = "1970"|date("Y") %}
                            {% set maxYear = "now +5 years"|date("Y") %}
                            {% for year in minYear..maxYear %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% set year = year + 1 %}
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>
            <!--/span-->

            <div class="span2">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="result" name="result[]"  class="m-wrap span12" placeholder="Enter G.P.A/C.G.P.A" value="">
                    </div>
                </div>
            </div>
            <!--/span-->

            <div class="span3">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="institute" name="institute[]"  class="m-wrap span12" placeholder="Board or Institute name" value="">
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>


    {% endif %}

    <div class="clearfix"></div>
    <!--/row-->
    <div class="clearfix"></div>
    <!--/row-->
    <div class="form-actions portlet box green disabled">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Additional Academic Qualification </div>
            <div style="float: right">
                <button type="button" id="addmeta" class="btn mini green-stripe purple" >Add Block</button>
                <button type="button" id="rmvmeta" class="btn mini purple-stripe red" disabled>Remove</button>

            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="clearfix">&nbsp;</div>
    {% if(entity.academicMeta|length > 0) %}
        {% for meta in entity.academicMeta %}

            <div class="row-fluid clone-meta  box blue clone-block">
                <div class="span3">
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-icon left">
                                <i><input type="checkbox" name="metaRemoveId[]" value="{{ meta.id }}"></i>
                                <input type="hidden" name="metaId[]" value="{{ meta.id }}">
                                <input type="text" id="metaKey" name="metaKey[]"  class="m-wrap span12" placeholder="Enter Label" value="{{ meta.metaKey }}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="span9">
                    <div class="control-group">
                        <div class="controls">
                            <textarea id="metaValue" name="metaValue[]" rows="3"  class="m-wrap span12" placeholder="Enter description" >{{ meta.metaValue }}</textarea>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>

        {% endfor %}
    {% else %}
        <div class="row-fluid clone-meta  box blue clone-block">
            <div class="span3">
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="metaId[]" value="">
                        <input type="text" id="metaKey" name="metaKey[]"  class="m-wrap span12" placeholder="Enter Label" value="">
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span9">
                <div class="control-group">
                    <div class="controls">
                        <textarea id="metaValue" name="metaValue[]" rows="3"  class="m-wrap span12" placeholder="Enter description" ></textarea>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

    {% endif %}

    <div class="clearfix"></div>
    <!--/row-->

    <div class="clearfix">&nbsp;</div>

    <div class="form-actions portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Personal Details</div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Facebook ID</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-facebook"></i>
                        {{ form_widget(form.facebookId) }}
                        {{ form_errors(form.facebookId) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            <div class="control-group">
                <label class="control-label" >Twitter</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-twitter"></i>
                        {{ form_widget(form.twitterId) }}
                        {{ form_errors(form.twitterId) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Skype ID</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-skype"></i>
                        {{ form_widget(form.skypeId) }}
                        {{ form_errors(form.skypeId) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            <div class="control-group">
                <label class="control-label" >Fax</label>
                <div class="controls">
                    <div class="input-prepend span11">

                        <span class="add-on">+88</span>
                        {{ form_widget(form.linkedin) }}
                        {{ form_errors(form.linkedin) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="form-actions portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Address</div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <label class="control-label" >Present Address</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-map-marker"></i>
                        {{ form_widget(form.presentAddress) }}
                        {{ form_errors(form.presentAddress) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <label class="control-label" >Permanent Address</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-map-marker"></i>
                        {{ form_widget(form.permanentAddress) }}
                        {{ form_errors(form.permanentAddress) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Location</label>
                <div class="controls span10 span-select-box">
                    {{ form_widget(form.location) }}
                    {{ form_errors(form.location) }}
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Postal Code</label>
                <div class="controls ">
                    <div class="input-icon left">
                        <i class="icon-map-marker"></i>
                        {{ form_widget(form.postalCode) }}
                        {{ form_errors(form.postalCode) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->


    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Profile Picture</label>
                <div class="controls">

                </div>
                <div class="controls">
                    <div data-provides="fileupload" class="fileupload fileupload-new">
                        <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                            {% if(entity.webPath) %}
                                <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="/{{ entity.webPath }}">
                            {% else %}
                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                            {% endif %}
                        </div>
                        <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                        <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </span>
                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                        </div>
                    </div>
                    <span class="label label-important">NOTE!</span>
											<span>
											Attached image thumbnail is
											supported in Latest Firefox, Chrome, Opera,
											Safari and Internet Explorer 10 only
											</span>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Syndicates</label>
                <div class="controls ">
                    <div class="input-icon left">
                        <div class="span12  product-categories" id="productCategories" >
                        {{ form_widget(form.syndicates) }}
                        {{ form_errors(form.syndicates) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="form-actions portlet box grey">
        <div class="pull-center">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
            <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>

        </div>
    </div>
    {{ form_end(form) }}
    <!-- END FORM-->
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
{% endblock %}


{% block documentready %}

    {{ parent() }}


    var count = 0;
    $('#addmore').click(function(){

        var $clone = $('.clone:eq(0)').clone();
        $clone.find('[id]').each(function(){this.id+='someotherpart'});
        $clone.find(':text,textarea,:hidden' ).val("");
        $clone.attr('id', "added"+(++count));
        $('.clone:eq(0)').after($clone);
        $('#rmvbtn').removeAttr('disabled');

    });

    $('#rmvbtn').click(function(){

        $('#added'+(count--)).remove();
        if (count>0)  $('#rmvbtn').removeAttr('disabled');
        else $('#rmvbtn').attr('disabled', 'disabled');
    });

    $('#addmeta').click(function(){

        var $clone = $('.clone-meta:eq(0)').clone();
        $clone.find('[id]').each(function(){this.id+='someotherpart'});
        $clone.find(':text,textarea,:hidden' ).val("");
        $clone.attr('id', "added"+(++count));
        $('.clone-meta:eq(0)').after($clone);
        $('#rmvmeta').removeAttr('disabled');

    });

    $('#rmvmeta').click(function(){

        $('#added'+(count--)).remove();
        if (count>0)  $('#rmvmeta').removeAttr('disabled');
        else $('#rmvmeta').attr('disabled', 'disabled');
    });


{% endblock %}

