<!-- BEGIN FORM-->
<div class="portlet box">
<div class="clearfix">&nbsp;</div>
<div class="portlet-body" style="min-height: 460px">
<div class="clearfix">&nbsp;</div>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i> Particulars</div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn red" href="{{ path('restaurant_invoice') }}"><i class="icon-th-list"></i> Invoice</a>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    {{ form_start(itemForm) }}
    {{ form_row(itemForm._token) }}
    <div class="row-fluid particular-info" style="padding-left: 15px" >
        <div class="row-fluid">
            <div class="span8">
                {{ form_widget(itemForm.particular) }}
            </div>
            <div class="span4">
                <div class="input-append span11" style="margin-bottom:0!important">
                    <input type="hidden" id="particularId" name="particularId" value="">
                    <div class="input-group">
                        <input type="text" class="m-wrap span3" readonly="readonly" id="price" placeholder="Price" name="price" value="" maxlength="8">
                        <span class="input-group-btn">
                           <button type="button" class="btn yellow btn-number" data-type="minus" data-field="quantity"><span class="fa fa-minus"></span></button>
                        </span>
                        <input type="number" class="m-wrap span3 form-control input-number" id="quantity" name="quantity" value="1" min="1" max="100">
                        <span class="input-group-btn">
                          <button type="button" class="btn green btn-number"  data-type="plus" data-field="quantity"><span class="fa fa-plus"></span></button>
                          <button type="button" class="btn red" id="temporaryParticular" data-url="{{ path('restaurant_temporary_particular_add') }}" ><i class="icon-shopping-cart"></i> Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" id="instruction"></div>
        </div>
    </div>
    {{ form_end(itemForm) }}
    <div class="clearfix">&nbsp;</div>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="row-fluid" style="background:#ffffff!important;">
        <div class="span8" id="particular-table" >
            <table class="table table-bordered table-striped table-condensed table-fixed">
                <thead>
                <tr>
                    <th class="span1">&nbsp;&nbsp;<i class="icon-list"></i></th>
                    <th class="span1">Si/No</th>
                    <th class="span6">Particular</th>
                    <th class="span1">Qnt</th>
                    <th class="span1">Unit</th>
                    <th class="span1">Amount</th>
                    <th class="span1"><i class="icon-trash"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceParticulars">
                {% for item in user.restaurantTemps %}
                    <tr id="remove-{{ item.id }}">
                        <td class=""><span class="badge badge-warning toggle badge-custom" id="{{ item.id  }}" ><span>[+]</span></span></td>
                        <td  class="">{{ loop.index }}</td>
                        <td class="">{{ item.particular.name }}</td>
                        <td class="">{{ item.quantity }}</td>
                        <td class="">{{ item.salesPrice }}</td>
                        <td class="">{{ item.subTotal|number_format }}</td>
                        <td class=""><a id="{{ item.id }}" data-id="{{ item.id }}"  data-url="{{ path('restaurant_temporary_particular_delete',{'id': item.id }) }}" href="javascript:" class="btn red mini initialParticularDelete" ><i class="icon-trash"></i></a></td>
                    </tr>

                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="span12" style="border: 1px double #000"></td>
                </tr>
                <tr>
                    <td colspan="5" class="span9"><span class="pull-right"><strong>Sub-Total TK.</strong> =</span></td>
                    <td class="span2"><strong class="subTotal">{{ temporarySubTotal|number_format }}</strong></td>
                    <td class="span1"></td>
                </tr>
                <tr>
                    <td colspan="5" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                    <td class="span2"><strong class="initialDiscount">{{ initialDiscount|number_format }}</strong></td>
                    <td class="span1"></td>
                </tr>
                <tr>
                    <td colspan="5" class="span9"><span class="pull-right"><strong>Vat TK.</strong> =</span></td>
                    <td class="span2"><strong class="initialVat">{{ initialVat|number_format }}</strong></td>
                    <td class="span1"></td>
                </tr>
                <tr>
                    <td colspan="5" class="span9"><span class="pull-right"><strong>Grand Total TK.</strong> =</span></td>
                    <td class="span2"><strong class="initialGrandTotal">{{ (temporarySubTotal + initialVat)|number_format }}</strong></td>
                    <td class="span1"></td>
                </tr>
                </tfoot>
            </table>
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="span4 payment-info">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="firstName">
                            <span class="label-custom" >Slip No</span>
                            <span class="pull-right sales-right">
                               {{ form_widget(form.slipNo) }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="firstName">
                            <span class="label-custom" >Table/Token No</span>
                            <span class="pull-right sales-right">
                               {{ form_widget(form.tokenNo) }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        {{ form_widget(form.salesBy) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="firstName">
                            <span class="label-custom" >Discount Type</span>
                            <span class="pull-right sales-right">
                                {{ form_widget(form.discountType) }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" style="height: 50px; line-height: 40px!important;background: yellowgreen" for="firstName"><span class="label-custom" >Discount TK.</span> <span class="pull-right sales-right">{{ form_widget(form.discountCalculation) }}</span></label>
                        {{ form_widget(form.discount) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" style="height: 50px; line-height: 40px!important;background:#ff9007" for="firstName"><span class="label-custom" >Discount Coupon</span> <span class="pull-right sales-right">{{ form_widget(form.discountCoupon) }}</span></label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label"  for="firstName"><span class="label-custom" >Vat TK.</span>
                            <span class="pull-right sales-right"><input type="text" id="restaurant_invoice_vat" name="restaurant_invoice[vat]" readonly="readonly"  class="m-wrap span12 vat" value="{{ initialVat }}" ></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="firstName"><span class="label-custom" id="balance">Due TK.</span> <span class="pull-right sales-right initialGrandTotal" style="text-align: left; width: 110px"  id="dueable" >{{ temporarySubTotal }}</span></label>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" style="height: 50px; line-height: 40px!important;background: red" for="firstName"><span class="label-custom" >Receivable TK.</span>
                            <span class="pull-right sales-right">
                            <input type="text" id="restaurant_invoice_payment" name="restaurant_invoice[payment]" value="{{ temporarySubTotal }}"  class="m-wrap span12 payment tooltips" placeholder="Receive" data-original-title="Add receive amount" autocomplete="off">
                            </span>
                        </label>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <div class="controls">
                            {{ form_widget(form.transactionMethod) }}
                            {{ form_errors(form.transactionMethod) }}
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div id="cartMethod" class="bankHide">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.cardNo) }}
                                {{ form_errors(form.cardNo) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.paymentCard) }}
                                {{ form_errors(form.paymentCard) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.accountBank) }}
                                {{ form_errors(form.accountBank) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
            <div id="bkashMethod" class="mobileBankHide">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.accountMobileBank) }}
                                {{ form_errors(form.accountMobileBank) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.paymentMobile) }}
                                {{ form_errors(form.paymentMobile) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                {{ form_widget(form.transactionId) }}
                                {{ form_errors(form.transactionId) }}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <div class="input-prepend" style="width: 89%!important;">
                            <button class="btn purple" type="button" onclick="javascript:NewCssCal('deliveryDateTime','ddMMyyyy','arrow',true,'12','','future')"><i class="icon-calendar"></i></button>
                            <input type="text" disabled="disabled"   id="deliveryDateTime" name="deliveryDateTime" required="required" class="m-wrap span12 tooltips input2" value="" data-trigger="hover" placeholder="Delivery date" data-original-title="Delivery date" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row-fluid" style="padding-top: 13px">
        <div class="span8" style="padding-left: 15px">
            {{ form_widget(form.remark) }}
            {{ form_errors(form.remark) }}
        </div>
        <div class="span4">
            <div class="input-append span12">
                <div class="btn-group span11">
                    <input type="hidden" class="initialGrandTotal" name="initialDue" id="initialDue" value="{{ temporarySubTotal }}">
                    <input type="hidden" name="initialDiscount" id="initialDiscount" value="">
                    <input type="hidden" name="buttonType" id="buttonType" value="">
                    <button type="button" class="btn red big span6 receiveBtn" {% if temporarySubTotal is empty %} disabled="disabled" {% endif %} id="saveButton"><i class="icon-save"></i> SAVE</button>
                    <button type="button" class="btn yellow big span6 receiveBtn" {% if temporarySubTotal is empty %} disabled="disabled" {% endif %} id="posButton"><i class="icon-print"></i> POS PRINT</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
</div>
<div class="clearfix">&nbsp;</div>
</div>

<!-- END FORM-->
<style>
    input.m-wrap , select.m-wrap , textarea.m-wrap{
        border: 2px solid #1e7b85!important;
    }
    select.m-wrap{
        height: 30px!important;
    }

    .label-custom{
        background: #1e7b85;
        padding: 0px;
        width: 200px;
        display: inline-block;
        text-align: right;
        padding-right: 15px;
        color: #ffffff;
    }
    .sales-right input[class*="span"].payment, .sales-right input[class*="span"].discount, .sales-right input[class*="span"].discountCoupon{
        border: 3px solid #1e7b85!important;
        height: 41px!important;
        font-size: 20px;
    }
    .sales-right input[class*="span"].discountCoupon{
        font-size: 15px;
    }
    input[class*="span"].remark{
        height: 54px!important;
    }
    .address{
        background: #ffffff!important;
    }
    .select2-container{
        border: 2px solid #1e7b85!important;
    }
    .bankHide , .mobileBankHide , .customer{
        display: none;
    }
    .dialogModal{
        z-index: 9999!important;
    }
    #calBorder, .select2-drop , .select2-drop-mask{
        z-index: 99999!important;
    }
    .select2-container .select2-choice {
        height: 35px!important;
    }

    input[class*="span"].m-wrap:focus,select[class*="span"].m-wrap:focus, textarea[class*="span"].m-wrap:focus {
        border: 3px solid rgb(234, 2, 3)!important;
        color: red;
    }

</style>