{% for entity in salesLists %}
    <tr id="delete-{{ entity.id }}">
        <td class="numeric" >{{ entity.invoice }}</td>
        <td class="numeric" >{{ entity.slipNo }} / {% if entity.tokenNo is not empty %}{{ entity.tokenNo.name }}{% endif %}</td>
        <td class="numeric" >{{ entity.subTotal }}</td>
        <td class="numeric" >{{ entity.vat }}</td>
        <td class="numeric" >{{ entity.discount }}</td>
        <td class="numeric" >{{ entity.total }}</td>
        <td class="numeric" >{{ entity.payment }}</td>
        <td class="numeric" >{{ entity.due }}</td>
        <td class="numeric" > {{ entity.process }}</td>
        <td class="numeric" > {{ entity.salesBy }}</td>
        <td class="numeric" >
            <div class="btn-group">
                {% set processIntArr = ['Created','Pending','Kitchen'] %}
                {% if  entity.process in processIntArr %}
                    <a href="{{ path('restaurant_invoice_edit', { 'id': entity.id }) }}" class="btn purple mini" ><i class="icon-th-large"></i> Manage </a>
                {% endif %}
                {% if entity.process == 'Kitchen' %}
                    <a href="javascript:" data-url="{{ path('restaurant_invoice_payment',{'id':entity.id}) }}" class="btn red mini paymentReceive" ><i class="icon-money"></i> Payment Receive </a>
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
