<div class="container wow fadeInDown" data-wow-delay="100" >
{% if widget.featureBrandShow == 'slider2' %}
   {%  set listCarousel = 'twoColumnCarousel' %}
   {%  set columnCarousel = 'TwoColumnCarousel' %}
   {%  set perColumn = 'col-md-6 col-sm-6' %}
{% elseif widget.featureBrandShow == 'slider3' %}
    {%  set listCarousel = 'threeColumnCarousel' %}
    {% set columnCarousel = 'ThreeColumnCarousel' %}
    {% set perColumn = 'col-md-4 col-sm-4' %}
{% elseif widget.featureBrandShow == 'slider4' %}
    {%  set listCarousel = 'fourColumnCarousel' %}
    {% set columnCarousel = 'FourColumnCarousel' %}
    {% set perColumn = 'col-md-3 col-sm-3' %}
{% elseif widget.featureBrandShow == 'grid1' %}
   {%  set perColumn = 'col-md-6 col-sm-12' %}
{% elseif widget.featureBrandShow == 'grid2' %}
   {%  set perColumn = 'col-md-6 col-sm-6' %}
{% else %}
    {%  set listCarousel = 'threeColumnCarousel' %}
    {%  set columnCarousel = 'ThreeColumnCarousel' %}
    {%  set perColumn = 'col-md-6 col-sm-6' %}
{% endif %}
{% if widget.featureBrandShow == 'slider2' or  widget.featureBrandShow == 'slider3' or  widget.featureBrandShow == 'slider4' %}
    <div class="row">
        <div class="bs-callout bs-callout-info bs-callout-custom ">
            <h4 class="feature-title"><i class="fa fa-dribbble"></i>&nbsp;Brands</h4>
            <span  class="text-right owl-carousel-next-prev">
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#{{ columnCarousel }}" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#{{ columnCarousel }}" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </span>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 {{ listCarousel }} ">
            <div class="slide carousel" id="{{ ColumnCarousel }}">
                <div class="carousel-inner">
                    {% for brand in  widget.globalOption.featureBrands  %}
                        <div class="item  {% if loop.index-1 == 0 %} active {% endif %}">
                            <div class="{{ perColumn }}" data-match-height="item-brand" >
                                <a class="thumbnail" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':brand.id }) }}">
                                    <img class="img-responsive" src="{{ image(brand.webPath).resize(150,120) }}" alt="">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if widget.featureBrandShow == 'grid1' or  widget.featureBrandShow == 'grid2' %}
<div class="row">
    <div class="bs-callout bs-callout-info bs-callout-custom ">
        <h4 class="feature-title"><i class="fa fa-dribbble"></i>&nbsp;Brands</h4>
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row feature-grid">
        {% for brand in  widget.globalOption.featureBrands  %}
            <div class="{{ perColumn }}">
                <div class="wrap-category">
                    <a  href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':brand.id }) }}">
                    <img class="img-responsive" src="{{ image(brand.webPath).resize(42,42) }}" alt="">
                    </a>
                    <div class="cat-label"><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':brand.id }) }}">{{ brand.brand.name }}</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
