{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->

        <!-- END PAGE HEADER-->
        <div id="dashboard">
            {% if 'hms' in apps %}
                <div class="row-fluid pull-center" >
                    {% if is_granted("ROLE_DOMAIN_HOSPITAL_OPERATOR") %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            <a class="visual" href="{{ path('hms_invoice') }}">
                                <i class="fa fa-hospital-o"></i>
                            </a>
                            <a class="more" href="{{ path('hms_invoice') }}">
                                Pathology Invoice <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if is_granted("ROLE_DOMAIN_HOSPITAL_MANAGER") %}
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat purple">
                                <a class="visual" href="{{ path('hms_invoice_admission') }}">
                                    <i class="fa fa-ambulance"></i>
                                </a>
                                <a class="more" href="{{ path('hms_invoice_admission') }}">
                                    Admission Invoice <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_DOMAIN_HOSPITAL_MANAGER") %}
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat blue">
                                <a class="visual" href="{{ path('hms_doctor_commission_invoice') }}">
                                    <i class="fa fa-user-md"></i>
                                </a>
                                <a class="more" href="{{ path('hms_doctor_commission_invoice') }}">
                                    Commission Invoice <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_DOMAIN_HOSPITAL_OPERATOR") or is_granted("ROLE_DOMAIN_HOSPITAL_DOCTOR") %}
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                            <div class="dashboard-stat yellow">
                                <a class="visual" href="{{ path('hms_invoice_particular') }}">
                                    <i class="fa fa-stethoscope"></i>
                                </a>
                                <a class="more" href="{{ path('hms_invoice_particular') }}">
                                    Pathological Report <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <style>
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;

        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
    </style>
{% endblock %}

