{% extends ':template:base.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-business-locaton">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" /></div>
           Product
        </div>
    </div>

    <div id="content"  class="product" style="margin-bottom: 50px">
        <div class="row" style="margin-bottom: 5px">
            <form id="page-form"  name="page-form" method="get" action="" style="width: 99%!important;">
                {% set cat = app.request.get('cat') %}
                <select id="cat" name="cat" class="category-select select2" onchange='this.form.submit()' >
                    <option>Product Search</option>
                    {% for category in categoryTree %}
                    <option {% if category.id == cat %} selected="selected" {% endif %} value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="row">
            <div class="pagination">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
        <br/>
        {% for product in products %}
            <div class="outer-div">
                <div class="inner-div">
                    <div id="" class="ic_container capslide_img_cont ">
                        <img src="{{ image(product.webPath()).resize() }}"  alt=""/>
                        <div class="overlay"></div>
                        <div class="ic_caption">
                            <p class="left title"><a href="{{ path('webservice_product_details',{'subdomain':globalOption.subDomain,'product':'product','item':product.id}) }}"  >{% if product.masterItem %}{{ product.masterItem.name }}{% endif %}{% if product.webName %} - {{ product.webName }}{% endif %}</a></p>
                            <div class="product-short-details">
                                <span class="left">BDT {{ product.webPrice|format }}</span>
                                <span class="right">{{ product.purchaseStockItem }}</span>
                            </div>
                            <div class="ic_text product-details">
                                <table>
                                    {% if product.masterItem is not empty and product.masterItem.category is not empty %}<tr><td>Category</td><td>{{ product.masterItem.category.name }}</td></tr>{% endif %}
                                    {% if product.gender is not empty %}<tr><td>Gender</td><td>{{ product.gender }}</td></tr>{% endif %}
                                    {% if product.ageGroup is not empty %}<tr><td>Age Group</td><td >{{ product.ageGroup }}</td></tr>{% endif %}
                                    {% if product.brand is not empty %}<tr><td>Brand</td><td>{{ product.brand.name }}</td></tr>{% endif %}
                                    {% if product.country is not empty %}<tr><td>Made in</td><td>{{ product.country.name }}</td></tr>{% endif %}
                                    <tr><td>&nbsp;</td>
                                        <td class="right">
                                            <a href="{{ path('webservice_product_details',{'subdomain':globalOption.subDomain,'product':'product','item':product.id}) }}" class="o-buttons blue right"><i class="fa fa-eye"></i>&nbsp;View more</a>
                                            <a  href="javascript:" data-url="{{ path('webservice_product_cart',{'subdomain':globalOption.subDomain,'cart':'cart','item':product.id}) }}" class="o-buttons green right"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row" style="margin-bottom: 5px">
            <form id="page-form"  name="page-form" method="get" action="" style="width: 99%!important;">
                {% set cat = app.request.get('cat') %}
                <select id="cat" name="cat" class="category-select select2" onchange='this.form.submit()' >
                    <option>Product Search</option>
                    {% for category in categoryTree %}
                        <option {% if category.id == cat %} selected="selected" {% endif %} value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(products) }}
        </div>
        <br/>
        </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@MobileBundle/Resources/public/js/mobile.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


