{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Notepad list
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('domain') }}">Notepad list</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Notepad list</div>
                        {#<div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('domain_customer_new') }}"><i class="icon-th-list"></i>&nbsp;New Notepad</a>
                            </div>
                        </div>#}
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            <form class="" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <textarea rows="4" id="content" name="content"  class="span12 m-wrap"   autocomplete="off" placeholder="Enter daily note"></textarea>
                                        <input type="hidden" id="notepad" name="notepad" value="">
                                    </div>
                                </div>
                            </form>
                            {% include('flash-message.html.twig')  %}

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i> Date</td>
                                    <th class="numeric">Name</th>
                                    <th class="numeric">Content</th>
                                    <th class="numeric">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.created }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.content|raw }}</td>
                                        <td class="numeric">
                                            {% if (app.user.granted("ROLE_DOMAIN")) or (app.user.granted("ROLE_CRM_MANAGER"))  %}
                                                <a class="btn mini delete red" href="javascript:" data-url="{{ path('domain_notepad_delete', { 'id': entity.id }) }}" >&nbsp;<i class="icon-trash"></i> </a>
                                             {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <link href="{{ asset('assets/css/pages/timeline.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@DomainUserBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
