{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Medicine Stock
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('medicine_stock') }}">Manage Medicine Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Medicine Stock</div>
                        <div class="actions">
                            <a href="{{ path('medicine_stock_new') }}"  class=" btn red"><i class="icon-plus-sign"></i> Add Medicine</a>
                            <a href="{{ path('medicine_stock_accesories_new') }}"  class=" btn black"><i class="icon-plus-sign"></i> Herbal & Accessories</a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="text" id="name" name="name"  class="span12 m-wrap select2StockMedicine" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Enter medicine/accessories name ">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="brandName"  name="brandName"  class="span12 m-wrap select2BrandName" value="{% if searchForm.brandName is defined %}{{ searchForm.brandName }}{% endif %}"  autocomplete="off"  placeholder="Product brand name">
                                    </div>
                                    <div class="span2">
                                        <select name="rackNo" id="rackNo" class="span12 m-wrap">
                                            <option value="">Rack no</option>
                                            {% for rack in racks %}
                                                <option {% if searchForm.rack is defined and searchForm.rack == method.id %} selected="selected" {% endif %} value="{{ rack.id }}" >{{ rack.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <select name="process" id="process" class="span12 m-wrap">
                                            <option  value="">Product Type</option>
                                            <option {% if searchForm.mode is defined and searchForm.mode == 'mediicne' %} selected="selected" {% endif %} value="mediicne">Medicine</option>
                                            <option {% if searchForm.mode is defined and searchForm.mode == 'herbal' %} selected="selected" {% endif %} value="herbal">Herbal</option>
                                            <option {% if searchForm.mode is defined and searchForm.mode == 'accessories' %} selected="selected" {% endif %} value="accessories">Accessories</option>
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <input type="text" id="sku"  name="sku"  class="span10 m-wrap" value="{% if searchForm.sku is defined %}{{ searchForm.sku }}{% endif %}"  autocomplete="off"  placeholder="Product sku">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- BEGIN FORM-->
                         <!-- END FORM-->
                        <div class="clearfix"><br/></div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Code</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Rack</th>
                                    <th class="numeric" >Purchase Tk.</th>
                                    <th class="numeric" >Sales Tk.</th>
                                    <th class="numeric" >Opening</th>
                                    <th class="numeric" >Receive Qnt</th>
                                    <th class="numeric" >Sales Qnt</th>
                                    <th class="numeric" >Stock Qnt</th>
                                    <th class="numeric" >Min. Qnt</th>
                                    <th class="numeric" >Unit</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    {% set stockQnt = (entity.purchaseQuantity + entity.openingQuantity) - entity.salesQuantity %}

                                    <tr {% if entity.minQuantity > 0 and stockQnt <= entity.minQuantity %} class="min" {% endif %}>
                                        <td class="numeric" >{{ entity.sku }}</td>
                                        {% if entity.mode == 'medicine' %}
                                            <td class="numeric" ><a data-trigger="hover" class="tooltips" data-original-title="{{ entity.medicineBrand.medicineForm }}-{{ entity.medicineBrand.name }}-{{ entity.medicineBrand.strength }}-{{ entity.medicineBrand.medicineGeneric.name }}-{{ entity.medicineBrand.medicineCompany.name }}" href="{{ path('medicine_stock_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        {% else %}
                                            <td class="numeric" ><a data-trigger="hover" class="tooltips" data-original-title="{{ entity.accessoriesBrand.name }}" href="{{ path('medicine_stock_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        {% endif %}
                                        <td class="numeric" >{% if  entity.rackNo is not empty %}{{ entity.rackNo.name }}{% endif %}</td>
                                        <td class="numeric">
                                            {% if ( app.user.granted("ROLE_MEDICINE_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                                <a  class="editable" data-name="purchasePrice" href="#"  data-url="{{ path('medicine_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change sales price">{{ entity.purchasePrice }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric">
                                            {% if ( app.user.granted("ROLE_MEDICINE_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                                <a  class="editable" data-name="salesPrice" href="#"  data-url="{{ path('medicine_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change sales price">{{ entity.salesPrice }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric">
                                            {% if ( app.user.granted("ROLE_MEDICINE_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                                <a  class="editable" data-name="openingQuantity" href="#"  data-url="{{ path('medicine_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change opening quantity">{{ entity.openingQuantity }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.purchaseQuantity|number_format }}</td>
                                        <td class="numeric" >{{ entity.salesQuantity|number_format }}</td>
                                        <td class="numeric" >{{ entity.remainingQuantity }}</td>
                                        <td class="numeric">
                                            {% if ( app.user.granted("ROLE_MEDICINE_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                                <a  class="editable" data-name="minQuantity" href="#"  data-url="{{ path('medicine_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change min Quantity">{{ entity.minQuantity }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.unit.name }}</td>
                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini yellow btn-action" href="{{ path('medicine_stock_status', { 'id': entity.id}) }}"><i class="icon-ok"></i></a>
                                            {% else %}
                                                <a class="btn mini red btn-action" href="{{ path('medicine_stock_status', { 'id': entity.id}) }}">x</a>
                                            {% endif %}
                                            <a href="{{ path('medicine_stock_edit', { 'id': entity.id }) }}" class="btn blue mini" ><i class="icon-edit"></i></a>
                                            {% if ( app.user.granted("ROLE_MEDICINE_MANAGER" and entity.remainingQuantity == 0 ) or app.user.granted("ROLE_DOMAIN") and entity.remainingQuantity == 0 )  %}
                                             <a title="Are you sure went to delete ?" href="{{ path('medicine_stock_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                            <a title="" href="{{ path('medicine_stock_details', { 'sku': entity.sku }) }}" class="btn green mini" ><i class=" icon-eye-open"></i> View</a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center" >
                                {{ knp_pagination_render(pagination) }}
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/editable.js'
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}