<div id="cart-item-list">
    {% if  cart.contents is not empty %}
        <div class="top">Recent Buy Item's</div>
        <div id="cart-item-list-box" class="scrollbar">
            {% for product in cart.contents %}
                <dl class="entity-list" id="item-remove-{{ product.rowid }}">
                    <dt>{% if product.productImg is not empty %}
                    <img src="{{ image(product.productImg).scaleResize(80,80) }}" alt=""/>
                        {% endif %}
                        <span class="dd-span-name">{{ product.name }}</span>
                    </dt>
                    <dd>
                         <span class="dd-span-action">
                            <button id="{{ product.rowid }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}" class="btn btn-xs btn-danger hunger-remove-cart">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <span class="dd-span-price" >{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ product.price }}x{{ product.quantity }} = {{  product.price*product.quantity }}</span>
                    </dd>
                </dl>
            {% endfor %}
        </div>
        <div class="bottom">
            <span class="dd-span pull-left">SubTotal:</span>
            <span class="dd-span pull-right"><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;<span class="totalAmount">{{ cart.total }}</span></strong></span>
        </div>
        <div class="bottom">
            <span class="dd-span pull-left"><a href="{{ path(globalOption.subDomain ~ '_webservice_product_cart_details') }}" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> View Buy</a></span>
            <span class="dd-span pull-right">
                {% if app.user %}
                    <a href="{{ path('order_checkout',{'shop':globalOption.uniqueCode}) }}" type="button" class="btn btn-success">Checkout <span class="glyphicon glyphicon-play"></span></a>
                {% endif %}
            </span>
        </div>
    {% else %}
    <p>You have no products in your shopping Bag.</p>
    {% endif %}
</div>
