{% if features is defined and features is not empty  %}
    {% for widget in features %}
        {% set loopId = loop.index %}
    {% if widget.jsFeature is not empty and widget.jsFeature.slug == 'slider' %}
        <div class="row">
        {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'left' %}
            {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
        {% endif %}
        <div class="{% if widget.sliderFeature is not empty %} col-md-9 {% else %} col-md-12 {% endif %}">
            <div id="main-carousel" class="carousel slide" data-ride="carousel" data-match-height="slider-height">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for slide in widget.featureWidgetItems %}
                        <li data-target="#main-carousel" data-slide-to="{{ loop.index-1 }}" class="{% if loop.index - 1 == 1 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for slide in widget.featureWidgetItems %}
                        <div class="item {% if loop.index-1 == 1 %} active {% endif %}">
                            <img class="image {% if widget.sliderFeature is empty %}  carousel-img {% else %} carousel-tab-img {% endif %}"  src="{% if slide.feature.webPath is not empty  %} {{ image(slide.feature.webPath)}}{% endif %}" alt="...">
                            <div class="carousel-caption {#caption-{{ slide.feature.captionPosition }}#}" style="background-color: {{ slide.feature.captionBgColor }}">
                                {% if slide.feature.name is not empty %}<h4 class="animated fadeInLeftBig slide-delay-1" >{{ slide.feature.name }}{% endif %}</h4>
                                {% if slide.feature.content is not empty %}<span class="animated fadeInUpBig slide-delay-2" >{{ slide.feature.content|raw }}</span>{% endif %}
                                {% if slide.feature.targetTo == 'Category' %}
                                    <br/>
                                    <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':slide.feature.category.id}) }}">{{ slide.feature.buttonName }}</a>
                                {% elseif slide.feature.targetTo == 'Promotion' %}
                                    <br/>
                                    <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_promotion',{'id':slide.feature.promotion.id}) }}">{{ slide.feature.buttonName }}</a>
                                {% elseif slide.feature.targetTo == 'Tag' %}
                                    <br/>
                                    <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'id':slide.feature.tag.id}) }}">{{ slide.feature.buttonName }}</a>
                                {% elseif slide.feature.targetTo == 'Discount' %}
                                    <br/>
                                    <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_discount',{'id':slide.feature.discount.id}) }}">{{ slide.feature.buttonName }}</a>
                                {% elseif slide.feature.targetTo == 'Brand' %}
                                    <br/>
                                    <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':slide.feature.barnd.id}) }}">{{ slide.feature.buttonName }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-post-control carousel-left" href="#main-carousel" data-slide="prev">‹</a>
                <a class="carousel-post-control carousel-right" href="#main-carousel" data-slide="next">›</a>
            </div>
        </div>
        {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'right' %}
            {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
        {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="header-line-center">
            <h1 class="tm-title-border">WELCOME TO {{ globalOption.name }}</h1>
        </div>
    {% endif %}
    {% if widget.jsFeature is not empty and widget.jsFeature.slug == 'top-tab-slider' %}
        <div class="row top-tab-slider">
            {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'left' %}
                {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
            {% endif %}
            <div class="{% if widget.sliderFeature is not empty %} col-md-9 {% else %} col-md-12 {% endif %}">

                <div id="topTabCarousel" class="carousel slide" data-match-height="slider-height"  data-ride="carousel" >
                        <ul class="nav nav-pills nav-justified">
                            {% for slide in widget.featureWidgetItems %}
                                <li data-target="#topTabCarousel" style="background-color: {{ slide.feature.captionBgColor }}" data-slide-to="{{ loop.index-1 }}" class="{% if loop.index-1 == 0 %} active {% endif %}"><a href="#">{{ slide.feature.name|truncate(20, false) }}<small>{{ slide.feature.content|truncate(40, false) }}</small></a></li>
                            {% endfor %}
                        </ul>
                       <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for slide in widget.featureWidgetItems %}
                                <div class="item {% if loop.index-1 == 0 %} active {% endif %}">
                                    <img class="image {% if widget.sliderFeature is empty %}  carousel-img {% else %} carousel-tab-img {% endif %}" src="{% if slide.feature.webPath is not empty  %} {{ image(slide.feature.webPath).resize() }}{% endif %}"  alt="...">
                                    <div class="carousel-caption" >
                                        {% if slide.feature.targetTo == 'Category' and slide.feature.category is not empty %}
                                            <a class="btn btn-mini " style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':slide.feature.category.id}) }}">{{ slide.feature.buttonName }}</a>
                                        {% elseif slide.feature.targetTo == 'Promotion' and slide.feature.promotion is not empty %}
                                            <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_promotion',{'id':slide.feature.promotion.id}) }}">{{ slide.feature.buttonName }}</a>
                                        {% elseif slide.feature.targetTo == 'Tag' and slide.feature.tag is not empty %}
                                            <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'id':slide.feature.tag.id}) }}">{{ slide.feature.buttonName }}</a>
                                        {% elseif slide.feature.targetTo == 'Discount' and slide.feature.discount is not empty  %}
                                            <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_discount',{'id':slide.feature.discount.id}) }}">{{ slide.feature.buttonName }}</a>
                                        {% elseif slide.feature.targetTo == 'Brand' and slide.feature.brand is not empty %}
                                            <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':slide.feature.brand.id}) }}">{{ slide.feature.buttonName }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- End Item -->
                        </div>
                        <!-- End Carousel Inner -->
                </div>
            </div>
            {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'right' %}
                {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
            {% endif %}
            <!-- End Carousel -->
        </div>
        <div class="clearfix"></div>
        <div class="header-line-center">
            <h1 class="tm-title-border">WELCOME TO {{ globalOption.name }}</h1>
        </div>
    {% endif %}
    {% if widget.jsFeature is not empty and widget.jsFeature.slug == 'bottom-tab-slider' %}
        <div class="row bottom-tab-slider" >
            {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'left' %}
                {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
            {% endif %}
            <div class="{% if widget.sliderFeature is not empty %} col-md-9 {% else %} col-md-12 {% endif %}" >
                <div id="bottomTabCarousel" class="carousel slide" data-match-height="slider-height"  data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for slide in widget.featureWidgetItems %}
                            <div class="item {% if loop.index-1 == 0 %} active {% endif %}">
                                <img class="image {% if widget.sliderFeature is empty %}  carousel-img {% else %} carousel-tab-img {% endif %}"  src="{% if slide.feature.webPath is not empty  %} {{ image(slide.feature.webPath).resize() }}{% endif %}" alt="...">
                                <div class="carousel-caption">
                                    {% if slide.feature.targetTo == 'Category' and slide.feature.category is not empty %}
                                        <a class="btn btn-mini " style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':slide.feature.category.id}) }}">{{ slide.feature.buttonName }}</a>
                                    {% elseif slide.feature.targetTo == 'Promotion' and slide.feature.promotion is not empty %}
                                        <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_promotion',{'id':slide.feature.promotion.id}) }}">{{ slide.feature.buttonName }}</a>
                                    {% elseif slide.feature.targetTo == 'Tag' and slide.feature.tag is not empty %}
                                        <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'id':slide.feature.tag.id}) }}">{{ slide.feature.buttonName }}</a>
                                    {% elseif slide.feature.targetTo == 'Discount' and slide.feature.discount is not empty  %}
                                        <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_discount',{'id':slide.feature.discount.id}) }}">{{ slide.feature.buttonName }}</a>
                                    {% elseif slide.feature.targetTo == 'Brand' and slide.feature.brand is not empty %}
                                        <a class="btn btn-mini" style="background-color: {{ slide.feature.buttonBg }}" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':slide.feature.brand.id}) }}">{{ slide.feature.buttonName }}</a>
                                    {% endif %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <ul class="nav nav-pills nav-justified tab-nav">
                        {% for slide in widget.featureWidgetItems %}
                            <li data-target="#bottomTabCarousel" style="background-color: {{ slide.feature.captionBgColor }}" data-slide-to="{{ loop.index-1 }}" class="{% if loop.index-1 == 0 %} active {% endif %}"><a href="#">{{ slide.feature.name|truncate(20, false) }}<small>{{ slide.feature.content|truncate(40, false) }}</small></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if widget.sliderFeature is not empty and widget.sliderFeaturePosition == 'right' %}
                {% render controller("FrontendBundle:EcommerceWidget:"~widget.sliderFeature~"ShortWidget",{'globalOption':globalOption.id,'position':widget.sliderFeaturePosition}) %}
            {% endif %}
            <!-- End Carousel Inner -->
        </div>
        <div class="header-line-center">
            <h1 class="tm-title-border">WELCOME TO {{ globalOption.name }}</h1>
        </div>
    {% endif %}
    {% if widget.jsFeature is not empty and widget.jsFeature.slug == 'feature' %}

        <div class="wow fadeInDown" data-wow-delay="2s">
            <div class="row">
            {% for slide in widget.featureWidgetItems %}
                {% if(slide.feature.webPath) %}

                    {% if slide.feature.targetTo == 'Category' and slide.feature.category is not empty  %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product_category',{'id':slide.feature.category.id}) %}
                    {% elseif slide.feature.targetTo == 'Brand' and slide.feature.brand is not empty %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product_brand',{'id':slide.feature.brand.id}) %}
                    {% elseif slide.feature.targetTo == 'Promotion' and slide.feature.promotion is not empty %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product_promotion',{'id':slide.feature.promotion.id}) %}
                    {% elseif slide.feature.targetTo == 'Tag' and slide.feature.tag is not empty %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product_tag',{'id':slide.feature.tag.id}) %}
                    {% elseif slide.feature.targetTo == 'Discount' and slide.feature.discount is not empty %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product_discount',{'id':slide.feature.discount.id}) %}
                    {% elseif slide.feature.targetTo == 'Page' and slide.feature.menu is not empty %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_module',{'module':feature.menu.slug}) %}
                    {% else %}
                        {% set path = path(globalOption.subDomain ~ '_webservice_product') %}
                    {% endif %}

                    <div  style="overflow: hidden;height: {{ slide.divHeight }}px; width: {{ slide.divWidth }}%; margin-bottom: 15px; position: relative"  class="col-xs-12 col-md-12 feature-box ">
                        <div class="box-img">
                            {%  set imageWidth =  slide.divWidth~'%' %}
                            <img class="img-responsive img-responsive-feature"   src="{{ image(slide.feature.webPath) }}" alt="">
                            <span class="img-responsive-preview img-responsive-preview-{{  slide.feature.captionPosition }} " style="background-color: {{ slide.feature.captionBgColor }};color: {{ slide.feature.buttonBg }}; " >{{ slide.feature.name }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if widget.category is defined and widget.category is not empty %}
        <div class="wow fadeInDown feature-carousel" data-wow-duration="4s">
            <div class="page-title-bar">
                <div class="col-md-12" >
                    <div class="page-title">{{ widget.category.name }}</div>
                </div>
            </div>
            <div class="row">
                {% render controller("FrontendBundle:EcommerceWidget:categoryWidget",{'globalOption':globalOption.id, 'category':widget.category.id,'sliderId':loopId }) %}
            </div>
        </div>
    {% endif %}

    {% if widget.promotion is defined and widget.promotion is not empty %}
            <div class="wow fadeInDown feature-carousel" data-wow-duration="2s" style="">
                <div class="page-title-bar">
                    <div class="col-md-12" >
                        <div class="page-title">{{ widget.promotion.name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="promotion-slider" >
                        {% for product in  widget.promotion.purchaseVendorItems |slice(0,12)  %}
                            <div class="col-md-12">
                                <div class="thumbnail" data-match-height="item-promotion">
                                    <div class="product-preview group list-group-image product-equal-height" >
                                        <img class="img-responsive" src="{{ image(product.webPath).resize(400,400, 'white') }}" alt="">
                                        <div class="team-content">
                                            <h3 class="team-prof">
                                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{{ product.webName }}</a>
                                                <small>{#{{ product.price|number_format }}#}</small>
                                            </h3>
                                            <ul class="social-link">
                                                <li><a target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ product.webPath }}&title={{ product.webName }}&description={{ product.content }}"  class="fa fa-facebook"></a></li>
                                                <li><a target="_blank" href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-google-plus"></a></li>
                                                <li><a target="_blank" href=" http://twitter.com/intent/tweet?status={{ product.webName }}+{{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-twitter"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        {% if globalOption.ecommerceConfig.showBrand == 1 and product.brand is not empty %}
                                            <p class="group inner brand text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}"><span>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></a> </p>
                                        {% endif %}
                                        <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><strong>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.name }}</strong></a> </p>
                                        <div class="row">
                                            <div class="row-fluid">
                                                <div class="col-xs-8 col-md-8 text-right"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                                                <div class="col-xs-4 col-md-4 text-left"><strong>{{ product.quantity }}&nbsp;{% if  product.masterItem.productUnit is defined and product.masterItem.productUnit is not empty %}{{ product.masterItem.productUnit.name }}{% endif %}</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

    {% if widget.tag is defined and widget.tag is not empty %}
            <div class="wow fadeInDown feature-carousel" data-wow-duration="2s">
                <div class="page-title-bar">
                    <div class="col-md-12" >
                        <div class="page-title">{{ widget.tag.name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="tag-slider" >
                        {% for product in  widget.tag.purchaseVendorItems |slice(0,12)  %}
                            <div class="col-md-12">
                                <div class="thumbnail" data-match-height="item-promotion">
                                    <div class="product-preview group list-group-image product-equal-height" >
                                        <img class="img-responsive" src="{{ image(product.webPath).resize(400,400, 'white') }}" alt="">
                                        <div class="team-content">
                                            <h3 class="team-prof">
                                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{{ product.webName }}</a>
                                                <small>{#{{ product.price|number_format }}#}</small>
                                            </h3>
                                            <ul class="social-link">
                                                <li><a target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ product.webPath }}&title={{ product.webName }}&description={{ product.content }}"  class="fa fa-facebook"></a></li>
                                                <li><a target="_blank" href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-google-plus"></a></li>
                                                <li><a target="_blank" href=" http://twitter.com/intent/tweet?status={{ product.webName }}+{{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-twitter"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        {% if globalOption.ecommerceConfig.showBrand == 1 and product.brand is not empty %}
                                            <p class="group inner brand text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}"><span>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></a> </p>
                                        {% endif %}
                                        <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><strong>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.name }}</strong></a> </p>
                                        <div class="row">
                                            <div class="row-fluid">
                                                <div class="col-xs-8 col-md-8 text-right"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                                                <div class="col-xs-4 col-md-4 text-left"><strong>{{ product.quantity }}&nbsp;{% if  product.masterItem.productUnit is defined and product.masterItem.productUnit is not empty %}{{ product.masterItem.productUnit.name }}{% endif %}</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

    {% if widget.discount is defined and widget.discount is not empty %}
            <div class="wow fadeInDown feature-carousel" data-wow-duration="4s" >
                <div class="page-title-bar">
                    <div class="col-md-12" >
                        <div class="page-title">{{ widget.discount.name }} % Discount Offer</div>
                    </div>
                </div>
                <div class="row">
                    <div class="discount-slider" class="">
                        {% for product in  widget.discount.purchaseVendorItems |slice(0,12)  %}
                            <div class="col-md-12">
                                <div class="thumbnail" data-match-height="item-promotion">
                                    <div class="product-preview group list-group-image product-equal-height" >
                                        <img class="img-responsive" src="{{ image(product.webPath).resize(400,400, 'white') }}" alt="">
                                        <div class="team-content">
                                            <h3 class="team-prof">
                                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{{ product.webName }}</a>
                                                <small>{#{{ product.price|number_format }}#}</small>
                                            </h3>
                                            <ul class="social-link">
                                                <li><a target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ product.webPath }}&title={{ product.webName }}&description={{ product.content }}"  class="fa fa-facebook"></a></li>
                                                <li><a target="_blank" href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-google-plus"></a></li>
                                                <li><a target="_blank" href=" http://twitter.com/intent/tweet?status={{ product.webName }}+{{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-twitter"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        {% if globalOption.ecommerceConfig.showBrand == 1 and product.brand is not empty %}
                                            <p class="group inner brand text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}"><span>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></a> </p>
                                        {% endif %}
                                        <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><strong>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.name }}</strong></a> </p>
                                        <div class="row">
                                            <div class="row-fluid">
                                                <div class="col-xs-8 col-md-8 text-right"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                                                <div class="col-xs-4 col-md-4 text-left"><strong>{{ product.quantity }}&nbsp;{% if  product.masterItem.productUnit is defined and product.masterItem.productUnit is not empty %}{{ product.masterItem.productUnit.name }}{% endif %}</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

    {% if widget.featureCategory is defined and widget.featureCategory is not empty %}
            <div class="wow fadeInDown feature-carousel"   data-wow-delay="2s" >
                <div class="page-title-bar">
                    <div class="col-md-12" >
                        <div class="page-title">Feature Category</div>
                    </div>
                </div>
                <div class="row">
                    <div class="feature-category-slider" class="">
                        {% for category in  widget.globalOption.featureCategories  %}
                            <div class="col-md-12">
                                <div class="thumbnail" data-match-height="feature-category">
                                    <div class="product-preview group" >
                                        <img class="img-responsive" src="{{ image(category.webPath).resize(250,200, 'white') }}" alt="">
                                    </div>
                                </div>
                                <div class="caption">
                                    <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'subdomain': globalOption.subDomain,'id':category.id }) }}"><strong>{{ category.category.name }}</strong></a> </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

    {% if widget.featureBrand is defined and widget.featureBrand is not empty %}

        <div class="wow fadeInDown feature-carousel" data-wow-delay="2s" >
                <div class="page-title-bar">
                    <div class="col-md-12" >
                        <div class="page-title">Feature Brands</div>
                    </div>
                </div>
                <div class="row">
                    <div class="brand-slider">
                        {% for brand in  widget.globalOption.featureBrands  %}
                            <div class="col-md-12">
                                <div class="thumbnail" data-match-height="feature-brand">
                                    <div class="product-preview" >
                                        <img class="img-responsive" src="{{ image(brand.webPath).resize(150,120) }}" alt="">
                                    </div>
                                </div>
                                <div class="caption">
                                    <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':brand.id }) }}"><strong>{{ brand.brand.name }}</strong></a> </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

    {% endfor %}
{% endif %}
