{% extends ':mobile/slasher:base.html.twig' %}
{% block body %}
    <div class="content">
        <div class="container">
            <h3>Contact us</h3>

            <div class="decoration"></div>
            {{ entity.user.contactPage.content }}
            <div class="decoration"></div>
            <div class="one-half-responsive">
                <h4>Send us an email!</h4>
                <div class="container no-bottom">
                    <div class="contact-form no-bottom">
                        <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                            <div class="big-notification blue-notification">
                                <h3 class="uppercase">Message Sent </h3>
                                <a href="#" class="close-big-notification">x</a>
                                <p>Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thank you!</p>
                            </div>
                        </div>

                        <form action="{{ path('contact_message',{'subdomain': entity.user.globalOption.subDomain,'slug':'contact' }) }}" method="post" class="contactForm" id="contactForm">
                            <fieldset>
                                <div class="formValidationError" id="contactNameFieldError">
                                    <div class="static-notification-red tap-dismiss-notification">
                                        <p class="center-text uppercase">Name is required!</p>
                                    </div>
                                </div>
                                <div class="formValidationError" id="contactEmailFieldError">
                                    <div class="static-notification-red tap-dismiss-notification">
                                        <p class="center-text uppercase">Mail address required!</p>
                                    </div>
                                </div>
                                <div class="formValidationError" id="contactEmailFieldError2">
                                    <div class="static-notification-red tap-dismiss-notification">
                                        <p class="center-text uppercase">Mail address must be valid!</p>
                                    </div>
                                </div>
                                <div class="formValidationError" id="contactMessageTextareaError">
                                    <div class="static-notification-red tap-dismiss-notification">
                                        <p class="center-text uppercase">Message field is empty!</p>
                                    </div>
                                </div>
                                <div class="formFieldWrap">
                                    <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
                                    <input type="text" name="name" value="" class="contactField requiredField" id="contactNameField"/>
                                </div>
                                <div class="formFieldWrap">
                                    <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(required)</span></label>
                                    <input type="text" name="email" value="" class="contactField requiredField requiredEmailField" id="contactEmailField"/>
                                </div>
                                <div class="formTextareaWrap">
                                    <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Message: <span>(required)</span></label>
                                    <textarea name="content" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                                </div>
                                <input type="hidden" name="user" value="{{ entity.user }}">
                                <div class="formSubmitButtonErrorsWrap">
                                    <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="SUBMIT" data-formId="contactForm"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">
                <div class="container no-bottom">
                <h4>Contact Information</h4>
                <p>
                    <strong>Office</strong><br>
                    Address: {{ entity.address }}
                </p>
                    {% if entity.officeHour %}
                <p>
                    <strong>Office hour:</strong><br>
                    {{ entity.officeHour }}
                </p>
                    {% endif %}
                <p>
                    <strong>Contact Information:</strong><br>
                    <a href="javascript:" class="contact-person">Contact Person:{{ entity.contactPerson|raw }}</a>
                    {% if entity.contactPersonDesignation %}<a href="javascript:">Designation:{{ entity.contactPersonDesignation|raw }}</a>{% endif %}
                    <a href="tel:+ 088 {{ entity.hotline }}" class="contact-call">Mobile: + 088 {{ entity.hotline|raw }}</a>
                    {% if(entity.phone) %}<a href="javascript:" class="contact-call">Phone: + 02 {{ entity.phone|raw }}</a>{% endif %}
                    {% if(entity.fax) %}<a href="javascript:" class="contact-call">Fax: + 02{{ entity.fax|raw }}</a>{% endif %}
                    {% if(entity.email) %}<a href="mailto:{{ entity.email|raw }}"  class="contact-mail">Email: {{ entity.email|raw }}</a>{% endif %}

                </p>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
