{% extends ':mobile/slasher:base.html.twig' %}

{% block body %}
    <div class="homepage-wrapper">
        <img class="homepage-logo" src="{{ image(entity.webPath) }}"  alt="img">
        <em class="homepage-logo-sub">{{ entity.name }}</em>
        <div class="homepage-navigation">
            <a class="icon-background-white icon-home"          href="{{ path('mobile_home',{'subdomain':entity.user.globalOption.subdomain}) }}">Homepage</a>
            <a class="icon-background-white icon-mobile"        href="tel:+88 {{ entity.hotline }}">Mobile</a>
            <a class="icon-background-white icon-mail"	        href="mailto:{{ entity.email }}">Mail</a>
           {# <a class="icon-background-white icon-calender"      href="contact.html">Calender</a>#}
            <a class="icon-background-white icon-maps"          href="{{ path('mobile_contact',{'subdomain':entity.user.globalOption.subdomain}) }}">Maps</a>
            <a class="icon-background-white icon-contact"	    href="{{ path('mobile_contact',{'subdomain':entity.user.globalOption.subdomain}) }}">Contact</a>
        </div>
        <div class="footer">
            <a class="facebook-icon" href="#"></a>
            <a class="google-icon"   href="#"></a>
            <a class="twitter-icon"  href="#"></a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="homepage-background">
        <div class="bg-pattern" {% if(entity.user.homePage) %} style="background-image:url('/{{ entity.user.homePage.webPath }}') " {% endif %}></div>
        <div class="bg-overlay"></div>
    </div>

{% endblock %}

