{% extends ':desktop:base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="content_fullwidth">
            {% if(entity.contactPage.isMap) %}
            <h3>Find the <strong>Address</strong></h3>
            <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.826205939857!2d90.35883561641566!3d23.75784164620104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf5125907689%3A0xb55fb5b3c082f1b2!2sLalmatia+Mohila+College!5e0!3m2!1sen!2sbd!4v1450783065460"></iframe><br /><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.826205939857!2d90.35883561641566!3d23.75784164620104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf5125907689%3A0xb55fb5b3c082f1b2!2sLalmatia+Mohila+College!5e0!3m2!1sen!2sbd!4v1450783065460">View Larger Map</a></small>
            <div class="clearfix"></div>
            {% endif %}
            {% if(entity.contactPage.isBranch) %}
                <h2>Our<strong> Branches</strong></h2>
                {% for  details in entity.branches %}
                    <div class="one_third {% if loop.index is divisible by(3) %} last {% endif %}">
                        <div class="framed-box">
                            <div class="framed-box-wrap">
                                <div class="pricing-title">
                                    <h3>{{ details.name }}</h3>
                                </div>
                                <div class="pricing-text-list">
                                    <ul class="list1">
                                        <li><i class="fa fa-home"></i>Address: {{ details.address|raw }}</li>
                                        <li><i class="fa fa-user"></i><strong>{{ details.contactPerson }}</strong>, {{ details.designation }}</li>
                                        <li><i class="fa fa-mobile"></i> <a href="tel:+ 088 {{ details.mobile|raw }}" class="contact-call">Mobile: + 088 {{ details.mobile|raw }}</a></li>
                                        {% if(details.phone) %}<li><i class="fa fa-phone-square"></i></i><a href="javascript:" class="contact-call">Phone: + {{ details.phone|raw }}</a></li>{% endif %}
                                        {% if(details.fax) %}<li><i class="fa fa-phone"></i>Fax: + {{ details.fax|raw }}</a></li>{% endif %}
                                        {% if(details.email) %}<li><i class="fa fa-envelope-o"></i>Email: {{ details.email|raw }}</li>{% endif %}
                                    </ul>
                                    <br />
                                    <p><a href="#" class="but_download"><i class="fa fa-map-marker"></i> Direction</a></p>
                                </div>
                            </div>

                        </div>
                    </div><!-- end section -->
                {% endfor %}
            {% endif %}
            <div class="clearfix"></div>
            <div  {% if(entity.contactPage.isContactForm == true) %} class="one_half" {% endif %}>
                <div class="clearfix mar_top3"></div>
                <h3> {{ entity.contactPage.name }}</h3>
                <p>{{ entity.contactPage.content }}</p>
                <br />
                <div class="address-info">
                    <h3>Address <strong>Info</strong></h3>
                    <div class="one_half">
                        <ul>
                            <li>
                                <p>
                                    <strong>Office</strong><br>
                                    Address: {{ entity.contactPage.address1 }}
                                    {% if entity.contactPage.thana is defined and entity.contactPage.thana %}
                                        ,{{ entity.contactPage.thana.name }}<br>
                                    {% endif %}
                                    {% if entity.contactPage.district is defined and entity.contactPage.district %}
                                        {{ entity.contactPage.district.name }} {% endif %}-{{ entity.contactPage.postalCode }}<br>
                                </p>

                            </li>
                        </ul>
                    </div>

                    <div class="one_half last">
                        <ul>
                            <li>

                                {% if entity.contactPage.startHour %}
                                    <p>
                                        <strong>Office hour</strong><br>
                                        {{ entity.contactPage.startHour }} To {{ entity.contactPage.endHour }}
                                    </p>
                                {% endif %}
                                <p><strong>Weekly off day</strong><br>{{ entity.contactPage.weeklyOffDay }}</p>
                                <p>
                                    <strong>Contact Information</strong><br>
                                    <em>{{ entity.contactPage.contactPerson|raw }}</em><br/>
                                    {% if entity.contactPage.designation %}{{ entity.contactPage.designation|raw }}{% endif %}</br>
                                    {% if(entity.contactPage.displayPhone == 1) %}
                                        <a href="tel:+ 088 {{ entity.mobile }}" class="contact-call">Mobile: + 088 {{ entity.mobile }}</a></br>
                                    {% endif %}
                                    {% if(entity.contactPage.displayEmail == 1) %}
                                        <a href="mailto:{{ entity.contactPage.email }}" class="contact-email">{{ entity.contactPage.email }}</a></br>
                                    {% endif %}
                                    {% if(entity.contactPage.additionalPhone) %}<a href="javascript:" >Additional Phone: + 02 {{ entity.contactPage.additionalPhone|raw }}</a></br>{% endif %}
                                    {% if(entity.contactPage.additionalEmail) %}<a href="javascript:" >{{ entity.contactPage.additionalEmail|raw }}</a></br>{% endif %}
                                    {% if(entity.contactPage.fax) %}<a href="javascript:">Fax: + 02{{ entity.contactPage.fax|raw }}</a>{% endif %}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

           </div>
            {% if(entity.contactPage.isContactForm == true) %}
            <div class="one_half last">
                <h3>Contact <strong>Form</strong></h3>

                <form action="" method="post">

                    <fieldset>

                        <label for="name" class="blocklabel">Your Name*</label>
                        <p class="" ><input name="yourname" class="input_bg" type="text" id="name" value=''/></p>
                        <label for="mobile" class="blocklabel">Mobile</label>
                        <p><input name="mobile" class="input_bg" type="text" id="mobile" value=""/></p>
                        {% if(entity.contactPage.askForEmail == 1) %}
                            <label for="email" class="blocklabel">E-Mail</label>
                            <p class="" ><input name="email" class="input_bg" type="text" id="email" value='' /></p>
                        {% endif %}
                        <label for="message" class="blocklabel">Your Message*</label>
                        <p class=""><textarea name="message" class="textarea_bg" id="message" cols="20" rows="" ></textarea></p>
                        <p>
                            <input type="hidden" id="myemail" name="myemail" value="" />
                            <input type="hidden" id="myblogname" name="myblogname" value="" />
                        <div class="clearfix"></div>
                        <input name="Send" type="submit" value="SUBMIT" class="comment_submit" id="send"/></p>

                        {#           <div class="success">
                                       <div class="message-box-wrap">
                                           Your message has been <strong>Received Successfully!</strong> Thank you!</div>
                                   </div>
           #}

                    </fieldset>

                </form>

            </div>
            {% endif %}
            <div class="clearfix mar_top2"></div>
        </div>

    </div><!-- end content area -->

    <style>
        .contact-person{
            color: #000033;
            cursor: none;
        }
        .blue-notification{
            display: none;
        }

    </style>

{% endblock %}

{% block documentready %}

    {{ parent() }}


    {#<script>#}

    function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
    };

    $('#email').focusout(function(){

        var emil=$('#email').val();

        if( ! isValidEmailAddress( emil ) ) {
        $('.contactEmailField span').val('').addClass('error-input');
        $('.contactEmailField span').html(emil+' is not valid e-mail address.');
        }else{
        $('.contactEmailField span').removeClass('error-input');
        $('.contactEmailField span').html('');
        }

    });


    $('#contactForm').validate({

    rules: {
    name: {
    required: true
    },
    mobile: {
    required: true
    },
    content: {
    required: true
    },
    },
    messages:{
    name:{
    required: "Please enter your name"
    },
    mobile:{
    required: "Please enter your cell phone number"
    },
    content:{
    required: "Please enter your comments"
    }
    },
    submitHandler: function(form) {

    $.ajax({
    url:'{{ path('mobile_email_receive',{'subdomain': entity.subDomain }) }}',
    type: "POST",
    beforeSend: function() {
    $('.loading').show();
    },
    data: $('form#contactForm').serialize(),
    success: function(response) {
    if(response == 'success'){
        $('.loading').fadeOut(3000);
        $('#formSuccessMessageWrap').show();
        $('.blue-notification').fadeOut(5000);
        $('fieldset').closest('form').find("input[type=text], textarea").val("");
    }

    }
    });
    }

    });


{% endblock %}


