{% extends '::print.html.twig' %}
{% block body %}
<style>
    .grid-print {
        width: 100%;
        display: grid;
        grid-gap: 0;

    }
    .grid-print {
        grid-template-columns: repeat({{ config.barcodePerRow }}, calc(100%/{{ config.barcodePerRow }}));
    }
</style>
<div class="grid-print">
    {% for barcode in barCoder %}
        <div class="item">{{ barcode|raw }}</div>
    {% endfor %}
</div>
    {#<div style="margin-left:{{ config.barcodePageLeftMargin }}px;margin-top:{{ config.barcodePageTopMargin }}px">
        {% for barcode in barCoder %}
            {{ barcode|raw }}
        {% endfor %}
    </div>#}
{% endblock %}

