{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Monthly Income Statement
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Monthly Income Statement</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Income Statement</div>
                         <div class="actions">
                            <div class="btn-group">
                                {% set startDate = searchForm.startDate is defined ? searchForm.startDate :'' %}
                                {% set endDate = searchForm.endDate is defined ? searchForm.endDate :'' %}
                                <a class="btn purple" target="_blank" href="{{ path('report_income_pdf',{'startDate':startDate,'endDate':endDate,}) }}" >
                                    <i class=" icon-download"></i>&nbsp;PDF
                                </a>
                                <a class="btn blue"  href="{{ path('report_income_print',{'startDate':startDate,'endDate':endDate,}) }}" >
                                    <i class=" icon-print"></i>&nbsp;Print
                                </a>
                                <a class="btn" href="#" >
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('report_income_pdf') }}"><i class="icon-plus-sign"></i>&nbsp; Balance Sheet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="portlet search-portlet box grey">
                                <form class="search-form" action="" method="get" name="itemSearch">

                                    <div class="row-fluid">
                                        <div class="span4">
                                            <select class="span12 m-wrap" name="startMonth" id='startMonth'>
                                                <option value=''>--Select Start Month--</option>
                                                <option value='01' {% if searchForm.startMonth is defined and searchForm.startMonth == '01' %} selected="selected" {% endif %} >Janaury</option>
                                                <option value='02' {% if searchForm.startMonth is defined and searchForm.startMonth == '02' %} selected="selected" {% endif %} >February</option>
                                                <option value='03' {% if searchForm.startMonth is defined and searchForm.startMonth == '03' %} selected="selected" {% endif %} >March</option>
                                                <option value='04' {% if searchForm.startMonth is defined and searchForm.startMonth == '04' %} selected="selected" {% endif %} >April</option>
                                                <option value='05' {% if searchForm.startMonth is defined and searchForm.startMonth == '05' %} selected="selected" {% endif %} >May</option>
                                                <option value='06' {% if searchForm.startMonth is defined and searchForm.startMonth == '06' %} selected="selected" {% endif %} >June</option>
                                                <option value='07' {% if searchForm.startMonth is defined and searchForm.startMonth == '07' %} selected="selected" {% endif %} >July</option>
                                                <option value='08' {% if searchForm.startMonth is defined and searchForm.startMonth == '08' %} selected="selected" {% endif %} >August</option>
                                                <option value='09' {% if searchForm.startMonth is defined and searchForm.startMonth == '09' %} selected="selected" {% endif %} >September</option>
                                                <option value='10' {% if searchForm.startMonth is defined and searchForm.startMonth == '10' %} selected="selected" {% endif %} >October</option>
                                                <option value='11' {% if searchForm.startMonth is defined and searchForm.startMonth == '11' %} selected="selected" {% endif %} >November</option>
                                                <option value='12' {% if searchForm.startMonth is defined and searchForm.startMonth == '12' %} selected="selected" {% endif %} >December</option>
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <select class="span12 m-wrap" name="endMonth" id='endMonth'>
                                                <option value=''>--Select End Month--</option>
                                                <option value='01' {% if searchForm.endMonth is defined and searchForm.endMonth == '01' %} selected="selected" {% endif %} >Janaury</option>
                                                <option value='02' {% if searchForm.endMonth is defined and searchForm.endMonth == '02' %} selected="selected" {% endif %} >February</option>
                                                <option value='03' {% if searchForm.endMonth is defined and searchForm.endMonth == '03' %} selected="selected" {% endif %} >March</option>
                                                <option value='04' {% if searchForm.endMonth is defined and searchForm.endMonth == '04' %} selected="selected" {% endif %} >April</option>
                                                <option value='05' {% if searchForm.endMonth is defined and searchForm.endMonth == '05' %} selected="selected" {% endif %} >May</option>
                                                <option value='06' {% if searchForm.endMonth is defined and searchForm.endMonth == '06' %} selected="selected" {% endif %} >June</option>
                                                <option value='07' {% if searchForm.endMonth is defined and searchForm.endMonth == '07' %} selected="selected" {% endif %} >July</option>
                                                <option value='08' {% if searchForm.endMonth is defined and searchForm.endMonth == '08' %} selected="selected" {% endif %} >August</option>
                                                <option value='09' {% if searchForm.endMonth is defined and searchForm.endMonth == '09' %} selected="selected" {% endif %} >September</option>
                                                <option value='10' {% if searchForm.endMonth is defined and searchForm.endMonth == '10' %} selected="selected" {% endif %} >October</option>
                                                <option value='11' {% if searchForm.endMonth is defined and searchForm.endMonth == '11' %} selected="selected" {% endif %} >November</option>
                                                <option value='12' {% if searchForm.endMonth is defined and searchForm.endMonth == '12' %} selected="selected" {% endif %} >December</option>
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <div class="controls">
                                                <div class="input-append span11">
                                                    <select class="span11 m-wrap" name="year" id='year'>
                                                        <option value='2017' {% if searchForm.year is defined and searchForm.year == '2017' %} selected="selected" {% endif %} >2017</option>
                                                        <option value='2018' {% if searchForm.year is defined and searchForm.year == '2018' %} selected="selected" {% endif %} >2018</option>
                                                        <option value='2019' {% if searchForm.year is defined and searchForm.year == '2019' %} selected="selected" {% endif %} >2019</option>
                                                        <option value='2020' {% if searchForm.year is defined and searchForm.year == '2020' %} selected="selected" {% endif %} >2020</option>
                                                     </select>
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead>
                                <tr>
                                    <th class="pull-center" colspan="3"><h3>INCOME STATEMENT SHEET</h3></th>
                                </tr>
                                <tr>
                                    {% set startDate = searchForm.startDate is defined ? searchForm.startDate :'' %}
                                    {% set endDate = searchForm.endDate is defined ? searchForm.endDate :'' %}
                                    {% if startDate is not empty %}
                                    <th colspan="3">
                                        <span class="pull-right">Period:&nbsp;&nbsp;{{ startDate }} To {{ endDate }}</span>
                                    </th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalCredit = 0 %}
                                {% set totalDebit = 0 %}
                                {% if overview.revenues is not empty %}
                                    <tr><th colspan="3">Operating Revenue</th></tr>
                                    {% for revenue in overview.revenues %}
                                        {% set totalCredit = totalCredit + revenue.credit  %}
                                        {% set totalDebit = totalDebit + revenue.debit  %}
                                        <tr><td>{{ revenue.name }}</td><td class="numeric" >{% if revenue.toIncrease == 'Debit' %}{{ revenue.debit|number_format }}{% endif %}</td><td class="numeric" >{% if revenue.toIncrease == 'Credit' %}{{ revenue.credit|number_format }}{% endif %}</td></tr>
                                    {% endfor %}
                                {% endif %}
                                <tr><td>Purchase Accessories/Medicine</td><td class="numeric" >({{ overview.purchase|number_format }})</td><td></td></tr>
                                <tr><td>Service Vat</td><td class="numeric" >({{ overview.salesVat|number_format }})</td><td></td></tr>
                                <tr><th colspan="3">Operating Expense</th></tr>
                                {% set totalExpense = 0 %}
                                {% for expense in overview.expenditures %}
                                    {% set totalExpense = totalExpense + expense.amount  %}
                                    <tr><td>{{ expense.name }}</td><td class="numeric" >{{ expense.amount|number_format }}</td><td></td></tr>
                                {% endfor %}
                                <tr><th>Grand Total Expense</th><th class="numeric" >({{ totalExpense|number_format }})</th><td></td></tr>
                                {% set grandTotal = totalCredit - ( totalExpense + overview.salesVat + totalDebit + overview.purchase) %}
                                <tr><th colspan="2"><span class="pull-right">Grand Profit/Loss</span></th><th class="numeric" >{{ grandTotal|number_format }}</th></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
    function doPrint() {
        window.print();
    }
</script>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#startMonth').change(function(){
        var month = $(this).val();
        $('#endMonth').val(month);
    });
{% endblock %}


