{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of Balance Sheet
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:"> Account of Balance Sheet</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Assets</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Parent Head</th>
                                    <th class="numeric" >Account Head</th>
                                    <th class="numeric" >Sub Head</th>
                                    <th class="numeric" >Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, entity in debitStatement %}
                                  <tr><td colspan="4" class="span9 service-group"><strong>{{ key }}</strong></td></tr>
                                    {% set totalDebit = 'total'~key  %}
                                    {% set totalDebit =  0   %}
                                    {% set totalCredit =  0   %}
                                    {% for val in  debitStatement[key] %}
                                    {% if val.toIncrease == "Debit" %}
                                        {% set totalDebit = totalDebit + val.amount|abs %}
                                    {% endif %}
                                         <tr><td>&nbsp;</td><td colspan="2"> {{ val.code }} - {{ val.name }}</td><th>{{ val.amount|abs|number_format }}</th></tr>
                                        {% if subHeads[val.accountHeadId] is defined and subHeads[val.accountHeadId] is not empty %}
                                            {% for sub in subHeads %}
                                                {% if sub.parentId == val.accountHeadId %}
                                                    <tr><td></td><td></td><td>{{ sub.headName }}</td><td>{{ sub.amount|number_format }}</td></tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                   <tr><th colspan="3">Total</th><th> {{ totalDebit }}</th></tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <div class="form-actions portlet box yellow">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Equity & Liabilities</div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Parent Head</th>
                                    <th class="numeric" >Account Head</th>
                                    <th class="numeric" >Sub Head</th>
                                    <th class="numeric" >Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, entity in creditStatement %}
                                    <tr><td colspan="4" class="span9 service-group"><strong>{{ key }}</strong></td></tr>
                                    {% set totalDebit = 'total'~key  %}
                                    {% set totalCredit = 'total'~key  %}
                                    {% set totalDebit =  0   %}
                                    {% set totalCredit =  0   %}
                                    {% for val in  creditStatement[key] %}
                                    {% set total = totalCredit + val.amount|abs %}
                                        <tr><td>&nbsp;</td><td colspan="2"> {{ val.code }} - {{ val.name }}</td><th>{{ val.amount|abs|number_format }}</th></tr>
                                        {% if subHeads[val.accountHeadId] is defined and subHeads[val.accountHeadId] is not empty %}
                                            {% for sub in subHeads %}
                                                {% if sub.parentId == val.accountHeadId %}
                                                    <tr><td></td><td></td><td>{{ sub.headName }}</td><td>{{ sub.amount|abs|number_format }}</td></tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                    <tr><th colspan="3">Total</th><th> {{ totalCredit }}</th></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div class="form-actions portlet box red">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i> Profit & Loss</div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Parent Head</th>
                                    <th class="numeric" >Account Head</th>
                                    <th class="numeric" >Sub Head</th>
                                    <th class="numeric" >Profit/Loss</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, entity in profitStatement %}
                                    <tr><td colspan="4" class="span9 service-group"><strong>{{ key }}</strong></td></tr>
                                    {% set totalDebit = 'total'~key  %}
                                    {% set totalCredit = 'total'~key  %}
                                    {% set totalDebit =  0   %}
                                    {% set totalCredit =  0   %}
                                    {% for val in  profitStatement[key] %}
                                        {% set total = totalCredit + val.amount|abs %}
                                        <tr><td>&nbsp;</td><td colspan="2"> {{ val.code }} - {{ val.name }}</td><th>{{ val.amount|abs|number_format }}</th></tr>
                                        {% if subHeads[val.accountHeadId] is defined and subHeads[val.accountHeadId] is not empty %}
                                            {% for sub in subHeads %}
                                                {% if sub.parentId == val.accountHeadId %}
                                                    <tr><td></td><td></td><td>{{ sub.headName }}</td>
                                                        <td>{{ sub.amount|abs|number_format }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                    <tr><th colspan="3">Total</th><th> {{ totalCredit }}</th></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="clearfix"><br/></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




