{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of cash overview
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="javascript:">Account of cash overview</a>
                    </li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Cash Overview</div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body">
                            {% include('flash-message.html.twig') %}

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric">Transaction</th>
                                    <th class="numeric" >Debit</th>
                                    <th class="numeric" >Credit</th>
                                    <th class="numeric" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% set sum = 0 %}
                                    {% for row in overviews %}
                                    <tr>
                                        {% set sum = sum + (row.debit-row.credit) %}
                                        <th class="numeric">{{ row.name }}</th>
                                        <td class="numeric" >{{ row.debit|number_format }}</td>
                                        <td class="numeric" >{{ row.credit|number_format }}</td>
                                        <td class="numeric" >{{ (row.debit-row.credit)|number_format }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric" colspan="3"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sum|number_format }}</strong></td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-green">
                                    <th class="numeric">Bank Account</th>
                                    <th class="numeric" >Debit</th>
                                    <th class="numeric" >Credit</th>
                                    <th class="numeric" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sumBank = 0 %}
                                {% for row in transactionBankCashOverviews %}
                                    <tr>
                                        {% set sumBank = sumBank + (row.debit-row.credit) %}
                                        <th >{{ row.name }}</th>
                                        <td class="numeric" >{{ row.debit|number_format }}</td>
                                        <td class="numeric" >{{ row.credit|number_format }}</td>
                                        <td class="numeric" >{{ (row.debit-row.credit)|number_format }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric" colspan="3"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sumBank|number_format }}</strong></td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th>Mobile Account</th>
                                    <th class="" >Debit</th>
                                    <th class="" >Credit</th>
                                    <th class="" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sumBkash = 0 %}
                                {% for row in transactionBkashCashOverviews %}
                                    <tr>
                                        {% set sumBkash = sumBkash + (row.debit-row.credit) %}
                                        <th  >{{ row.name }}</th>
                                        <td class="numeric" >{{ row.debit|number_format }}</td>
                                        <td class="numeric" >{{ row.credit|number_format }}</td>
                                        <td class="numeric" >{{ (row.debit-row.credit)|number_format }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric" colspan="3"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sumBkash|number_format }}</strong></td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-yellow">
                                    <th>Account Head</th>
                                    <th class="numeric"  >Debit</th>
                                    <th class="numeric"  >Credit</th>
                                    <th class="numeric"  >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sumCash = 0 %}
                                {% for row in transactionAccountHeadCashOverviews %}
                                    <tr>
                                        {% set sumCash = sumCash + (row.debit-row.credit) %}
                                        <th >{{ row.name }}</th>
                                        <td class="numeric"  >{{ row.debit|number_format }}</td>
                                        <td cclass="numeric"  >{{ row.credit|number_format }}</td>
                                        <td class="numeric"  >{{ (row.debit-row.credit)|number_format }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric" colspan="3"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sumCash|number_format }}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}




