
    <div class="content">
        <div class="container">
            <h1>News</h1>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul id="newsFeed">
                                    {% for  row in entity.newses %}
                                        <li><div class="one-responsive">
                                                <div class="big-notification dark-notification">
                                                    <img class="responsive-image" src="/{{ row.webPath }} "/>
                                                    <h4><em>{{ row.startDate|date('F j, Y') }}</em>&nbsp;<em>to</em>&nbsp;<em>{{ row.endDate|date('F j, Y') }}</em></h4>
                                                    <p><a href="{{ path('mobile_module',{'subdomain': entity.subDomain,'module': moduleName|lower,'slug':row.slug }) }}"> {{ row.name }}</a></p>
                                                </div>
                                            </div></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        </div>
    </div>
