{% extends ':frontend/template/mobile:base.html.twig' %}
{% block body %}
    {#<div class="bannerPane bannerPane-business-locaton">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" /></div>
           Product
        </div>
    </div>
#}
    <div id="content"  class="product" style="margin-bottom: 50px">
        <div id="cat-search">
            {% render controller("FrontendBundle:EcommerceWidget:header",{'globalOption':globalOption, 'pageName':'product'}) %}
        </div>
        <br/>
        <div class="container" id="product-section">
                <div class="row">
                    {% for product in products %}
                        {% set paymentID = globalOption.id~'-ecommerce-product-'~product.id %}
                        <div class="outer-div">
                            <div class="inner-div">
                                <div id="" class="ic_container capslide_img_cont ">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="javascript:" class="thumbnail">
                                            <img src="{% if product.webPath is not empty  %}{{ image(product.webPath).scaleResize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).scaleResize(400,400) }}{% endif %}"  alt=""/>
                                        </a>
                                    </div>
                                    <div class="overlay"></div>
                                    <div class="ic_caption">
                                        <p class="title"><a href="{{ path('webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}"  >{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</a></p>
                                        <div class="product-short-details">
                                            <span>{{ globalOption.ecommerceConfig.currency }}&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}&nbsp;{{ product.discountPrice|number_format() }}{% endif %}</span>
                                        </div>
                                        <div class="media-body">
                                            <ul class="list-inline list-unstyled">
                                                <li><span><i class="fa fa-dribbble" aria-hidden="true"></i>&nbsp;{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></li>
                                                <li>|</li>
                                                <li><span><span class="badge"><span class="fos-comment-count" data-fos-comment-thread-id="{{ paymentID }}">#</span></span> comments</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- end container -->
        <br/>
        <div class="mobile-pagination" style="background-color: #00A8FF">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
<style>


</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-cosmetic.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/mobile/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}



