<link rel="stylesheet" href="{{ asset('assets/css/print.css') }}"/>
<style>

    h1 , h2 , h3 , h4 , h5 , h6,p{
        display: block;
        padding: 0;
        margin: 0;
    }
    h3 {
        font-size: 24px;
        line-height: 45px;
        height: 45px;
    }

    .table{
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        font-family:tahoma, geneva, sans-serif;
    }
    .table tr.head th, .table tr.head td{
        font-size: 15px;
        background: #333;
        color: #fff;
        height: 40px;
    }

    .table tr.sub-head th, .table tr.sub-head td{
        font-size: 15px;
        background: #666;
        color: #fff;
        height: 40px;
    }

    .table th, .table td{
        border: 1px solid #e5e5e5;
        text-align: left;
        padding-left: 20px;
        height: 30px;
        line-height: 30px;

    }
    h3 {
        font-size: 24px;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 45px;
        height: 45px;
    }
    .pull-center{
        background: #e5e5e5;
        text-align: center!important;

    }
    .pull-right{
        text-align: right!important;
        display: block;
        padding-right: 20px;
    }

</style>
  <table class="table">
      <thead>
      <tr>
          <td class="pull-center" colspan="10">{{ globalOption.hospitalConfig.address|raw }}</td>
      </tr>
      <tr>
          <th class="pull-center" colspan="10"><h3>DAILY SALES STATEMENT SHEET</h3></th>
      </tr>
      <tr>
          <th >Invoice No</th>
          <th >Name</th>
          <th >Referred</th>
          <th >Total</th>
          {% for com in commissionEntity %}
              <th >{{ com.name }}</th>
          {% endfor %}
          <th>Commission</th>
          <th >Balance</th>
          <th >Report</th>
      </tr>
      </thead>
      <tbody>
      {% set grandTotal = 0 %}
      {% set grandCommission = 0 %}
      {% set grandTotal = 0 %}
      {% for entity in entities %}
          {% set  grandTotal = grandTotal + entity.total %}
          {% set  grandCommission = grandCommission + entity.commission %}
          <tr>
              <td >{{ entity.invoice }}</td>
              <td >{% if entity.customer is defined and entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
              <td >{% if entity.referredDoctor is defined and entity.referredDoctor is not empty %}{{ entity.referredDoctor.name }}{% endif %}</td>
             {# <td >{% for particular in entity.invoiceParticulars  %}{{ loop.index }}. {{ particular.particular.name }} {% if not loop.last %},{% endif %}  {% endfor %}</td>#}
              <td >{{ entity.total }}</td>
              {% for com in commissionEntity %}
                  <td >
                      {% set commissionId = entity.id~'-'~com.id %}
                      {% if commissions[commissionId] is defined and commissions[commissionId] is not empty  %}
                          {{ commissions[commissionId].payment }}
                      {% endif %}
                  </td>
              {% endfor %}
              <td >{{ entity.commission }}</td>
              <td >{{ entity.total - entity.commission }}</td>
              <td > {{ entity.process }}</td>
          </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
          <th colspan="4"><span class="pull-right">Grand Total</span></th><td>{{ grandTotal }}</td>
          {% for com in commissionEntity %}
              <td>
                  {% if commissionSummary[com.id] is defined and commissionSummary[com.id] is not empty  %}
                      {{ commissionSummary[com.id].payment }}
                  {% endif %}
              </td>
          {% endfor %}
          <td>{{ grandCommission }}</td>
          <td>{{ grandTotal - grandCommission }}</td>
          <td></td>
      </tr>
      </tfoot>
  </table>
