<link rel="stylesheet" href="{{ asset('assets/css/print.css') }}"/>
<style>

    h1 , h2 , h3 , h4 , h5 , h6,p{
        display: block;
        padding: 0;
        margin: 0;
    }
    h3 {
        font-size: 24px;
        line-height: 45px;
        height: 45px;
    }

    .table{
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        font-family:tahoma, geneva, sans-serif;
    }
    .table tr.head th, .table tr.head td{
        font-size: 15px;
        background: #333;
        color: #fff;
        height: 40px;
    }

    .table tr.sub-head th, .table tr.sub-head td{
        font-size: 15px;
        background: #666;
        color: #fff;
        height: 40px;
    }

    .table th, .table td{
        border: 1px solid #e5e5e5;
        text-align: left;
        padding-left: 20px;
        height: 30px;
        line-height: 30px;

    }
    h3 {
        font-size: 24px;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 45px;
        height: 45px;
    }
    .pull-center{
        background: #e5e5e5;
        text-align: center!important;

    }
    .pull-right{
        text-align: right!important;
        display: block;
        padding-right: 20px;
    }

</style>
  <table class="table">
      <thead>
      <tr><td class="pull-center" colspan="20">{{ globalOption.hospitalConfig.address|raw }}</td></tr>
      <tr><th class="pull-center" colspan="20"><h3>DAILY SALES STATEMENT SHEET</h3></th></tr>
      <tr>
          <th >Invoice No</th>
          <th >Name</th>
          <th >Sub-Total</th>
          <th >Discount</th>
          <th >Total</th>
          {% for com in commissionSummary %}
              <th  colspan="2" >{{ com.commissionName }}</th>
          {% endfor %}
          <th>Comm.</th>
          <th >Balance</th>
          <th >Report</th>
      </tr>
      </thead>
      <tbody>
      {% set grandSubTotal = 0 %}
      {% set grandTotal = 0 %}
      {% set grandCommission = 0 %}
      {% set grandDiscount = 0 %}
      {% for entity in entities %}
          {% set  grandSubTotal = grandSubTotal + entity.subTotal %}
          {% set  grandTotal = grandTotal + entity.total %}
          {% set  grandDiscount = grandDiscount + entity.discount %}
          {% set  grandCommission = grandCommission + entity.commission %}
          <tr id="delete-{{ entity.id }}">
              <td  >{{ entity.invoice }}</td>
              <td  >{% if entity.customer is defined and entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
              {#<td  >{% for particular in entity.invoiceParticulars  %}{{ loop.index }}. {{ particular.particular.name }} {% if not loop.last %},{% endif %}  {% endfor %}</td>#}
              <td  >{{ entity.subTotal }}</td>
              <td  >{{ entity.discount }}</td>
              <td  >{{ entity.total }}</td>
              {% for com in commissionSummary %}
                  {% set commissionId = entity.id~'-'~com.comId %}
                  <td  >
                      {% if commissions[commissionId] is defined and commissions[commissionId] is not empty  %}
                          {{ commissions[commissionId].referredName }}
                      {% endif %}
                  </td>
                  <td  >
                      {% if commissions[commissionId] is defined and commissions[commissionId] is not empty  %}
                          {{ commissions[commissionId].payment }}
                      {% endif %}
                  </td>
              {% endfor %}
              <td  >{{ entity.commission }}</td>
              <td  >{{ (entity.total - entity.commission)|number_format }}</td>
              <td  > {{ entity.process }}</td>
          </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
          <th colspan="2"><span class="pull-right">Grand Total</span></th>
          <td>{{ grandSubTotal }}</td>
          <td>{{ grandDiscount }}</td>
          <td>{{ grandTotal }}</td>
          {% for com in commissionSummary %}
              <th>{{ com.commissionName }}</th>
              <th>{{ com.payment }}</th>
          {% endfor %}
          <td>{{ grandCommission }}</td>
          <td>{{ grandTotal - grandCommission }}</td>
          <td></td>
      </tr>
      </tfoot>
  </table>
