{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Admission Invoice
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice_admission') }}">Admission Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Admission View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Admission Invoice</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('hms_invoice_admission_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('hms_invoice_admission') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid">
                                <form class="search-form" action="" method="get" name="itemSearch">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <div class="controls">

                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="controls">

                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="controls">
                                                <div class="input-append span11">
                                                    <input type="text" id="name" name="name"  class="span11 m-wrap" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Enter invoice no ">
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Invoice No</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Net Total</th>
                                    <th class="numeric" >Payment</th>
                                    <th class="numeric" >Due</th>
                                    <th class="numeric" >Status</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{% if entity.customer is defined and entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.customer is defined and entity.customer is not empty %}{{ entity.customer.mobile }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.total }}</td>
                                        <td class="numeric" >{{ entity.payment }}</td>
                                        <td class="numeric" >{{ entity.due }}</td>
                                        <td class="numeric" >{{ entity.paymentStatus }}</td>
                                        <td class="numeric" >
                                            {% if entity.payment > 0 and entity.total > 0 and entity.process == 'In-progress' %}
                                            {% if ( app.user.granted("ROLE_DOMAIN")  or app.user.granted("ROLE_DOMAIN_MANAGER"))  %}
                                                <a  data-type="select" class="btn mini purple-stripe btn-action editable" id="process" data-name="process" href="#" data-source="{{ path('hms_invoice_status_select') }}"  data-url="{{ path('hms_invoice_process_update') }}" data-pk="{{ entity.id }}" data-value="{% if entity.process is not empty %}{{ entity.process }}{% endif %}" data-original-title="Enter invoice process">{% if entity.process is not empty %}{{ entity.process }}{% endif %}</a>
                                            {% endif %}
                                            {% else %}
                                            {{ entity.process }}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >
                                            {% if entity.paymentStatus == 'Pending' %}
                                            <a href="{{ path('hms_invoice_admission_edit', { 'id': entity.id }) }}" class="btn yellow mini" ><i class="icon-pushpin"></i></a>
                                            <a title="Are you sure went to delete ?" id="{{ entity.id }}" rel="{{ path('hms_invoice_admission_delete', { 'id': entity.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                            {% if entity.paymentStatus == 'Paid' or entity.paymentStatus == 'Due' %}
                                            <a href="{{ path('hms_invoice_admission_show', { 'id': entity.id }) }}" class="btn purple mini" ><i class="icon-eye-open"></i></a>
                                            <a  href="{{ path('hms_invoice_admission_print_invoice',{'id':entity.id}) }}"  class="btn green mini" ><i class="icon-print"></i></a>
                                            {% if entity.process == 'In-progress' %}
                                                <a href="{{ path('hms_invoice_admission_edit', { 'id': entity.id }) }}" class="btn yellow mini" ><i class="icon-pushpin"></i></a>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination" >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HospitalBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}
