<div class="modal-header" style="position: relative">
    <h5 class="modal-title">ORDER DETAILS</h5>
    <button type="button" class="close-btn btn btn-sm modal-close-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="modal-body">
    {% if globalOption.ecommerceConfig.cartSearch == 1 %}
        <div id="cart-search">
        <form name="stockItemForm" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_stock_item_create') }}" enctype="multipart/form-data" id="stockItemForm" class="register" novalidate="novalidate">
            <div class="clearfix"></div>
            <div class="" >
                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12">
                    <input class="select2Stock form-control" autocomplete="off" name="itemName" id="itemName"  placeholder="Search your choose products..." style="border-radius:0!important;">
                    <input type="hidden" name="stockId" id="stockId">
                    <ul id="searchResult"></ul>
                    <span class="help-inline">Here you can add on demand products. Just typing a product name and click add button.</span>
                </div>

            </div>
            <div class="" >
                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-transparent" aria-label="Bold"><strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong><span id="salesPrice"></span></button></div>

                        <div class="input-group-btn">
                            <button type="button" class="btn  btn-number-stock text-center" data-type="minus" data-field="itemQuantity">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                        <input type="text" class="form-control text-center input-number" style="width: 100%" value="1" min="1" max="1000"  id="itemQuantity" name="itemQuantity">
                        <div class="input-group-btn">
                            <button type="button" class="btn  btn-number-stock" data-type="plus" data-field="itemQuantity">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" id="unit" class="btn btn-unit">Unit</button> <button type="submit" class="btn btn-warning " id="stockSubmit" data-url="{{ path(globalOption.subDomain ~ '_webservice_stock_item_create') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Add</button>
                        </div>
                    </div><!-- /.input-group -->
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <form class="" id="cartForm" name="cartForm" action="{{ path('order_checkout',{'shop':globalOption.uniqueCode}) }}" method="post" enctype="multipart/form-data">
        <div id="cart-item-list">
                <div id="stockCart">
                     {% if  cart.contents is not empty %}
                    <div class="top">Recent Buy Item's <span class="pull-right" style="margin-right:10px; margin-top:-2px" ><span class="btn btn-warning "><strong class="totalItem">{{ cart.contents|length }}</strong> | <strong class="cartQuantity">{{ cart.total_items }}</strong></span></span></div>
                <div id="cart-item-list-box">
                    {% for product in cart.contents %}
                        <dl class="entity-list" id="item-remove-{{ product.rowid }}">
                            <dt>
                                {#{% if product.productImg is not empty %}
                                    <img src="{{ image(product.productImg).scaleResize(80,80) }}" alt=""/>
                                {% else %}
                                    <img style="height: 80px; width: 80px" src="{{ asset('assets/img/product-icon.png') }}">
                                {% endif %}#}
                                <span class="dd-span-name">
                            {{ loop.index }}. {{ product.name }}
                                    <br/>  ৳ {{ product.price }} {% if product.productUnit is not empty %}/ {{ product.productUnit }} {% endif %}</span>
                                <span class="dd-span-remove">
                             <button id="{{ product.rowid }}"
                                     data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}"
                                     class="btn btn-transparent btn-sm hunger-remove-cart">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                        </span>
                            </dt>

                            <dd>
                                <div class="col-xs-6 col-md-6">
                                    <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-sm btn-transparent btn-danger btn-number-cart"
                          data-type="minus" data-field="quantity" data-id="{{ product.rowid }}"
                          id="btn-left-{{ product.rowid }}"
                          data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart_update',{'cartid': product.rowid}) }}"
                          data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                    <span class="fa fa-minus"></span>
                                           </button>
              </span>
                                        <input type="text" readonly="readonly" name="quantity" id="quantity-{{ product.rowid }}"
                                               class="btn-number-cart" value="{{ product.quantity }}"
                                               min="1" max="100">
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-transparent btn-sm btn-success btn-number-cart"
                                            data-type="plus" data-field="quantity"
                                            data-id="{{ product.rowid }}"
                                            data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart_update',{'cartid': product.rowid}) }}"
                                            data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                      <span class="fa fa-plus"></span>
                                              </button>

              </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6 text-right">
                                    ৳ <strong id="btn-total-{{ product.rowid }}">{{ product.price * product.quantity }}</strong>
                                </div>
                            </dd>
                        </dl>
                    {% endfor %}
                </div>
                <div class="bottom">
                    <span class="dd-span pull-left">SubTotal:</span>
                    <span class="dd-span pull-right"><strong>{{ globalOption.ecommerceConfig.currency }}
                            &nbsp;<span class="totalAmount">{{ cart.total|number_format(2) }}</span></strong></span>
                </div>
                {% endif %}
                </div>
                {% if globalOption.ecommerceConfig.uploadFile == 1 %}
                <div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="text-right">
                                <div style="height:100px;">
                                    <input type="file" id="uploadFile" name="uploadFile" class="dropzone"/>
                                </div>
                                <p style="font-size: 11px; color: red; line-height: 20px; margin-bottom: 0">*JPG/GIF/PDF/PNG, less than 5MB</p>
                                <textarea name="comment" id="comment" rows="5" style="width: 100%; padding: 7px; font-size: 12px" placeholder="Enter order related instruction"></textarea>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% if  cart.contents is not empty or globalOption.ecommerceConfig.uploadFile == 1 %}
                <div class="bottom" id="login-cart" style="margin-bottom: 15px">
                    <span class="dd-span pull-center" id="login-cart">
                    {% if app.user is empty %}
                            <a  href="#login-modal"
                                class="btn popup-top-anim btn-success"> Login & Place Order <span class="glyphicon glyphicon-play"></span></a>
                    {% else %}
                            <button  type="submit" class="btn btn-success">Place Order <span class="glyphicon glyphicon-play"></span></button>
                    {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </form>
    <style>
        .closest-dropzone span{
            top:0!important;
        }
        #cart-item-list .dd-span-name {
            align-items: center;
            display: flex;
            width:90%;
            height: 75px;
            font-size: 12px;
            padding-right: 7px;
            float: left;
        }
        #cart-item-list .dd-span-remove {
            align-items: center;
            display: flex;
            height: 75px;
            font-size: 12px;
            padding-right: 7px;
        }
    </style>
</div>






