
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Pre-order
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('customer_preorder') }}">Manage Pre-order</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Pre-order Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Pre-order Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('customer_preorder') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Customer</th>
                                    <th class="numeric" >Invoice</th>
                                    <th class="numeric" >item</th>
                                    <th class="numeric" >Quantity</th>
                                    <th class="numeric" >Total USD</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Shipping&Tax</th>
                                    <th class="numeric" >Others</th>
                                    <th class="numeric" >Grand Total</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr id="remove-tr-{{ entity.id }}">
                                        <td><span class="badge badge-warning toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.createdBy }}</td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{{ entity.item }}</td>
                                        <td class="numeric" >{{ entity.quantity }}</td>
                                        <td class="numeric" >{{ entity.dollar }}</td>
                                        <td class="numeric" >{{ entity.totalAmount }}</td>
                                        <td class="numeric" >{{ entity.totalShippingCharge }}</td>
                                        <td class="numeric" >{{ entity.deliveryCharge + entity.vat - entity.discountAmount }}</td>
                                        <td class="numeric" >{{ entity.grandTotalAmount }}</td>
                                        <td class="numeric" >
                                            {% if entity.process == 'in-progress' %}
                                                <a href="{{ path('customer_preorder_item', { 'id': entity.id }) }}" class="btn yellow mini" ><i class="icon-filter"></i>&nbsp;For Verified</a>
                                            {% elseif entity.process == 'verified' %}
                                                <a href="" class="btn green mini" ><i class="icon-money"></i>&nbsp;Payment</a>
                                            {% elseif entity.process == 'payment' %}
                                                <a href="{{ path('customer_preorder_item', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-ok"></i>&nbsp;For Confirm</a>
                                            {% elseif entity.process == 'confirm' %}
                                                <a href="{{ path('customer_preorder_item', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-truck"></i>&nbsp;For Delivered</a>
                                            {% elseif entity.process == 'canceled' %}
                                                <a href="" class="btn green mini" ><i class="icon-remove"></i>&nbsp;Canceled</a>
                                            {% elseif entity.process == 'delivered' %}
                                                <a href="" class="btn green mini" ><i class="icon-truck"></i>&nbsp;Delivered</a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview" >
                                        <td colspan="12">
                                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                                <thead class="flip-content ">
                                                <tr class="head-grey">
                                                    <th class="numeric" >Name</th>
                                                    <th class="numeric" >Quantity</th>
                                                    <th class="numeric" >USD</th>
                                                    <th class="numeric" >TotalUSD</th>
                                                    <th class="numeric" >Unit price</th>
                                                    <th class="numeric" >Total</th>
                                                    <th class="numeric" >Shipping Charge</th>
                                                    <th class="numeric" >Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in entity.preOrderItems %}
                                                    <tr id="remove-{{ item.id }}">
                                                        <td class="numeric" ><a target="_blank" href="{{ item.url }}"> {{ item.name|truncate(20) }}</a></td>
                                                        <td class="numeric" >{{ item.quantity }}</td>
                                                        <td class="numeric" >{{ item.dollar }}</td>
                                                        <td class="numeric" >{{ item.totalDollar }}</td>
                                                        <td class="numeric" >{{ item.price }}</td>
                                                        <td class="numeric" >{{ item.total }}</td>
                                                        <td class="numeric" >{{ item.shippingCharge }}</td>
                                                        <td class="numeric" >
                                                            <a data-title="Confirm item" href="javascript:" class="btn  mini confirm {% if item.status == 1 %} green {% else %} red {% endif %} " ><i class="icon-ok"></i>{% if item.status == 1 %} Accept {% else %} Deny {% endif %}</a>
                                                            {% if entity.process == 'created'  %}
                                                            <a title="Are you sure went to delete ?" data-id="{{ item.id }}" data-url="{{ path('customer_preorder_item_delete',{'preOrder':entity.id,'id':item.id}) }}" class="btn red mini remove" ><i class="icon-trash"></i></a>
                                                        {% endif %}
                                                        </td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@EcommerceBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
{% endblock %}


