{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <!-- BEGIN purchase_order HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="purchase_order-title">
                Purchase: {{ entity.grn }}
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('inventory_purchasesimple') }}">Purchase</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Add/Edit purchase</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END purchase_order HEADER-->
    <!-- BEGIN purchase_order CONTENT-->
    <div class="row-fluid">
        <div class="span12" style="position:relative">

            <div class="portlet box green tabbable">
                <div id="dataProces"></div>
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Purchase Information</div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn red" href="{{ path('inventory_purchasesimple_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></>
                            <a class="btn" href="{{ path('inventory_purchasesimple') }}"><i class="icon-th-list"></i>&nbsp;Purchase</a></>
                            <a class="btn yellow" id="addInventory" href="javascript:"><i class="icon-plus-sign"></i>&nbsp; Add Inventory Item</a>

                        </div>
                    </div>

                </div>

                <div class="portlet-body">
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        <form class="search-form" action="{{ path('inventory_purchasesimple_create_stock_item') }}" method="get" name="inventoryItem" id="inventoryItem">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="masterItem">Master item<span class="required">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="masterItem" name="masterItem" required="required"  class="span12 m-wrap" value=""  autocomplete="off" placeholder="Item name">
                                        </div>
                                    </div>
                                </div>
                                {% if entity.inventoryConfig.isColor ==1  %}
                                    <div class="span2">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Color<span class="required">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="color" name="color" required="required"  class="span12 m-wrap select2Color" value=""  autocomplete="off" placeholder="Color name">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if entity.inventoryConfig.isSize ==1  %}
                                    <div class="span2">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Size/Dimension/Weight<span class="required">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="size" name="size" required="required"  class="span12 m-wrap select2Size" value=""  autocomplete="off" placeholder="Size name">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if entity.inventoryConfig.isVendor ==1  %}
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Vendor<span class="required">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="vendor" name="vendor" required="required"  class="span12 m-wrap select2Vendor" value=""  autocomplete="off" placeholder="Vendor name">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if entity.inventoryConfig.isBrand ==1  %}
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Brand<span class="required">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="brand" name="brand"  class="span12 m-wrap select2Brand" value=""  autocomplete="off" placeholder="Brand name">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        <!--/span-->
                        <div class="clearfix">&nbsp;</div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-right">
                                <button type="button" id="addStockItem" class="btn green"><i class="icon-save"></i> Create Stock Item</button>
                            </div>
                        </div>
                        </form> <!--/span-->
                        <div class="clearfix"><br/></div>
                        {{ form_start(purchaseItemForm) }}
                        {{ form_row(purchaseItemForm._token) }}
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="control-group">
                                    <label class="control-label" for="name">Inventory Item <span class="required">*</span></label>
                                    <div class="controls">
                                        {{ form_widget(purchaseItemForm.item) }}
                                        {{ form_errors(purchaseItemForm.item) }}
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label" for="purchasePrice">Purchase Price <span class="required">*</span></label>
                                    <div class="controls">
                                        {{ form_widget(purchaseItemForm.purchasePrice) }}
                                        {{ form_errors(purchaseItemForm.purchasePrice) }}
                                    </div>
                                </div>

                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label" for="salesPrice">Sales Price <span class="required">*</span></label>
                                    <div class="controls">
                                        {{ form_widget(purchaseItemForm.salesPrice) }}
                                        {{ form_errors(purchaseItemForm.salesPrice) }}
                                    </div>
                                </div>

                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="salesPrice">Quantity<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-append">
                                            {{ form_widget(purchaseItemForm.quantity) }}
                                            <div class="btn-group"> <button type="submit" id="addPurchaseForm" name="addPurchaseForm"  class="btn blue"><i class="icon-save"></i>&nbsp;Add</button></div>
                                        </div>
                                        {{ form_errors(purchaseItemForm.quantity) }}
                                    </div>
                                </div>

                            </div>
                            <!-- END FORM-->
                        </div>
                        {{ form_end(purchaseItemForm) }}
                        <div class="clearfix"><br/></div>
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title"> <div class="caption"><i class="icon-reorder"></i>Purchase Item List</div></div>
                        </div>
                        <div class="clearfix"><br/></div>
                        <div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-green">
                                    <th class="numeric" ><i class="icon-reorder"></i></th>
                                    <th class="numeric" >Barcode</th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Qnt</th>
                                    <th class="numeric" >Process Qnt</th>
                                    <th class="numeric" >Unit</th>
                                    <th class="numeric" >Purchase</th>
                                    <th class="numeric" >Sub-total</th>
                                    <th class="numeric" >Sales</th>
                                    <th class="numeric" >Sub-total</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody id="purchaseItem" >
                                {% for purchaseItem in entity.purchaseItems %}
                                    <tr id="remove-purchase-item-{{ purchaseItem.id }}">
                                        <td class="numeric" >{{ loop.index }}.</td>
                                        <td class="numeric" >{{ purchaseItem.barcode }}</td>
                                        <td class="numeric" >{{ purchaseItem.item.name }}</td>
                                        <td class="numeric" ><a class="editable" data-name="Quantity" href="#"  data-url="{{ path('inventory_purchaseitem_inline_update') }}" data-type="text" data-pk="{{ purchaseItem.id }}" data-original-title="Change purchase quantity"> {{ purchaseItem.quantity }}</a></td>
                                        <td class="numeric" >{% if processItem[purchaseItem.id] is defined %}{{ processItem[purchaseItem.id] }}{% endif %}</td>
                                        <td class="numeric" >{% if purchaseItem.item.masterItem.productUnit is not empty %}{{  purchaseItem.item.masterItem.productUnit.name }}{% endif %}</td>
                                        <td class="numeric" ><a class="editable" data-name="PurchasePrice" href="#"  data-url="{{ path('inventory_purchaseitem_inline_update') }}" data-type="text" data-pk="{{ purchaseItem.id }}" data-original-title="Change purchase price"> {{ purchaseItem.purchasePrice }}</a></td>
                                        <td class="numeric" >{{ purchaseItem.purchaseSubTotal|number_format() }}</td>
                                        <td class="numeric" >{{purchaseItem.salesPrice}}</td>
                                        <td class="numeric" >{{ purchaseItem.salesSubTotal|number_format() }}</td>
                                        <td class="numeric">
                                            {% if processItem[purchaseItem.id] is defined and processItem[purchaseItem.id] == 0 %}
                                            <a href="javascript:" data-url="{{ path('inventory_purchasesimple_item_delete',{'purchase':entity.id ,'id':purchaseItem.id }) }}" class="btn red mini remove"><i class="icon-trash"></i> Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3" class="numeric"><strong class=" pull-right">Total Quantity</strong></td>
                                    <td class="numeric" ><strong>{{ entity.totalQnt }}</strong></td>
                                    <td colspan="3" class="numeric" ><strong class=" pull-right">Total Purchase</strong></td>
                                    <td class="numeric" colspan="5" ><strong>{{ entity.totalAmount|number_format }}</strong></td>
                                </tr>
                                </tfoot>


                            </table>
                        </div>
                        <div class="clearfix"><br/></div>
                        <div class="form-actions portlet box yellow">
                            <div class="portlet-title">  <div class="caption"><i class="icon-reorder"></i>Purchase Information</div></div>
                        </div>
                        <div class="clearfix"><br/></div>
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Vendor/Supplier<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    {{ form_widget(form.vendor) }}
                                                    {{ form_errors(form.vendor) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="span4">


                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Purchase To</label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    {{ form_widget(form.purchaseTo) }}
                                                    {{ form_errors(form.purchaseTo) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">

                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Total Item<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-sort-by-order"></i>
                                                    {{ form_widget(form.totalItem) }}{{ form_errors(form.totalItem) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Total Quantity<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-sort-by-order"></i>
                                                    {{ form_widget(form.totalQnt) }}{{ form_errors(form.totalQnt) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Memo/Invoice no<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-sort-by-order"></i>
                                                    {{ form_widget(form.memo) }}{{ form_errors(form.memo) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Receive Date<span class="required">*</span></label>
                                            <div class="controls">
                                                {{ form_widget(form.receiveDate) }}
                                                {{ form_errors(form.receiveDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="totalAmount">Total <span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.totalAmount) }}
                                                    {{ form_errors(form.totalAmount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="transactionMethod">Transaction Method</label>
                                            <div class="controls">
                                                {{ form_widget(form.transactionMethod) }}
                                                {{ form_errors(form.transactionMethod) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid bankHide">
                                    <div class="span12">
                                        <div class="control-group ">
                                            <label class="control-label" for="accountBank">
                                                {{ form_widget(form.accountBank) }}
                                                {{ form_errors(form.accountBank) }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid mobileBankHide">
                                    <div class="span12">
                                        <div class="control-group ">
                                            <label class="control-label" for="accountBkash">
                                                {{ form_widget(form.accountMobileBank) }}
                                                {{ form_errors(form.accountMobileBank) }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="paymentAmount">Payment</label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.paymentAmount) }}
                                                    {{ form_errors(form.paymentAmount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="dueAmount">Due Amount</label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.dueAmount) }}
                                                    {{ form_errors(form.dueAmount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span10">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Attach file</label>
                                            <div class="controls">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input span4">
                                                            <i class="icon-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-file">
                                                        <span class="fileupload-new">Select file</span>
                                                        <span class="fileupload-exists">Change</span>
                                                                {{ form_widget(form.file) }}
                                                                {{ form_errors(form.file) }}
                                                        </span>
                                                        <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">As Investment &nbsp; {{ form_widget(form.asInvestment) }}
                                                {{ form_errors(form.asInvestment) }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="control-label" for="transactionMethod">Process</label>
                                        <div class="controls">
                                            {{ form_widget(form.process) }}
                                            {{ form_errors(form.process) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-right">
                                <button type="submit" class="btn green" id="actionButton"><i class="icon-save"></i> Save</button>
                            </div>
                        </div>
                       {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .uneditable-input{
            width: 205px!important;
        }
        .ui-menu-item{
            border-bottom:1px solid #000000;
        }

        .ui-menu-item a{
            text-decoration: none;
            background: #d0dde4;
            height: 30px !important;
            line-height: 30px !important;
            border: none!important;
            border-bottom:1px solid #000000;
        }

        .ui-menu-item a:hover{
            background-color: #d2d2d2;
            height: 30px !important;
            line-height: 30px !important;
        }

        #inventoryItem{
            display: none;
        }

    </style>
    {% endblock %}
    {% block javascriptBlock %}
        {{ parent() }}
        {% javascripts
        '@InventoryBundle/Resources/public/js/puschase-simple.js'
        '@InventoryBundle/Resources/public/js/approveProcess.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock  %}
    {% block documentready %}
    {{ parent() }}
    $( ".datePicker" ).datepicker({
        dateFormat: "dd-mm-yy"
    });
    InventoryPurchasePage();
    ApproveProcess();
    {% endblock %}