{% extends ':frontend:base.html.twig' %}
{% block body %}

    <div id="tm-page-body">
    <div id="tm-template-default-fullwidth" class="tm-container">
    <div class="page-content">
    <div class="page-content-inner tm-content">
    {% if(sliders) %}
    <div class="tm-row" style="padding:50px 0 0 0">
        <div class="tm-wrap">
            <div class="tm-gallery gallery-slide flexslider" style="">
                <ul class="slides">
                    {% for slide in sliders %}
                        <li>
                            <a href="javascript:"><img alt="img" src="{{ image(slide.webPath).resize(1100,500) }} "></a>
                            <p class="slider-title">{{ slide.name }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="tm-row" style="padding:50px 0 20px 0">
        <div class="tm-wrap">
            <div class="tm-iconbox tm-style1">
                {% for feature in siteContent %}
                    {% set parent = feature.id|default(0) %}
                    {% if( parent == 5 ) %}
                        {% for key , post in feature.children %}
                            <div class="one-fourth tm-box">
                                <div class="iconlist-icon-header">
                                    <span>
                                        {% if key == 0 %}
                                        <i class="fa fa-trophy"></i>
                                        {% endif %}
                                        {% if key == 1 %}
                                        <i class="fa fa-flash"></i>
                                        {% endif %}
                                        {% if key == 2 %}
                                        <i class="fa fa-signal"></i>
                                        {% endif %}
                                    </span>
                                    <h3 class="tm-title">{{ post.name }}</h3>
                                </div>
                                <div class="iconlist-entry">
                            <div class="iconlist-content">
                                <p>
                                    {{ post.content|raw }}
                                </p>
                            </div>
                        </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% for feature in siteContent %}
                    {% if(feature.slug == 'recent-admission') %}
                        <div class="one-fourth tm-box last">
                        <div class="iconlist-icon-header">
                            <span><i class="fa fa-signal"></i></span>
                            <h3 class="tm-title">{{ feature.name }}</h3>
                        </div>
                        <div class="textwidget">
                            <img alt="img"  src="{{ image(feature.webPath).resize(300,140) }}">
                        </div>

                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="tm-row">
        <div class="tm-wrap">
            <div style="padding:30px;background:#29739D;margin:30px 0">
                <div class="two-third">
                    <p style="color:#fff">
                        Fedora is a design-led property development & interior design company that specializes in creating the finest residential addresses based in United States and more than 50 countries all over the world.
                    </p>
                </div>
                <div class="last one-third">
                    <div style="text-align:right" class="">
                        <a href="#" class="tm-btn blue">See More</a>
                        <a href="{{ path('contactpage') }}" class="tm-btn green">Contact Us</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="tm-row" style="padding:20px 0 30px 0">
    <div class="tm-wrap">
    <div class="one-fourth">

        {#Start Advertisment box#}
        <div class="page-sidebar">
            <aside class="widget widget_text">
                <div class="textwidget">
                    <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/9.jpg">
                </div>
                <div class="textwidget">
                    <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/10.jpg">
                </div>
            </aside>
        </div>
        {#End Advertisment box#}

    </div>

    <div class="one-half">
        <div class="header-double-line-right">
            <h3 class="tm-title">WELCOME TO UIPOKA.COM</h3>
        </div>

        <div style="margin-bottom:30px">
            <p>
                <span class="tm-dropcap tm-style3">T</span>
                {% for feature in siteContent %}
                    {% if(feature.slug == 'about-us') %}
                        {{ feature.content|raw }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>


    <div class="one-fourth last">
        <div class="page-sidebar">
            <aside class="widget widget_text">

                <div class="tm-accordion tm-style4">
                    {{ syndicates|raw }}
                </div>
            </aside>
        </div>


        <div class="page-sidebar">
            <aside class="widget widget_text">
                <div class="textwidget">
                    <a href=""> <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/9.jpg"></a>
                </div>
                <div class="textwidget">
                    <a href=""> <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/9.jpg"></a>
                </div>
            </aside>
        </div>

    </div>
    </div>
    </div>

    </div>

    <div class="tm-row" style="background:#1a1a1a;padding:80px 0 50px 0">
        <div class="tm-wrap">
            <div class="tm-iconbox tm-style4">

                {% for feature in siteContent %}


                    {% if( feature.id|default(0) == 11 ) %}

                        {% for key , post in feature.children %}
                        <div class="one-third tm-box {% if key == 2 %}last{% endif %}">
                            <div class="iconlist-icon">
                                <span>
                                {% if key == 0 %}
                                    <i class="fa fa-magic"></i>
                                {% endif %}
                                {% if key == 1 %}
                                    <i class="fa fa-download"></i>
                                {% endif %}
                                {% if key == 2 %}
                                    <i class="fa fa-crop"></i>
                                {% endif %}
                                </span>

                            </div>
                            <div class="iconlist-entry">
                                <div class="iconlist-container" >
                                    <h3 class="tm-title">{{ post.name }}</h3>

                                    <div class="iconlist-content">
                                        <p>
                                            {{ post.content|raw|truncate(120) }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
    </div>
    <!--page-content-->
    </div>
    <!--tm-container-->
    </div>
{% endblock %}