<div class="page-header sidebar-title">
    <h3>{{ details.name }}</h3>
    <span>
        <i class="fa fa-user"></i>&nbsp;{{ details.authorName }}&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar"></i>&nbsp;{{ details.updated|date('d F, Y') }}
        <i class="fa fa-tags"></i>
        {% for cat in details.moduleCategory %}
            <a href="{{ path('webservice_module_category',{'subdomain': globalOption.subDomain,'module':module.name|lower ,'slug':cat.slug }) }}">{{ cat.name }}</a>
        {% endfor %}
    </span>
</div>
{% if details.webPath is not empty %}
    <img class="img-responsive displayed" src="{{ image(details.webPath).resize() }}" alt="" />
{% endif %}
<div class="page-content">{{ details.content|raw }}</div>
<div class="mysharing">
    <div class="fb-follow" data-href="https://www.facebook.com/Umarit-150101098794148/?ref=bookmarks" data-layout="button_count" data-size="small" data-show-faces="true"></div>
    <div class="fb-like" data-href="{{ path('webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'blog','slug':details.slug }) }}" data-width="600px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <div id="fb-root"></div>
    <div class="fb-comments" data-href="http://www.umarlimited.com" data-width="750" data-numposts="10"></div>
</div>
<br/>

<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


{#<div class="blog_post" >
    {% set commentID = globalOption.id~'-'~moduleName|lower~'-'~details.id %}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': commentID } %}
    <br/>
</div>#}

<style>
    .fb-follow{
        top:-4px;
    }
    .page-header{
        padding-bottom: 0!important;
        margin-top: 20px !important;
    }
    .page-header span{
        font-size: 11px;
    }
    .fos_comment_comment_metas{
        background: #649458 !important;
        padding:0;
        color: #fff;
        padding-left: 20px
    }

    .fos_comment_comment_show{
       line-height: 30px;
        border: 1px solid #ddddff;
    }
    .fos_comment_comment_replies .fos_comment_comment_show{
        line-height: 30px;
        border: none !important;
    }

    #fos_comment_comment_body{
        border: 1px solid #ddddff;
        min-height: 120px;
        width: 100%;
        padding: 20px;
    }

    .fos_comment_comment_body {
        padding: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 20px;

    }
    .fos_comment_comment_reply{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    #fos_comment_thread h3{
        width: 100% !important;
    }
    .fos_comment_submit{
        text-align: right;
        margin-top: 5px;
    }
    .fos_comment_submit input[type="submit"]{
        text-align: center;
        padding: 5px 50px;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 2px;
        cursor: pointer;
        background-color: #479444;
        border: 1px solid #888;
        color: #FFFFFF;
        font-weight: bold;
    }
    .fos_comment_comment_reply_show_form{
        text-align: center;
        padding: 0 30px;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 2px;
        cursor: pointer;
        background-color: #479444;
        border: 1px solid #888;
        color: #FFFFFF;
        border-radius: 1px;
    }
    .fos_comment_comment_reply_cancel{

        text-align: center;
        padding: 5px 50px;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 2px;
        cursor: pointer;
        background-color:#B1070B;
        border: 1px solid #c1cbd0;
        color: #FFFFFF;
        font-weight: bold
    }
    .fos_comment_comment_replies{
        margin-left: 20px;
    }
</style>

