
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Purchase Vat Item Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Purchase Vat Item Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Purchase Vat Item Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('tally_purchase') }}"><i class="icon-th-list"></i>&nbsp; Purchase</a>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="row-fluid">

                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-grey">
                                <th class="numeric" ><i class="icon icon-reorder"></i> Group</th>
                                <th class="numeric" >Category</th>
                                <th class="numeric" >Product</th>
                                <th class="numeric" >HS Code</th>
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Barcode</th>
                                <th class="numeric" >Quantity</th>
                                <th class="numeric" >Price</th>
                                <th class="numeric" >Sales Price</th>
                                <th class="numeric" >Sub-Total</th>
                                <th class="numeric" >Vat(%)</th>
                                <th class="numeric" >TTI</th>
                                <th class="numeric" >Total</th>
                                <th class="numeric" >Date</th>
                                <th class="numeric" >Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for entity in pagination %}
                                <tr>

                                    <td class="numeric" >{% if entity.item.productGroup is not empty %}{{ entity.item.productGroup.name }}{% endif %}</td>
                                    <td class="numeric" >{{ entity.item.category.name }}</td>
                                    <td class="numeric" >{{ entity.item.name }}</td>
                                    <td class="numeric" >{{ entity.item.vatProduct.hsCode }}</td>
                                    <td class="numeric" >
                                        {{ entity.name }}
                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.barcode }}
                                        {% else %}
                                            <a class="editable" data-name="Barcode" href="#"  data-url="{{ path('tally_purchaseitem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product barcode">{{ entity.barcode }}</a>
                                        {% endif %}

                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.quantity }}
                                        {% else %}
                                            <a class="editable" data-name="Quantity" href="#"  data-url="{{ path('tally_purchaseitem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product quantity">{{ entity.quantity }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.price }}
                                        {% else %}
                                            <a class="editable" data-name="PurchasePrice" href="#"  data-url="{{ path('tally_purchaseitem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product price">{{ entity.price }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="editable" data-name="SalesPrice" href="#"  data-url="{{ path('tally_purchaseitem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product sales price">{{ entity.salesPrice }}</a>
                                    </td>
                                    <td>{{ entity.subTotal|number_format }}</td>
                                    <td>{{ entity.valueAddedTaxPercent }}</td>
                                    <td>{{ entity.totalTaxIncidence|number_format }}</td>
                                    <td>{{ entity.total|number_format }}</td>
                                    <td>{{ entity.created|date('d-m-Y') }}</td>
                                    <th class="numeric" ><a target="_blank" href="{{ path('tallyreport_mushok_6_1', { 'id': entity.id }) }}" class="btn yellow mini" ><i class="icon-download"></i></a></th>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(pagination) }}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@TallyBundle/Resources/public/js/approveProcess.js'
    '@TallyBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $( ".dateCalendar" ).datepicker({
    dateFormat: "dd-mm-yy",
    changeMonth: true,
    changeYear: true,
    });
    EditableInit();
{% endblock %}



