{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    View Product Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Product Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('inventory_goods_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('inventory_goods') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <style>
                        .search-input{
                            height: 34px!important;
                        }
                    </style>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="portlet search-portlet box grey">
                                <div class="row-fluid" >
                                    <form class="search-form" action="" method="get" name="itemSearch">
                                        <div class="span7">
                                            <div class="controls">
                                                <input type="text" id="updated" name="updated"  class="span4 search-input m-ctrl-medium date-picker" value="{% if searchForm.updated is defined %}{{ searchForm.updated }}{% endif %}"  autocomplete="off" placeholder="Ptoduct created date">
                                                <input type="text" id="name" name="name"  class="span8 search-input" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Search by product name">
                                            </div>
                                        </div>
                                        <div class="span4 left-margin">
                                            <input type="text" id="category" name="category"  class="span11 select2Category" value="{% if searchForm.category is defined %}{{ searchForm.category }}{% endif %}"  autocomplete="off" placeholder="Search by product category">
                                        </div>
                                        <div class="span1">
                                            <div class="btn-group">
                                                <button class="btn" type="submit" >
                                                    <i class="icon-search"></i>&nbsp;Go</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Product name</th>
                                    <th class="numeric" >Prch.Qnt</th>
                                    <th class="numeric" >Reming. Qnt</th>
                                    <th class="numeric" >Prch price</th>
                                    <th class="numeric" >Sales price</th>
                                    <th class="numeric" >Discount</th>
                                    <th class="numeric" >Tags</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody id="purchaseentity" >
                                {% for entity in entities %}
                                    <tr class="remove-vendor-item-{{ entity.id }}">
                                        <td> {% if entity.goodsItems is defined and  entity.goodsItems is not empty  %}<span class="badge badge-success toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span>{% endif %}</td>
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{% if entity.masterItem %}{{ entity.masterItem.name }}-{% endif %}{{ entity.webName }}</td>
                                        <td class="numeric" >{{ entity.quantity }}</td>
                                        <td class="numeric" >{{ entity.masterQuantity }}</td>
                                        <td class="numeric" >{{ entity.purchasePrice|number_format() }}</td>
                                        <td class="numeric" >{% if entity.discount is not empty  %}<strike>{% endif %}{{ entity.salesPrice|number_format() }}{% if entity.discount is not empty  %}</strike>{% endif %} {% if entity.discount is not empty  %}{{ entity.discountPrice|number_format() }}{% endif %}</td>
                                        <td class="numeric" >
                                            <a  data-type="select" class="editable" id="discount" data-name="Discount" href="#" data-source="{{ path('inventory_product_inline_discount_search') }}"  data-url="{{ path('inventory_goods_inline_update') }}" data-pk="{{ entity.id }}" data-value="{% if entity.discount is not empty %}{{ entity.discount.id }}{% endif %}" data-original-title="Enter discount method">{% if entity.discount is not empty %}{{ entity.discount.name }}-{{ entity.discount.type|capitalize }}{% endif %}</a>
                                        </td>
                                         <td class="numeric" >
                                             <a  data-type="select" class="editable" id="promotion" data-name="Promotion" href="#" data-source="{{ path('inventory_product_inline_tag_search') }}"  data-url="{{ path('inventory_goods_inline_update') }}" data-pk="{{ entity.id }}" data-value="{% if entity.tag is defined and entity.tag is not empty %}{{ entity.id }}{% endif %}" data-original-title="Enter promotion name">{% if entity.promotion is defined and entity.promotion is not empty %}{{ entity.promotion.name }}{% endif %}</a>
                                         </td>
                                        <td class="numeric" >
                                            <a href="{{ path('inventory_goods_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i>&nbsp;</a>
                                            <a href="{{ path('inventory_goods_show',{'id':entity.id}) }}" class="btn purple mini" ><i class="icon-eye-open"></i></a>
                                            {% if entity.source != 'inventory' %}
                                            <a href="{{ path('inventory_goods_copy',{'id':entity.id}) }}" class="btn blue mini" ><i class="icon-copy"></i>&nbsp;Copy</a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr id="show-{{ entity.id }}" class="showing-overview remove-vendor-item-{{ entity.id }}">
                                        <td colspan="11">
                                            {% if entity.goodsItems is not empty and entity.goodsItems is defined %}
                                                <table class="table table-bordered table-striped table-condensed flip-content ">
                                                    <thead class="flip-content ">
                                                    <tr class="head-green">
                                                        <th class="numeric" >Size/Dimension/Weight/Pic</th>
                                                        <th class="numeric" >Color</th>
                                                        <th class="numeric" >Qnt</th>
                                                        <th class="numeric" >Purchase</th>
                                                        <th class="numeric" >Sales</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="purchaseItem" >
                                                    {% for purchaseItem in  entity.goodsItems %}
                                                        <tr id="remove-purchase-item-{{ entity.id }}">
                                                            <td class="numeric" >{% if purchaseItem.size %}{{ purchaseItem.size.name }}{% endif %}</td>
                                                            <td class="numeric" >
                                                                {% if purchaseItem.colors is not empty %}
                                                                    {% for color in purchaseItem.colors   %}
                                                                        {{ color.name|join(',') }}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </td>
                                                            <td class="numeric" >{{ purchaseItem.quantity }}</td>
                                                            <td class="numeric" >{{ purchaseItem.purchasePrice }}</td>
                                                            <td class="numeric" >{{ purchaseItem.salesPrice }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>

                                                </table>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/editable.js'
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    ApproveProcess();
{% endblock %}

