{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <style>
        .grid-products {
            grid-template-columns: repeat({{ globalOption.ecommerceConfig.perColumn }}, calc(100%/{{ globalOption.ecommerceConfig.perColumn }}));
        }
    </style>
    <div class="container-section">
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
            <section>
                {% render controller("FrontendBundle:EcommerceWidget:featureTemplateMobileWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'mobile'}) %}
            </section>
        {% endif %}
        <div class="container" id="product-section">
            {% render controller("FrontendBundle:EcommerceWidget:sidebarTemplateProductFilter",{'globalOption':globalOption.id,'searchForm':searchForm}) %}

            <div class="clearfix"></div>
            {{ entities|raw }}
            <div class="clearfix"></div>
            {% if products is not empty %}
            <div class="row">

                <div class="bs-callout bs-callout-info bs-callout-custom ">
                    <div class="row">
                        {% if globalOption.ecommerceConfig.paginationShow == "bottom" or globalOption.ecommerceConfig.paginationShow == "both"  %}
                        <div class="col-xs-8 col-md-8 col-xs-offset-2"> {{ knp_pagination_render(products) }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div><!-- end container -->
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/owlcarousel.js'
    '@FrontendBundle/Resources/public/template/desktop/js/ecommerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/cart.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('.input-number').click(function() {
        $(this).attr('value','');
    });
    $('body').on('click', '.btn-cookie', function(el) {
        var val = $(this).attr('id');
        $.cookie('productList', val, {path: '/'});
        setTimeout(location.reload(), 1000);
    });
{% endblock %}



