<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    {% if globalOption is not empty %}
    <li class="start ">
        <a href="{{ path('customer',{'shop':globalOption.slug}) }}">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li >
        <a href="javascript:">
            <i class="icon-umbrella"></i>
            <span class="title">All Domain</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="{{ path('customer_domain',{'shop':globalOption.slug}) }}">
                    <i class="icon-cloud"></i>
                    <span class="title">All Domain</span>
                </a>
            </li>
            <li>
                <a href="{{ path('allproduct',{'shop':globalOption.slug}) }}">
                    <i class="icon-shopping-cart"></i>
                    <span class="title">All Product</span>
                </a>
            </li>
            <li >
                <a href="{{ path('customer_domain_bookmark',{'shop':globalOption.slug}) }}">
                    <i class="icon-bookmark"></i>
                    <span class="title">Bookmark Domain</span>
                </a>
            </li>

        </ul>
    </li>
    <li >
        <a href="javascript:">
            <i class="icon-inbox"></i>
            <span class="title">Inbox</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="{{ path('inbox_sms',{'shop':globalOption.slug}) }}">SMS</a>
            </li>
            <li >
                <a href="{{ path('inbox_email',{'shop':globalOption.slug}) }}">Email</a>
            </li>

        </ul>
    </li>
    <!-- BEGIN FRONT DEMO -->

    <li >
        <a href="javascript:">
            <i class=" icon-shopping-cart"></i>
            <span class="title">Order</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="{{ path('order',{'shop':globalOption.slug}) }}">
                    <i class=" icon-shopping-cart"></i>
                    <span class="title">Order</span>
                </a>
            </li>
            <li >
                <a href="{{ path('preorder',{'shop':globalOption.slug}) }}">
                    <i class="icon-shopping-cart"></i>
                    <span class="title">Pre-order</span>
                </a>
            </li>
            <li >
                <a href="{{ path('wishlist',{'shop':globalOption.slug}) }}">
                    <i class="icon-shopping-cart"></i>
                    <span class="title">Wishlist</span>
                </a>
            </li>

        </ul>
    </li>
    {% else %}

        <li class="start ">
            <a href="{{ path('customer') }}">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li >
            <a href="javascript:">
                <i class="icon-umbrella"></i>
                <span class="title">All Domain</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('customer_domain') }}">
                        <i class="icon-cloud"></i>
                        <span class="title">All Domain</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('allproduct') }}">
                        <i class="icon-shopping-cart"></i>
                        <span class="title">All Product</span>
                    </a>
                </li>
                <li >
                    <a href="{{ path('customer_domain_bookmark') }}">
                        <i class="icon-bookmark"></i>
                        <span class="title">Bookmark Domain</span>
                    </a>
                </li>

            </ul>
        </li>
    {% endif %}
</ul>