<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>


    {% if globalOption is not empty %}
    <li class="start ">
        <a href="{{ path('domain_customer_homepage',{'shop':globalOption.slug}) }}">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>

    <!-- BEGIN FRONT DEMO -->

    <li >
        <a href="javascript:">
            <i class=" icon-truck"></i>
            <span class="title">Order</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="{{ path('order',{'shop':globalOption.slug}) }}">
                    <i class="icon-th-list"></i>
                    <span class="title">Order</span>
                </a>
            </li>
            <li >
                <a href="{{ path('preorder',{'shop':globalOption.slug}) }}">
                    <i class="icon-th-list"></i>
                    <span class="title">Pre-order</span>
                </a>
            </li>
            <li >
                <a href="{{ path('wishlist',{'shop':globalOption.slug}) }}">
                    <i class="icon-th-list"></i>
                    <span class="title">Wishlist</span>
                </a>
            </li>

        </ul>
    </li>
    <li >
        <a href="{{ path('order_product', { 'shop': globalOption.slug}) }}">
            <i class="icon-shopping-cart"></i>
            <span class="title">New Shopping</span>
        </a>
    </li>
    <li >
        <a href="{{ path('preorder_new', { 'shop': globalOption.slug}) }}">
            <i class="icon-th-list"></i>
            <span class="title">New Pre Order</span>
        </a>
    </li>
    {% else %}

        <li class="start ">
            <a href="{{ path('customer') }}">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="start " >
            <a href="javascript:">
                <i class="icon-umbrella"></i>
                <span class="title">Agent Client</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('agentclient') }}">
                        <i class="icon-cloud"></i>
                        <span class="title">Client</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('agentclient_new') }}">
                        <i class="icon-shopping-cart"></i>
                        <span class="title">New Client</span>
                    </a>
                </li>
            </ul>
        </li>

    {% endif %}
    <li >
        <a href="javascript:">
            <i class="icon-inbox"></i>
            <span class="title">Inbox</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="{{ path('inbox_sms',{'shop':globalOption.slug}) }}">SMS</a>
            </li>
            <li >
                <a href="{{ path('inbox_email',{'shop':globalOption.slug}) }}">Email</a>
            </li>

        </ul>
    </li>
</ul>