<div class="content">
    <div class="container">
        <button id="slidx_button" >Lists</button>
        <h4 class="detail-title">{{ details.name|default() }}</h4>
        <em>{{ details.startdate|date('M j, Y') }}</em>
        <div class="decoration"></div>
        {% if(details.webPath()) %}
            <div class="wide-item">
                <img class="responsive-image" src="{{ image(details.webPath).resize(400,224) }}" alt="img">
            </div>
        {% endif %}
        <p class="justify-text">{{ details.content|raw }}</p>
        <div class="decoration"></div>

    </div>
</div>
<nav id="slidx_menu">
    <ul>
        {% for row in entity.newses %}
            <li>
                <a href="{{ path('mobile_module',{'subdomain': entity.subDomain,'module': moduleName|lower,'slug':row.slug }) }}">{{ row.name | truncate(50, true) }}</a>
            </li>
        {% endfor %}

    </ul>
</nav>

