{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Scholarship
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('education') }}">scholarship</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Scholarship</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
    <div class="span12">
    <div class="btn-group pull-right">
        
    </div>
    <div class="portlet box green tabbable">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
    </div>

    <div class="portlet-body">

    <div class="tabbable portlet-tabs">
    <ul class="nav nav-tabs">
        {% if entity.id > 0  %}
            <li class=""><a  href="{{ path('scholarship_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;View</a></li>
        {% endif %}
        <li class=""><a  href="{{ path('scholarship') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
        <li class="active"><a  href="javascript:"><i class="icon-edit"></i>&nbsp;Add/Edit</a></li>

    </ul>
    <div class="tab-content">

    <div class="portlet-body form">
    {% include('flash-message.html.twig')  %}
    <!-- BEGIN FORM-->
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <label class="control-label" >Organization Name</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-font"></i>
                        {{ form_widget(form.organizationName) }}
                        {{ form_errors(form.organizationName) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->


    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Establishment</label>
                <div class="controls">
                    <div class="span6">
                        {{ form_widget(form.establishment) }}
                        {{ form_errors(form.establishment) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Registration No</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-font"></i>
                        {{ form_widget(form.registrationNo) }}
                        {{ form_errors(form.registrationNo) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Email address</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Skype ID</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-skype"></i>
                        {{ form_widget(form.skypeId) }}
                        {{ form_errors(form.skypeId) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="form-actions portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Contact Information</div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Contact Person</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        {{ form_widget(form.contactPerson) }}
                        {{ form_errors(form.contactPerson) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Designation</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-font"></i>
                        {{ form_widget(form.contactPersonDesignation) }}
                        {{ form_errors(form.contactPersonDesignation) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >mobile<span class="required">*</span></label>

                <div class="controls">
                    <div class="input-prepend span11">
                        <span class="add-on">+88</span>
                        {{ form_widget(form.mobile) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>

            </div>
        </div>
        <!--/span-->
        <div class="span6">
            <div class="control-group">
                <label class="control-label" >Fax</label>
                <div class="controls">
                    <div class="input-prepend span11">

                        <span class="add-on">+88</span>
                        {{ form_widget(form.fax) }}
                        {{ form_errors(form.fax) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <label class="control-label" >Additional Phone Number</label>
                <div class="controls">
                    <div class="input-prepend span11">
                        <span class="add-on">+88</span>
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="form-actions portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Address</div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-map-marker"></i>
                        {{ form_widget(form.address) }}
                        {{ form_errors(form.address) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Location</label>
                <div class="controls span10 span-select-box">
                    {{ form_widget(form.location) }}
                    {{ form_errors(form.location) }}
                </div>
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Postal Code</label>
                <div class="controls ">
                    <div class="input-icon left">
                        <i class="icon-map-marker"></i>
                        {{ form_widget(form.postalCode) }}
                        {{ form_errors(form.postalCode) }}
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <div class="form-actions portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Content</div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid">
        <div class="span12 ">
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Logo</label>
                <div class="controls">

                </div>
                <div class="controls">
                    <div data-provides="fileupload" class="fileupload fileupload-new">
                        <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                            {% if(entity.webPath) %}
                                <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="/{{ entity.webPath }}">
                            {% else %}
                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                            {% endif %}
                        </div>
                        <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                        <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </span>
                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                        </div>
                    </div>
                    <span class="label label-important">NOTE!</span>
											<span>
											Attached image thumbnail is
											supported in Latest Firefox, Chrome, Opera,
											Safari and Internet Explorer 10 only
											</span>
                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Syndicate</label>
                <div class="controls ">
                    <div class="product-categories" id="subSyandicate" >
                        {{ subSyndicates|raw }}
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="form-actions portlet box grey">
        <div class="pull-center">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
            <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>

        </div>
    </div>
    {{ form_end(form) }}
    <!-- END FORM-->
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
{% endblock %}
{% block documentready %}
    {{ parent() }}

    $('#subSyandicate').tree({
    onCheck: { node: 'expand' },
    onUncheck: { node: 'collapse' }
    }).on('change', 'input[type=checkbox]', function(){
    App.updateUniform();
    });
{% endblock %}



