{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    View Details
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('scholarship') }}">Scholarship</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">{{ entity.organizationName }}</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>{{ entity.organizationName }}</div>
                    </div>

                    <div class="portlet-body">

                        <div class="tabbable portlet-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a  href="{{ path('scholarship_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;View</a></li>
                                <li class=""><a  href="{{ path('scholarship') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                <li><a  href="{{ path('scholarship_edit',{'id':entity.id}) }}"><i class="icon-edit"></i>&nbsp;Add/Edit</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="portlet-body form form-horizontal">
                                    {% include('flash-message.html.twig')  %}
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" ></label>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Establishment</label>
                                                <div class="controls control-custom">{{ entity.establishment|date('d-m-Y') }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Registration No</label>
                                                <div class="controls control-custom">{{ entity.registrationNo }}</div>
                                            </div>
                                        </div>

                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" ><strong>Contact Information</strong></label>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Contact Person</label>
                                                <div class="controls control-custom">{{ entity.contactPerson }}, {{ entity.contactPersonDesignation }} </div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Hotline</label>
                                                <div class="controls control-custom">{{ entity.mobile }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Email address</label>
                                                <div class="controls control-custom">{{ entity.email }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Skype ID </label>
                                                <div class="controls control-custom">{{ entity.skypeId }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Fax</label>
                                                <div class="controls control-custom">{{ entity.fax }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Additional Number</label>
                                                <div class="controls control-custom">{{ entity.phone }}</div>
                                            </div>
                                        </div>
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Address</label>
                                                <div class="controls control-custom">{{ entity.address }}{% if entity.location %}{{ entity.location.name }}{% endif %}, {{ entity.postalCode }}</div>
                                            </div>
                                        </div>
                                        <div class="span11">
                                            <div class="control-group">
                                                <label class="control-label" >Overview</label>
                                                <div class="controls control-custom">{{ entity.content }}</div>
                                            </div>
                                        </div>
                                        {% if(entity.webPath) %}
                                        <div class="span11">
                                            <div class="control-group">
                                                <div class="controls control-custom">
                                                    <div style="" class="fileupload-new thumbnail">
                                                        {% if(entity.webPath) %}
                                                            <img class="fileupload-preview thumbnail" alt="" src="/{{ entity.webPath }}">
                                                        {% else %}
                                                            <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

