{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN openticket HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="openticket-title">
                  Manage  {{ entity.name }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('openticket') }}">Open Ticket Process Manager</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Open Ticket Process Manager</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END openticket HEADER-->
        <!-- BEGIN openticket CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Open Ticket Process Manager Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn black" href="{{ path('openticket') }}"><i class="icon-th-list"></i>&nbsp;Open Ticket Process</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            <div class="clearfix">&nbsp;</div>
                            {% set fieldTypes = {'text':'Text','select':'Dropdown','textarea':'Text Editor','checkbox':'Checkbox','radio':'Radio Button','file' : 'Attch File'} %}
                            <form name="formBuilder" method="post" action="" class="form-horizontal">
                            {% if  entity.builderItems is defined and entity.builderItems is not empty %}
                                {% for meta in entity.builderItems %}
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" for="Bank">{{ meta.LabelName }}</label>
                                                    <div class="controls">
                                                        <input type="hidden" name="metaKey[]" value="{{ meta.labelName }}">
                                                        {% if meta.fieldType == "text"  %}
                                                        <input type="text" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}" value="">
                                                        {% elseif meta.fieldType == "textarea"  %}
                                                            <textarea type="text" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}" ></textarea>
                                                        {% elseif meta.fieldType == "select"  %}
                                                            <select type="text" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" ></select>
                                                        {% elseif meta.fieldType == "checkbox"  %}
                                                           <input type="checkbox" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}" >
                                                        {% elseif meta.fieldType == "radio"  %}
                                                           <input type="radio" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}">
                                                        {% elseif meta.fieldType == "file"  %}
                                                           <input type="file" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}" >
                                                        {% elseif meta.fieldType == "number"  %}
                                                           <input type="number" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}">
                                                         {% elseif meta.fieldType == "date"  %}
                                                           <input type="date" name="metaValue[]" class="m-wrap span12 tooltips" data-original-title="{{ meta.helpText }}" {% if meta.fieldRequired == 1 %} required="required" {% endif %} data-trigger="hover" placeholder="Enter {{ meta.helpText }}">
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div class="clearfix">&nbsp;</div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn yellow"><i class="icon-refresh"></i>&nbsp;Reset</button>
                                    <button type="submit" class="btn green"><i class="icon-save"></i>&nbsp;Save</button>
                                    {% if(entity.id > 0 ) %}
                                        <a href="{{ path('openticket_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@TicketBundle/Resources/public/js/approveProcess.js'
    '@TicketBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    approveProcess();
    EditableInit();
{% endblock %}
