{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet-body">
            <div class="row-fluid" >
                <div class="span1">
                    {% if globalOption.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height: 60px" src="/{{ globalOption.templateCustomize.webPath('logo') }}">{% endif %}
                </div>
                <div class="span3"></div>
                <div class="span4">
                    <div class="btn-group">
                        {% if ( app.user.granted("ROLE_DOMAIN_ECOMMERCE_ORDER") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a class="btn blue big"  href="{{ path('customer_order_new') }}"><i class="icon-shopping-cart"></i> Add Order</a>
                        {% endif %}
                    </div>
                </div>
                <div class="span4">
                    <div class="btn-group">
                        {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('account_expense_purchase_new') }}"  class="btn green big"><i class="icon-truck"></i> Add Purchase</a>
                        {% endif %}
                        {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('account_purchase_new') }}"  class="btn yellow big"><i class="icon-money"></i> Payment</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/dashboard.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/temporary-sales.js'
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    '@MedicineBundle/Resources/public/js/jquery-canvas.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
