{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="crumb">&nbsp;<a href="{{ path('ecommercesubdomain') }}">Home</a> <i>/</i>Contact us</div>
                </div>
            </div>
        </div>
    </section>
    <div class="container blog">
        <div class="row js-equal-height">
            <article style="padding-bottom: 20px; padding-top: 20px" class="{% if branches is not empty and branches is defined %} col-md-8 {% else %}col-md-12 {% endif %}">
                {% if globalOption.contactPage.latitude is not empty and globalOption.contactPage.longitude is not empty %}
                    <div id="gmap_canvas" class="gmap">
                        <div class="Lat">{{ globalOption.contactPage.latitude }}</div>
                        <div class="Lng">{{ globalOption.contactPage.longitude }}</div>
                        <div class="imgMap">{{ asset('assets/img/placeholder.png') }}</div>
                        <address>Address Here</address>
                        <div class="infoWindow">
                            <span>{% if globalOption.contactPage.address1 is not empty %}
                                    <i class="fa fa-home"></i>&nbsp;{{ globalOption.contactPage.address1 }}<br>
                                    {% if globalOption.contactPage.thana is defined and globalOption.contactPage.thana %}
                                        {{ globalOption.contactPage.thana.name }},
                                    {% endif %}
                                    {% if globalOption.contactPage.district is defined and globalOption.contactPage.district %}
                                        {{ globalOption.contactPage.district.name }} {% endif %}-{{ globalOption.contactPage.postalCode }}
                                {% endif %}
                                {% if globalOption.contactPage.startHour %}
                                    <br><i class="fa fa-clock-o"></i>&nbsp;<strong>{{ globalOption.contactPage.startHour }} To {{ globalOption.contactPage.endHour }}</strong>
                                {% endif %}
                                <br>
                                <i class="fa fa-mobile-phone"></i>&nbsp;+ 088&nbsp;<a href="tel:+ 088 {{ globalOption.mobile }}" class="contact-call">{{ globalOption.mobile }}</a>
                                <i class="fa fa-map-pin"></i>&nbsp;<a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=23.801422,90.352599">Direction</a>

                            </span>
                        </div>
                    </div>
                    {% elseif globalOption.contactPage.googleMap is not empty %}
                        {{ globalOption.contactPage.googleMap|raw }}
                    {% endif %}
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <strong><i class="fa fa-home"></i>&nbsp;Office</strong><br>
                        {{ globalOption.contactPage.address1 }}
                        {% if globalOption.contactPage.location is defined and globalOption.contactPage.location %}
                            ,{{ globalOption.contactPage.location.name }}<br>
                        {% endif %}
                        {% if globalOption.contactPage.location is defined and globalOption.contactPage.location %}
                            {{ globalOption.contactPage.location.parent.name }} {% endif %}-{{ globalOption.contactPage.postalCode }}<br>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-hand-o-right"></i>&nbsp;Communication</strong><br>
                        {% if globalOption.contactPage.startHour %}
                            <strong><i class="fa fa-clock-o"></i></strong>&nbsp;{{ globalOption.contactPage.startHour }} To {{ globalOption.contactPage.endHour }}
                        {% endif %}
                        {% if globalOption.contactPage.weeklyOffDay %}
                        <br/>
                        <strong><i class="fa fa-power-off"></i></strong>&nbsp;{% for day in globalOption.contactPage.weeklyOffDay %}{{ day }}{{ loop.last ? '' : ', ' }}{% endfor %}<br>
                        {% endif %}
                        {% if(globalOption.contactPage.displayPhone == 1) %}
                        <strong><i class="fa fa-mobile"></i></strong>&nbsp;<a href="tel:+ 088 {{ globalOption.mobile }}" class="contact-call">+ 088 {{ globalOption.mobile }}</a></br>
                        {% endif %}
                        {% if(globalOption.contactPage.displayEmail == 1) %}
                        <strong><i class="fa fa-envelope"></i></strong>&nbsp;<a href="mailto:{{ globalOption.contactPage.email }}" class="contact-email">{{ globalOption.contactPage.email }}</a></br>
                        {% endif %}
                        {% if globalOption.contactPage.fax %}
                        <strong><i class="fa fa-fax"></i></strong>&nbsp;{% if(globalOption.contactPage.fax) %}<a href="javascript:">Fax: + 02{{ globalOption.contactPage.fax|raw }}</a>{% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-user"></i>&nbsp;Contact Information</strong><br>
                        <em>{{ globalOption.contactPage.contactPerson|raw }}</em><br/>
                        {% if globalOption.contactPage.designation %}{{ globalOption.contactPage.designation }}{% endif %}</br>
                        {% if(globalOption.contactPage.additionalPhone) %}<a href="javascript:" ><strong><i class="fa fa-phone"></i></strong>&nbsp;{{ globalOption.contactPage.additionalPhone|raw }}</a></br>{% endif %}
                        {% if(globalOption.contactPage.additionalEmail) %}<a href="javascript:" ><strong><i class="fa fa-envelope"></i></strong>&nbsp;{{ globalOption.contactPage.additionalEmail|raw }}</a></br>{% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if(globalOption.contactPage.isContactForm == true) %}
                            <h3>Contact <strong>Form</strong></h3>
                            <form action="" method="post">

                                <fieldset>

                                    <label for="name" class="blocklabel">Your Name*</label>
                                    <p class="" ><input name="yourname" class="input_bg" type="text" id="name" value=''/></p>
                                    <label for="mobile" class="blocklabel">Mobile</label>
                                    <p><input name="mobile" class="input_bg" type="text" id="mobile" value=""/></p>
                                    {% if(globalOption.contactPage.askForEmail == 1) %}
                                        <label for="email" class="blocklabel">E-Mail</label>
                                        <p class="" ><input name="email" class="input_bg" type="text" id="email" value='' /></p>
                                    {% endif %}
                                    <label for="message" class="blocklabel">Your Message*</label>
                                    <p class=""><textarea name="message" class="textarea_bg" id="message" cols="20" rows="" ></textarea></p>
                                    <p>
                                        <input type="hidden" id="myemail" name="myemail" value="" />
                                        <input type="hidden" id="myblogname" name="myblogname" value="" />
                                    <div class="clearfix"></div>
                                    <input name="Send" type="submit" value="SUBMIT" class="comment_submit" id="send"/></p>

                                    {#           <div class="success">
                                                   <div class="message-box-wrap">
                                                       Your message has been <strong>Received Successfully!</strong> Thank you!</div>
                                               </div>
                       #}

                                </fieldset>

                            </form>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% if branches is not empty and branches is defined %}
                <!-- Blog Sidebar Column -->
                <aside class="col-md-4 sidebar-padding js-equal-height" style="background: #FBFCFE">
                    <div class="blog-sidebar">
                        <h4 class="sidebar-title"><i class="fa fa-home"></i>&nbsp;&nbsp;Our Branches</h4>
                        <hr>
                        {% for  details in branches %}
                            <div class="">
                                <h4>{{ details.name }}</h4>
                                <dl>
                                    <dd><i class="fa fa-home"></i>&nbsp;{{ details.address|raw }}</dd>
                                    <dd><i class="fa fa-user"></i>&nbsp;<strong>{{ details.contactPerson }}</strong>, {{ details.designation }}</dd>
                                    <dd><i class="fa fa-mobile"></i>&nbsp;<a href="tel:+ 088 {{ details.mobile|raw }}" class="contact-call">+ 088 {{ details.mobile|raw }}</a></dd>
                                    {% if(details.phone) %}<dd><i class="fa fa-phone-square"></i></i>&nbsp;<a href="javascript:" class="contact-call">+ {{ details.phone|raw }}</a></dd>{% endif %}
                                    {% if(details.fax) %}<dd><i class="fa fa-fax"></i>&nbsp;{{ details.fax|raw }}</a></dd>{% endif %}
                                    {% if(details.email) %}<dd><i class="fa fa-envelope-o"></i>&nbsp;{{ details.email|raw }}</dd>{% endif %}

                                    <dt><a href="#" class="but_download"><i class="fa fa-map-marker"></i> Direction</a></dt>
                                </dl>
                            </div>
                            <hr>

                        {% endfor %}
                    </div>
                </aside>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    '@FrontendBundle/Resources/public/js/kmaps.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDmior4xLqsriysUeQhtdSawc8yjDyaWaw"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#gmap_canvas').kmaps();
{% endblock %}
