<nav class="navbar navbar-inverse ">
    <section id="top-bar">
        <div class="container" id="menu">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="box">
                        <ul class="info-links">
                            {% if globalOption.templateCustomize.showCalendar == 1 %}
                                <li><i class="fa fa-calendar"></i>&nbsp;{{ "now"|date("F j, Y") }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                <li><i class="fa fa-envelope"></i>&nbsp;{{ globalOption.email }}</li>{% endif %}
                            {% if globalOption.templateCustomize.showMobile == 1 %}
                                <li><i class="fa fa-mobile"></i>&nbsp;{{ globalOption.mobile }}</li>{% endif %}
                        </ul>
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <div class="box">
                        <ul class="social-links">
                            {% if globalOption.facebookPageUrl == 1 %}
                                <li><a href="https://{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a>
                                </li>{% endif %}
                            {% if globalOption.templateCustomize.showSearch == 1 %}
                                <li><a href="javascript:" id="searchEvent"><i class="fa fa-search"></i></a>
                                </li>{% endif %}
                            <li><a href="javascript:" class="register-btn"><i class="fa fa-sign-in"></i></a></li>
                            {% if  app.user %}
                                <li><a href="{{ path('fos_user_security_logout') }}" class=""><i
                                                class="fa fa-unlock-alt"></i></a></li>
                            {% else %}
                                <li><a href="javascript:" class="login-preview"><i class="fa fa-lock"></i></a></li>
                            {% endif %}
                            {% if globalOption.ecommerceConfig.cart == 1 %}
                                <li>
                                    <a href="{{ path('webservice_product_cart_details',{'subdomain':globalOption.subDomain}) }}"
                                       class=""><i class="fa fa-shopping-cart"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-header-top" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':pageName,'position':'header-top'}) %}
        </section>
    {% endif %}
    <section id="header">
        <div class="container">
            <div class="row navbar-header">
                <div class="col-md-3">
                    <a class="img-logo"
                       href="{{ path('ecommercesubdomain') }}">{% if globalOption.templateCustomize.webPath('logo') is not empty %}
                            <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"
                                 alt="company logo" />{% else %}{{ globalOption.name }}{% endif %}</a>
                </div>
                <div class="col-md-9">
                    {% if globalOption.templateCustomize.showSearch == 0 %}

                        <div class="row bs-example-form" id="header-form">
                            <div class="col-lg-10">
                                <form class="bs-example" action="{{ path('webservice_product',{'subdomain':globalOption.subDomain}) }}"  method="get" data-example-id="input-group-segmented-buttons">
                                    <div class='input-group search-box' >
                                        <div class='input-group-field'>
                                            {{ categoryTree|raw }}
                                        </div>
                                        <input type='text' class='form-control input-group-lg' style="width: 351px" name="product" id="product" value="{% if searchForm.product is defined %}{{ searchForm.product }}{% endif %}"  placeholder="Find Your Favorite Products"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-group btn-group-search search-box-bg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group dropdown navbar-right">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-group btn-cart dropdown-toggle search-box-bg" data-toggle="dropdown"  aria-expanded="false"><span
                                                    class="glyphicon glyphicon-shopping-cart"></span></button>
                                        <a  style=" border:1px solid #000; border-left:none" href="#" class="btn dropdown-toggle search-box-bg" data-toggle="dropdown" role="button"
                                            aria-expanded="false"> <span class="label-success badge totalItem" >{{ cart.total_items }}</span>
                                            &nbsp;<span class="label label-warning">৳ <em class="totalAmount">&nbsp;{{ cart.total }}</em></span></a>
                                        <div class="item-list">
                                            {% if  cart.contents is not empty %}
                                                <ul class="dropdown-menu dropdown-cart" role="menavbar-rightnu">
                                                    {% for product in cart.contents %}
                                                        <li id="item-remove-{{ product.rowid }}">
                                                              <span class="item">
                                                                <span class="item-left">
                                                                    {% if product.productImg is not empty %}
                                                                        <img src="{{ image(product.productImg).scaleResize(50,50) }}"
                                                                             alt=""/>
                                                                    {% endif %}
                                                                    <span class="item-info">
                                                                        <span>{{ product.name|truncate(15) }}</span>
                                                                        <span>Qnt&nbsp;{{ product.quantity }}</span>
                                                                        <span><strong>{{ globalOption.ecommerceConfig.currency }}
                                                                                &nbsp;{{ product.price }}</strong></span>
                                                                    </span>
                                                                </span>
                                                                <span class="item-right">
                                                                    <button id="{{ product.rowid }}"
                                                                            data-url="{{ path('webservice_product_cart_remove',{'cartid':product.rowid}) }}"
                                                                            class="btn btn-xs btn-danger pull-right hunger-remove-cart"><span
                                                                                class="glyphicon glyphicon-trash"></span></button>
                                                                </span>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                    <li class="divider"></li>
                                                    <li><a class="text-center" href="{{ path('webservice_product_cart_details') }}">View Cart</a></li>
                                                </ul>
                                            {% endif %}
                                        </div>


                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
    <section id="menu-bar" class="sticky">
        <div class="container">
            <nav class="navbar navbar-mega-menu">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                            data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse js-navbar-collapse">

                    <ul class="nav navbar-nav">
                        {% for  menu in globalOption.ecommerceMenus  %}
                            <li class="dropdown mega-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu.name }}<span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu mega-dropdown-menu">
                                    {% if menu.features is not empty or menu.promotions is not empty or menu.discounts is not empty or menu.tags is not empty %}
                                        <li class="col-sm-3" data-match-height="menu-content" style="background-color: #f9f9f9; border-right:1px solid #d6d9dd">
                                            {% if menu.features is not empty %}
                                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner menu-carousel-inner" role="listbox">
                                                        {% for feature in  menu.features %}
                                                            {% if(feature.webPath) %}
                                                                {% if feature.targetTo == 'Promotion' %}
                                                                    {% set path = path('webservice_product_promotion',{'id':feature.id}) %}
                                                                {% elseif feature.targetTo == 'Tag' %}
                                                                    {% set path = path('webservice_product_tag',{'id':feature.tag.id}) %}
                                                                {% elseif feature.targetTo == 'Discount' %}
                                                                    {% set path = path('webservice_product_tag',{'id':feature.discount.id}) %}
                                                                {% elseif feature.targetTo == 'Brand' %}
                                                                    {% set path = path('webservice_product') %}
                                                                {% else %}
                                                                    {% set path = path('webservice_product') %}
                                                                {% endif %}
                                                                <div class="item menu-slider {% if loop.index == 1 %} active {% endif %}">
                                                                    <a href="{{ path }}"><img  src="{{ image(feature.webPath).forceResize(220,160) }}"  style="height: 160px!important;" class="img-responsive" alt="{{ feature.name }}"></a>
                                                                    <h4><small>{{ feature.name|capitalize }}</small></h4>
                                                                    <span class="menu-slider-button text-center"><a href="{{ path }}" class="btn btn-info" type="button">See Me&nbsp;<span class="glyphicon glyphicon-play"></span></a></span>
                                                                </div><!-- End Item -->
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <!-- Controls -->
                                                    <a class="header-carousel-left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    </a>
                                                    <a class="header-carousel-right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            {% if menu.promotions is not empty %}
                                                <ul class="col-sm-12">
                                                    <li class="dropdown-header">Promotion's</li>
                                                    {% for promotion in  menu.promotions %}
                                                        <li><a href="{{ path('webservice_product',{'promotion':promotion.id}) }}">{{ promotion.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if menu.discounts is not empty %}
                                                <ul class="col-sm-12">
                                                    <li class="dropdown-header">Discount Offer's</li>
                                                    {% for discount in  menu.discounts %}
                                                        <li><a href="{{ path('webservice_product',{'discount':discount.id}) }}">{{ discount.name }}&nbsp;{{ discount.type|capitalize }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if menu.tags is not empty %}
                                                <ul class="col-sm-12">
                                                    <li class="dropdown-header">Popular Tag's</li>
                                                    {% for tag in  menu.tags %}
                                                        <li><a href="{{ path('webservice_product',{'tag':tag.id}) }}">{{ tag.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% if menu.categories is not empty %}

                                        {% if menu.features is empty and menu.promotions is empty and menu.discounts is empty and menu.tags is  empty and  menu.brands is empty %}
                                            {% set column   = "col-sm-3" %}
                                            {% set class    = "col-sm-12" %}
                                        {% elseif (menu.features is not empty and  menu.brands is empty)  or (menu.promotions is not empty and  menu.brands is empty ) or (menu.discounts is not empty and  menu.brands is empty ) or (menu.tags is not  empty and  menu.brands is empty )  %}
                                            {% set column   = "col-sm-4" %}
                                            {% set class    = "col-sm-9" %}
                                        {% elseif (menu.features is not empty  and  menu.brands is not empty ) or (menu.promotions is not empty  and  menu.brands is not empty ) or (menu.discounts is not empty  and  menu.brands is not empty ) or ( menu.tags is not empty  and  menu.brands is not empty) %}
                                            {% set column   = "col-sm-6" %}
                                            {% set class    = "col-sm-6" %}
                                        {% else %}
                                            {% set class    = "col-sm-6" %}
                                        {% endif %}

                                        <li class="{{ class }}" data-match-height="menu-content" style="border-right:1px solid #d6d9dd">
                                            {% render controller("FrontendBundle:EcommerceWidget:returnMegaCategoryMenu",{globalOption:globalOption, categories: menu.categories,column:column}) %}
                                        </li>
                                    {% endif %}
                                    {% if menu.brands is not empty %}
                                        <li data-match-height="menu-content" class="{% if (menu.features is empty or menu.promotions is empty or menu.discounts is empty or menu.tags is  empty ) and  menu.categories is empty %} col-sm-12 {% elseif menu.categories is empty %} col-sm-9 {% else %} col-sm-3 {% endif %}">
                                            <ul class="col-sm-12">
                                                <li class="dropdown-header">Brand's</li>
                                                {% for brand in menu.brands %}
                                                    <li class="{% if menu.categories is empty %} col-sm-3 {% endif %}" ><a href="{{ path('webservice_product_brand',{'id' : brand.id}) }}">{{ brand.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>

                </div><!-- /.nav-collapse -->
            </nav>
        </div>
    </section>
</nav>
<!-- BEGIN NAVIGATION -->

<!-- END NAVIGATION -->


