{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{ path('webservice_module',{'subdomain':globalOption.subDomain,'module':moduleName|lower }) }}"> {{ moduleName }}</a></li>
                <li class="active"><span>{{ details.name }}</span></li>
            </ol>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="products" style="margin-top: 20px; padding-bottom: 40px">
        <div class="container">
            <article class="col-md-12" >
                {% if ( moduleName == 'News') %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/news.html.twig')}}
                {% elseif( moduleName == 'Blog' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blog.html.twig')}}
                {% elseif( moduleName == 'Testimonial' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/testimonial.html.twig')}}
                {% elseif( moduleName == 'Timeline' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/timeline.html.twig')}}
                {% elseif( moduleName == 'Branch' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/branch.html.twig')}}
                {% elseif( moduleName == 'Event' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/event.html.twig')}}
                {% elseif( moduleName == 'ClassRoutine' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blackout.html.twig')}}
                {% elseif( moduleName == 'Blackout' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/blackout.html.twig')}}
                {% elseif( moduleName == 'NoticeBoard' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/noticeboard.html.twig')}}
                {% elseif( moduleName == 'Admission' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/admission.html.twig')}}
                {% elseif( moduleName == 'Syndicate' ) %}
                    {{ include('@Frontend/Template/Desktop/ModuleDetails/syndicate.html.twig')}}
                {% else %}
                    {{ include('@Frontend/Template/Desktop/Module/default.html.twig')}}
                {% endif %}
            </article>

        </div>
    </section>
    <div class="clearfix"></div>

{% endblock %}

{% block documentready %}
    {{ parent() }}
{% endblock %}
