<form id="productFilter" method="get" action="{{ path(globalOption.subDomain ~ '_webservice_product_filter') }}" >
    {% if globalOption.ecommerceConfig.sidebarCategory == 1 %}
        <div class="panel-heading">
            <h3 class="panel-title">ALL CATEGORY</h3>
        </div>
        <div class="panel-body scrollbar">
            <div class="treeview">
                {{ categorySidebar|raw }}
            </div>
        </div>
    {% endif %}
    {% if globalOption.ecommerceConfig.sidebarBrand == 1 %}
        <div class="panel-heading">
            <h5 class="panel-title">ALL BRANDS</h5>
        </div>
        <div class="panel-body scrollbar">
            <div class="row">
                {{ brandTree|raw }}
            </div>
        </div>
    {% endif %}
    {% if globalOption.ecommerceConfig.sidebarPrice == 1 %}
        <div class="panel-heading">
            <h3 class="panel-title">PRICE RANGE</h3>
        </div>
        <div class="panel-body">
            <input id="price-range" name="price-range" type="text" class="span12" value="" data-slider-min="1" data-slider-max="999999" data-slider-step="5" data-slider-value="[10,999999]"/>
        </div>
    {% endif %}

    {% if globalOption.ecommerceConfig.sidebarSize == 1 %}
        <div class="panel-heading">
            <h3 class="panel-title">SIZE/WEIGHT/DIMENSION</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {{ sizeTree|raw }}
            </div>
        </div>
    {% endif %}
    {% if globalOption.ecommerceConfig.sidebarColor == 1 %}
        <div class="panel-heading">
            <h3 class="panel-title">COLOR</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {{ colorTree|raw }}
            </div>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="panel-heading">
        <div class="sidebar-footer col-md-12" >
            <div class="row div-vertical-center">
                <button type="submit"  class="btn btn-info" id="filter"><span class="glyphicon glyphicon-filter"></span> FILTER</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
<style>
    .ul-check-list-brand , .ul-check-list{
       list-style: none;
        padding-left:15px;
        margin-left:0;
    }
    .ul-check-list-brand li{
       list-style: none;
        float: left;
        width: 100%;
        height: 30px;

    }
    .ul-check-list li{
       list-style: none;
        float: left;
        width: 50%;
        height: 30px;

    }
    .ul-check-list-brand .checkbox , .ul-check-list .checkbox{
        height: 20px;
        float: left;

    }
    .ul-check-list-brand .label , .ul-check-list .label{
      display: block;
      font-size: 90%;
      color: #000000;
      float: left;
      line-height: 22px;
      font-weight:normal;
    }



</style>