{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><span>Product</span></li>
            </ol>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-body-top" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'Product','position':'body-top'}) %}
        </section>
    {% endif %}
    <div class="clearfix"></div>
    <section>
        <div class="container" >
            {% if globalOption.ecommerceConfig.showSidebar == 1 %}
            <div class="col-md-3 sidebar-top" >
                <div class="row">
                    <div class="col-md-12 paginate">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-filter"></span>&nbsp;REFINE RESULTS</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.ecommerceConfig.showSidebar == 1 %} col-md-9 {% else %}col-md-12 {% endif %}">
                <div class="row paginate">
                    <div class="col-md-6">
                        <div class="btn-group pull-left">
                            <div class="product-title"><span class="glyphicon glyphicon-list"></span>&nbsp;{% if titleName is defined and titleName is not empty %}{{ titleName }}{% else %}ALL PRODUCT{% endif %}</div>

                   {#         <a href="#" id="list" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a href="#" id="grid" class="btn btn-default btn-sm page-button"><span class="glyphicon glyphicon-th"></span></a>
#}                        </div>
                    </div>
                    <div class="col-md-6 navbar-right">
                        <form class="form-inline">
                            {#<div class="form-group paginate-form-group" >
                                <label for="exampleInputEmail2">Show: </label>
                                {% set limit = app.request.get('limit') %}
                                <select id="limit" name="limit" class="input-selector"  onchange='this.form.submit()'>
                                    <option {% if limit == 15  %} selected="selected" {% endif %} value="15">15</option>
                                    <option {% if limit == 16  %} selected="selected" {% endif %} value="16">16</option>
                                    <option {% if limit == 20  %} selected="selected" {% endif %} value="20">20</option>
                                    <option {% if limit == 21  %} selected="selected" {% endif %} value="21">21</option>
                                    <option {% if limit == 28  %} selected="selected" {% endif %} value="28">28</option>
                                    <option {% if limit == 30  %} selected="selected" {% endif %} value="30">30</option>
                                </select>
                            </div>#}
                            <div class="form-group paginate-form-group">
                                <label for="exampleInputName2">Sort By: </label>
                                {% set sortBy = app.request.get('sortBy') %}
                                <select name="sortBy" id="sortBy" class="input-selector" onchange='this.form.submit()'>
                                    <option>-- Position --</option>
                                    <option {% if sortBy == ''  %} selected="selected" {% endif %} value="" >Default</option>
                                    <option {% if sortBy == 'product.name=?=ASC'  %} selected="selected" {% endif %} value="product.name=?=ASC">Name (A - Z)</option>
                                    <option {% if sortBy == 'product.name=?=DESC'  %} selected="selected" {% endif %} value="product.name=?=DESC">Name (Z - A)</option>
                                    <option {% if sortBy == 'brand.name=?=ASC'  %} selected="selected" {% endif %} value="brand.name=?=ASC">Brand (A - Z)</option>
                                    <option {% if sortBy == 'brand.name=?=DESC'  %} selected="selected" {% endif %} value="brand.name=?=DESC">Brand (Z - A)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=ASC'  %} selected="selected" {% endif %} value="product.salesPrice=?=ASC">Price (Low &gt; High)</option>
                                    <option {% if sortBy == 'product.salesPrice=?=DESC'  %} selected="selected" {% endif %} value="product.salesPrice=?=DESC">Price (High &gt; Low)</option>
                                </select>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="products" style="margin-top: 20px">
        <div class="container">
            {% if globalOption.ecommerceConfig.showSidebar == 1 %}
            <div class="col-md-3" data-match-height="body-content" >
                <div class="row">
                    <div class="clearfix"></div>
                    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
                        <section class="feature-widget-body-bottom" >
                            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'Product','position':'sidebar-top'}) %}
                        </section>
                    {% endif %}
                    <div class="clearfix"></div>
                    <form>
                    <div class="panel panel-default">
                        {% if globalOption.ecommerceConfig.sidebarBrand == 1 %}
                            <div class="panel-heading">
                                <h5 class="panel-title">ALL BRAND (1 To {{ brands|length }})</h5>
                            </div>
                            <div class="panel-body scrollbar">
                                <div class="rectangle-list">
                                    <ol>
                                        {% for brand in brands %}
                                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':brand.id }) }}">{{ brand.name }}</a></li>
                                        {% endfor %}
                                    </ol>
                                </div>

                            </div>
                        {% endif %}
                        {% if globalOption.ecommerceConfig.sidebarPrice == 1 %}
                        <div class="panel-heading">
                            <h3 class="panel-title">PRICE RANGE</h3>
                        </div>
                        <div class="panel-body">
                            <input id="price-range" type="text" class="span12" value="" data-slider-min="1" data-slider-max="1000000" data-slider-step="5" data-slider-value="[100,1000000]"/>
                        </div>
                        {% endif %}
                        {% if globalOption.ecommerceConfig.sidebarCategory == 1 %}
                        <div class="panel-heading">
                            <h3 class="panel-title">ALL CATEGORY</h3>
                        </div>
                        <div class="panel-body scrollbar">
                            <div class="treeview">
                            {{ categorySidebar|raw }}
                            </div>
                            <!-- List Group End Here -->
                        </div>
                        {% endif %}
                        {% if globalOption.ecommerceConfig.sidebarSize == 1 %}
                        <div class="panel-heading">
                            <h3 class="panel-title">SIZE/WEIGHT/DIMENSION</h3>
                        </div>
                        <div class="panel-body">

                            Product Size
                            <!-- List Group End Here -->
                        </div>
                        {% endif %}
                        {% if globalOption.ecommerceConfig.sidebarColor == 1 %}
                        <div class="panel-heading">
                            <h3 class="panel-title">COLOR</h3>
                        </div>
                        <div class="panel-body">
                            Color
                            <!-- List Group End Here -->
                        </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
                            <section class="feature-widget-body-bottom" >
                                {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'Product','position':'sidebar-bottom'}) %}
                            </section>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    </form>
               </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.ecommerceConfig.showSidebar == 1 %} col-md-9 {% else %} col-md-12 {% endif %}" data-match-height="body-content"  >
                <div id="products" class="row list-group" >

                    <div class="card-grid ">
                    {% for product in products %}
                        <div  class="product-item col-xs-{{ globalOption.ecommerceConfig.perColumn }} col-lg-{{ globalOption.ecommerceConfig.perColumn }}">

                                <div class="product-feature-box list-group-image card">
                                    <img class="img-responsive"  src="{% if product.webPath is not empty  %}{{ image(product.webPath).scaleResize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).scaleResize(400,400) }}{% endif %}" alt="">
                                    <div class="product-feature-box-content">
                                        <span class="post">{{ product.webName }}</span>
                                    </div>
                                    <ul class="social">
                                        <li><a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'subdomain': globalOption.subDomain,'item':product.id }) }}" href="javascript:" class="preview" ><i class="fa fa-eye"></i></a></li>
                                        <li><a  href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" ><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                                <div class="caption">
                                    <div class="row-fluid">
                                        {% if globalOption.ecommerceConfig.showBrand == 1 %}
                                            <p class="group inner brand text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'subdomain': globalOption.subDomain,'id':product.id }) }}"><span>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></a> </p>
                                        {% endif %}
                                        <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><strong>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</strong></a> </p>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-12 col-md-12 text-center"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}&nbsp;{{ product.discountPrice|number_format() }}{% endif %}</strong></div>
                                    </div>
                                </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container" >
            {% if globalOption.ecommerceConfig.showSidebar == 1 %}
            <div class="col-md-3 sidebar-footer" data-match-height="body-footer" >
                <div class="row div-vertical-center">
                    <button  class="btn btn-info ladda-button" data-style="zoom-in"><span class="ladda-label">REFINE FILTER</span><span class="ladda-spinner"></span></button>
                </div>
            </div>
            {% endif %}
            <div class="{% if globalOption.ecommerceConfig.showSidebar == 1 %} col-md-9 {% else %}col-md-12 {% endif %}" data-match-height="body-footer"  >
                <div class="row paginate-footer" >
                    {#<div class="col-md-5 navbar-left">
                    <form class="form-inline">
                        <div class="form-group" >
                            <label for="exampleInputEmail2">Show: </label>
                            {% set limit = app.request.get('limit') %}
                            <select id="limit" name="limit" class="input-selector"  onchange='this.form.submit()'>
                                <option {% if limit == 15  %} selected="selected" {% endif %} value="15">15</option>
                                <option {% if limit == 16  %} selected="selected" {% endif %} value="16">16</option>
                                <option {% if limit == 20  %} selected="selected" {% endif %} value="20">20</option>
                                <option {% if limit == 21  %} selected="selected" {% endif %} value="21">21</option>
                                <option {% if limit == 28  %} selected="selected" {% endif %} value="28">28</option>
                                <option {% if limit == 30  %} selected="selected" {% endif %} value="30">30</option>
                            </select>
                        </div>
                    </form>
                    </div>#}
                    <div class="col-md-3  navbar-left" style="line-height: 30px"><a href="javascript:">{{ products.getTotalItemCount }} out of {{ products.pageCount }}</a></div>
                    <div class="col-md-9  navbar-right">
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="feature-widget-body-bottom" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'pageName':'Product','position':'body-bottom'}) %}
        </section>
    {% endif %}
    <div class="clearfix"></div>
    <!-- Modal -->
<style>
    .card-grid {
        box-sizing: border-box;
        max-height: 100%;
        display:flex;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        -webkit-box-align: stretch;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-grid:after {
        content: "";
        flex: 1 1 100%;
        max-width: 32%;
    }

    .card {
        flex: 1 1 100%;
        box-sizing: border-box;
        -webkit-box-flex: 1;
        max-width: 100%;
        margin-top: 20px;
        background: white;
        color: black;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        display: block;
        position: relative;
        padding: 24px;
        border-radius: 2px;
    }
</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/product.js'
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}