{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <div id="content"  class="product" style="margin-bottom: 50px">
        <div id="cat-search">
            {% render controller("FrontendBundle:EcommerceWidget:header",{'globalOption':globalOption, 'pageName':'product'}) %}
        </div>
        <br/>
        <div class="container" id="product-section">
            <div class="row">
                {% for item in cart.contents %}
                    <div id="item-remove-{{ item.rowid }}">
                        <div class="row">
                            <div class="col-md-12 cart-product-title">{{ item.name }}</div>
                            <div class="col-md-6">
                                {% if item.productImg is not empty %}
                                    <img src="{{ item.productImg }}" height="100" width="160" alt=""/>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ item.price }}</span>
                                    <input type="text" class="form-control" width="80" id="{{ item.rowid }}" value="{{ item.quantity }}">
                                </div><!-- /input-group -->
                                <div class="btn-group text-right col-md-12" role="group" >
                                    <button id="{{ item.rowid }}"  data-url="{{ path('webservice_product_cart_remove',{'cartid':item.rowid}) }}"
                                            class="btn  btn-danger pull-right hunger-remove-cart" data-id="{{ item.price }}" data-value="{{ item.quantity }}" ><span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    <button id="{{ item.rowid }}"  data-url="{{ path('webservice_product_cart_update',{'cartid':item.rowid}) }}"
                                            class="btn btn-success pull-right hunger-update-cart"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm-12 col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Cart Totals</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right"><h5><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></h5></td>
                        </tr>
                        <tr>
                            <td><h3>Grand Total</h3></td>
                            <td class="text-right"><h3><strong>{{ globalOption.ecommerceConfig.currency }}&nbsp;{{ cart.total }}</strong></h3></td>
                        </tr>
                        <tr>
                            <td><strong>Coupon Code</strong></td>
                            <td class="text-right"><input type="text" class="form-control" name="couponCode" id="couponCode"></td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td class="text-right">
                                {% if  app.user %}
                                    <a href="{{ path('order_checkout',{'shop':globalOption.uniqueCode}) }}" type="button" class="btn btn-success">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-success login-preview">
                                        Login & Checkout <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end container -->
        <br/>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-cosmetic.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/mobile/js/product.js'
    '@FrontendBundle/Resources/public/template/mobile/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}



