{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <div id="cat-search">
        {% render controller("FrontendBundle:EcommerceWidget:header",{'globalOption':globalOption, 'pageName':'product'}) %}
    </div>
    <br/>

    <div id="content" class="content-margin">
        <article>
            <div class="col-xs-12 col-md-12 text-center" style="padding-bottom: 20px">
                <h3>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</h3>
            </div>
            <div class="col-xs-12 col-md-12">
                <a href="#" class="thumbnail">
                    <img src="{% if product.webPath is not empty  %}{{ image(product.webPath).scaleResize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).scaleResize(400,400) }}{% endif %}"  alt=""/>
                </a>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="text-left">
                    <i class="fa fa-dribbble"></i>&nbsp;{% if product.brand is not empty %}<a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'subdomain':globalOption.subDomain,'brand':product.brand.id }) }}">{{ product.brand.name }}</a>{% endif %}&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tag"></i>&nbsp;{% if product.masterItem.category is defined and product.masterItem.category is not empty %}<a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'subdomain':globalOption.subDomain,'category':product.masterItem.category.id }) }}">{{ product.masterItem.category.name }}</a>{% endif %}
                    {% if product.itemGalleries is defined and product.itemGalleries is not empty %} <i class="fa fa-file-image-o"></i>&nbsp;<a href="{{ image(product.webPath()).resize() }}">Preview</a> {% endif %}
                    {% if product.itemGalleries is defined and product.itemGalleries is not empty %}
                        <div id="Gallery">
                            <i class="fa fa-file-image-o"></i>&nbsp;<a href="{{ image(product.webPath()).resize() }}">Preview</a>
                            {% for photo in product.itemGalleries %}
                                <a href="/{{ photo.getWebPath(product.purchase.inventoryConfig.globalOption.id,product.id) }}" rel="external"></a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="product">
                    <div class="product-details" style="border-top: none; padding: 0">
                            <table>
                                {% set quantity = 1 %}
                                <tr><td colspan="2"><strong>Product Details</strong></td></tr>
                                <tr><td>Price</td><td class="left">BDT <strong>{{ product.webPrice|format }}</strong></td></tr>
                                {% if product.sku   %}
                                    <tr><td><strong>SKU</strong></td><td class="left-text"><strong>{{ product.sku  }}</strong></td></tr>
                                {% endif %}
                                <tr><td>Stock in</td><td class="left"><strong>{{ product.purchaseStockItem  }}</strong></td></tr>
                                {% if product.gender is not empty %}<tr><td>Gender</td><td class="left">{{ product.gender }}</td></tr>{% endif %}
                                {% if product.ageGroup is not empty %}<tr><td>Age Group</td><td class="left">{{ product.ageGroup }}</td></tr>{% endif %}
                                {% if product.brand is not empty %}<tr><td>Brand</td><td class="left">{{ product.brand.name }}</td></tr>{% endif %}
                                {% if product.country is not empty %}<tr><td>Made in</td><td class="left">{{ product.country.name }}</td></tr>{% endif %}
                                <tr><td colspan="2" valign="top">Description</td></tr>
                                <tr><td colspan="2" class="left text-justify">
                                        {% if product.content is not empty %}
                                            {{ product.content|raw }}
                                        {% elseif product.masterItem is not empty %}
                                            {{ product.masterItem.content|raw }}
                                        {% endif  %}
                                    </td></tr>
                            </table>
                            <div class="left" style="width: 100%">
                                <form class="addCart" style="margin-top: 30px">
                                             <div class="row" id="subItem-info">
                                                 <div class="col-xs-4 col-md-4">
                                                     {% if globalOption.ecommerceConfig.isSize == 1 and product.goodsItems is defined  %}
                                                         <div class="form-group">
                                                             <div class="input-group input-group-sm">
                                                                 <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                                                                 <select class="form-control changeSize" data-url="{{ path(globalOption.subDomain~'_webservice_product_sub_item', {'product' : product.id }) }}" name="size" id="size" >
                                                                     {% for goodsItem in  product.goodsItems  %}
                                                                         <option {% if subItem.id == goodsItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" > {% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %}-Default-{% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %}</option>
                                                                     {% endfor %}
                                                                 </select>
                                                             </div>
                                                         </div>
                                                     {% endif %}
                                                 </div>
                                                 <div class="col-xs-4 col-md-4">
                                                     {% if globalOption.ecommerceConfig.isColor == 1 and subItem.colors is not empty and subItem.colors is defined %}
                                                         <div class="form-group">
                                                             <div class="input-group input-group-sm">
                                                                 <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-text-background"></span></span>
                                                                 <select class="form-control" name="color" >
                                                                     {% for color in  subItem.colors %}
                                                                         <option value="{{ color.id }}" >{{ color.name }}</option>
                                                                     {% endfor %}
                                                                 </select>
                                                             </div>
                                                         </div>
                                                     {% endif %}
                                                 </div>
                                                 <div class="col-xs-4 col-md-4 pull-right">
                                                     <div class="form-group">
                                                         <div class="input-group input-group-sm">
                                                             <span class="input-group-addon" id="sizing-addon3">{{ globalOption.ecommerceConfig.currency }}</span>
                                                             <input class="form-control" name="" id="" disabled="disabled" value="{% if subItem.discountPrice is empty %}{{ subItem.salesPrice|number_format }} {% else %}{{ subItem.discountPrice|number_format }}{% endif %}" aria-label="Text input">
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                        <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-lg btn-danger btn-number" data-type="minus" data-field="quantity">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" name="quantity" id="quantiy" class="form-control input-lg input-number" style="text-align: center; font-weight: bold" value="1" min="1" max="{{ product.masterQuantity }}">
                                        <span class="input-group-btn">
                                              <button type="button" class="btn btn-lg btn-success btn-number" data-type="plus" data-field="quantity">
                                                  <span class="glyphicon glyphicon-plus"></span>
                                              </button>
                                        {% if  globalOption.ecommerceConfig.cart == 1 %}
                                            <input type="hidden" name="productImg"  value="/{% if product.webPath is not empty %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
                                            <button type="submit" class="btn btn-lg btn-info cartSubmit" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart', {'subdomain':globalOption.subDomain, 'product' : product.id,'subitem' : subItem.id }) }}">
                                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Add to cart</button>
                                        {% endif %}

                                        </span>
                                        </div>
                                    </form>
                            </div>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-12">
                  {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty or  product.itemKeyValues is defined and product.itemKeyValues is not empty  %}
                    <div class="row meta-caption"><div class="col-xs-12 col-md-12"><strong>Specification</strong></div></div>
                    {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty %}
                        {% for attribute in product.itemMetaAttributes %}
                            <div class="row meta-key-value"><div class="col-xs-3 col-md-3">{{ attribute.itemAttribute.name }}<span class="meta-key-clone">:</span></div><div class="col-xs-9 col-md-9 ">{{ attribute.value }}</div></div>
                        {% endfor %}
                    {% endif %}
                    {% if  product.itemKeyValues is defined and product.itemKeyValues is not empty %}
                        {% for meta in product.itemKeyValues %}
                            {% if meta.metaKey is not empty and meta.metaValue is empty %}
                                <div class="row meta-label"><div class="col-xs-12 col-md-12">{{ meta.metaKey|capitalize }}</div></div>
                            {% elseif meta.metaKey is empty and meta.metaValue is not empty %}
                                <div class="row meta-value"><div class="col-xs-12 col-md-12">{{ meta.metaValue }}</div></div>
                            {% else %}
                                <div class="row meta-key-value"><div class="col-xs-3 col-md-3">{{ meta.metaKey }}<span class="meta-key-clone">:</span></div><div class="col-xs-9 col-md-9 ">{{ meta.metaValue  }}</div></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </article>
        <div class="clearfix"></div>
        {% if(products) %}
            {% if product.masterItem is not empty and product.masterItem.category is not empty and product.masterItem.category is defined %}
                <br>
                <div class="clear"></div>
                <div class="col-md-12" >
                    <div class="bs-callout bs-callout-info">
                        <h4 class="title"><i class="fa fa-tag"></i>&nbsp;{{ product.masterItem.category.name }}</h4>
                    </div>
                </div>
                <div id="product" class="">
                    {% for product in products  %}
                        {% set paymentID = globalOption.id~'-ecommerce-product-'~product.id %}
                        <div class="outer-div">
                            <div class="inner-div">
                                <div id="" class="ic_container capslide_img_cont ">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="#" class="thumbnail">
                                            <img src="{% if product.webPath is not empty  %}{{ image(product.webPath).scaleResize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).scaleResize(400,400) }}{% endif %}"  alt=""/>
                                        </a>
                                    </div>
                                    <div class="ic_caption">
                                        <p class="title"><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'subdomain': globalOption.subDomain,'item':product.slug }) }}"  >{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</a></p>
                                        <div class="product-short-details">
                                            <span>{{ globalOption.ecommerceConfig.currency }}&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}&nbsp;{{ product.discountPrice|number_format() }}{% endif %}</span>
                                        </div>
                                        <div class="media-body">
                                            <ul class="list-inline list-unstyled">
                                                <li><span><i class="fa fa-dribbble" aria-hidden="true"></i>&nbsp;{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></li>
                                                <li>|</li>
                                                <li><span><span class="badge"><span class="fos-comment-count" data-fos-comment-thread-id="{{ paymentID }}">#</span></span> comments</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-cosmetic.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/mobile/js/product.js'
    '@FrontendBundle/Resources/public/template/mobile/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}


