{#
<div class="row">
    {% if  globalOption.ecommerceConfig.isSize == 1 and product.goodsItems is defined %}
        <div class="col-xs-6 col-md-6" >
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                    <select class="input-selector item-select"  name="subItem" id="subItem" >
                        {% for goodsItem in  product.goodsItems  %}
                            <option {% if subItem.id == goodsItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" > {% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %}-Default-{% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}
    {% if globalOption.ecommerceConfig.isColor == 1 and subItem.colors is not empty and subItem.colors is defined %}
        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-th"></span></span>
                    <select class="input-selector item-select" name="color" id="color" >
                        {% for color in  subItem.colors %}
                            <option  value="{{ color.id }}" >{{ color.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">{{ globalOption.ecommerceConfig.currency }}</span>
                <input class="form-control" name="" id="" readonly="readonly" value="{% if subItem.discountPrice is empty %}{{ subItem.salesPrice|number_format }} {% else %}{{ subItem.discountPrice|number_format }}{% endif %}" aria-label="Text input">
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-danger btn-number" data-type="minus" data-field="quantity">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
            <input type="text" name="quantity" id="quantity" class="form-control input-number "  value="1" min="1" max="{{ subItem.quantity }}">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-success btn-number" data-type="plus" data-field="quantity">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="...">
        {% if previous is not empty %}
            <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':previous.id }) }}" data-title="{{ previous.webName }}&nbsp;{% if previous.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ previous.masterItem.name }}{% endif %}" href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}
        {% if  globalOption.ecommerceConfig.cart == 1  %}
            <button type="button" class="btn btn-warning cartSubmit"  data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart',{'product' : product.id,'subitem' : subItem.id }) }}">Add To Buy</button>
            <input type="hidden" name="productImg" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
        {% endif %}
        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="btn btn-success">More</a>
        {% if next is not empty %}
            <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':next.id }) }}" data-title="{{ next.webName }}&nbsp;{% if next.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ next.masterItem.name }}{% endif %}"  href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
    </div>
</div>
#}

<div class="row">
    {% if  globalOption.ecommerceConfig.isSize == 1 and product.goodsItems is defined %}
        <div class="col-xs-8 col-md-8" >
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                    <select class="input-selector item-select"  name="subItem" id="subItem" >
                        {% for goodsItem in  product.goodsItems  %}
                            <option {% if subItem.id == goodsItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" > {% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %} Default {% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}
    {% if globalOption.ecommerceConfig.isColor == 1 and subItem.colors is not empty and subItem.colors is defined %}
        <div class="col-xs-4 col-md-4 col-sm-cus-4">
            <select class="input-selector item-select" name="color" id="color" >
                {% for color in  subItem.colors %}
                    <option  value="{{ color.id }}" >{{ color.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

</div>
<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-danger btn-number" data-type="minus" data-field="quantity"><span class="glyphicon glyphicon-minus"></span></button>
                                </span>
            <input type="text" name="quantity" id="quantity" class="form-control input-number"  value="1" min="1" max="{{ subItem.quantity }}">
                                <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-success btn-number" data-type="plus" data-field="quantity"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
            {% if product.masterItem is not empty and product.masterItem.productUnit is not empty %}
                <span class="input-group-btn">
                                   <button type="button" class="btn btn-sm btn-warning">{{ product.masterItem.productUnit.name }}</button>
                                </span>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-4 col-md-4">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">{{ globalOption.ecommerceConfig.currency }}</span>
                <input class="form-control" name="" id="" disabled="disabled" value="{% if subItem.discountPrice is empty %}{{ subItem.salesPrice|number_format }} {% else %}{{ subItem.discountPrice|number_format }}{% endif %}" aria-label="Text input">
            </div>
        </div>
    </div>

</div>
<div class="col-xs-12 col-md-12 text-center">
    <div class="btn-group col-xs-12 col-md-12" role="group" aria-label="...">
        {% if previous is not empty %}
            <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':previous.id }) }}" data-title="{{ previous.webName }}&nbsp;{% if previous.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ previous.masterItem.name }}{% endif %}" href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}
        {% if  globalOption.ecommerceConfig.cart == 1  %}
            <button type="button" class="btn btn-warning cartSubmit col-xs-8 col-md-8"  data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart',{'product' : product.id,'subitem' : subItem.id }) }}"><span class="fa fa-shopping-bag"></span> Add To Buy</button>
            <input type="hidden" name="productImg" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
        {% endif %}
        {% if next is not empty %}
            <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':next.id }) }}" data-title="{{ next.webName }}&nbsp;{% if next.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ next.masterItem.name }}{% endif %}"  href="javascript:" class="product-next-prev btn btn-info"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
    </div>
</div>