{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet-body">
            <div class="row-fluid" >
                <div class="span4">

                </div>
                <div class="span5">
                    <div class="btn-group">
                        {% if ( app.user.granted("ROLE_MEDICINE_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a class="btn blue big" id="temporarySales" href="javascript:" data-url="{{ path('medicine_sales_temporary_new') }}"><i class="icon-plus-sign"></i> Add Sales</a>
                        {% endif %}
                        {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('account_sales_medicine_outstanding') }}" class="btn yellow big"><i class="icon-money"></i> Due Receive</a>
                        {% endif %}
                        {% if ( app.user.granted("ROLE_MEDICINE_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('medicine_purchase_new') }}" class="btn red big"><i class="icon-plus-sign"></i> Add Purchase</a>
                        {% endif %}
                    </div>

                </div>
                <div class="span3">

                </div>
            </div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="row-fluid">
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="">{{ ((transactionCashOverviews['openingBalance']+transactionCashOverviews['debit'])-transactionCashOverviews['credit'])|number_format }}</span>
                                <small class="font-green-sharp">BDT</small>
                            </h3>
                            <small>BALANCE</small>
                        </div>
                        <div class="icon">
                            <i class="icon-bar-chart"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only">75% progress</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-number">
                                <a href="{{ path('account_transaction_cash_overview') }}" class="btn green mini">More <i class="icon-circle-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-purple-soft">
                                <span data-counter="counterup" data-value="276">276 BDT</span>
                            </h3>
                            <small>SALES</small>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success purple-soft">
                                <span class="sr-only">75% change</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-number">
                                <a href="{{ path('medicine_sales') }}" class="btn purple mini">More <i class="icon-circle-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="567">567</span>
                            </h3>
                            <small>Purchase</small>
                        </div>
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">75% grow</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-number">
                                <a href="{{ path('medicine_purchase') }}" class="btn blue mini">More <i class="icon-circle-arrow-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-red-haze">
                                <span data-counter="counterup" data-value="1349">{{ expenditureOverview['amount'] }}</span>
                            </h3>
                            <small>Expense</small>
                        </div>
                        <div class="icon">
                            <i class="icon-money"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success red-haze">
                                <span class="sr-only">75% change</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-number">
                                <a href="{{ path('account_expenditure') }}" class="btn red mini">More <i class="icon-circle-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet-body form">
        <style>
            /***
Dashboard Stats 2
***/
            .dashboard-stat2 {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                background: #fff;
                padding: 15px 15px 30px 15px;
                margin-bottom: 20px;
            }
            .dashboard-stat2 .display {
                margin-bottom: 20px;
            }
            .dashboard-stat2 .display:before, .dashboard-stat2 .display:after {
                content: " ";
                display: table;
            }
            .dashboard-stat2 .display:after {
                clear: both;
            }
            .dashboard-stat2 .display .number {
                float: left;
                display: inline-block;
            }
            .dashboard-stat2 .display .number h3 {
                margin: 0 0 2px 0;
                padding: 0;
                font-size: 30px;
                font-weight: 400;
            }
            .dashboard-stat2 .display .number h3 > small {
                font-size: 23px;
            }
            .dashboard-stat2 .display .number small {
                font-size: 14px;
                color: #AAB5BC;
                font-weight: 600;
                text-transform: uppercase;
            }
            .dashboard-stat2 .display .icon {
                display: inline-block;
                float: right;
                padding: 7px 0 0 0;
            }
            .dashboard-stat2 .display .icon > i {
                color: #cbd4e0;
                font-size: 26px;
            }
            .dashboard-stat2 .progress-info {
                clear: both;
            }
            .dashboard-stat2 .progress-info .progress {
                margin: 0;
                height: 4px;
                clear: both;
                display: block;
            }
            .dashboard-stat2 .progress-info .status {
                margin-top: 5px;
                font-size: 11px;
                color: #AAB5BC;
                font-weight: 600;
                text-transform: uppercase;
            }
            .dashboard-stat2 .progress-info .status .status-title {
                float: left;
                display: inline-block;
            }
            .dashboard-stat2 .progress-info .status .status-number {
                float: right;
                display: inline-block;
            }

            /* Statistic Block */
            .dashboard-stat.green-sharp {
                background-color: #4DB3A2;
            }
            .dashboard-stat.green-sharp.dashboard-stat-light:hover {
                background-color: #46a595;
            }
            .dashboard-stat.green-sharp .visual > i {
                color: #FFFFFF;
                opacity: 0.1;
                filter: alpha(opacity=10);
            }
            .dashboard-stat.green-sharp .details .number {
                color: #FFFFFF;
            }
            .dashboard-stat.green-sharp .details .desc {
                color: #FFFFFF;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .dashboard-stat.green-sharp .more {
                color: #FFFFFF;
                background-color: #46a595;
            }

            /* General Element */
            .bg-green-sharp {
                border-color: #4DB3A2 !important;
                background-image: none !important;
                background-color: #4DB3A2 !important;
                color: #FFFFFF !important;
            }

            /* General Text & Icon Font Colors */
            .font-green-sharp {
                color: #4DB3A2 !important;
            }

            .progress-bar.green-sharp {
                background: #4DB3A2 !important;
                color: #FFFFFF !important;
            }

            /***
            Green Sharp
            ***/
            /* Button */
            .green-soft.btn {
                color: #FFFFFF;
                background-color: #3faba4;
            }
            .green-soft.btn:hover, .green-soft.btn:focus, .green-soft.btn:active, .green-soft.btn.active {
                color: #FFFFFF;
                background-color: #35918b;
            }
            .open .green-soft.btn.dropdown-toggle {
                color: #FFFFFF;
                background-color: #35918b;
            }
            .green-soft.btn:active, .green-soft.btn.active {
                background-image: none;
                background-color: #2f7e79;
            }
            .green-soft.btn:active:hover, .green-soft.btn.active:hover {
                background-color: #318680;
            }
            .open .green-soft.btn.dropdown-toggle {
                background-image: none;
            }
            .green-soft.btn.disabled, .green-soft.btn.disabled:hover, .green-soft.btn.disabled:focus, .green-soft.btn.disabled:active, .green-soft.btn.disabled.active, .green-soft.btn[disabled], .green-soft.btn[disabled]:hover, .green-soft.btn[disabled]:focus, .green-soft.btn[disabled]:active, .green-soft.btn[disabled].active, fieldset[disabled] .green-soft.btn, fieldset[disabled] .green-soft.btn:hover, fieldset[disabled] .green-soft.btn:focus, fieldset[disabled] .green-soft.btn:active, fieldset[disabled] .green-soft.btn.active {
                background-color: #3faba4;
            }
            .green-soft.btn .badge {
                color: #3faba4;
                background-color: #FFFFFF;
            }

            /* Button Strip */
            .btn.green-soft-stripe {
                border-left: 3px solid #3faba4;
            }

            /* Portlet */
            .portlet > .portlet-body.green-soft,
            .portlet.green-soft {
                background-color: #3faba4;
            }

            .portlet.solid.green-soft > .portlet-title,
            .portlet.solid.green-soft > .portlet-body {
                border: 0;
                color: #FFFFFF;
            }
            .portlet.solid.green-soft > .portlet-title > .caption {
                font-weight: 400;
            }
            .portlet.solid.green-soft > .portlet-title > .caption > i {
                color: #FFFFFF;
            }

            .portlet.box.green-soft {
                border: 1px solid #5bc2bc;
                border-top: 0;
            }
            .portlet.box.green-soft > .portlet-title {
                background-color: #3faba4;
            }
            .portlet.box.green-soft > .portlet-title > .caption {
                color: #FFFFFF;
            }
            .portlet.box.green-soft > .portlet-title > .caption > i {
                color: #FFFFFF;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default {
                background: transparent !important;
                background-color: transparent !important;
                border: 1px solid #87d3ce;
                color: #9adad6;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default > i {
                color: #a5deda;
            }
            .portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:focus, .portlet.box.green-soft > .portlet-title > .actions .btn-default:active, .portlet.box.green-soft > .portlet-title > .actions .btn-default.active {
                border: 1px solid #ade1dd;
                color: #bfe7e5;
            }

            /* Statistic Block */
            .dashboard-stat.green-soft {
                background-color: #3faba4;
            }
            .dashboard-stat.green-soft.dashboard-stat-light:hover {
                background-color: #3a9c96;
            }
            .dashboard-stat.green-soft .visual > i {
                color: #FFFFFF;
                opacity: 0.1;
                filter: alpha(opacity=10);
            }
            .dashboard-stat.green-soft .details .number {
                color: #FFFFFF;
            }
            .dashboard-stat.green-soft .details .desc {
                color: #FFFFFF;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .dashboard-stat.green-soft .more {
                color: #FFFFFF;
                background-color: #3a9c96;
            }

            /* General Element */
            .bg-green-soft {
                border-color: #3faba4 !important;
                background-image: none !important;
                background-color: #3faba4 !important;
                color: #FFFFFF !important;
            }

            /* General Text & Icon Font Colors */
            .font-green-soft {
                color: #3faba4 !important;
            }

            .progress-bar.green-soft {
                background: #3faba4 !important;
                color: #FFFFFF !important;
            }

            .progress-bar.red-haze {
                background: #f36a5a!important;
                color: #fff!important;
            }

            .progress-bar.green-sharp {
                background: #2ab4c0!important;
                color: #FFF!important;
            }

            .progress-bar.green-sharp {
                background: #2ab4c0!important;
                color: #FFF!important;
            }
            .progress-bar-success {
                background-color: #36c6d3;
            }
            .progress-bar {
                float: left;
                width: 0;
                height: 100%;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                background-color: #337ab7;
                -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                -webkit-transition: width .6s ease;
                -o-transition: width .6s ease;
                transition: width .6s ease;
            }

            .font-purple-soft {
                color: #8877a9!important;
            }
            .font-red-haze {
                color: #f36a5a!important;
            }
            .font-blue-sharp {
                color: #5C9BD1!important;
            }

        </style>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="icon icon-medkit"></i> Dashboard</div>
            </div>

            <div class="portlet-body">
                <div class="row-fluid" >
                      <div class="span4">

                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_MEDICINE_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a class="btn red big" id="temporarySales" href="javascript:" data-url="{{ path('medicine_sales_temporary_new') }}"><i class="icon-plus-sign"></i> Add Sales</a>
                            <a href="{{ path('medicine_sales') }}" class="btn blue big"><i class="icon-th-large"></i> Sales </a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_sales_medicine_outstanding') }}" class="btn yellow big"><i class="icon-money"></i> Due Receive</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="span5">
                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_MEDICINE_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('medicine_purchase_new') }}" class="btn red big"><i class="icon-plus-sign"></i> Add Purchase</a>
                            <a href="{{ path('medicine_purchase') }}" class="btn green big"><i class="icon-th-large"></i> Purchase</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_MEDICINE_STOCK") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('medicine_stock_short_item') }}" class="btn black big"><i class="icon-sort-by-order"></i> Short List</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('account_purchase_medicine_outstanding') }}" class="btn yellow big"><i class="icon-money"></i> Payment</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="span3">
                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_EXPENDITURE") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_expenditure_new') }}" class="btn purple big"><i class="icon-plus-sign"></i> Expenditure</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_JOURNAL") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_journal_new') }}" class="btn blue big"><i class="icon-money"></i> Journal</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="portlet-body form">
                <div class="form-actions portlet box grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-money"></i> Today Cash Overview</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_transaction_cash_overview') }}"><i class="icon-bar-chart"></i> Cash Summary</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <thead class="flip-content ">
                    <tr class="head-blue">
                        <th class="numeric">Cash Account</th>
                        <th class="numeric" >Opening Balance</th>
                        <th class="numeric" >Receive</th>
                        <th class="numeric" >Payment</th>
                        <th class="numeric" >Closing Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    #}{#{{ dump(transactionCashOverviews.transactionBalances[1][0]['debit']) }}#}{#
                    {% set totalOpen = 0 %}
                    {% set totalDebit = 0 %}
                    {% set totalCredit = 0 %}
                    {% for mode in transactionCashOverviews.result %}
                        {% set open = transactionCashOverviews.openingBalance[mode.transactionId]|default(0) %}
                        {% set debit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].debit|default(0)  %}
                        {% set credit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].credit|default(0)  %}
                        {% set totalOpen = totalOpen + open %}
                        {% set totalDebit = totalDebit + debit %}
                        {% set totalCredit = totalCredit + credit %}

                        <tr>
                            <th class="numeric">{{ mode.transactionName }}</th>
                            <th class="numeric">{{ open|number_format }}</th>
                            <th class="numeric">{{ debit|number_format }}</th>
                            <th class="numeric">{{ credit|number_format }}</th>
                            <th class="numeric" >{{ ((open + debit)-credit)|number_format }}</th>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th class="numeric">Total Amount</th>
                        <th class="numeric">{{ totalOpen|number_format }}</th>
                        <th class="numeric">{{ totalDebit|number_format }}</th>
                        <th class="numeric">{{ totalCredit|number_format }}</th>
                        <th class="numeric" >{{ ((totalOpen + totalDebit)-totalCredit)|number_format }}</th>
                    </tr>
                    </tbody>

                </table>
            </div>#}
            <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-money"></i> User Sales Target</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_transaction_cash_overview') }}"><i class="icon-bar-chart"></i> Cash Summary</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                {%  set months = {1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'} %}
                {%  set years = ['2018','2019','2020','2021','2022','2023','2024','2025'] %}

                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <thead class="flip-content ">
                    <tr class="head-blue">
                        <th>Sales User</th>
                        {% for employee in employees %}
                            <th>{{ employee.username }}</th>
                        {% endfor %}
                    </tr>
                    <tr class="head-red">
                        <th>Month</th>
                        {% for employee in employees %}
                            <th>{{ employee.monthlySales }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody id="sales">
                    {% set subTotal=0 %}
                    <tr class="numeric" >
                        <th>{{ "now"|date("F,Y") }}</th>
                        {% for employee in employees %}
                            {% set monthSales =  employee.id~'8' %}
                            <th>{% if monthSales in salesAmount|keys %}{{ salesAmount[monthSales] }}{% endif %}</th>
                        {% endfor %}
                    </tr>
                    <tr class="numeric" >
                        <th>Rest Amount</th>
                        {% for employee in employees %}
                            {% set monthSales =  employee.id~'8' %}
                            <th>{% if monthSales in salesAmount|keys %}{{ (employee.monthlySales-salesAmount[monthSales])|number_format }}{% endif %}</th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>

            </div>

            {#

                        <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box red">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Expenditure Overview</div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    {% if expenditureOverview is not empty %}
                        {% set total = 0 %}
                        {% for expenditure in expenditureOverview %}
                            {% set total = total+expenditure.amount %}
                        <tr>
                            <th class="numeric" >{{ expenditure.categoryName }}</th>
                            <td class="numeric" >{{ expenditure.amount|number_format }}</td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                        <tr><th>Grand Total</th><th>{{ total|number_format }}</th></tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Sales Overview</div>
                        {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('medicine_report_sales_summary') }}"><i class="icon-bar-chart"></i> Sales Reports</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <tr>
                        <th class="numeric" >Sub-total Amount</th>
                        <td class="numeric" >{{ salesCashOverview.subTotal|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Discount</th>
                        <td class="numeric" >{{ salesCashOverview.totalDiscount|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Net Total</th>
                        <td class="numeric" >{{ salesCashOverview.total|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Payment</th>
                        <td class="numeric" >{{ salesCashOverview.totalPayment|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Receivable</th>
                        <th class="numeric" >{{ salesCashOverview.totalDue|number_format }}</th>
                    </tr>
                </table>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="portlet-body form">
                <div class="form-actions portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Purchase Overview</div>
                        {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('medicine_report_purchase_summary') }}"><i class="icon-bar-chart"></i> Purchase Reports</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <tr>
                        <th class="numeric" >Total Amount</th>
                        <td class="numeric" >{{ purchaseCashOverview.total|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Payment</th>
                        <td class="numeric" >{{ purchaseCashOverview.totalPayment|number_format }}</td>
                    </tr>
                    <tr>
                        {% set due = (purchaseCashOverview.total - purchaseCashOverview.totalPayment) %}
                        <th class="numeric" >{% if due >= 0 %}Payable {% else %}Receivable{% endif %}</th>
                        <th class="numeric" >{{ due|number_format }}</th>
                    </tr>
                </table>

            </div>
            <div class="clearfix">&nbsp;</div>
            #}
            <div class="portlet-body form">
                <div class="form-actions portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today User base Sales</div>
                        {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn red" href="{{ path('medicine_report_sales_user') }}"><i class="icon-bar-chart"></i> User wise Sales</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <thead class="flip-content ">
                    <tr class="head-blue">
                        <th class="numeric" >SalesBy</th>
                        <th class="numeric" >Sub-Total</th>
                        <th class="numeric" >Discount</th>
                        <th class="numeric" >Vat</th>
                        <th class="numeric" >Net Total</th>
                        <th class="numeric" >Payment</th>
                        <th class="numeric" >Due</th>
                        <th class="numeric" >PurchasePrice</th>
                        <th class="numeric" >Profit/Loss</th>
                    </tr>
                    </thead>
                    <tbody id="sales">
                    {% set subTotal=0 %}
                    {% set discount=0 %}
                    {% set vat=0 %}
                    {% set total=0 %}
                    {% set payment=0 %}
                    {% set due = 0 %}
                    {% set purchasePrice = 0 %}

                    {% for entity in salesUserReport %}

                        {% set subTotal = subTotal+entity.subTotal %}
                        {% set discount = discount+entity.discount %}
                        {% set vat = vat+entity.vat %}
                        {% set total = total+entity.total %}
                        {% set payment = payment + entity.payment %}
                        {% set due = due + entity.due %}
                        {% set purchasePrice = purchasePrice + purchaseUserReport[entity.salesBy] %}
                        <tr>
                            <td class="numeric" >{{ entity.salesBy }}</td>
                            <td class="numeric" >{{ entity.subTotal|number_format  }}</td>
                            <td class="numeric" >{{ entity.discount|number_format  }}</td>
                            <td class="numeric" >{{ entity.vat|number_format  }}</td>
                            <th class="numeric" >{{ entity.total|number_format  }}</th>
                            <th class="numeric" >{{ entity.payment|number_format }}</th>
                            <th class="numeric" >{{ entity.due|number_format }}</th>
                            <th class="numeric" >{% if purchaseUserReport[entity.salesBy] is defined %}{{ purchaseUserReport[entity.salesBy]|number_format }}{% endif %}</th>
                            <th class="numeric" >{% if purchaseUserReport[entity.salesBy] is defined %}{{ (entity.total- purchaseUserReport[entity.salesBy])|number_format }}{% endif %}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot><tr><th>Grand</th><th>{{ subTotal|number_format }}</th><th>{{ discount|number_format }}</th><th>{{ vat|number_format }}</th><th>{{ total|number_format }}</th><th>{{ payment|number_format }}</th><th>{{ due|number_format }}</th><th>{{ purchasePrice|number_format }}</th><th>{{ (total-purchasePrice)|number_format }}</th></tr></tfoot>
                </table>

            </div>
            <div class="portlet-body">
                <div class="row-fluid pull-center" >
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box grey">
                            <div class="portlet-title"><div class="caption"><i class="icon-shopping-cart"></i>Medicine Sales </div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_sales') }}">Manage Sales</a></li>
                                    <li><i class="icon-retweet"></i> <a href="{{ path('medicine_sales_return') }}">Sales Return</a></li>
                                    <li><i class="icon-user"></i> <a href="{{ path('domain_customer') }}">Customer</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if (app.user.granted("ROLE_MEDICINE_STOCK") or  app.user.granted("ROLE_DOMAIN") ) %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Manage Stock</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                        <li><i class="icon-folder-close"></i> <a href="{{ path('medicine_stock') }}">Stock Medicine</a></li>
                                        <li><i class="icon-calendar"></i> <a href="{{ path('medicine_purchase_item') }}">Medicine Expiration</a></li>
                                        <li><i class="icon-bar-chart"></i> <a href="{{ path('medicine_stock_short_item') }}">Stock Short Item</a></li>
                                        <li><i class="icon-trash"></i> <a href="{{ path('medicine_damage') }}">Damage</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-truck"></i>Manage Purchase</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                                        <li><i class="icon-th-large"></i> <a href="{{ path('medicine_purchase') }}">Manage Purchase</a></li>
                                        <li><i class="icon-shopping-cart"></i> <a href="{{ path('medicine_purchase_new') }}">Add Purchase</a></li>
                                        <li><i class="icon-th-list"></i> <a href="{{ path('medicine_instantpurchase') }}">Instant Purchase</a></li>
                                        <li><i class="icon-retweet"></i> <a href="{{ path('medicine_purchase_return') }}">Purchase Return</a></li>
                                        <li><i class="icon-user"></i> <a href="{{ path('medicine_vendor') }}">Vendor</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box yellow">
                            <div class="portlet-title"><div class="caption"><i class="icon-hdd"></i>Master Data</div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_ADMIN") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-reorder"></i> <a href="{{ path('medicine_particular') }}">Particular</a></li>
                                    <li><i class="icon-group"></i> <a href="{{ path('medicine_sales_user') }}">User Sales Setup</a></li>
                                    <li><i class="icon-cog"></i> <a href="{{ path('medicine_config_manage') }}">Configuration</a></li>
                                    <li><i class="icon-medkit"></i> <a href="{{ path('medicine_user') }}">New Medicine</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-actions portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="icon-bar-chart"></i>Medicine Reports</div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid pull-center" >
                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box green">
                            <div class="portlet-title"><div class="caption"><i class="icon-shopping-cart"></i>Medicine Sales </div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_summary') }}">Sales Summary</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_details') }}">Sales Details</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_stock') }}">Product Wise Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_vendor_customer') }}">Vendor base Sales</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box red">
                            <div class="portlet-title"><div class="caption"><i class="icon-user"></i>User wise Sales</div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_user') }}">User Wise Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_user_monthly') }}">User Monthly Sales</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Purchase Reports</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_summary') }}">Purchase Summary</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor') }}">Vendor Outstanding</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor_details') }}">Purchase Details</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor_sales') }}">Vendor Purchase & Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_brand_sales') }}">Brand Purchase & Sales</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Product Stock Reports</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_product_stock_sales') }}">Product Stock & Sales</a></li>
                           {#         <li><i class="icon-list"></i> <a href="{{ path('medicine_report_product_stock_sales_price') }}">Product Stock & Sales Price</a></li>
                         #}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <style>
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
        .unstyled{
            height: 100px;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/temporary-sales.js'
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    jqueryInstantTemporaryLoad();
    $('#salesTemporaryItem_stockName').focus();

    var optionsPurchaseSales = {
    animationEnabled: true,
    theme: "light2",
    title: {
    text: "Monthly Progress Report"
    },
    axisX: {
    valueFormatString: "MMM"
    },
    axisY: {
    prefix: "BDT",
    labelFormatter: addSymbols
    },
    toolTip: {
    shared: true
    },
    legend: {
    cursor: "pointer",
    itemclick: toggleDataSeries
    },
    data: [
    {
    type: "column",
    name: "Purchase",
    showInLegend: true,
    xValueFormatString: "MMMM YYYY",
    yValueFormatString: "BDT#,##0",
    dataPoints: [
    {%  set months = [0,1,2,3,4,5,6,7,8,9,10,11] %}
    {% for key,month in months %}
        { x: new Date( {{ "now"|date("Y") }}, {{ key }}), y: {% if key in medicinePurchaseMonthly|keys %}{{ medicinePurchaseMonthly[key] }}{% else %}0{% endif %}},
    {% endfor %}

    ]
    },
    {
    type: "column",
    name: "Sales",
    markerBorderColor: "white",
    markerBorderThickness: 2,
    showInLegend: true,
    yValueFormatString: "BDT#,##0",
    dataPoints: [
    {%  set months = [0,1,2,3,4,5,6,7,8,9,10,11] %}
    {% for key,month in months %}
        { x: new Date( {{ "now"|date("Y") }}, {{ key }}), y: {% if key in medicineSalesMonthly|keys %}{{ medicineSalesMonthly[key] }}{% else %}0{% endif %}},
    {% endfor %}
    ]
    }]
    };
    $("#salesPurchaseChartContainer").CanvasJSChart(optionsPurchaseSales);

    function addSymbols(e) {
    var suffixes = ["", "K", "M", "B"];
    var order = Math.max(Math.floor(Math.log(e.value) / Math.log(1000)), 0);

    if (order > suffixes.length - 1)
    order = suffixes.length - 1;

    var suffix = suffixes[order];
    return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
    }

    function toggleDataSeries(e) {
    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
    } else {
    e.dataSeries.visible = true;
    }
    e.chart.render();
    }

{% endblock %}
