{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="icon icon-medkit"></i> Dashboard</div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid pull-center" >
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat blue">
                            <a class="visual addPatient"  data-url="{{ path('medicine_sales_temporary_new') }}" href="javascript:">
                                <i class="icon icon-medkit"></i>
                            </a>
                            <a class="more addPatient"  data-url="{{ path('medicine_sales_temporary_new') }}" id="temporarySales" href="javascript:">
                                Add Sales <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat purple">
                            <a class="visual" href="{{ path('medicine_sales') }}">
                                <i class="fa fa-users"></i>
                            </a>
                            <a class="more" href="{{ path('medicine_sales') }}">
                                Sales <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="icon-money"></i>Toady Sales Overview</div>
            </div>

            <div class="portlet-body">
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <tr>
                        <th class="numeric" >Sub-total Amount</th>
                        <td class="numeric" >{{ cashOverview.subTotal|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Discount</th>
                        <td class="numeric" >{{ cashOverview.totalDiscount|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Net Total</th>
                        <td class="numeric" >{{ cashOverview.total|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Payment</th>
                        <td class="numeric" >{{ cashOverview.totalPayment|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Due</th>
                        <td class="numeric" >{{ cashOverview.totalDue|number_format }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <style>
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;

        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/temporary-sales.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    jqueryInstantTemporaryLoad();
    $('#salesTemporaryItem_stockName').focus();
{% endblock %}
