{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="icon icon-medkit"></i> Dashboard</div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid" >
                    <div class="span4">
                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_MEDICINE_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a class="btn red big" id="temporarySales" href="javascript:" data-url="{{ path('medicine_sales_temporary_new') }}"><i class="icon-plus-sign"></i> Add Sales</a>
                            <a href="{{ path('medicine_sales') }}" class="btn blue big"><i class="icon-th-large"></i> Sales </a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_sales_medicine_outstanding') }}" class="btn yellow big"><i class="icon-money"></i> Due Receive</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="span5">
                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_MEDICINE_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('medicine_purchase_new') }}" class="btn red big"><i class="icon-plus-sign"></i> Add Purchase</a>
                            <a href="{{ path('medicine_purchase') }}" class="btn green big"><i class="icon-th-large"></i> Purchase</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_MEDICINE_STOCK") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('medicine_stock_short_item') }}" class="btn black big"><i class="icon-sort-by-order"></i> Short List</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                            <a href="{{ path('account_purchase_medicine_outstanding') }}" class="btn yellow big"><i class="icon-money"></i> Payment</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="span3">
                        <div class="btn-group">
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_EXPENDITURE") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_expenditure_new') }}" class="btn purple big"><i class="icon-plus-sign"></i> Expenditure</a>
                            {% endif %}
                            {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_JOURNAL") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_journal_new') }}" class="btn blue big"><i class="icon-money"></i> Journal</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-actions portlet box grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-money"></i> Today Cash Overview</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_transaction_cash_overview') }}"><i class="icon-bar-chart"></i> Cash Summary</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <thead class="flip-content ">
                    <tr class="head-blue">
                        <th class="numeric">Cash Account</th>
                        <th class="numeric" >Opening Balance</th>
                        <th class="numeric" >Receive</th>
                        <th class="numeric" >Payment</th>
                        <th class="numeric" >Closing Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#{{ dump(transactionCashOverviews.transactionBalances[1][0]['debit']) }}#}
                    {% set totalOpen = 0 %}
                    {% set totalDebit = 0 %}
                    {% set totalCredit = 0 %}
                    {% for mode in transactionCashOverviews.result %}
                        {% set open = transactionCashOverviews.openingBalance[mode.transactionId]|default(0) %}
                        {% set debit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].debit|default(0)  %}
                        {% set credit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].credit|default(0)  %}
                        {% set totalOpen = totalOpen + open %}
                        {% set totalDebit = totalDebit + debit %}
                        {% set totalCredit = totalCredit + credit %}

                        <tr>
                            <th class="numeric">{{ mode.transactionName }}</th>
                            <th class="numeric">{{ open|number_format }}</th>
                            <th class="numeric">{{ debit|number_format }}</th>
                            <th class="numeric">{{ credit|number_format }}</th>
                            <th class="numeric" >{{ ((open + debit)-credit)|number_format }}</th>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th class="numeric">Total Amount</th>
                        <th class="numeric">{{ totalOpen|number_format }}</th>
                        <th class="numeric">{{ totalDebit|number_format }}</th>
                        <th class="numeric">{{ totalCredit|number_format }}</th>
                        <th class="numeric" >{{ ((totalOpen + totalDebit)-totalCredit)|number_format }}</th>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box red">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Expenditure Overview</div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    {% if expenditureOverview is not empty %}
                        {% set total = 0 %}
                        {% for expenditure in expenditureOverview %}
                            {% set total = total+expenditure.amount %}
                        <tr>
                            <th class="numeric" >{{ expenditure.categoryName }}</th>
                            <td class="numeric" >{{ expenditure.amount|number_format }}</td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                        <tr><th>Grand Total</th><th>{{ total|number_format }}</th></tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Sales Overview</div>
                        {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('medicine_report_sales_summary') }}"><i class="icon-bar-chart"></i> Sales Reports</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <tr>
                        <th class="numeric" >Sub-total Amount</th>
                        <td class="numeric" >{{ salesCashOverview.subTotal|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Discount</th>
                        <td class="numeric" >{{ salesCashOverview.totalDiscount|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Net Total</th>
                        <td class="numeric" >{{ salesCashOverview.total|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Payment</th>
                        <td class="numeric" >{{ salesCashOverview.totalPayment|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Receivable</th>
                        <th class="numeric" >{{ salesCashOverview.totalDue|number_format }}</th>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="portlet-body form">
                <div class="form-actions portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon icon-medkit"></i> Today Purchase Overview</div>
                        {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('medicine_report_purchase_summary') }}"><i class="icon-bar-chart"></i> Purchase Reports</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-bordered table-striped table-condensed flip-content ">
                    <tr>
                        <th class="numeric" >Total Amount</th>
                        <td class="numeric" >{{ purchaseCashOverview.total|number_format }}</td>
                    </tr>
                    <tr>
                        <th class="numeric" >Payment</th>
                        <td class="numeric" >{{ purchaseCashOverview.totalPayment|number_format }}</td>
                    </tr>
                    <tr>
                        {% set due = (purchaseCashOverview.total - purchaseCashOverview.totalPayment) %}
                        <th class="numeric" >{% if due >= 0 %}Payable {% else %}Receivable{% endif %}</th>
                        <th class="numeric" >{{ due|number_format }}</th>
                    </tr>
                </table>
            </div>
            <div class="portlet-body">
                <div class="row-fluid pull-center" >
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box grey">
                            <div class="portlet-title"><div class="caption"><i class="icon-shopping-cart"></i>Medicine Sales </div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_SALES") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_sales') }}">Manage Sales</a></li>
                                    <li><i class="icon-retweet"></i> <a href="{{ path('medicine_sales_return') }}">Sales Return</a></li>
                                    <li><i class="icon-user"></i> <a href="{{ path('domain_customer') }}">Customer</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Manage Stock</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_STOCK") or  app.user.granted("ROLE_DOMAIN") ) %}
                                        <li><i class="icon-folder-close"></i> <a href="{{ path('medicine_stock') }}">Stock Medicine</a></li>
                                        <li><i class="icon-calendar"></i> <a href="{{ path('medicine_purchase_item') }}">Medicine Expiration</a></li>
                                        <li><i class="icon-bar-chart"></i> <a href="{{ path('medicine_stock_short_item') }}">Stock Short Item</a></li>
                                        <li><i class="icon-trash"></i> <a href="{{ path('medicine_damage') }}">Damage</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-truck"></i>Manage Purchase</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_PURCHASE") or  app.user.granted("ROLE_DOMAIN") ) %}
                                        <li><i class="icon-th-large"></i> <a href="{{ path('medicine_purchase') }}">Manage Purchase</a></li>
                                        <li><i class="icon-shopping-cart"></i> <a href="{{ path('medicine_purchase_new') }}">Add Purchase</a></li>
                                        <li><i class="icon-th-list"></i> <a href="{{ path('medicine_instantpurchase') }}">Instant Purchase</a></li>
                                        <li><i class="icon-retweet"></i> <a href="{{ path('medicine_purchase_return') }}">Purchase Return</a></li>
                                        <li><i class="icon-user"></i> <a href="{{ path('medicine_vendor') }}">Vendor</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box yellow">
                            <div class="portlet-title"><div class="caption"><i class="icon-hdd"></i>Master Data</div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_ADMIN") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-reorder"></i> <a href="{{ path('medicine_particular') }}">Particular</a></li>
                                    <li><i class="icon-group"></i> <a href="{{ path('medicine_sales_user') }}">User Sales Setup</a></li>
                                    <li><i class="icon-cog"></i> <a href="{{ path('medicine_config_manage') }}">Configuration</a></li>
                                    <li><i class="icon-medkit"></i> <a href="{{ path('medicine_user') }}">New Medicine</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-actions portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="icon-bar-chart"></i>Medicine Reports</div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid pull-center" >
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box green">
                            <div class="portlet-title"><div class="caption"><i class="icon-shopping-cart"></i>Medicine Sales </div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_summary') }}">Sales Summary</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_details') }}">Sales Details</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_stock') }}">Product Wise Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_vendor_customer') }}">Vendor base Sales</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box red">
                            <div class="portlet-title"><div class="caption"><i class="icon-user"></i>User wise Sales</div></div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_user') }}">User Wise Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_sales_user_monthly') }}">User Monthly Sales</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Purchase Reports</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROL_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_summary') }}">Purchase Summary</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor') }}">Vendor Outstanding</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor_details') }}">Purchase Details</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_vendor_sales') }}">Vendor Purchase & Sales</a></li>
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_purchase_brand_sales') }}">Brand Purchase & Sales</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-briefcase"></i>Product Stock Reports</div>
                            </div>
                            <div class="portlet-body">
                                <ul class="unstyled text-left">
                                    {% if ( app.user.granted("ROLE_MEDICINE_REPORT") or  app.user.granted("ROLE_DOMAIN") ) %}
                                    <li><i class="icon-list"></i> <a href="{{ path('medicine_report_product_stock_sales') }}">Product Stock & Sales</a></li>
                           {#         <li><i class="icon-list"></i> <a href="{{ path('medicine_report_product_stock_sales_price') }}">Product Stock & Sales Price</a></li>
                         #}     {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
        .unstyled{
            height: 100px;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/temporary-sales.js'
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    jqueryInstantTemporaryLoad();
    $('#salesTemporaryItem_stockName').focus();
{% endblock %}
