{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN account_purchasecommission HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="account-title">
                   Cash Reconciliation Entry
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_purchasecommission') }}">Purchase Commission</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Purchase Commission Entry</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END account_purchasecommission HEADER-->
        <!-- BEGIN account_purchasecommission CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Purchase Commission Entry Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_purchasecommission') }}"><i class="icon-th-list"></i>&nbsp;Cash Reconciliation</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {% if transactionBankCashOverviews.result is not empty %}
                            <table class="table table-bordered tatransactionCashOverviewsble-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-yellow">
                                    <th class="span10">Bank Account Name</th>
                                    <th class="span2" >Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sumBank = 0 %}
                                {% for row in transactionBankCashOverviews.result %}
                                    <tr>
                                        {% set closing = (transactionBankCashOverviews.openingBalance[row.accountId]|default + row.debit - row.credit) %}
                                        {% set sumBank = sumBank + closing %}
                                        <th >{{ row.bankName }}</th>
                                        <th class="numeric" >{{ closing|number_format }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sumBank|number_format }}</strong></td>
                                </tr>
                            </table>
                        {% endif %}
                        {% if transactionMobileBankCashOverviews.result is not empty %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="span10">Mobile Account</th>
                                    <th class="span2" >Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sumTotal = 0 %}
                                {% for row in transactionMobileBankCashOverviews.result %}
                                    <tr>
                                        {% set closing = (transactionMobileBankCashOverviews.openingBalance[row.accountId]|default + row.debit - row.credit) %}
                                        {% set sumTotal = sumTotal + closing %}
                                        <th  >{{ row.mobileBankName }}</th>
                                        <th class="numeric" >{{ closing|number_format }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tr>
                                    <th class="numeric"><span class="pull-right">Grand Total</span></th>
                                    <td class="numeric" ><strong>{{ sumTotal|number_format }}</strong></td>
                                </tr>
                            </table>
                        {% endif %}

                        <div class="form-actions portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Notes Reconciliation</div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <button class="btn red" > <i class="icon-money"></i> Cash Amount: {{ entity.cash|number_format }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"><br/></div>
                        {% for note in entity.cashReconciliationMetas %}
                            <div class="row-fluid">
                                <div class="span10">
                                    <div class="control-group">
                                        <div class="controls">
                                            <strong>{{ loop.index }}. {{ note.metaKey }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="hidden" id="metaId" name="metaId[]" class="" value="{{ note.id }}">
                                            <input type="number" class="m-wrap span12 custom-field" value="{{ note.amount }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row-fluid">
                            <div class="span10">
                                <div class="control-group">
                                    <div class="controls">
                                        <strong>Total Notes Amount</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                       <strong>4556,4534534</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"><br/></div>
                        <div class="form-actions portlet box red">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Manage Loans </div>
                                    <div class="actions">
                                        <div class="btn-group">
                                            <button class="btn purple addmore" > <i class="icon-sign-plus"></i> Add Loan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="clearfix">&nbsp;</div>
                        {% set methods = ['Cash','Bank','Mobile'] %}
                        <div class="row-fluid clone-block" id="clone-block">
                            <div class="clone">
                                <div class="span6">
                                    <div class="control-group">
                                        <input type="hidden" name="metaId[]" value="" >
                                        <input type="text" name="metaKey[]" class="m-wrap span12" placeholder="Loan particulars" value="">
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <select name="method" id="method" class="m-wrap span12">
                                            {% for method in methods %}
                                            <option value="method">{{ method }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <input type="text" name="amount[]" class="m-wrap span12" placeholder="Amount Tk" value="">
                                    </div>
                                </div>
                                <div class="span1">
                                    <div class="control-group">
                                        <div class="controls">
                                            <a href="javascript:"  class="btn red  remove hidden"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for meta in entity.cashReconciliationMetas %}
                                {% if meta.isCustom == 1 %}
                                    <div class="row-fluid trash" id="remove-{{ meta.id }}"  >
                                    <div class="span3 ">
                                        <div class="control-group">
                                            <input type="hidden" name="metaId[]" value="{{ meta.id }}" >
                                            <input type="text" name="metaKey[]" class="m-wrap span12" placeholder="Label name" value="{{ meta.metaKey }}">
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="control-group">
                                            <input type="text" name="metaValue[]" class="m-wrap span12" placeholder="Label value" value="{{ meta.amount }}">
                                        </div>
                                    </div>
                                    <div class="span1">
                                        <div class="control-group">
                                            <div class="controls">
                                                <a href="javascript:" id="{{ meta.id }}"  data-url="{{ path('page_meta_delete',{'id':meta.id}) }}" class="btn red remove"><i class="icon-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        {% endfor %}
                        <div class="clearfix">&nbsp;</div>
                    </div>
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
 <style>
     input[class*="span"].custom-field
     {
       text-align: right;
         border: 2px solid red!important;
     }
 </style>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}