
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Service & Maintenance Invoice Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('itembrand') }}">Service & Maintenance Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Service Invoice Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Service & Maintenance Invoice Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('serviceinvoice_new') }}"><i class="icon-th-list"></i>&nbsp;Service Invoice</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Serial No </th>
                                    <th class="numeric" >Vendor</th>
                                    <th class="numeric" >Branch</th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Service Type</th>
                                    <th class="numeric" >Initiation Date</th>
                                    <th class="numeric" >Delivered</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.itemIdentifier }}</td>
                                        <td class="numeric" >{{ entity.vendor.name }}</td>
                                        <td class="numeric" >{{ entity.branch.name }}</td>
                                        <td class="numeric" >{{ entity.product.item.name }}</td>
                                        <td class="numeric" >{{ entity.serviceType }}</td>
                                        <td class="numeric" >{{ entity.initiationDate|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.resolvedDate|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.totalCost }}</td>
                                        <td class="numeric" >{{ entity.process }}</td>
                                        <td class="numeric" >
                                            <a href="{{ path('serviceinvoice_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                            <a title="Are you sure went to delete ?" href="{{ path('serviceinvoice_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



