<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>{{ globalOption.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="{{ globalOption.name }}">
    <meta property="og:title" content="{{ globalOption.name }}">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"><!-- link to image for socio -->
    <meta property="og:url" content="{{ globalOption.domain }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    {% stylesheets filter='cssrewrite'
    'assets/template/mobile/css/bootstrap.min.css'
    'assets/template/mobile/css/font-awesome.min.css'
    'assets/template/mobile/css/jquery.mmenu.all.css'
    'assets/template/mobile/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>
<body >
{% block cssBlock %}{% endblock %}
<div class="body-back">
    <div class="masthead pdng-stn1">
        <div class="phone-box wrap push" id="home">
            <div class="menu-notify">
                <div class="profile-left">
                    <a href="#mm-menu" class="main-menu"><i class="fa fa-list-ul"></i></a>
                </div>
                <div class="Profile-mid">
                    <h5 class="pro-link"><a href="{{ path('mobile_home',{'subdomain':globalOption.subDomain}) }}">{{ globalOption.name }}</a></h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- banner -->
            <div class="details-grid">
                <div class="details-shade">
                    <div class="details-right">
                        <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" alt=" ">

                        <h3>Welcome To</h3>
                        <h4>{{ globalOption.name }}</h4>
                    </div>
                </div>
            </div>
            <!-- //banner -->
            {% block body %}{% endblock %}
            <!--/footer-->
            <div class="w3agile">
                <!-- modal -->
                <div id="email-modal" class="mfp-hide">
                    <div class="login-modal">
                        <div class="booking-info">
                            <h3><a href="{{ path('mobile_home',{'subdomain':globalOption.subDomain}) }}">{{ globalOption.name }}</a></h3>
                        </div>
                        <div class="login-form">
                            <form action="{{ path('webservice_email_receive',{'subdomain':globalOption.subDomain}) }}" id="send-email" name="send-email" method="post">
                                <div class="input-group ">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group ">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                                    <input type="text" class="form-control mobile" id="mobile" name="mobile" placeholder="Enter your mobile no" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group ">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your mobile no" aria-describedby="basic-addon1">
                                </div>
                                <p>
                                    <textarea class="col-md-12 comment" name="comment" id="comment" placeholder="Enter any comment"></textarea>
                                </p>
                                <p class="text-center"><button class="btn comment col-md-12 label-primary"  type="submit" value="Sign In"><i class="fa fa-send"></i>&nbsp;Send</button></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="sms-modal" class="mfp-hide">
                    <div class="login-modal">
                        <div class="booking-info">
                            <h3><a href="{{ path('mobile_home',{'subdomain':globalOption.subDomain}) }}">{{ globalOption.name }}</a></h3>
                        </div>
                        <div class="login-form">
                            <form action="{{ path('webservice_sms_receive',{'subdomain':globalOption.subDomain}) }}" id="send-sms" name="send-sms" method="post">
                                <div class="input-group ">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                                    <input type="text" class="form-control mobile" name="mobile" id="mobile" placeholder="Enter your mobile no" aria-describedby="basic-addon1">
                                </div>
                                <p>
                                    <textarea class="col-md-12 comment" name="comment" id="comment" placeholder="Enter any comment"></textarea>
                                </p>
                                <p class="text-center"><button class="comment btn col-md-12 label-primary"  type="submit" value="Sign In"><i class="fa fa-send"></i>&nbsp;Send</button></p>
                            </form>
                          </div>
                    </div>
                </div>
                <!-- //modal -->
                <div class="" id="mobile-footer">
                    <ul class="footer-icon">

                        <li>
                            <a href="#" class="hvr-radial-out" data-title="Phone">
                                <i area-hidden=true class="fa fa-phone"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#sms-modal" class="sign-in popup-top-anim" data-title="">
                                <i class="fa fa-comment"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:" class="scrollToTop" data-title="Top up">
                                <i class="fa fa-hand-o-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#email-modal" class="sign-in popup-top-anim">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a class="last hvr-radial-out"
                               href="{{ path('mobile_contact',{"subdomain":globalOption.subDomain}) }}" data-title="">
                                <i class="fa fa-map-marker"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/footer-->

        </div>
    </div>
</div>
<nav id="mm-menu">
    {{ menuTree|raw }}
</nav>
{% javascripts
'assets/template/mobile/js/jquery-2.1.4.min.js'
'assets/template/mobile/js/bootstrap.min.js'
'assets/template/plugin/jquery-inputmask/jquery.inputmask.bundle.min.js'
'assets/template/plugin/numeric/jquery.numeric.js'
'assets/template/plugin/validation/jquery.validate-1.14.0.min.js'
'assets/template/plugin/validation/jquery-validate.bootstrap-tooltip.min.js'
'assets/template/mobile/js/bigSlide.js'
'assets/template/mobile/js/jquery.magnific-popup.js'
'assets/template/mobile/js/modernizr.custom.js'
'assets/template/mobile/js/jquery.mmenu.min.all.js'
'assets/template/mobile/js/jquery.nicescroll.min.js'
'assets/template/mobile/js/scripts.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascriptBlock %}{% endblock %}
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDmior4xLqsriysUeQhtdSawc8yjDyaWaw"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#mm-menu").mmenu();
        $('.popup-top-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
        $('.scrollToTop').click(function(){
            $('html, body').animate({scrollTop : 0},800);
            return false;
        });
        $(window).load(function() {
            $('#gmap_canvas').show();
        });
        $(".numeric").numeric();
        $(".mobile").inputmask("mask", {"mask": "99999-999-999"}); //specifying fn & options
        var validator =  $("#send-email").validate({

            rules: {

                "name": {required: true},
                "mobile": {required: true},
                "comment": {required: true},
            },

            messages: {

                "name":"Enter your full name",
                "mobile":"Enter valid mobile no",
                "comment": "Enter your professional",
            },

            tooltip_options: {

                "name": {placement:'top',html:true},
                "mobile": {placement:'top',html:true},
                "comment": {placement:'top',html:true},

            },
            submitHandler: function(form) {

                $.ajax({

                    url         : $(form).attr( 'action' ),
                    type        : $(form).attr( 'method' ),
                    data        : new FormData(form),
                    processData : false,
                    contentType : false,
                    success: function(response) {
                        if(response == 'valid'){

                        }
                    },
                    complete: function(){

                    }
                });
            }

        });
        var validator =  $("#send-sms").validate({

            rules: {
                "mobile": {required: true},
                "comment": {required: true},
            },

            messages: {
                "mobile":"Enter valid mobile no",
                "comment": "Enter your sms text only 160 characters",
            },

            tooltip_options: {
                "mobile": {placement:'top',html:true},
                "comment": {placement:'top',html:true},
            },
            submitHandler: function(form) {

                $.ajax({

                    url         : '{{ path('webservice_sms_receive',{'subdomain':globalOption.subDomain}) }}',
                    type        : $(form).attr( 'method' ),
                    data        : new FormData(form),
                    processData : false,
                    contentType : false,
                    success: function(response) {
                        console.log(response);
                    },
                    complete: function(){

                    }
                });
            }

        });

        {% block documentready %}
        {% endblock %}

    });
</script>
<style>
    .main-menu:link, .main-menu:visited {
        color: #fff;
        background: rgba(0, 0, 0, .4);
        border-radius: 4px;
        padding: .6em .6em;
    }
    .profile-left {
        text-align: left;
        padding-left: 7%;
    }
    #mobile-footer {

        bottom:0;
        color: #EEE;
        left: 0;
        margin: 0;
        position: fixed;
        right: 0;
        z-index: 99999;
        display: block;
        height: 36px;
        text-align: center;
        background: #cccccc;

    }

    #mobile-footer ul.footer-icon{
        padding: 0!important;
        margin: 2px;

    }

    #mobile-footer ul.footer-icon li {
        display: inline-block;
        margin: 0 .3em;
        font-size: 1em;
        color: #999;
    }

    #mobile-footer ul.footer-icon li a{
        color: #ffffff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin-left: 5px;
        background: #2ad2c9;

    }
    #mobile-footer ul.footer-icon li a:hover{
        background: #000000;
    }
    #mobile-footer ul.footer-icon li a i {
        line-height: 31px;
    }

    .comment{
        width: 100%;
    }

    #gmap_canvas{
        min-height:420px;
        min-width: 320px;
    }


</style>
</body>
</html>
